[2017-11-13 08:40] #167 closed

[2017-11-13 08:43] elioqoshi commented on #155
@gueroJeff this got left behind, sorry about that. :(

[2017-11-13 08:43] #155 closed

[2017-11-13 08:48] elioqoshi commented on #153
@karlalhdz that looks good! The hispano part is not aligned as it should be vertically and horizontally and you might want to consider using more colors (green?). Can you share the source files here?

In any case, seems the branding team has never got back to us regarding community branding so I'm unsure of what to do. Might be worth just going with this for now.

[2017-11-13 08:51] elioqoshi commented on #135
@mozfreddyb as said, from what the creative team said, the teams won't get any icons, just wordmarks. So nothing more than "mozilla security". We have to close this I suppose.

[2017-11-13 08:51] #135 closed

[2017-11-13 08:52] #132 closed

[2017-11-13 08:53] elioqoshi commented on #136
The reason this was not done is that the new branding decided for teams to not have any icons. Teams will have a wordmark which can be written in Zilla Slab Highlight.

[2017-11-13 09:06] #129 closed

[2017-11-13 09:07] elioqoshi commented on #92
Again, logos for internal projects will usually have no icons according to the new guidelines, so closing this.

[2017-11-13 09:07] #92 closed

[2017-11-13 09:09] elioqoshi commented on #130
Closing this for now since there is no update

[2017-11-13 09:09] #130 closed

[2017-11-13 09:10] elioqoshi commented on #91
Revitalizing this, very sorry about that, we are spread too thin.

[2017-11-13 09:11] #121 closed

[2017-11-13 09:12] #104 closed

[2017-11-13 09:12] #105 closed

[2017-11-13 09:12] #106 closed

[2017-11-13 09:12] #107 closed

[2017-11-13 09:12] #108 closed

[2017-11-13 09:12] #109 closed

[2017-11-13 09:12] #112 closed

[2017-11-13 09:12] #113 closed

[2017-11-13 09:17] #32 closed

[2017-11-13 09:17] #23 closed

[2017-11-13 09:18] #28 closed

[2017-11-13 10:06] AnXh3L0 commented on #91
Hi @autonome, I created an icon and a header image for the twitter account. Have a look below, comments are welcome :)

![header_twitter](https://user-images.githubusercontent.com/25004151/32720029-9e890956-c862-11e7-8b04-c87536df2d35.png)
![twitter_icon](https://user-images.githubusercontent.com/25004151/32720030-9eb57ffe-c862-11e7-8594-bd228ad5f6ba.png)

[2017-11-13 10:59] barrosgeraldo commented on #132
@elioqoshi, this logo source file is inside the repository?

[2017-11-13 12:31] elioqoshi commented on #132
Is it not? I thought I pushed it back then

[2017-11-13 15:28] barrosgeraldo commented on #132
Nope.

On Mon, Nov 13, 2017, 10:31 Elio Qoshi <notifications@github.com> wrote:

--
Geraldo Barros
Representative, Mozilla Reps
https://reps.mozilla.org
@geraldobarros_ / @mozillareps

[2017-11-13 16:43] karlalhdz commented on #153
@elioqoshi thank you! yeah If you still do not put community branding for now I base myself on the logos that have been officially published as those of MDN and Ninja.

And if I think we'll have to wait for now we're working on Hispano to adjust the design of the page and the logo, with the colors so if there is a proposal with the colors of the branding that can be downloaded under the taste of e

[2017-11-14 11:16] autonome commented on #91
Thanks @AnXh3L0!

I love the strong lines and strong contrast. Style and visual design aesthetic is excellent, nothing to change.

From a content perspective, I'd like to change one major thing:

This design tells a visual story that says "Chrome and Mozilla".

This isn't really correct - if the project was about only two engines, the design would either be Google/Mozilla, Chrome/Firefox, Blink/Ge

[2017-11-14 11:46] AnXh3L0 commented on #91
Thanks for the feedback @autonome. Reading the original issue posted it said Gecko/Blink, that's why I thought it was just for two engines, but I will have a look into it and create something else :)

[2017-11-14 13:19] nukeador opened #172 "Image/poster/collage with Firefox Quantum headlines"
## Goal:
We were talking at Hispano community that since there are so many positive articles from big media in Spanish, we should do a collage with all the headlines with a nice design.

## Info:
Ideally a template file will be generated so people can add their local headlines in their language.

## Style Information:
Quantum/Photon style :-P

## Deadline:
It would be idea to have something to pub

[2017-11-14 13:30] AnXh3L0 commented on #91
Here are the new files @autonome, have a look.

![header](https://user-images.githubusercontent.com/25004151/32782293-da90f26e-c93f-11e7-9438-f0ba5740299e.png)
![icon](https://user-images.githubusercontent.com/25004151/32782294-dba0a8ca-c93f-11e7-854d-8bc4031c6c95.png)

You can download and use them directly in Twitter, they are the exact size for that social media.

[2017-11-14 14:00] autonome commented on #91
Yessss, this is excellent, thanks so much! +1 on the concept, and thanks for continuing the designhacking on this :D

A few more tweaks I'd like like try out:

* Can you reduce the visual noise a bit by removing the inner circles noted on the screenshot below?

* Can you expand the gear and globe size to fill more of the space?

* Can you tweak the shape of the continents in the globe a bit? A bit

[2017-11-14 14:02] autonome commented on #91
Also, as the main purpose will be icons - most people see it through tweets, can you drop a few icon sizes in so we can see how it works when far smaller?

[2017-11-14 14:21] elioqoshi commented on #91
![image](https://user-images.githubusercontent.com/5436686/32784369-f1c2b6ca-c94e-11e7-8c93-6caf8aaffe87.png)

![image](https://user-images.githubusercontent.com/5436686/32784495-47ef2aba-c94f-11e7-9843-4f6879871df1.png)

@autonome updated this here. Here is it how it looks on Twitter:

![image](https://user-images.githubusercontent.com/5436686/32784563-7906e336-c94f-11e7-8be4-001616c907ce.png)

[2017-11-14 14:51] autonome commented on #91
Cool, thanks for the changes Elio! This is almost where it needs to be.

* Can you remove the belts that extend to the edges? The prior version didn't have those, and I thought it was cleaner and visually stronger that way. I think they're more noisy (and also make the viewer start wondering exactly what kind of engine this is!).

* I think the globe change is good, but I'd rather not have it pref

[2017-11-14 14:55] elioqoshi commented on #172
@nukeador wrapped up and pushed here:
https://github.com/mozilla/OpenDesign/tree/master/2017/Graphics/Firefox-Quantum-Headlines-Spanish

[2017-11-14 14:55] #172 closed

[2017-11-14 15:03] elioqoshi commented on #91
@autonome is this what you had in mind?

![image](https://user-images.githubusercontent.com/5436686/32786886-6be21a30-c955-11e7-9945-ce6bce6e01f8.png)

[2017-11-14 15:14] autonome commented on #91
YES! The only tweaks I see are:

* Playing with the line weights to see how thinner lines overall effect the
feel

* Comparing against a version that expands globe and gear to fill more of
the space

But honestly, I'd ship this as-is and be ok. Thanks so much to both of you
:D

On Tue, Nov 14, 2017 at 10:04 PM Elio Qoshi <notifications@github.com>
wrote:

[2017-11-14 15:27] AnXh3L0 commented on #91
Maybe something like this @autonome?

![header2](https://user-images.githubusercontent.com/25004151/32788129-4eff861e-c950-11e7-96f6-b90c79cb5dfe.png)
![icon2](https://user-images.githubusercontent.com/25004151/32788130-4f90ea1e-c950-11e7-8e72-cd407447dad0.png)

[2017-11-14 16:01] autonome commented on #91
Yes, that's fantastic. Thanks @AnXh3L0 😍

[2017-11-15 08:38] elioqoshi commented on #91
Fantastic @AnXh3L0! Can you push these to the repo please?

[2017-11-15 09:17] AnXh3L0 commented on #91
Sure @elioqoshi. Here they are: https://github.com/mozilla/OpenDesign/tree/master/2017/Graphics/Intent_to_ship_Twitter

[2017-11-15 09:22] elioqoshi commented on #91
@autonome I guess we can close this, thanks for your patience!

[2017-11-15 09:22] #91 closed

[2017-11-15 09:54] autonome commented on #91
Thanks y'all, I really appreciate your work on this 👍

On Wed, Nov 15, 2017, 17:22 Elio Qoshi <notifications@github.com> wrote:

[2017-11-15 11:36] lissyx opened #173 "Illustration for DeepSpeech Project stickers and tshirt"
## Goal:
We'd like to have a nice illustration and design to be able to produce swag

## Info:
So far, tshirts, stickers.

## Style Information:
That's up to you!

## Deadline:
As fast as it could be possible, if we could have it in time for Austin it would be perfect.

## Tag:
[Design Needed]

[2017-11-15 11:44] elioqoshi commented on #173
@lissyx Thanks! as said on Telegram, team logos would be standardized and look something like this:

![image](https://user-images.githubusercontent.com/5436686/32834398-bc6858fe-ca02-11e7-8d40-bf18fd51a7b4.png)

For the illustrations we will try to keep you updated here

[2017-11-15 14:24] garbas commented on #136
@elioqoshi do you maybe have (know of) some example is can borrow?

[2017-11-15 21:43] elioqoshi commented on #136
@garbas you can do this by using only Zilla Slab Bold Highlight and Regular Highlight:

![image](https://user-images.githubusercontent.com/5436686/32861864-6cf0a84a-ca56-11e7-9963-df7b2a63cc35.png)

[2017-11-15 21:46] elioqoshi commented on #136
@garbas apologies if I closed this too early. If you are okay with having a wordmark logo I can do it for you, however it's supposed to be very easy for anyone to do themselves, so you can basically write it down in Zilla like:

mozilla
RelEng

and it appears the same as what I showed before. Make sure to use colors from the style guide at https://mozilla.ninja as well

Let me know if you need hel

[2017-11-16 04:11] garbas commented on #136
@elioqoshi tnx for helping me. Looking at the mozilla.ninja, should I pay attention to the size of the text? What is the spacing? I'm not sure I even know how to do that properly in CSS.

I would definitely make it much easier if I could copy paste the some html/css and change the text to RelEng. Do you know some other team/project that is already using logo like this?

[2017-11-16 11:30] elioqoshi commented on #136
@garbas Yeah check out:

https://thimble.mozilla.org
https://mozillafestival.org/
https://developer.mozilla.org

Can't remember any team website right now, but from what I see the sites mostly use SVG instead of styling the text directly in CSS.

Might be a valid way to do it simiarly. Want me to export SVG's for you?

[2017-11-17 11:55] garbas commented on #136
@elioqoshi that would help a lot. I'm also ok with using the CSS approach, whatever is easier for you.

[2017-11-21 15:45] lissyx commented on #173
Hello @elioqoshi, soft ping to know if there was any progress :)

[2017-11-27 19:11] kitode commented on #171
Oh this is really great! I didn't receive an alert so I hadn't checked back in a while.
The double-entendre is actually pretty hilarious, don't new ideas sometimes feel this way?

So, very sorry that I didn't get back promptly... do you have time to finish these up (in color)? I will need to get them printed within the next few days.... And do you have any specific way in which you'd like your wor

[2017-11-28 14:38] trallard opened #175 "Logo for Coding foundation"
## Goal:
We are [coding foundation](https://github.com/trallard/Coding-foundation) a Mozilla Open Leaders project (woohoo)! Our main goal is to increase the number of female and queer individuals in computer science and similar degrees. We plan to do so by creating a welcoming and supportive community, showcase role models, and collect resources that could help these individuals to increase their

[2017-11-28 16:04] tpoisot opened #176 "Sticker/logo design for "Scientific Computing for the Rest of Us""
## Goal:

I'd like to have a logo for the [Scientific Computing for the Rest of Us][scru] project. The project goal is to help researchers develop good practices when writing code, to make sure that we can *trust* the results.

The issue re. logos is here: https://github.com/tpoisot/ScientificComputingForTheRestOfUs/issues/17

[scru]: https://github.com/tpoisot/ScientificComputingForTheRestOfUs

#

[2017-12-02 02:07] ranjithrajv opened #177 "Profile Picture frame"
## Goal:
Create a profile pic frame with the slogan "Once a mozillian, always a mozillian." with Mozilla logo.

## Info:
This frame can be used for facebook profile pictures.

## Style Information:
Check https://www.facebook.com/profilepicframes for existing profile pic frames.

## Deadline:
Dec 31, 2017.

## Tag:
[Design Needed, frame]

[2017-12-02 10:33] sai-bhavani commented on #177
![frame](https://user-images.githubusercontent.com/21965145/33514458-501a10ea-d77a-11e7-9852-5f8708439485.jpg)

[2017-12-04 18:00] biswajeet619 commented on #177
![img_20171204_232343](https://user-images.githubusercontent.com/21312954/33568010-03d2f7f6-d94b-11e7-9889-22e31a27f5bd.jpg)

[2017-12-04 18:01] biswajeet619 commented on #177
![img_20171204_232343](https://user-images.githubusercontent.com/21312954/33568055-288bfdfe-d94b-11e7-93cc-8bfe5f88efa1.jpg)

[2017-12-05 10:06] priyankapulluri commented on #177
![frame4](https://user-images.githubusercontent.com/34267723/33601370-0769f234-d9d2-11e7-9a1f-592300620099.jpeg)
![frame3](https://user-images.githubusercontent.com/34267723/33601371-07aa9294-d9d2-11e7-9c12-78753706b64f.jpeg)
![frame2](https://user-images.githubusercontent.com/34267723/33601372-07e56e14-d9d2-11e7-9cd5-a84d75327415.jpeg)
![frame1](https://user-images.githubusercontent.com/34267723/

[2017-12-05 14:13] SRenukaR commented on #177
![moz](https://user-images.githubusercontent.com/29282929/33611490-8da08a8a-d9f4-11e7-83a7-5b36a65bd083.jpeg)

[2017-12-05 17:45] biswajeet619 commented on #177
![img_20171205_231401](https://user-images.githubusercontent.com/21312954/33621844-1a025fc2-da12-11e7-9b1b-14d1c4ca2ec8.jpg)

[2017-12-05 20:19] elioqoshi commented on #175
@trallard thanks for your request!

Some more details regarding what you'd like to see implemented would be ideal.  I did a proposal here, let me know if this direction works or whether it's not fitting:

![image](https://user-images.githubusercontent.com/5436686/33628705-ef7a2ad8-da01-11e7-80d4-154450f971b1.png)

[2017-12-05 21:18] trallard commented on #175
Hi @elioqoshi thanks a lot for your proposal :blush: I did not want to give too much details as not to constraint it too much. But I like what you have come up with. This should work great for banner purposes and general logo.

Would it be possible to generate a condensed version of this so that it can fit in stickers (see above) apart from that I am quite happy with this :grin: thanks again!!!

A

[2017-12-05 22:02] elioqoshi commented on #175
@trallard Splendid!

Is this fine for the stickers?
![image](https://user-images.githubusercontent.com/5436686/33633215-4efa48cc-da10-11e7-93aa-0ceaeb09b607.png)

[2017-12-06 05:48] tsriyeswanth commented on #177
![img_20171206_111707_hht](https://user-images.githubusercontent.com/18646444/33646727-12018f90-da77-11e7-9bcf-d4bc1b09f342.jpg)

[2017-12-06 05:49] tsriyeswanth commented on #177
![151253932389740923149](https://user-images.githubusercontent.com/18646444/33646755-40a1144c-da77-11e7-8333-486765584dd8.jpg)

[2017-12-06 06:39] sainithin95 commented on #177
![mozilla](https://user-images.githubusercontent.com/12968789/33648098-47cbe826-da7e-11e7-8e2c-1c0b8cac1505.png)

[2017-12-06 10:48] trallard commented on #175
@elioqoshi I like the way the things are organised.... however it seems there is too much colour going on there, apologies for the extra request. Would it be possible to have the colors the following way around:

- green outline
- orange logo
- grey wordings
- white background

That way it would be more in line with the banner logo and has a high contrast! 😃 Thanks so much for all your help!

[2017-12-06 12:54] AnXh3L0 commented on #175
Hi @trallard

Is this what you had in mind?
![image](https://user-images.githubusercontent.com/25004151/33662674-01414a04-da8d-11e7-8abe-b09f9a532522.png)

[2017-12-06 14:40] AnXh3L0 commented on #175
@trallard Awesome then, if you don't need smth else I'm uploading the source files [here](https://github.com/mozilla/OpenDesign/tree/master/2017/Graphics/Coding_Foundation). There you will find the complete sources, the logo in horizontal, vertical and the icon itself (color, black, white versions) and the hexagon stickers :)

[2017-12-06 15:16] elioqoshi commented on #175
Thanks @AnXh3L0 closing this.

@trallard good luck!

[2017-12-06 15:16] #175 closed

[2017-12-08 18:12] cbaba20 opened #178 "Create Graphics for Christmas 2017"
## Goal:
Graphics for Christmas 2017 for both social media channels. (Facebook and Twitter)

## Info:
We will use it from our official Mozilla India Social Media channels to greet our users/fans/supporters.
## Style Information:
It should also reflects our Firefox

## Deadline:
23rd December

## Tag:
#DesignNeeded #DeveloperNeeded #StaffSupportNeeded

[2017-12-08 21:43] Tess-welhazi commented on #171
Sorry, am i too late?

this is what i got so far

![image](https://user-images.githubusercontent.com/20952652/33786375-345fb80c-dc69-11e7-9b0a-dbe36985f590.png)

[2017-12-09 02:30] kitode commented on #171
@Tess-welhazi that is great!! But yeah, it is actually a bit too late for me to get them printed etc - I went with my own horrible version (better than what's above, but still not great)... so we've got 'em for now. But more stickers are more, so next time I have a budget OK, I'll let you know. Thank you so much!

[2017-12-10 08:20] biswajeet619 opened #179 "Poster for Rust for Undergrads"
## Goal:
 Poster of the event known as "Rust for undergrads" giving a short description about how it is to be a Mozillian and giving a short description about Rust programming language.  Venue is Swecha office, Gachibowli, hyderabad.
## Info:
Event for Rust

## Style Information:
Heading as "Rust For Undergrads",
Information about how it's like being an Mozillian and Explanation about Rust program

[2017-12-13 00:29] ThePhoenixBird opened #180 "New identity for Mozilla Venezuela"
## Goal:
Update the identity of Mozilla Venezuela with a new logo and wordmark according to the new visual styles of Mozilla launched during this year 2017.

## Info:
The identity will be used on our website, social networks (facebook, twitter, instagram, etc), cards, posters, slides, etc ...

## Style Information:
Mozilla Venezuela has a logo that is deeply rooted in our hearts and is the "Guacam

[2017-12-14 00:55] karlalhdz commented on #177
This would be my proposal of the captures of the different views ... :-D

![mozillaframeoncealways1](https://user-images.githubusercontent.com/2287630/33970079-a19a9470-e036-11e7-9140-3129ddebe625.png)

![seleccion_191](https://user-images.githubusercontent.com/2287630/33970065-91777f18-e036-11e7-91d5-ec833a05f4d8.png)
![seleccion_190](https://user-images.githubusercontent.com/2287630/33970066-919

[2017-12-14 02:19] karlalhdz commented on #180
Just in case, we have a proposal here if someone want's to make a comment, observation or constructive criticism
  https://github.com/mozillahispano/equipoCreativo/issues/8

[2017-12-14 20:09] reinhart1010 commented on #177
This is nice, but Facebook also crops profile pictures into circles in most parts of the Facebook app.
![Sample of cropped images](https://user-images.githubusercontent.com/17312341/34012093-052f7b2c-e145-11e7-9fbe-d74dec333ae3.png)

[2017-12-18 14:54] sanjitschouhan commented on #177
@karlalhdz Can we have the png of elements.

[2017-12-27 17:42] cbaba20 commented on #178
Thanks @tanzeelkhan for making the graphics 👍 .
![photo6194775608018446373](https://user-images.githubusercontent.com/8758288/34388725-56e46764-eb5b-11e7-90d5-5ae5f45c547d.jpg)

[2017-12-27 17:42] #178 closed

[2017-12-28 12:19] pransh15 commented on #179
![rustforundergrads](https://user-images.githubusercontent.com/18158596/34410576-44731b38-ebf7-11e7-93fd-4180a8d0e050.jpg)

Basic Poster. I'm sure you have improvements to suggest. Let me know what's missing.

[2017-12-29 10:33] tanzeelkhan commented on #178
:)

[2017-12-30 03:13] barrosgeraldo commented on #179
@pransh15 awesome poster, I just would like suggest change the colors, you can see the [Mozilla palette here](https://mozilla.ninja/visualelements/). Don't do not forget to send the source file of this poster via pull request on this repository.

Hey @biswajeet619, at Mozilla Brazil community we've [created and used some banners already hosted on this repository](https://github.com/mozilla/OpenDes

[2017-12-30 03:22] barrosgeraldo commented on #177
I love these proposals and suggestions!

@karlalhdz, awesome, you already have a solid proposal, love it, I suggested removing "://", I do not see the need for this in the image, the two titles lined up near to the icon would be awesome!

Let me know if this makes sense, and do not forget to send the source files via [pull request](https://help.github.com/articles/about-pull-requests/) to this rep

[2017-12-30 03:32] barrosgeraldo commented on #180
Hello @karlalhdz, your design is awesome! I would like suggest to write "venezuela" using only Zilla Highlight. This bird is beautiful, congrats for this work, you're the best!
Proposal on https://github.com/mozillahispano/equipoCreativo/issues/8.

[2017-12-30 03:37] barrosgeraldo commented on #176
Hi @tpoisot, I think you've a great proposal made by @juanvillada on https://github.com/tpoisot/ScientificComputingForTheRestOfUs/issues/17. Let us know if this is enough or if you need something different.

[2017-12-30 04:16] barrosgeraldo commented on #173
I'm thinking of something for an icon that we can use as an art for anything else. Very early on, but I'm thinking of something around it:

![artboard 1](https://user-images.githubusercontent.com/14970832/34451229-3165bfc6-ed07-11e7-805a-11ca7bb5170b.png)

[2017-12-30 04:21] barrosgeraldo commented on #171
@kaodro I think the sticker was made by @Tess-welhazi , right, if it's all right here let me know and then we can close this issue. Thank you.

@Tess-welhazi, can you send the source file via [pull request](https://help.github.com/articles/about-pull-requests/) for our repository?

[2017-12-30 04:23] barrosgeraldo commented on #159
Note here: anyone reply from branding team not has been made until now.

[2017-12-30 04:29] barrosgeraldo commented on #148
I think had plenty of time for feedback on that. Closing, if necessary we can reopen.

[2017-12-30 04:29] #148 closed

[2017-12-30 04:32] barrosgeraldo commented on #42
@elioqoshi, has this project already updated the logo? Already have a time that the guidelines have been released maybe the changes have already been made from team side.

[2017-12-30 04:35] barrosgeraldo commented on #94
I have not seen such gestures around Mozilla's campaigns anymore, has anyone reported directly to the branding team?

[2017-12-30 04:37] barrosgeraldo commented on #119
ping

[2017-12-30 04:41] barrosgeraldo commented on #136
@elioqoshi, please, could you send it to repository so we can close it. Thanks.

[2017-12-30 04:46] barrosgeraldo commented on #84
@elioqoshi, is necessary keep it open? Or we can close it?

[2017-12-30 13:14] Timotay commented on #94
Hi Geraldo,
The hand gestures in question were part of our initial design exploration. They are no longer a part of our brand guidelines. This bug can be closed.
Thanks,
Tim

(all thumbs)

[2017-12-30 13:35] barrosgeraldo commented on #94
You're welcome. Closing.

[2017-12-30 13:35] #94 closed

[2017-12-31 03:02] barrosgeraldo commented on #173
New approach. :smile:
<img width="1000" alt="1-background 2x" src="https://user-images.githubusercontent.com/14970832/34458788-0cd47e8a-edc6-11e7-84ed-d8c09b1da3df.png">
<img width="960" alt="2-background 2x" src="https://user-images.githubusercontent.com/14970832/34458789-0cf5f268-edc6-11e7-88e8-c347f5180dc7.png">

[2017-12-31 12:12] cbaba20 opened #181 "New Year Graphics from Mozilla India social media channels"
## Goal:
Graphics for community wishing New Year to users fans and supporters

## Info:
Mozilla India Social Media Channels

## Style Information:
Anything which is under guidlines

## Deadline:
1-1-18
## Tag:
feedback required

[2017-12-31 12:14] cbaba20 commented on #181
Here are some designs :
Thanks to tanzeel 👍

- ![photo6212981304371292137](https://user-images.githubusercontent.com/8758288/34461505-1570d976-ee52-11e7-8f9f-5c64f7d4114b.jpg)

[2017-12-31 12:15] cbaba20 commented on #181
From Mahtab 👍
![mozin new year wc](https://user-images.githubusercontent.com/8758288/34461514-54455e2e-ee52-11e7-97e5-fca527371bf9.png)

[2018-01-01 07:06] Mahtab05 commented on #181
MozIN New year 2018 Ai File.
Uploading MozIN New Year 2018.zip…]()

[2018-01-01 10:09] tanzeelkhan commented on #181
Vector File of Mozilla India New Year Greeting Design
https://drive.google.com/open?id=18ey6m0OCfNjP8qj5aSSzLTMLR8_ELOrJ

[2018-01-01 14:45] Mahtab05 commented on #181
Ai File For MozIN New Year 218
https://drive.google.com/file/d/1-X757kRmwI49Cf7M72R-4v58qy6OCiz6/view?usp=sharing

[2018-01-01 18:14] ranjithrajv opened #182 "Branding for '365 Add-ons in 365 Days'"
## Goal:
Branding and generalized design templates for '365 Add-ons in 365 Days' campaign by Mozilla India.

## Info:
These generalized design templates will be used for posters, prints, social media posts etc

## Needed:
- [ ] Social Media poster for twitter.
- [ ] Stickers

## Style Information:
Should incline with the new design language of Mozilla.

## Deadline:
Jan 30, 2018.

## Tag:
[Design

[2018-01-01 20:30] barrosgeraldo commented on #182
Hi @ranjithrajv, thank you for your request!

I've made a draft based on this Mozilla poster created by branding team since you request a design based on Mozilla branding. Let me know what do you think of this poster draft.

![prancheta 1 3x](https://user-images.githubusercontent.com/14970832/34470841-94016240-ef21-11e7-91ef-2316e66841f4.png)

[2018-01-01 22:46] barrosgeraldo commented on #181
Thanks. Pushed. Closing.

[2018-01-01 22:46] #181 closed

[2018-01-02 03:31] biswajeet619 commented on #179
Thank you all for your efforts ! The posters are looking good and will be used in the event coming by.  @pransh15  @barrosgeraldo thanks.

[2018-01-02 03:31] #179 closed

[2018-01-02 10:20] kaodro commented on #171
Hey @barrosgeraldo I think you wanted to tag @kitode here. Happy NY!

[2018-01-03 05:13] bhavabhuthi commented on #182
Logo Idea: Can you make the 365 pretty big and write "add-ons in days" beside it arranging vertically in three lines.

[2018-01-03 12:55] Tess-welhazi commented on #171
@barrosgeraldo apparently not? sorry i'm a complete noob here and it seems i can't make pull requests. idk what i'm doing wrong '_'

Also don't you need the community name written on the sticker or is this enough?

[2018-01-04 01:51] barrosgeraldo commented on #171
@Tess-welhazi, drag and drop the file here, or add any link where I can download and add it here. If is necessary you can add name team also. :-) Happy new year.

[2018-01-04 01:53] barrosgeraldo commented on #182
This logo idea isn't under Mozilla branding guidelines: https://mozilla.ninja/expression/

@ranjithrajv, do you need a logo?

[2018-01-04 05:07] ranjithrajv commented on #182
@barrosgeraldo
the poster is good.
A logo would be good to print on swag

[2018-01-04 17:22] barrosgeraldo commented on #182
Here they are:
![logo_background 3x](https://user-images.githubusercontent.com/14970832/34575764-09fa06ee-f163-11e7-9031-82a5e5032e09.png)

[2018-01-04 18:58] bhavabhuthi commented on #182
Hii @barrosgeraldo, Tried the following style for the logo.

![365 addons logo](https://user-images.githubusercontent.com/26624774/34579418-f04d598e-f1ae-11e7-8629-7129bda96eb7.png)

Here is the poster with that logo

![365 addons poster](https://user-images.githubusercontent.com/26624774/34579444-048e0bf0-f1af-11e7-88fe-779105399fa7.png)

[2018-01-04 19:00] bhavabhuthi commented on #182
Files for the above ideas are :--

[365 addons poster.pdf](https://github.com/mozilla/OpenDesign/files/1604408/365.addons.poster.pdf)
[365 addons logo.pdf](https://github.com/mozilla/OpenDesign/files/1604409/365.addons.logo.pdf)

[2018-01-04 21:04] barrosgeraldo commented on #182
I got it, it's cool, but your logo idea need be created under Mozilla branding guidelines, check it here please: https://mozilla.ninja/expression

[2018-01-05 06:46] bhavabhuthi commented on #182
@barrosgeraldo Sure will look into the guidelines. Thanks for the link.

[2018-01-09 00:06] caitmuenster commented on #182
Hey all! These are looking good. I would also want to add 'addons.mozilla.org' somewhere on the page. :)

[2018-01-09 08:55] MikkCZ opened #185 "Update Firefox hexbin with the new logo"
The Firefox hexbin sticker in https://github.com/mozilla/OpenDesign/tree/master/2017/Swag&Printouts/hexbin_stickers contains the old logo. We should update it with the new Firefox57+ logo for future production.

[2018-01-09 09:30] elioqoshi commented on #185
Please don't open issues like this. While it might be straightforward, it is rather inappreciative towards volunteers who spend time on designs when a request is not even properly formed.

On another note, Hexbin seems rather inactive and I'm not sure if they still run properly.

[2018-01-09 09:34] MikkCZ commented on #185
Sorry Elio. I have added some text to the initial report.

We are producing hexbins on our own and now we are working to get a new order for DevConf.cz at the end of January. @MekliCZ will make a haxbin with the new realease logo and add it here.

[2018-01-09 11:05] MekliCZ commented on #185
I would rather create new hexbin Firefox Quantum than modifying the existing one.

[2018-01-09 16:01] kitode commented on #171
Thanks @barrosgeraldo for your help! I'm also a n00b so all advice is appreciated!

Yes, @Tess-welhazi I do need the name of the group and probably for the next sticker run whatever that event is (SF 2018?) so... can/should we keep this open? Or should we close it and just email each other? Not sure how best to manage this.

[2018-01-10 11:19] shashikanth171 opened #187 "Designs for Aadhaar Campaign"
## Goal:
Designs for Aadhaar campaign

## Info:
[Aadhaar isn’t progress — it’s dystopian and dangerous](https://blog.mozilla.org/netpolicy/2017/05/26/aadhaar-isnt-progress/)
[ Why do you need Aadhaar to investigate a lost package? ](https://blog.mozilla.org/netpolicy/2017/11/16/need-aadhaar-to-investigate-lost-package/)

This campaign helps reach more people to address tech critic issues of Aadhaa

[2018-01-10 16:58] pransh15 commented on #187
![aadhar_basic](https://user-images.githubusercontent.com/18158596/34784866-836b3c04-f655-11e7-822f-b6cb5f99a35e.jpg)

Something like this?

[2018-01-10 18:24] ranjithrajv commented on #187
@pransh15 This seems more like UIDAI doing an event on Mozilla than Mozilla is doing an event on Aadhaar.

[2018-01-10 18:33] shashikanth171 commented on #187
@pransh15, Please check updated Style information.

[2018-01-10 18:55] aspee commented on #187
![untitled-2](https://user-images.githubusercontent.com/1244052/34789657-1f2b426a-f665-11e7-8b00-049c033aea9e.jpg)

![2](https://user-images.githubusercontent.com/1244052/34789773-922bd7de-f665-11e7-8840-b2c81f1db8bd.png)

[2018-01-10 18:55] aspee commented on #187
if anyone can smooth those face edges then it is more than welcome

[2018-01-10 19:01] ranjithrajv commented on #187
@aspee Please share design source files, so that anyone can edit and make improvements.

[2018-01-10 19:17] ranjithrajv commented on #187
Please read and follow: https://mozilla.ninja/mlogo use of coloured background is not advisable IMO
- Ankit Gadgil

[2018-01-10 19:30] elioqoshi opened #188 "Mozilla l10n updated T-Shirt design with new Firefox logos"
@guerrojeff asked me to refresh the Firefox l10n T-Shirt designs with the new Firefox logo after last year's issue: https://github.com/mozilla/OpenDesign/issues/98

So here we go:

![image](https://user-images.githubusercontent.com/5436686/34791305-e3defc12-f644-11e7-91c5-1dc4175aa036.png)
![image](https://user-images.githubusercontent.com/5436686/34791346-fcc480c6-f644-11e7-89a6-128b34ecdfc5.png)

[2018-01-10 19:50] tanzeelkhan commented on #187
Can't we write: Not only it is an invasion of privacy, but it's not even right.

Moreover, I think the mozilla logo isn't at the right place. It should be at the corner or at the bottom in centre. And it looks too large to me.
Tanzeel Khan:

Keeping the color of logo same as text and illustration, mozilla doesn't look like a different entity, an organisation. I suggest changing the background colo

[2018-01-10 19:53] tanzeelkhan commented on #187
Can we use aadhaar logo in the creatives? Is it permissible?

[2018-01-10 20:04] barrosgeraldo commented on #187
Hey folks, please align your artwork with Mozilla branding guidelines, specially if you're using Mozilla logos. Brand application guidelines: https://mozilla.ninja/expression.

[2018-01-11 05:02] karlalhdz commented on #187
@pransh15 and @aspee  both great proposals but do not forget to follow the guidelines of the branding https://mozilla.ninja/mlogo/ I do not work for a while, although I would love it, greetings to all.

[2018-01-11 08:03] aspee commented on #187
![6](https://user-images.githubusercontent.com/1244052/34814532-05041208-f6d4-11e7-9a38-382c73625950.jpg)

[2018-01-11 22:03] ranjithrajv commented on #187
I request all the designers to share source files of these designs in .svg or .ai format

[2018-01-12 09:42] aspee commented on #187
It's PSD

https://drive.google.com/open?id=1vhjdPKZuJecRYcxFiypHpwG2kb9WL_kn

[2018-01-12 10:30] Hariompanchal commented on #187
This is AI of my image.
https://drive.google.com/open?id=1C8nd94pLhuiE5zDl3Vzy3idbOaNnLjMn
This is SVG Of my image.
https://drive.google.com/open?id=1mmST7zrRvt9yqRANY-0TYUYSxEMaB7j6
This is PSD Of my image.
https://drive.google.com/open?id=1NrISu7L3D_YKJTq9CV_aBSp0yAh5wmSQ

[2018-01-13 02:01] barrosgeraldo commented on #188
Hey, add it to repository so everyone can produce it locally. Thanks.

[2018-01-13 03:31] barrosgeraldo commented on #187
@shashikanth171, thank you for your request! Here you've my inputs ([download](https://github.com/mozilla/OpenDesign/blob/master/2018/Graphics/aadhaar_campaign/aadhaar_campaign_design_printable.pdf)):
<img width="843" alt="banner 2x" src="https://user-images.githubusercontent.com/14970832/34902365-1f582076-f801-11e7-86a0-011fae8cdb72.png">
<img width="842" alt="poster1 2x" src="https://user-images

[2018-01-13 03:41] barrosgeraldo commented on #182
done, @ranjithrajv, let me know if you need anything else, if not then we can close this.
![prancheta 1 3x](https://user-images.githubusercontent.com/14970832/34902456-cc4f625c-f802-11e7-9540-6131a72767cb.png)

[2018-01-13 05:18] ranjithrajv commented on #187
@barrosgeraldo Loved these designs. Thanks a lot.
When it is a one-liner to decide, "Aadhaar is dystopian and dangerous" is more appropriate compared to "Aadhaar isn't progress!" please replace these statements.

[2018-01-13 05:27] tanzeelkhan commented on #187
Text size of mozilla.org in 2nd and 3rd design looks bigger than the logo. Minimizing the size would make it look better I think.

[2018-01-13 10:24] Tess-welhazi commented on #171
Edited. it looks like this now
![image](https://user-images.githubusercontent.com/20952652/34905191-2f802536-f854-11e7-868d-fa8d8dd0ace3.png)

[fox sticker.zip](https://github.com/mozilla/OpenDesign/files/1628228/fox.sticker.zip)

[2018-01-13 16:56] barrosgeraldo commented on #187
Thank you everyone for feedback, adjustments has been made and available on repository. Good luck with the Aadhaar Campaign.

<img width="842" alt="poster1 2x" src="https://user-images.githubusercontent.com/14970832/34908113-d2dc3d38-f871-11e7-9e6a-396bcce3a0a5.png">
<img width="843" alt="poster2 2x" src="https://user-images.githubusercontent.com/14970832/34908114-d38c194c-f871-11e7-98dc-b550ddea9

[2018-01-13 17:03] barrosgeraldo commented on #171
Hi @kitode, sorry, I think I'm confused, I did not understand the whole discussion here, anyway, you want a sticker for "Mozilla Analyst & Research Community", can you tell me something else about this project? I can not relate the fox to the name of the project.

@Tess-welhazi, great, check the branding guidelines to make the Mozilla wordmark under Mozilla branding guidelines: https://mozilla.nin

[2018-01-13 17:06] #185 closed

[2018-01-14 15:02] shashikanth171 commented on #187
Thanks everyone, for the support.

This is the link to tweet about the today's event.
https://twitter.com/shashikanth171/status/95255097567117312

[2018-01-15 01:49] barrosgeraldo commented on #177
Any update here?

[2018-01-15 01:49] barrosgeraldo commented on #176
Any update here?

[2018-01-15 01:49] barrosgeraldo commented on #173
Any update here?

[2018-01-15 01:52] barrosgeraldo commented on #159
@cbaba20, anyone has replied me, I no longer have hopes that they will do this, so I believe we can consider creating logos based on [current guidance](https://mozilla.ninja/expression/).

[2018-01-15 01:53] #159 closed

[2018-01-15 02:16] barrosgeraldo commented on #66
It is necessary to update the proposal here with the new [Mozilla branding guidelines](https://mozilla.ninja/). I've made a first proposal based on [primary logo lockup](https://mozilla.ninja/expression/).

<img width="1437" alt="mozilla turkey logo 66 2x" src="https://user-images.githubusercontent.com/14970832/34924197-1a860390-f989-11e7-96b4-0eb48d18be41.png">

[2018-01-15 04:22] barrosgeraldo commented on #182
@bhavabhuthi I love your artwork, can you move the Mozilla logo to the footer? To use "365 Add-ons in 365 Days" as a logo is necessary align with Mozilla branding guidelines, but just using "365 Add-ons in 365 Days" in the banner looks great.

[2018-01-15 18:12] shashikanth171 commented on #187
@barrosgeraldo, Please reopen the issue. Have included "Profile Picture Frame" to the needed designs list.

[2018-01-15 21:22] elioqoshi commented on #188
@barrosgeraldo this is still going through l10n review ;)

[2018-01-15 21:27] gueroJeff commented on #188
These look so cool! I imagine they're not the transparents, correct?

On the first one there's a stray 'x' that's a different color and outside of a box. Otherwise, they look nice to me :-) Could you send this to l10n-drivers@mozilla.org to invite the rest of the team to comment here please?

[2018-01-15 21:38] elioqoshi commented on #188
Ah sorry, that's a screenshot and part of the Illustrator UI. Not part of the design. I noticed it and thought it would be interesting if anyone notices it. You did, so bonus points!

It's fully transparent, as you can see here:

![image](https://user-images.githubusercontent.com/5436686/34962600-9f8b5a20-fa44-11e7-896d-1ad55decbe93.png)

However because there are a lot of colors going on, I'd sug

[2018-01-15 21:47] elioqoshi commented on #98
Redoing these with the new Firefox logos:
https://github.com/mozilla/OpenDesign/issues/188

[2018-01-16 06:40] flodolo commented on #188
Would it be possible to smooth out this part of the logo?

![schermata 2018-01-16 alle 07 39 02](https://user-images.githubusercontent.com/3644868/34975077-6490a3b6-fa90-11e7-885c-c94bfabc19d3.png)

[2018-01-16 10:29] pransh15 commented on #187
![aadhar_frame](https://user-images.githubusercontent.com/18158596/34984226-35936b2a-fad6-11e7-9e36-9832c593b2ce.png)
How about this?

[2018-01-16 11:51] shashikanth171 commented on #187
@pransh15 Thanks for the design. I think mozilla is not easily identifiable and the rotation of line "Aadhaar isn't progress" is decreasing readability of it.

[2018-01-16 11:55] pransh15 commented on #151
@barrosgeraldo Any updates?
Please close this issue if it's done.

[2018-01-16 12:03] pransh15 commented on #187
![aadhar_frame1](https://user-images.githubusercontent.com/18158596/34988027-430f6e36-fae3-11e7-8e45-ff58a07ef80d.png)
How about now?

[2018-01-16 12:19] barrosgeraldo commented on #187
I love this one! Go ahead! Add the source file (svg, pdf, ai, etc). :)

[2018-01-16 22:20] elioqoshi commented on #188
@flodolo the 3 small squares? Sure, maybe that detail is not needed

[2018-01-16 23:33] Delphine commented on #188
This looks great! (and I agree with the comment for those 3 small squares).
Nice job Elio :D

[2018-01-17 07:17] flodolo commented on #188
Yes. Either remove it, or add one more square

![34791346-fcc480c6-f644-11e7-89a6-128b34ecdfc5](https://user-images.githubusercontent.com/3644868/35030342-e6d4b2b2-fb5e-11e7-828c-d7fbff61ecc2.png)

[2018-01-17 13:09] pransh15 commented on #187
Sure, following are the links for the files:

* __PSD:__ https://drive.google.com/file/d/1E_NHupMzJihpPJK8VVCAvNly85-DMBeP/view?usp=sharing
* __AI:__ https://drive.google.com/file/d/1ELljPcaU23WR9n4oJqprpUCCx4caC_e-/view?usp=sharing
* __PDF:__ https://drive.google.com/file/d/1nXpIlCzPaOU2M3xuTHZD2Kr3nHhcMxZ5/view?usp=sharing
* __PNG:__ https://drive.google.com/file/d/1vJOaQdc32iN3GQFZRkNAGE3H6Q3--

[2018-01-17 13:14] pransh15 commented on #66
So, I tinkered with few concepts I had in mind, and have come up with these. Let me know if something's wrong or something you'd want for me to change. I just tried to put pieces together.

* Based on the Turkey Flag:
![mozturkey1](https://user-images.githubusercontent.com/18158596/35044370-25204dcc-fbb6-11e7-84a2-a1a4358b030f.png)

* Based of Istanbul Skyline:
![mozturkey2](https://user-images.gi

[2018-01-17 13:18] Tess-welhazi commented on #171
@barrosgeraldo is it more correct this way?

![image](https://user-images.githubusercontent.com/20952652/35044572-3b733604-fb91-11e7-9635-76922f47b3fe.png)

[2018-01-17 13:24] barrosgeraldo commented on #66
@pransh15, awesome, please, check the branding application guidelines to align this one under branding rules: https://mozilla.ninja/expression/

[2018-01-17 13:32] barrosgeraldo commented on #171
Looks good, add white color to mozilla logo, and it's ready.

[2018-01-17 13:36] barrosgeraldo commented on #187
@shashikanth171, can you check if you need more one thing?

[2018-01-17 14:04] pransh15 commented on #177
I've tried re-creating what @karlalhdz did. Looks good to me. What do you say?

![mozillian_profileframe](https://user-images.githubusercontent.com/18158596/35046523-36ea9cea-fbbd-11e7-9427-cefccda789b3.png)
![screen](https://user-images.githubusercontent.com/18158596/35046524-37360c48-fbbd-11e7-821c-3b75a65c50ee.JPG)

[2018-01-17 14:05] barrosgeraldo commented on #177
looks great for me.

[2018-01-17 14:06] pransh15 commented on #177
Awesome, how shall we proceed?

[2018-01-17 14:07] pransh15 commented on #66
@barrosgeraldo sure, I'll get back to you soon, with the updated graphics.

[2018-01-17 14:29] barrosgeraldo commented on #177
@ranjithrajv

[2018-01-17 14:57] ranjithrajv commented on #177
Thanks, @karlalhdz for the designs, loved 'em and @pransh15 for re-creating it. Can you please share source files of the design.

[2018-01-17 14:59] ranjithrajv commented on #187
@pransh15 aspect ratio of Mozilla seems distorted, please check.
I think placing Mozilla logo horizontal looks better over vertical on top-right.

[2018-01-17 16:05] selimsumlu commented on #66
Thanks for the updates, @barrosgeraldo and @pransh15. Do we know if the guidelines are finalized yet? (@elioqoshi)

I was thinking of something on the lines of these samples, which would have been much easier if we are provided with template files. But I'm not even sure if they align with the current guidelines.
https://static1.squarespace.com/static/58879499725e2572b9c4e0ec/t/592dff24ebbd1ad95610

[2018-01-17 16:40] pransh15 commented on #187
![aadhar_frame1a](https://user-images.githubusercontent.com/18158596/35054578-e2c83b34-fbd2-11e7-8a0c-bb017b9c7268.png)

It was fine, I checked. :)
Horizontal Mozilla logo, how about this?

[2018-01-17 16:44] pransh15 commented on #187
![aadhar_frame1a_eg](https://user-images.githubusercontent.com/18158596/35054880-bb2d29a8-fbd3-11e7-8ee8-ebf174c2987a.jpg)
An example.

[2018-01-17 16:44] pransh15 commented on #177
Sure.

[2018-01-17 16:58] ranjithrajv commented on #187
@pransh15 Looks good! we can go with this if @barrosgeraldo is okay with it.

[2018-01-17 18:06] pransh15 commented on #66
![mozturkey4](https://user-images.githubusercontent.com/18158596/35058834-296096fc-fbdf-11e7-80c4-8426d574b0a0.png)
Somewhat like you asked.

[2018-01-17 20:43] barrosgeraldo commented on #187
Great, closing.

[2018-01-17 20:44] #187 closed

[2018-01-17 20:57] barrosgeraldo commented on #66
@selimsumlu I think will not have special branding guidelines for communities, it has taken a long time since the new brand was released and nothing has been reported about it, so I encourage you to keep using the [current guidelines](https://mozilla.ninja/expression/). [For communities, the appropriate framework is this](https://static1.squarespace.com/static/58879499725e2572b9c4e0ec/t/59cadd8a91

[2018-01-18 06:37] tanzeelkhan commented on #187
It's Aadhaar I guess and you could try resizing the logo to 50% of its current size. That'll look better. :)

[2018-01-18 12:07] pransh15 commented on #66
![mozturkey4a](https://user-images.githubusercontent.com/18158596/35097449-288ead8a-fc76-11e7-8f34-b9522fc38b01.png)

So, this is one which is in line with the guidelines.

[2018-01-20 10:13] elioqoshi commented on #188
Solid! Apart that any other comments?

[2018-01-20 11:54] Tess-welhazi commented on #171
@barrosgeraldo done https://drive.google.com/file/d/1QfJRPvKRIH5WjwCosPkXOgVAvOmQcybY/view?usp=sharing

current look
![image](https://user-images.githubusercontent.com/20952652/35183115-0b67d59e-fde1-11e7-948c-c6d549563404.png)

[2018-01-20 12:17] pransh15 commented on #171
Wouldn't you want community's 'C' to be capitalized? It's ARC, after all.
Also, there's more space on the left, and none on the right.

[2018-01-20 13:29] pransh15 commented on #173
![deepspeech_sticker](https://user-images.githubusercontent.com/18158596/35183925-df2f9f42-fe13-11e7-8d83-fb84efcf6136.png)
The round sticker is just a cut-out of the image you sent.

![deepspeech_teedesign](https://user-images.githubusercontent.com/18158596/35183927-df729798-fe13-11e7-8de8-0b1b2d3bde4f.jpg)
T-shirt Design, something like this?

[2018-01-20 18:39] lissyx commented on #173
Thanks!  I do have a personal preference for the two first proposal. I'll let my coworkers give theirs :-)

[2018-01-21 08:31] ranjithrajv commented on #182
Updated the need for Stickers and Social Media poster for twitter

[2018-01-21 09:09] bhavabhuthi commented on #182
@barrosgeraldo I have seen the guidelines and moved the logo to the bottom.

[365.addons.logo.pdf](https://github.com/mozilla/OpenDesign/files/1649630/365.addons.logo.pdf)

and here is the image

![365 addons logo svg](https://user-images.githubusercontent.com/26624774/35192461-e1ceabda-feb8-11e7-8319-f85600ccc971.png)

[2018-01-24 20:04] AnXh3L0 commented on #188
The source files are now uploaded at the repo, [here](https://github.com/mozilla/OpenDesign/tree/master/2018/Graphics/Firefox_-_Nightly_l10n_2018)

[2018-01-24 21:52] elioqoshi commented on #188
Thanks! Looking forward to see them in t-shirt form! Closing this.

[2018-01-24 21:52] #188 closed

[2018-02-08 12:45] iamVP7 opened #190 "GNUnify'18 Poster for Social Media promotion"
## Goal:
Poster for GNUnify'18

Session covered by Mozillians

- VR session by Prathamesh
- Marathi localization session by Narendra
- Cook up firefox- Privacy Settings by Ankit
- Rust session by Mehul
- Hardware track by Tripad
- WebExtensions Workshop by Viswaprasath

## Info:
Social Media sites like Twitter / Facebook

## Style Information:
All tracks in one poster will be great

## Deadline:
1

[2018-02-08 16:25] vyaspranjal33 opened #191 "Cheat sheet for Rust language resources"
## Goal:
[design Flyer ]

## Info:
[Will be used by evengelists , Tech speakers who are in to rust /it can be distributed among students , resources can be found at  https://github.com/rust-community/resources/blob/gh-pages/resources-business-card.odt?raw=true]

## Style Information:
[https://github.com/mozilla/OpenDesign/blob/master/2017/Graphics/WebExtensions_Cheatsheets/Sheet-01.jpg]

## Deadli

[2018-02-10 03:20] ranjithrajv opened #192 "Logo for Rust India"
## Goal:
Logo Rust India community

## Info:
It will be used for all documentation and community activities by Rust India.
http://github.com/rustindia

## Style Information:
Similar to the colour combination of National Flag of India.

## Deadline:
By end of March 2018.

## Tag:
[Design Needed]

[2018-02-13 21:47] ThePhoenixBird commented on #180
We have finally decided to go with the blue background one designed by @karlalhdz

Beautiful logo, we all at Venezuelan community are pleased with it

Congratulations!

[2018-02-13 21:47] #180 closed

[2018-02-14 17:30] shahbaz17 opened #193 "Logo for Rust Hacks"
## Goal:
Logo for Rust Hacks Community

## Info:
It will be used for all documentation, community activities, and Website of Rust Hacks Community. https://github.com/rusthacks

## Style Information:
Rust Logo with wrench and tools in the background

## Deadline:
March 2018

## Tag:
[Design Needed]

[2018-02-15 19:56] cg-cnu commented on #192
Hey @ranjithrajv I have few ideas I am exploring. Will do an update soon! Thanks!

[2018-02-15 20:04] cg-cnu commented on #192
Any guidelines for logo in the lines of https://mozilla.ninja/expression ? Let me know if there are any resources!

[2018-02-21 03:38] ranjithrajv commented on #192
@cg-cnu https://mozilla.ninja/expression is just for Mozilla logo, nothing to do with Rust logo.

[2018-02-21 03:46] ranjithrajv commented on #192
![brazil-flag](https://user-images.githubusercontent.com/3455008/36462141-9dee44ec-16e7-11e8-9bf7-2867b1786b89.jpg)

Rust Brazil logo adopted its colour style inspired by Brazil's national flag. Looking something on similar lines for Rust India with a colour style closer to Indian national flag.

![photo_2018-02-05_22-03-23](https://user-images.githubusercontent.com/3455008/36462142-9e292882-16e7-

[2018-02-21 18:58] iamVP7 commented on #190
Thanks for jumping in @barrosgeraldo  .
Last week, event got over. So for now the design might not be used.

[2018-02-21 18:58] #190 closed

[2018-02-23 20:57] JoelVinayKumar commented on #192
![rust india logo](https://user-images.githubusercontent.com/16177724/36616563-35298b2c-190a-11e8-8c9e-9645af5f4219.png)

[2018-02-28 15:43] shashikanth171 opened #194 "Designs for 'Digital Security trainings'"
## Goal:
Designs for "Digital Security Training" Workshops Promotion/Campaign

## Info:
Designs will be used on Facebook, Twitter, LinkedIn  posts.
Event Poster will be used in Meetup, Eventbrite.

Workshop Participants are trained in the following areas
1. Online security tools like Tor;
2. Encrypted communications platforms like Signal;
3. Email encryption;
4. Secure password management;
5. Usin

[2018-03-01 13:45] pransh15 commented on #192
![rust_in_1](https://user-images.githubusercontent.com/18158596/36847573-c4397eb6-1d84-11e8-947f-13e76cf9b4ea.jpg)

A little something I made. \o/

[2018-03-02 13:25] pransh15 commented on #193
![rusthacks](https://user-images.githubusercontent.com/18158596/36900925-3352246c-1e4b-11e8-80d3-dcb9be934cc1.jpg)

This is how I've envisioned it. I think we need a change in the key, suggestions?

[2018-03-02 15:18] praphulpa commented on #192
![rust_logo](https://user-images.githubusercontent.com/36994495/36906092-0c0a14a4-1e5b-11e8-81c8-15253077b2b6.jpg)

[2018-03-02 16:47] rowdymehul commented on #193
Hi @pransh15, really like the quote, we can phrase it with only "Key to unlock Rust". This sounds sort and simple. Regarding design part, I think @barrosgeraldo & @shahbaz17 can give more suggestions here. Suggestions or ideas from others are also welcome.

Thanks. :)

[2018-03-02 16:57] barrosgeraldo commented on #193
@pransh15, it looks good, but too big for a logo.

[2018-03-02 17:35] rowdymehul commented on #193
+1 @barrosgeraldo, the key theme I really liked. Still looking for more ideas and suggestions.

[2018-03-02 17:38] pransh15 commented on #193
@barrosgeraldo, thank you! Well, I kinda have the same feeling, that's why I want to change the key.

@rowdymehul, thank you! "Key to unlock rust" it is.
I'll check for a key which fits your needs and revert!

[2018-03-02 17:40] barrosgeraldo commented on #193
@pransh15, but preserve this complete art too, it is very good to use in an art in banners for example.

[2018-03-02 19:28] pransh15 commented on #193
@barrosgeraldo, sure. I definitely will! :)

[2018-03-03 12:51] shahbaz17 commented on #193
@pransh15 How about few gears where Rust Logo itself can become one of the gear.

[2018-03-03 14:46] pransh15 commented on #193
@shahbaz17 can be done.

[2018-03-03 14:47] pransh15 commented on #193
![rust_in_2](https://user-images.githubusercontent.com/18158596/36935603-cb652658-1f1f-11e8-9274-da0504835d31.jpg)

a smaller key, with an updated phrase.

[2018-03-03 14:48] pransh15 commented on #193
![rust_in_2](https://user-images.githubusercontent.com/18158596/36935630-115d4064-1f20-11e8-8fe7-aa15e1df3fac.jpg)

a smaller key, with an updated phrase.

[2018-03-03 16:45] ryanleesipes opened #195 "404 page for Thunderbird.net"
## Goal:
Thunderbird has moved to a new website at https://thunderbird.net - we are looking for a mockup of what our 404 page should look like!

## Info:
If a design is made it will go onto the 404 page for all to see (we can even credit the creator if you'd like!)

## Style Information:
Really like GitHub's 404 - https://github.com/404
One clever idea is the Thunderbird (in the logo) looking for

[2018-03-04 11:28] elioqoshi commented on #195
Thanks @ryanleesipes , as I said, I am currently working on something and will update you soon :)

[2018-03-04 18:02] kumarsatish23 commented on #192
![bg_header](https://user-images.githubusercontent.com/34617630/36948660-3be489c0-2004-11e8-843b-5dd28970fef0.png)

[2018-03-04 18:02] kumarsatish23 commented on #192
![28537028_1175812112553458_547971237_n](https://user-images.githubusercontent.com/34617630/36948663-4bd03cf8-2004-11e8-84cd-2ddaf34d525f.jpg)

[2018-03-04 18:03] kumarsatish23 commented on #192
![28754986_1035559849930104_1896356376_o](https://user-images.githubusercontent.com/34617630/36948677-7122d100-2004-11e8-8d4a-e76f3ac31380.jpg)

[2018-03-04 18:05] kumarsatish23 commented on #192
![28695063_1035297749956314_1601275431_o](https://user-images.githubusercontent.com/34617630/36948692-a664f0a0-2004-11e8-94cd-239f1db0196e.jpg)

[2018-03-04 18:50] kumarsatish23 commented on #192
![28694301_1035592016593554_989399832_o](https://user-images.githubusercontent.com/34617630/36949194-07fac186-200b-11e8-98ed-dad0ea0c6658.jpg)

[2018-03-05 17:21] realslimshanky opened #196 "Logo for Mozilla Delhi Open Community"
## Goal:
Looking volunteers to help out in creating [Mozilla Delhi Open Community](https://wiki.mozilla.org/Mozilla_Delhi_Open_Community) logo.

## Info:
It'll be used for the events and social profiles of Mozilla Delhi Open Community.

## Style Information:
Any design would work similar to lastest Mozilla Logo/Icon.

## Deadline:
March 2018

## Tag:
Design Needed

[2018-03-06 18:36] haxzie commented on #192
![rustlogo](https://user-images.githubusercontent.com/18684321/37050991-5a837c2c-219b-11e8-944c-8a0ac9612201.png)

[2018-03-07 12:46] pransh15 commented on #193
![rusthacks_1](https://user-images.githubusercontent.com/18158596/37092892-799ff782-2233-11e8-9858-3f3dccf91971.jpg)
![rusthacks_gear](https://user-images.githubusercontent.com/18158596/37092895-7a0003f2-2233-11e8-97b1-a308152c4096.jpg)

New ones. How are these?

[2018-03-07 12:56] rowdymehul commented on #193
The key design looks great with the quote. 👍  Can we other color options for key or background?

[2018-03-07 14:28] hellozee commented on #196
Here is my try on it, https://imgur.com/a/UHRNJ

[2018-03-07 18:37] pransh15 commented on #196
Hey, @hellozee!
That is a great logo, but I don't think that Mozilla logo can be of that color. Please refer to https://mozilla.ninja for design guidelines.

[2018-03-07 18:50] pransh15 commented on #177
I tried to upload it and even made a PR, but it didn't work.
Anyway, I've uploaded the files here: https://drive.google.com/drive/folders/1IZQK2Ohfr8Pmkvvomat-tXHzStBHvsLZ?usp=sharing

I think we can close this issue now. :)

[2018-03-07 18:54] realslimshanky commented on #196
@hellozee please refer to the link @pransh15 shared. The logo looks awesome, all it needs is to follow the color guidelines.

[2018-03-07 19:25] pransh15 commented on #196
![mozdelhiopencommunity](https://user-images.githubusercontent.com/18158596/37113392-43463d6c-226b-11e8-97c3-49f75248accd.jpg)

Hey, so I had some ideas I wanted to check and implement from the design @hellozee had created. Let me know how you like it? :)

[2018-03-07 19:43] pransh15 commented on #193
![rusthacks_1_bw](https://user-images.githubusercontent.com/18158596/37114179-9fc5ef54-226d-11e8-9aaa-b8466dbf7094.jpg)
![rusthacks_1_gb](https://user-images.githubusercontent.com/18158596/37114180-9ffb41a4-226d-11e8-8c57-4f8c46fbf62c.jpg)
![rusthacks_1_gv](https://user-images.githubusercontent.com/18158596/37114181-a03003ee-226d-11e8-89f0-d455db10ed60.jpg)
![rusthacks_1_sb](https://user-images.gi

[2018-03-08 06:32] pransh15 commented on #196
@hellozee, looks good. :D
@realslimshanky, ask the community if you're happy with these logos?

[2018-03-08 08:11] realslimshanky commented on #196
@pransh15 sure. We'll put the logos on vote for the maain logo to be used. But we can use either of them in posters I guess wrt size. Let's see what community decide. ❤

[2018-03-08 11:47] pransh15 commented on #196
![mozdelhiopencommunity3](https://user-images.githubusercontent.com/18158596/37149488-2f984d62-22f4-11e8-8458-164814a4f4ac.jpg)
![mozdelhiopencommunity4](https://user-images.githubusercontent.com/18158596/37149490-2fea833e-22f4-11e8-896c-c5159018e65e.jpg)
![mozdelhiopencommunity5](https://user-images.githubusercontent.com/18158596/37149491-30177b78-22f4-11e8-8e96-2b81a7297323.jpg)
![mozdelhiopenco

[2018-03-08 12:26] realslimshanky commented on #196
Adding one more suggestion by Elio.
![image](https://user-images.githubusercontent.com/10004530/37151030-f6738b86-22f9-11e8-8df8-1c860db2c9f1.png)

[2018-03-08 12:30] realslimshanky commented on #196
Sending this image out to the group for the vote. Thanks a lot, @elioqoshi, @pransh15, and @hellozee. :relaxed:
![1](https://user-images.githubusercontent.com/10004530/37151184-7117599e-22fa-11e8-9c0d-fee2a6414efe.png)

[2018-03-08 13:52] rowdymehul commented on #193
@pransh15 even I liked the key grey or white, now need to decide which looks better. @barrosgeraldo what're your suggestions here?

[2018-03-08 20:19] LucyeoH opened #197 "Design a Open Source Birthday Party Invitation for Mozilla"
## Goal:
Mozilla's 20th Birthday is coming up on March 31st. We're looking for someone to design a "20th birthday party invitation" that Mozillians can use to invite their friends and families to celebrate with them.

## Info:
The invitations will be emailed and shared on discourse with Mozillians all over the world and promoted on all of our channels!

## Style Information:
I'm imagining bright c

[2018-03-09 10:16] realslimshanky commented on #196
Updating poll!
![img_20180309_154053](https://user-images.githubusercontent.com/10004530/37202604-e39b9290-2382-11e8-88ea-de87425d1a38.jpg)

[2018-03-09 18:19] lauracrick opened #198 "INTERN Sticker Design"
## Goal:
Create a collection of diversity focused stickers for the incoming intern class

## Info:
These stickers will be distributed to the incoming 2018 interns to set the tone for the summer.

## Style Information:
The University Team would love some whimsical/creative/quirky/vintage looking stickers that are diversity focused. We are open to any design of foxes or Mozilla related ideas. We do

[2018-03-09 19:54] bhavabhuthi opened #199 "Poster for Community Meetup on Data Protection and Privacy"
### Goal:
A Poster for Community Meetup on Data Protection and Privacy happening in Hyderabad on March 10, 2018.

### Info:
TItle: Community Meetup on Data Protection and Privacy
Venue: Room 205, Himalaya block, IIIT Hyderabad.
Time: 03:00 PM to 06:00 PM IST
https://reps.mozilla.org/e/community-meeting-on-data-protection-and-privacy/

### Style Information:
Should follow the Mozilla design guideli

[2018-03-10 00:08] imshubhamsingh commented on #196
@realslimshanky I've just tweeked the logo which are currently in the poll.
![mozilla delhi](https://user-images.githubusercontent.com/17807743/37235511-2b259f6e-2425-11e8-8ac0-f7a5065c91ed.png)

[2018-03-10 16:01] weivicky commented on #198
Hey Laura! I have a couple of questions regarding the requirements.
1. What format should I save the stickers in?
2. If I create multiple, how should I submit them (one big file or individual files)?
Thanks for answering my questions!

[2018-03-10 16:35] lauracrick commented on #198
Hi Vicky!

Please submit in jpeg form and please submit individual files. Thanks so much for participating!!

Best,
Laura

[2018-03-11 20:12] realslimshanky commented on #196
Thanks @ishubhamsingh for your contribution. We'll add this to the wiki and reopen this issue in case of redesign :)

[2018-03-11 20:12] #196 closed

[2018-03-11 21:00] weivicky commented on #198
Thanks for answering! Sounds good!

# Here the diversity ones!
Unfortunately, I don't know what the previous years' fox stickers look like (not living at home right now and never got to see them), so I created my own foxes!
![rainbow tail](https://user-images.githubusercontent.com/10877399/37257566-bcdb97de-2541-11e8-8ee2-f1feb41a649f.jpg)
![heart shaped earth](https://user-images.githubuserconten

[2018-03-11 22:13] lauracrick commented on #198
These are amazing!!!

[2018-03-12 01:52] barrosgeraldo commented on #199
@bhavabhuthi, please add a suitable deadline, at least 20 days, or close this if the event is over and you no longer need this one.

[2018-03-12 03:53] barrosgeraldo commented on #197
Hi @LucyeoH,

Thanks for request design resources, the deadline is too closer but with some resources from MozFest past year I've created this template, we can add more text you want to align better to the campaign strategy. Let me know what you think and then we can refine this one:

<img width="640" alt="artboard 1 2x" src="https://user-images.githubusercontent.com/14970832/37265047-a6e4be80-258

[2018-03-12 18:57] LucyeoH commented on #197
@barrosgeraldo this looks great!! I love the design.

I have a few suggested changes to the copy:

You're invited!
Come celebrate Mozilla's 20th Birthday with us!

"Join us on March 31st, as we celebrate 20 years of the open web with Mozillians all around the world! #MozillaTurns20"

[2018-03-12 22:05] barrosgeraldo commented on #197
@LucyeoH, thanks, here we go:
![mozilla 20th birthday party invitation 4x](https://user-images.githubusercontent.com/14970832/37312049-4549477e-2628-11e8-94af-dab03843852b.png)

[2018-03-13 10:38] creativcoder commented on #192
![display_rust](https://user-images.githubusercontent.com/5155745/37336730-44810bd2-26d8-11e8-8f41-833dbf3d76ff.jpg)

Hi, here's my take on RustIndia logo ! Let me know your thoughts :)

[2018-03-13 12:00] pransh15 commented on #192
@creativcoder, @haxzie, @kumarsatish23, @JoelVinayKumar, @praphulpa Your submissions are lovely. :+1:

[2018-03-13 15:56] LucyeoH commented on #197
@barrosgeraldo It's BEAUTIFUL!!! Thank you thank you!!

[2018-03-13 15:58] barrosgeraldo commented on #197
You're welcome, you can [download .png and .pdf source files here](https://github.com/mozilla/OpenDesign/tree/master/2018/Graphics/20th_Birthday_Party_Invitation_Mozilla). Closing.

[2018-03-13 15:58] #197 closed

[2018-03-16 17:39] imshubhamsingh opened #201 "Design template for Mozilla Delhi Webinars"
## Goal:
A poster for [Mozilla Delhi Open Community](https://wiki.mozilla.org/India/Delhi) for their second webinar.
## Info:
I've created this poster for webinar
![mozilla delhi open community 2nd webinar](https://user-images.githubusercontent.com/17807743/37540507-3cfb3c28-297d-11e8-87b2-b07ebcf4a010.png)

Please give feedback here or on [telegram](https://t.me/opendesign) as it can help improve

[2018-03-16 20:55] imshubhamsingh commented on #201
Source of the poster
[Mozilla Webinar #2 psd and ai.zip](https://github.com/mozilla/OpenDesign/files/1820754/Mozilla.Webinar.2.psd.and.ai.zip)

[2018-03-17 03:15] imshubhamsingh commented on #201
Updated design for the poster
![photo_2018-03-17_08-44-04](https://user-images.githubusercontent.com/17807743/37551101-61e264ca-29bf-11e8-9230-86cbb246488a.jpg)

[2018-03-17 05:35] shashikanth171 commented on #201
![mozilla webinar 2 svg-9](https://user-images.githubusercontent.com/25389431/37552038-02ed49d0-29d3-11e8-9c80-d705fa20b9c7.png)

Source file below,
[Mozilla Webinar2_shashikanth171.svg.zip](https://github.com/mozilla/OpenDesign/files/1821313/Mozilla.Webinar2_shashikanth171.svg.zip)

[2018-03-17 05:39] DivuMarcus commented on #201
![webinar 2](https://user-images.githubusercontent.com/36792228/37552066-8aeb881a-29d3-11e8-882b-8282b378910c.png)

[2018-03-17 05:57] realslimshanky commented on #201
Final image by @imshubhamsingh
![1](https://user-images.githubusercontent.com/10004530/37552190-2c135aea-29d6-11e8-86b3-42edb3389697.png)

[2018-03-17 06:10] DivuMarcus commented on #201
![webinar 2 0](https://user-images.githubusercontent.com/36792228/37552288-079fa91e-29d8-11e8-8629-12cc198e4fd0.png)

[2018-03-17 06:11] DivuMarcus commented on #201
updated poster by me
![webinar 2 0](https://user-images.githubusercontent.com/36792228/37552291-1de0e166-29d8-11e8-8c06-7042da0cfda7.png)

[2018-03-17 06:21] DivuMarcus commented on #201
With the date and time as well :)
![web2 0](https://user-images.githubusercontent.com/36792228/37552366-84f99e50-29d9-11e8-8440-2ad087776e63.png)

[2018-03-17 12:05] vyaspranjal33 opened #202 "Design tempalate for Mozconnect with Django girls event"
## Goal:
[a poster for mozconnect event]

## Info:
it will be used to promote event on social media platforms

## Style Information:
poster size is 1920 X 1080 px

## Deadline:
[17 march 2018]

## Tag:
[Design Needed]

[2018-03-17 16:09] DivuMarcus commented on #202
Here is the one :)
![djangogirlsbvn 3](https://user-images.githubusercontent.com/36792228/37557511-98b7d428-2a2b-11e8-94c0-e3bd220c579f.png)

[2018-03-17 16:10] DivuMarcus commented on #202
Have A look on this ;)
![djangogirlsbvn 3](https://user-images.githubusercontent.com/36792228/37557517-b9626c74-2a2b-11e8-8ffb-6e6cff1e624d.png)

[2018-03-17 16:54] DivuMarcus commented on #202
Two More of them to give a more professional Look along with your pre-requisites.
![1](https://user-images.githubusercontent.com/36792228/37557921-d61fdbca-2a31-11e8-935c-ef59d5dc8136.png)
![2](https://user-images.githubusercontent.com/36792228/37557922-d690db40-2a31-11e8-91e2-39fff0f9d586.png)

[2018-03-17 17:04] DivuMarcus commented on #202
Updated poster with the new django girls logo
![1](https://user-images.githubusercontent.com/36792228/37558005-484cef20-2a33-11e8-99ab-bf7a0485ec10.png)
![2](https://user-images.githubusercontent.com/36792228/37558006-489d975e-2a33-11e8-920e-86db9fa44500.png)

[2018-03-17 18:05] DivuMarcus commented on #202
with Mozilla Gujrat Logo
![1](https://user-images.githubusercontent.com/36792228/37558567-cd830ff0-2a3b-11e8-8c1f-4025fe682303.png)
![2](https://user-images.githubusercontent.com/36792228/37558568-cdc563e6-2a3b-11e8-9530-a04ebd83bdb5.png)

[2018-03-17 18:06] DivuMarcus commented on #202
Final One with the date and address
![1](https://user-images.githubusercontent.com/36792228/37558576-e6217308-2a3b-11e8-8d4d-cc52a99b02b8.png)
![2](https://user-images.githubusercontent.com/36792228/37558577-e67d5d80-2a3b-11e8-9247-397031d56846.png)

[2018-03-17 18:24] #119 closed

[2018-03-17 18:27] #176 closed

[2018-03-17 18:27] #177 closed

[2018-03-17 18:34] barrosgeraldo commented on #202
@vyaspranjal33 Could you describe a paragraph about the event? What do people do at this event? What is the purpose of the event? Why is Mozilla in the event? Please, fill "Style information", what is the size of the poster and where will it be published? What is the real deadline? Please take time to fill in all the information.

[2018-03-17 18:34] #199 closed

[2018-03-17 18:35] barrosgeraldo commented on #198
@weivicky, I love these foxy design, do you've the source files? (.ai, .svg, .pdf)

[2018-03-17 18:38] barrosgeraldo commented on #193
@rowdymehul I love the first and third because it's alive, it has colors, but use black and white for printable.

[2018-03-17 18:38] barrosgeraldo commented on #193
Let us know which one you chose and if everything here is enough.

[2018-03-17 18:39] barrosgeraldo commented on #192
@ranjithrajv let us know which one you chose and if everything here is enough, so we can close this.

[2018-03-17 18:56] vyaspranjal33 commented on #202
the event is about workshop on website development using django framework the event is organized by @djangogirls local chapter mozilla joined event because of diversity & inclusion AS they ve maximum seats reserved for womens/girls or first priorities are given to girls/women @barrosgeraldo you can see more details about event here : [-]https://djangogirls.org/bhavnagar/ & Mozilla's presence : htt

[2018-03-17 19:04] vyaspranjal33 commented on #202
thanks for design @divumarcus

[2018-03-17 19:04] #202 closed

[2018-03-20 02:27] weivicky commented on #198
Hey @barrosgeraldo ! Thank you so much for the compliment! I couldn't upload my ai file directly so I uploaded it to my google drive. You can access it here: https://drive.google.com/file/d/1nVQN6dd4RT_hFKnjRuvjLXhlCluWr6Fi/view?usp=sharing

[2018-03-20 02:49] barrosgeraldo commented on #194
@shashikanth171, please, can you review and feedback this template?
![artboard 1](https://user-images.githubusercontent.com/14970832/37633174-13576630-2bd0-11e8-8e84-be5f74b3f102.png)

[2018-03-20 03:10] barrosgeraldo commented on #198
@weivicky thank you so much! :tada:

[2018-03-20 06:29] shashikanth171 commented on #194
The design is good! Thanks. This will work.

[2018-03-20 06:36] shashikanth171 commented on #194
Thanks! @barrosgeraldo

[2018-03-20 06:36] #194 closed

[2018-03-22 11:24] AlexisDeschamps commented on #198
Hi, I don't have much experience with this, but I tried doing something:
![sticker](https://user-images.githubusercontent.com/12681350/37767604-144cac94-2da1-11e8-9566-512f08eac96c.jpg)

[2018-03-22 13:56] #201 closed

[2018-03-23 14:35] mozfreddyb opened #203 "merit badge for contributors"
## Goal:
I want a design for a sticker that we can use as some sort of merit badge for people contributing to the security of Firefox (specifically the Firefox product).
This is meant to be a reward for people going out of their way to help the security team.

## Info:
Stickers to be placed on alptops :)

## Style Information:
It *might* be interesting exploring something along the lines of a [mis

[2018-03-24 15:35] Ryuno-Ki commented on #198
https://github.com/mozilla/OpenDesign/issues/198#issuecomment-372148688 awwww!

Can somebody create a Telegram Sticker pack/upload them to Slack?

[2018-03-25 17:50] itsJagrati commented on #191
![resources to rust](https://user-images.githubusercontent.com/31163205/37878210-f2581a94-3082-11e8-8ba6-a58dd65c0906.jpg)

Will that work?

[2018-03-25 18:06] vyaspranjal33 commented on #191
no it won't work @itsJagrati  btw its nice for sharing on social platforms

[2018-03-25 18:14] vyaspranjal33 commented on #191
@itsJagrati in case you're looking for reference please check style information above

[2018-03-25 18:26] DivuMarcus commented on #191
Here's The one I made
![flayer](https://user-images.githubusercontent.com/36792228/37878501-f455294a-3087-11e8-93d6-0480dc84a4ee.png)

[2018-03-25 18:29] DivuMarcus commented on #191
Here's the one I made
![flyer](https://user-images.githubusercontent.com/36792228/37878551-8582e006-3088-11e8-8fe0-7cb98b37887c.png)

[2018-03-25 18:36] DivuMarcus commented on #191
Version2 with some text adjustments
![flyer1](https://user-images.githubusercontent.com/36792228/37878611-80b8e790-3089-11e8-96c3-54b135e80803.png)

[2018-03-25 18:46] vyaspranjal33 commented on #191
looks good @divumarcus

[2018-03-25 19:05] DivuMarcus commented on #191
Version 3 With font Sans
![flyer2](https://user-images.githubusercontent.com/36792228/37878906-90277544-308d-11e8-9b7b-df06e0db6032.png)

[2018-03-25 19:11] DivuMarcus commented on #191
improvements for better readability
![flyer3](https://user-images.githubusercontent.com/36792228/37878981-719010b8-308e-11e8-9121-a089496bc440.png)

[2018-03-27 23:28] mrachamallu commented on #198
i've never done this before, but tried my best!
![untitled_artwork](https://user-images.githubusercontent.com/19869159/38000221-6b08aefa-31db-11e8-90b9-92172f12a330.jpeg)
![fox1](https://user-images.githubusercontent.com/19869159/38000237-793ba5cc-31db-11e8-8d99-ee225f2b0617.jpeg)
![fox2](https://user-images.githubusercontent.com/19869159/38000243-7fc26156-31db-11e8-8392-c6b2bedf8ed5.jpeg)
![fox3]

[2018-03-29 13:42] Raphseck commented on #195
Hey guys
Some ideas here!
What do you think?
![nest-01](https://user-images.githubusercontent.com/14264676/38092175-e779b62e-333d-11e8-98de-55a0ae7dced1.png)

[2018-03-29 15:51] Raphseck commented on #195
AI file : )
[nest.zip](https://github.com/mozilla/OpenDesign/files/1860878/nest.zip)

[2018-03-29 17:13] ryanleesipes commented on #195
Looks great @Raphseck -at first I preferred the right one, but as I look at it more, I'm really drawn to the left one!

[2018-03-30 19:41] jubitaneja commented on #198
![m1](https://user-images.githubusercontent.com/6600596/38151310-e9754d3e-341f-11e8-84d4-6d31dd25af5c.png)
![m2](https://user-images.githubusercontent.com/6600596/38151311-e98b6e5c-341f-11e8-8821-1f617e4f2655.png)
![m3](https://user-images.githubusercontent.com/6600596/38151312-e9a5ed7c-341f-11e8-8a86-afbc6b2c4ccb.png)
![m4](https://user-images.githubusercontent.com/6600596/38151313-e9bc1afc-341f-

[2018-03-30 19:42] jubitaneja commented on #198
Thanks for introducing this fun event. :) I did this for the first time and enjoyed so much.

[2018-04-04 16:15] harshzalavadiya commented on #192
![mozilla](https://user-images.githubusercontent.com/5774849/38320144-63e0733e-3851-11e8-9d98-f4be00a5ca0b.png)

just an simple version 😄

[2018-04-08 22:49] sblatz commented on #198
This is my first time ever creating digital art, so go easy on me, and hope you guys enjoy!

![firefox_lgbt_icon](https://user-images.githubusercontent.com/4400286/38473402-88aa2d4a-3b5d-11e8-94d6-235529f70534.jpg)
![normal_firefox_alone](https://user-images.githubusercontent.com/4400286/38473391-7914b15c-3b5d-11e8-89ce-216ce3f47a75.png)
![normal_firefox_child_mom](https://user-images.githubuserco

[2018-04-09 17:25] prathameshchavan commented on #195
Hello Nikita @nikitakolpekwar ,

Thank you for your interest!
I would be pinging you in person.

Regards,
Prathamesh

[2018-04-11 13:47] nikitakolpekwar commented on #195
Hi All,

Here are some of my ideas!
White place can be editable with any content needed!
Let me how you guys find this!! :)

![404](https://user-images.githubusercontent.com/6412174/38620697-c3190b70-3dbc-11e8-8c25-594b0241cb81.jpg
![404_1](https://user-images.githubusercontent.com/6412174/38620722-d7e1380c-3dbc-11e8-990d-bd4f024f7d16.jpg)
)

[2018-04-11 13:48] nikitakolpekwar commented on #195
![404](https://user-images.githubusercontent.com/6412174/38620782-0c44b13c-3dbd-11e8-8c46-103db79bef11.jpg)

[2018-04-12 13:07] nikitakolpekwar commented on #195
Great! Just let me know if you need any files from my end. :)

[2018-04-15 09:21] Thegennok opened #206 "Question: roll-up with quantum design"
Hi all,

## Goal:
I am from the french community and we don't have any up to date roll-up banner for ours booths.
So, my goal here is to make one or two new banners. And if possible, thoses designs should be able to be used by every other moz community. I am not asking you to do it, I think I can do the job, but I would like advice and input from you.

## Info:
We put theses banners behind our boo

[2018-04-19 22:49] carolinecullen commented on #198
Similar to everyone else who has posted previously, I have never done any graphic design before but had a lot of fun!

![faceversion2](https://user-images.githubusercontent.com/22187606/39022140-ffbfa34a-43e8-11e8-987f-c5c8b30735fd.png)
![rainbow](https://user-images.githubusercontent.com/22187606/39022152-09438238-43e9-11e8-96d9-67e7c7d9c630.png)
![gender](https://user-images.githubusercontent.co

[2018-04-20 21:28] barrosgeraldo commented on #198
Hi @kaustubhadhav, I like your designs, and we can use for community-stuffs, can you share with us the vector files?

[2018-04-21 05:00] SofieC295 commented on #198
Hello all! Here's a couple of designs I wanted to contribute. Shout out to my friend John for helping me with these!
<img width="401" alt="mozilla-foxes" src="https://user-images.githubusercontent.com/25485414/39080580-5ff5842a-44ff-11e8-8a6d-1ddd0251b733.png">
<img width="221" alt="fox-heart" src="https://user-images.githubusercontent.com/25485414/39080581-617157c0-44ff-11e8-89d4-9a6fc2bcf6fc.png

[2018-04-27 14:14] nikitakolpekwar commented on #195
Hey @ryanleesipes .. any updates on this?

[2018-04-27 17:40] BrilliantForces commented on #195
Hey @nikitakolpekwar, nice design!
Have you thought about adding some lightning to the background?
Being that this is for Thunderbird...

[2018-04-28 05:45] nikitakolpekwar commented on #195
@BrilliantForces Thats great Idea! Let me worn on that and get back to you! :)

[2018-05-01 04:34] maneeshsagar commented on #195
Hey! I am new and want to contribute.

[2018-05-01 16:48] kitode commented on #171
@Tess-welhazi
Wow - first, this is spectacular! I'm so very happy to use this design!
I have a couple quick changes:
 - "Analysis & Research" instead of "Analyst"
 - capitalize the "C"

Thank you, thank you!
-Jessica

[2018-05-01 21:49] ryanleesipes commented on #195
Hey @nikitakolpekwar I'm just trying to get together with someone who can implement this on the site itself. There is still more to do, so @maneeshsagar, you can propose ideas over at https://github.com/thundernest/thunderbird-website

[2018-05-02 17:07] kimberlythegeek opened #208 "Design for Test Engineering Stickers"
## Goal:
Logo Design for Firefox Test Engineering

## Info:
Stickers for All Hands!

## Style Information:
A couple of sketches...
![image](https://user-images.githubusercontent.com/18633586/39538047-a5e94104-4df8-11e8-95c9-233354ff1433.png)

The top is based on the Firefox logo, with a magnifying glass finding a bug

The bottom is based on the Firefox Developer logo, modified into a teardrop shap

[2018-05-07 01:31] pauljt opened #209 "Product Integrity All Hands Shirt"
## Goal:
The Product Integrity (PI) team would like a t-shirt design for all hands

## Info:
We'd like a T-shirt design for the PI team for all hands. So we need a design or logo or both for said t-shirt.  (we could also just use the standard Mozilla slab logo for team, with a custom design)

## Style Information:
The core theme that unites the Pi team is "Quality" so something that conveys that t

[2018-05-07 07:55] JoelVinayKumar commented on #192
Nice @harshzalavadiya

[2018-05-08 23:15] kitode commented on #171
Actually - Tess I think I've got it from here. Thanks!

[2018-05-09 06:55] yadev64 commented on #171
![rac](https://user-images.githubusercontent.com/21107275/39799614-7d763e7c-5382-11e8-9102-bc5ef8028b88.png)
Just tried to make one.

[2018-05-09 18:41] kitode commented on #171
Oh wow! That's another good one, @yadev64
Can you change the text to "Analysis"? Then I think I'll make a run of that one too!

I've changed the description in case others are feeling inspired - I'm also looking for stickers that have the dino/zilla ... If folks can upload .gif, .jpeg and/or photoshop that would be awesom.e.

[2018-05-09 18:42] kitode commented on #171
@yadev64 and @Tess-welhazi I'd like to send you a public thanks if you'd like and some of your stickers etc., can you ping me directly? thanks!

[2018-05-10 01:25] yadev64 commented on #171
Sure. I'll change the text right away!

[2018-05-10 02:29] yadev64 commented on #171
![arc](https://user-images.githubusercontent.com/21107275/39849043-0c0d982e-5428-11e8-8a02-27bc8921f7f8.png)
Done!

[2018-05-11 09:39] omudongo opened #210 "Logo for "Funda" project"
## Goal:
Logo for **Funda** project (_Funda: referring to "learning"_)

## Info:
Logo to be used for documentation, community activities, Website  and Social media networks -- https://github.com/omudongo/-Rethink-Web-Literacy

## Style Information:
Something that resembles (openness and collaboration, education tech, open science) -- good example here: https://science.mozilla.org/

## Deadline:
Ma

[2018-05-17 16:35] npscience commented on #210
A logo was designed at the eLife Sprint. @omudongo - would you like to keep this request open or to close it?

[2018-05-21 16:22] reuben commented on #173
The round sticker in https://github.com/mozilla/OpenDesign/issues/173#issuecomment-359171570 looks super nice.

And the second one in https://github.com/mozilla/OpenDesign/issues/173#issuecomment-354582258 on a t-shirt seems like it'd work nicely :)

[2018-05-22 05:26] scottr97 commented on #209
I'd like to help with this. I'll drop an initial design idea in very soon.

[2018-05-22 11:49] scottr97 commented on #209
![pimagnify](https://user-images.githubusercontent.com/28555167/40360550-e80d536a-5e09-11e8-95d0-765b34787482.png)
![mozillapi](https://user-images.githubusercontent.com/28555167/40360551-e83f464a-5e09-11e8-88d5-bb2035c4981e.jpg)

@pauljt
Here's two ideas I came up with. Let me know what you think.

[2018-05-22 12:53] omudongo commented on #210
@npscience we can close this, thank you so much!

[2018-05-22 14:42] npscience commented on #210
@omudongo I don't have the power to close this issue — please go ahead if you do :)

[2018-05-23 08:04] pauljt commented on #209
Hey I love that second one!! Ill take it back to the team for feedback! Thanks!

[2018-05-23 13:38] scottr97 commented on #209
Fantastic, let me know what they say :)

[2018-05-23 16:51] elioqoshi commented on #209
@pauljt Unfortunately those designs are out of brand guidelines.

[2018-05-23 17:00] #210 closed

[2018-05-23 20:40] emmairwin opened #211 "Mozilla Fox Herder/Wrangler (CM) Design"
## Goal:
For All Hands , we would like a design to print-off that represents Mozilla community managers.

## Info:
This will be used as currency at All Hands (limited edition Community management stickers)

## Style Information:
Early brainstorming because CM work is often considered 'cat herding' :
* The fox (of course)
 * herding / shepherding a LOT of smaller foxes  (successfully)

Making it cu

[2018-05-23 21:48] Dlimk commented on #209
![pi design 01](https://user-images.githubusercontent.com/11227639/40452890-af178ee2-5ee3-11e8-8065-617a714df260.jpg)

[2018-05-23 22:25] pauljt commented on #209
@elioqoshi thanks for the helpful constructive feedback!

[2018-05-23 22:33] pauljt commented on #209
@scottr97 I think what @elioqoshi  was trying to say was that if we want a shirt that has the moz:lla logo on it, then we need to adhere our branding guidelines, which are here https://mozilla.design/

From a quick skim, I think that means no corruption of the Mozilla workmark (specifically see https://mozilla.design/mlogo/) , so it might be that "moz:πa" isn't allowed (as awesome, as I think it i

[2018-05-23 23:14] pauljt commented on #209
That said, we are probably cutting it a bit fine to get this in time for all hands, so might have to aim for something in the future. Still keen for a design though. Suggestion from our director "how about the Firefox with a Sherlock Holmes hat? " Just an idea.

[2018-05-24 13:54] LucyeoH commented on #211
Propose we change this to "fox" wrangler. I think it translates better and avoids any potential misunderstandings :)

[2018-05-24 13:55] LucyeoH commented on #211
@elioqoshi would you recommend anyone for this?

[2018-06-04 20:55] Ryuno-Ki opened #213 "Use GitHub labels for deadlines"
Hi,

just a thought which came to me right now: What about using Custom GitHub labels for each month?
This way, browsing the open issues would allow to see at a glance, which issues have a near deadline. (Assuming all of them have to be done in less than a year).

What do you think?

[2018-06-05 00:46] #211 closed

[2018-06-26 17:49] abibb commented on #42
@barrosgeraldo Hey there , so i think the project and logo is completed already and you can check this link out too, https://wiki.mozilla.org/TechSpeakers, the logo is changed a bit.

[2018-06-26 21:16] elioqoshi commented on #42
Not really. That's the very first logo @abibb
I dropped the ball on this one but will coordinate with @mozmike and @havi

[2018-07-09 14:37] iamVP7 opened #215 "Graphic design of backdrop"
## Goal:
Graphic design of backdrop , octonorm booth of size  9ft w x 8ft h

## Info:
We  (Mozilla India Community Contributors) are planning to organize a booth at [devconf](https://devconf.info/in/2018) . It is 2 days conference where contributors will be sharing about WASM, Rust, WebVR, WebExtension.

## Style Information:
[What you want it to look like, link to references, similar things etc.]

[2018-07-17 10:34] kelimuttu opened #216 "Webcam cover packaging"
## Goal:
Webcam cover packaging.

## Info:
Hey Open Design community, the Mozilla Reps program is going to produce webcam cover. However, we need your help to design the packaging otherwise the space will be wasted.

## Style Information:
[What you want it to look like, link to references, similar things etc.]
Here is the sample of the packaging from the vendor. The dimention is 4"x 6"
<img width=

[2018-07-17 10:49] MichaelKohler commented on #216
@kelimuttu I suppose we want the new Reps logo to be on it?

You can find the new Reps assets here: https://drive.google.com/drive/folders/1M80zSrx640Ve7chhrmwn08RO0s6HnN5n

[2018-07-17 11:22] kelimuttu commented on #216
I was about to send the artwork once somebody assign the issue. But that's wonderful! Thanks @MichaelKohler 🥇

[2018-07-18 13:32] elioqoshi commented on #216
@kelimuttu can we have more time than 23rd July? Generally 6 days are way too little time for requests.

[2018-07-18 15:01] kelimuttu commented on #216
That'll be great if we can have it by 23rd so we can start the production right away. But, I can stretch it for sure. When do you think is the most convenient deadline for you @elioqoshi ?

[2018-07-18 20:43] elioqoshi commented on #216
I generally am a fan of getting things right and design requests should be around the same timeline as budget requests :D That is, 2-3 weeks before. I don't think people will be angry if it's a week later, or?

But if anyone can jump in within this week, please feel free to help.

[2018-07-19 05:30] iamVP7 commented on #215
Changed Deadline to 25th of July after check with devconf india team. Faster is better they mentioned.

[2018-07-20 05:58] ranjithrajv commented on #97
@barrosgeraldo any update here?

[2018-07-25 20:19] abhi12ravi commented on #215
Hi all, we need a poster like this - https://ibb.co/hdcTYo

[2018-07-26 06:01] tanzeelkhan commented on #215
![devconf-banner](https://user-images.githubusercontent.com/4867861/43244174-697997ca-90c7-11e8-8279-75a8c9bf6aa2.png)
Here you go! :)

[2018-07-26 06:32] tanzeelkhan commented on #215
[Printable - devconf banner without website.pdf](https://github.com/mozilla/OpenDesign/files/2230695/Printable.-.devconf.banner.without.website.pdf)
[printable-devconf banner.pdf](https://github.com/mozilla/OpenDesign/files/2230696/printable-devconf.banner.pdf)
![devconf-banner](https://user-images.githubusercontent.com/4867861/43245293-67055b4c-90cb-11e8-950f-f3c2acf51e8e.png)

You may the use pd

[2018-07-26 06:52] abhi12ravi commented on #215
Thanks a lot, @tanzeelkhan . We appreciate it! 👍

[2018-07-30 12:32] iamVP7 commented on #215
Thanks a lot @tanzeelkhan  .. closing this bug.

[2018-07-30 12:32] #215 closed

[2018-07-30 13:47] kristicunga commented on #216
Hello guys,

This is a draft me and @elioqoshi made for Mozilla Resp webcam. I hope you'll like it :smiley_cat:

[Reps Mozilla - 730.pdf](https://github.com/mozilla/OpenDesign/files/2241332/Reps.Mozilla.-.730.pdf)

[2018-07-31 05:16] kelimuttu commented on #216
Thanks @kristicunga @elioqoshi !! I like the concept. I might gonna add some more text on the back cover. Let me get back to you once I have the copy.

[2018-08-04 17:43] nclm commented on #206
Hi!

For the “Firefox” wordmark under the logo, you can’t just re-write it with another typeface. You can download the proper one here: https://design.firefox.com/photon/visuals/product-identity-assets.html You can also pick one of these colours for the background: https://design.firefox.com/photon/visuals/color.html

The colours for the Mozilla one could come from here as well: https://mozilla.de

[2018-08-13 13:31] kelimuttu commented on #216
Hey both, sorry it takes a while to get the sample packaging. Here is the content.

Front content:
![photo_2018-08-09_19-41-26](https://user-images.githubusercontent.com/4922388/44034440-4bd12bc4-9f37-11e8-82dd-e404c4471b95.jpg)

Take charge of your privacy
with this webcam cover

Back content:
![photo_2018-08-09_19-32-53](https://user-images.githubusercontent.com/4922388/44034428-468d6678-9f37-11

[2018-08-13 14:29] elioqoshi commented on #216
Thanks @kelimuttu

@kristicunga can we update this?

[2018-08-14 10:17] kristicunga commented on #216
Yes, of course @elioqoshi!

[2018-08-20 07:03] kelimuttu commented on #216
Hey both @elioqoshi @kristicunga,

is there any update on this?

[2018-08-22 08:41] elioqoshi commented on #216
Finishing today!

[2018-08-22 19:58] AnXh3L0 commented on #216
Hi @kelimuttu, below you'll find the PDF files ready for print with the additional text.

[Back - CMYK.pdf](https://github.com/mozilla/OpenDesign/files/2311801/Back.-.CMYK.pdf)
[Front - CMYK.pdf](https://github.com/mozilla/OpenDesign/files/2311802/Front.-.CMYK.pdf)

[2018-08-22 21:42] pransh15 commented on #216
Looks good! 👍

[2018-08-23 05:37] kelimuttu commented on #216
Hey @AnXh3L0 Thanks for that! However, I could see there is a subtle white line in between the "healthy internet" part which makes the bottom part to be shifted just very slightly.
<img width="355" alt="screen shot 2018-08-23 at 12 35 49" src="https://user-images.githubusercontent.com/4922388/44506568-242b6700-a6d1-11e8-971d-638614715ae1.png">

Can you fix those? Thanks in advance!

[2018-08-23 11:26] AnXh3L0 commented on #216
Hi @kelimuttu, I fixed the white line. You'll find the print file below.

[Back - CMYK.pdf](https://github.com/mozilla/OpenDesign/files/2314183/Back.-.CMYK.pdf)

[2018-08-24 09:27] kelimuttu commented on #216
I think we're cleared to close this issue now. Thanks everyone!! <3

[2018-08-24 09:27] #216 closed

[2018-08-24 16:54] elioqoshi commented on #216
@AnXh3L0 Thanks! Can you push this here to the repo?

[2018-09-03 11:33] pransh15 commented on #193
We are through here, please close this issue.
![image](https://user-images.githubusercontent.com/18158596/44984639-2926cb00-af9b-11e8-9236-1ac8f20a43ab.png)

This has been chosen to use on the various channels.

[2018-10-16 15:13] jotasprout commented on #195
What's the status on this? Also asking  at [https://github.com/thundernest/thunderbird-website/issues/22](https://github.com/thundernest/thunderbird-website/issues/22).

[2018-10-17 15:07] ranjithrajv opened #220 "Hacktoberfest - Hyderabad, Bangalore and Mumbai"
## Goal:
Poster for Hacktoberfest [City]

## Info:
Promoting in-person hacktoberfest gatherings in at any place

## Style Information:
* Hacktoberfest and [City] fontsizes should be same
* Mozilla logo on top of them
* Highlight Venue and Date+Time
* Section for Sponsors and Community Partners

## Deadline:
20 Oct 2018

## Tag:
[Design Needed]

[2018-10-24 18:42] Fjoerfoks opened #223 "Request for design for a paper bookmark"
## Goal:
I'd like to have a design to be printed on a paper bookmark as shown on
https://www.onlineprinters.nl/p/boekenlegger-52x148mm?d=1&ci=&depvar_index_setparent=%3cPLEL244%3e%3cPLEL244.300...500%3e&depvar_index_set_1=%3cZPKH6C2E%3e%3cZPKH6C2EE00%3e&depvar_index_set_2=%3cZPKXXXXD%3e%3cZPKXXXXDD00%3e&depvar_index_set_3=%3cZPKXX34Y%3e%3cZPKXX34YY34%3e

## Info:
This will be used to be handed out

[2018-10-24 19:13] ioana-chiorean commented on #223
Can this maybe use the design from L10n then? cc @elioqoshi @guerojeff?

[2018-10-25 08:38] Fjoerfoks commented on #223
I already asked Elio, but he was to busy and pointed me to here.
@gueroJeff where can I find the mojibake?
Anyway, what do you personally think about the whole idea?

[2018-10-25 13:16] gueroJeff commented on #223
![firefox](https://user-images.githubusercontent.com/1929828/47502745-c973d000-d825-11e8-9cf9-4727a2d0c6a7.png)

Here you go.

I like the idea :-)

[2018-11-06 01:59] asdofindia opened #224 "Contribution Guidelines needed to guide new contributors through copyright issues"
## Goal:
Contribution guidelines for open design

## Info:
It will be used for guiding new contributors to the open design community to avoid copyright issues in the designs that they create.

## Style Information:
It will look like http://www.howdesign.com/featured/graphic-design-copyright-laws-inspiration-vs-infringement/ https://opensource.guide/legal/ and https://www.business.com/articles/the-

[2018-11-06 07:59] Dexterp37 opened #225 "Design for Glean Stickers and T-Shirt"
## Goal:
We’d like to have a design for a sticker and a T-Shirt for the Glean project, from the Firefox Telemetry team. Glean is a mobile SDK that enables our mobile products to gather Telemetry and scale up with our requirements.

## Info:
We would like to create stickers, mission patches and t-shirts for our team.

## Style Information:
Glean is not an acronym, but an intransitive verb [that mea

[2018-11-06 12:20] davehunt opened #226 "Designs for Automationeers Assemble gatherings"
## Goal:
I host a regular gathering featuring a guest and topic relevant to automation engineering called "Automationeers Assemble". It would also be create some visual identities for the gatherings.

## Info:
The designs may be used in Google Docs, Air Mozilla/YouTube (the gatherings are often recorded), and for swag such as stickers.

## Style Information:
The name is inspired by [Marvel comics]

[2018-11-07 20:50] Fjoerfoks commented on #223
Personally I don't like the design because (for me) it is not clear what the message from the logo is.
I was hoping for some more ideas...

[2018-11-14 16:43] jotasprout commented on #195
I love the image @nikitakolpekwar made but I'd like to use the original -- without the text and white rectangle. Clicking her link opens that second version. I'd like to make it dynamic so the text appearing in front of it contains some helpful message/info.

[2018-11-19 08:51] ioana-chiorean commented on #223
@Fjoerfoks feel free to post this in telegram groups to gather more feedback or new ideas. Not sure how much attention gets posting only here so never hurts to promote it a bit

[2018-11-19 10:18] pransh15 commented on #223
Hello, I feel that a general front of the Bookmark seems fine which mentions Mozillla and the Firefox logo(can be the L10N as well).

On the back of the Bookmark, we can go ahead with a single template which can be used for seperate languages which says something like, "Join Mozilla and it's Mission" or something like that, along with the links.

Also, rounded corners over sharp ones! :fist_raised

[2018-11-19 10:29] pransh15 commented on #224
Hello!

Do you have the content already?

[2018-11-19 10:57] davehunt commented on #226
On the other hand, we've made automation engineering sound a bit _more_ interesting? 😉

Sure, I like the sound of that idea.

[2018-11-21 11:20] pransh15 commented on #226
I like to think that it has always been interesting. 🚀 ❤️

I'll try and see what I can do, and if anyone else who's visiting this thread has an input on that, please, you're welcome to contribute! 😄

[2018-11-21 12:50] pransh15 commented on #223
![bookmark_front_grey](https://user-images.githubusercontent.com/18158596/48842173-8f143900-edb9-11e8-98e4-e4d1d7ef4330.png)

![bookmark_back_grey](https://user-images.githubusercontent.com/18158596/48842172-8f143900-edb9-11e8-9b40-a70ffc107df6.png)

Something I put together. Pardon my German, used Translate to write _"it's your internet"_ and _"Keep it healthy with **mozilla.org**"_. 😅

[2018-11-22 13:25] erogol opened #228 "Emblem for Mozilla's Research TTS (Text to Speech) project"
## Goal:
An emblem for [TTS](https://github.com/mozilla/TTS) project, which aims to create an open-sourced Text to Speech solution based on Deep Learning. Please visit the link for more information.

## Info:
This emblem is going to be used as an unique identifier of the project on any medium and platform. These will include stickers, t-shirts and online banners.

## Style Information:
Basically,

[2018-11-24 06:53] asdofindia commented on #224
@pransh15 erm, content is there all over the web. (Like the links I put in the issue).

[2018-11-27 11:28] ranjithrajv opened #229 "Mozilla Odisha Logo"
## Goal:
Need logo for Mozilla Odisha

## Style Information:
Aligns with new Mozilla Design Language http://mozilla.design/

## Deadline:
December 31, 2018.

## Tag:
[Design Needed, Question]

[2018-11-27 19:02] ryanleesipes commented on #195
@Raphseck I've utilized your art for the page: https://github.com/thundernest/thunderbird-website/pull/79

Let me know what you think! Also, I think it would be good to credit you in the README. Could you hook me up with the information you'd like me to drop in there (if any)?

[2018-11-27 19:18] ankushChatterjee commented on #229
![js-map](https://user-images.githubusercontent.com/7688389/49105677-4b349e80-f2a7-11e8-98c7-211ba151e7b3.png)

[2018-11-28 05:48] Manzar8 commented on #229
![mozilla odisha logo designed by manzar](https://user-images.githubusercontent.com/23013833/49131683-1b18ea00-f2ff-11e8-9086-10d72faf6d7b.jpg)

[2018-12-02 15:54] Manzar8 commented on #229
![m](https://user-images.githubusercontent.com/23013833/49341802-9c160f80-f678-11e8-819c-8bf304a5e32f.png)

[2018-12-02 15:56] Manzar8 commented on #229
![m](https://user-images.githubusercontent.com/23013833/49341829-f1522100-f678-11e8-831d-02eef6219452.png)

[2018-12-04 07:38] debasish2256 commented on #229
![19b65261-7b8d-4a1a-88b0-d04923ffdbb1](https://user-images.githubusercontent.com/26497826/49426130-9712a680-f7c5-11e8-929d-1a4f8b405138.png)

[2018-12-04 07:50] pransh15 commented on #229
@Manzar8, @debasish2256 that's some great work you've contributed. I really like it! I think the logo use isn't quite right.

Can you guys please check if your designs comply with the Mozilla Design Language?
You can check it out at [mozilla.design](https://mozilla.design)! 😄

[2018-12-04 07:57] debasish2256 commented on #229
![color_logo_transparent](https://user-images.githubusercontent.com/26497826/49427065-5f592e00-f7c8-11e8-9580-c8185c5b0289.png)

[2018-12-04 13:03] ranjansachin commented on #229
![mozilalogo](https://user-images.githubusercontent.com/45596563/49443482-96443980-f7f2-11e8-8928-17f5d8d473dc.png)

[2018-12-04 13:40] ranjansachin commented on #229
![mozlogo](https://user-images.githubusercontent.com/45596563/49445585-410b2680-f7f8-11e8-869f-b3ed1625e8ae.png)

[2018-12-10 10:46] Dexterp37 commented on #225
This is no longer needed.

[2018-12-10 10:46] #225 closed

[2018-12-28 20:59] manzarhasnain787 commented on #229
![logo](https://user-images.githubusercontent.com/45493758/50527957-94c81180-0b11-11e9-868c-3c8cb26cd7b5.jpg)

I think it's ok now

[2018-12-28 21:02] manzarhasnain787 commented on #229
@pransh15 Is it ok now?

![logo](https://user-images.githubusercontent.com/45493758/50528006-cf31ae80-0b11-11e9-8961-1639a6607ddb.jpg)

[2018-12-29 16:43] ranjithrajv commented on #229
Color palette is already used by Delhi, try another color.

[2018-12-29 17:08] manzarhasnain787 commented on #229
![logofinal](https://user-images.githubusercontent.com/45493758/50540596-79fda780-0bba-11e9-8a42-6f59b2932106.jpg)

[2018-12-29 17:11] manzarhasnain787 commented on #229
@ranjithrajv I hope now abobe yellow one will work. As we have to also follow Mozilla Design.
![screenshot 1474](https://user-images.githubusercontent.com/45493758/50540605-cba63200-0bba-11e9-8f6d-5f64032e25db.png)

[2018-12-29 17:13] MichaelKohler commented on #229
@ranjithrajv

where is that requirement coming from? https://mozilla.design/visualelements/ doesn't list that many colors, and I think Community Logos should comply to those colors. This makes it de facto impossible to have such a requirement.

[2018-12-29 19:12] Di-sha commented on #229
![mozilla-01](https://user-images.githubusercontent.com/45895968/50541422-ac63d080-0bcb-11e9-8f1b-2d0bbc98955c.jpg)

[2018-12-29 19:19] Di-sha commented on #229
![mozilla1-01](https://user-images.githubusercontent.com/45895968/50541463-6a875a00-0bcc-11e9-96c1-09456ed2a78b.jpg)

[2019-01-07 19:06] ramshorst commented on #229
Hello :)
What do you think of this?
Greetings,
Toon

![mozilla odisha](https://user-images.githubusercontent.com/5200239/50787759-9b941880-12b7-11e9-8ef7-4a0c5a2f9737.jpg)

[2019-01-13 17:41] kdavis-mozilla opened #232 "Bergamot Logo"
## Goal:
Creation of a Logo

## Info:
Mozilla is part of a EU funded, EU based coalition, including 4 universities, tasked with creating an Firefox extension that will allow Firefox to do client based translation between any of the 24 official EU languages.

The project, called Bergamot after the [Bergamot orange](https://en.wikipedia.org/wiki/Bergamot_orange), will have a [website](https://browse

[2019-01-21 12:22] akshithashetty commented on #232
I would like to take this up.

[2019-01-21 19:57] akshithagrowfitter commented on #232
Hi kelly ,
I am starting work on this. Are there any specific guidelines I need to consider while working on the logo?
Thanks

[2019-01-22 12:15] akshithashetty commented on #232
Explanation -
a) I have tried to represent the Bergamot orange as the main element of the logo with the design inside it representing web (the globe sign is a symbol often used to represent web)
b)The second design is a simplified version of the same idea.
c) I have tried around with solid colours in this design.
d) A design similar to b but swapped the colours round this time.
e) In this design I

[2019-01-22 13:21] kdavis-mozilla commented on #232
Sorry was traveling back from Edinburgh from the kick-off meeting for **this** project.

Wow that's a really promising start! Incorporating all these different elements; I didn't think all of them could come together.

Just from my personal take, I like the direction of b and  d. I also like the idea of e, trying to tie Firefox into the logo.

On thing, which is strange but true. A Bergamot orange

[2019-01-22 14:38] akshithagrowfitter commented on #232
Hi ,
Glad you liked it! Thanks for the detailed review, that helps me taking it forward. So ill try to get around with colour tone and incorporate the 'Bergamot Orange'. Will post the revised version soon.

[2019-01-22 19:40] akshithashetty commented on #232
Hi @kdavis-mozilla
I have drafted the second version trying to incorporate your suggestions-
Explaination-
a),b),c),d) I have modified the tone as per the lime green color typical of 'Bergamot Orange'
e)As you correctly pointed the earlier version of e would not go well with the lime green. So I tried incorporating the firefox color into the leaf of the orange. This addition also adds colour trans

[2019-01-23 08:53] kdavis-mozilla commented on #232
Wow, I'm really liking the e.1, e.2, e.3, and e.4 variations. I must say I like c a lot too. I don't know what to choose!

If you don't mind, I'll send these ideas out to the leaders of the Bergamot project to get their feedback.

[2019-01-23 09:44] akshithashetty commented on #232
Thanks @kdavis-mozilla.
Considering the exact usage that is factors like the website theme will probably make it easier to choose one.
You can surely send it out to the leaders of the project. Let me know if any suggestions from their side.

[2019-01-23 10:31] kdavis-mozilla commented on #232
They have a lot of feedback!

- "My only concern is that these look quite abstract and unspecific"
- "Logos are too abstract."
- "Bergamot's peel is generally less smooth :)"
- "Maybe adding something that alludes to translation"
- "Is there a very simple way of symbolising Machine Translation somehow?"
- "Translation is often associated with a mosaic of flags. Shall we follow that trend?"
- "With

[2019-01-23 11:49] akshithashetty commented on #232
Okay so we can pick it up from here. I will try incorporating the element of translation. Could you give me a clearer idea about the translation we are speaking in the context of our project? Thanks

[2019-01-23 15:19] kdavis-mozilla commented on #232
Oh, sorry I should have explained that in more detail before.

The extension that we will create will be able to do translation of web pages and other documents from one language to another language. So, for example, it would allow you read a web page in Welsh if you can not read Welsh by translating it into English.

In addition, this translation will occur client side. So, in other words, the do

[2019-01-24 13:14] akshithashetty commented on #232
I am working on incorporating the suggestions. Will post them soon.

[2019-01-25 22:22] akshithashetty commented on #232
Hi,
I tried implementing transplantation into the logo.
The approach specified to use mosaic of flags in the most obvious ways might end up making the logo a  little clumsy. ( I am still brain storming if this can be done in any way )
Another approach I thought of after going through logos often used for translation was the use of two chat boxes or thought bubbles that are intersecting. So on thes

[2019-01-28 11:34] akshithashetty commented on #232
Hi @kdavis-mozilla ,
Any updates on the design I had posted ? I would love to reiterate over the design or take up a new direction if needed, surely let me know.

[2019-01-28 11:45] kdavis-mozilla commented on #232
The feedback I've gotten so far is from two of the coalition members:

- "This looks better to me, a little more specific to our project."
- "Looks better to me too!"
- "If we want it to look more conversational then one of the speech bubbles could come from the left. Though we're not a speech-to-speech translation product so probably leave as is."

I assume more feedback is coming.

To me this se

[2019-01-29 11:52] akshithashetty commented on #232
Will think on that, my only concern is that further adding an element might result in cluttering up the design. Also, is there any tentative date by when we need to finalize the design for the logo ?

[2019-01-29 15:20] kdavis-mozilla commented on #232
I share you concern on clutter.

As to when this has to be done, the sooner the better. If I'd had to give a hard date, I'd say middle of February.

[2019-02-01 09:55] kdavis-mozilla commented on #232
@akshithashetty Got some more, hopefully helpful, feedback from an internal designer on the logo

- We should keep in mind that the logo has to scale well
- The stem inside the leaf is not scaling well and can be eliminated in order to create a strong leaf shape.
- Explore different line weights for the globe to make sure readability is ensured
- The nubs at the top and bottom of the globe don't s

[2019-02-01 10:23] akshithashetty commented on #232
Yes this seems helpful will reiterate on the designs keeping these in mind. Thanks !

[2019-02-01 16:56] akshithashetty commented on #232
Hi, I have tried implementing the initial set of feedback from the last round of feedback. I am not able to add any additional element as it is resulting in creating clutter. These are the results of the initial set of inputs.
![mozilla_draft4_a](https://user-images.githubusercontent.com/31488143/52137308-43f78b80-2670-11e9-91f0-a4313ad6e3ea.png)
![mozilla_draft4_b](https://user-images.githubuserc

[2019-02-04 18:59] kdavis-mozilla commented on #232
@akshithashetty Awesome! Thanks for taking all the feedback into account!

One question I have is a follow-on to that of our internal designer. They asked if there were...

By "thing" here they mean translation. In other words, are there any other ways we can represent translation graphically?

I wonder if you've thought about that and have any ideas?

[2019-02-05 19:21] Ryuno-Ki commented on #232
If you want to get away from the globe...
My firsr association with Bergamot is almost always Earl Grey (black tea). Normally served with some sort of cookies I've learned to call scones.

Regarding communication: What about drawing inspiration from sign language translators?
For the German Sign Language I know one sign (somewhar similar to stitching something) for the word translator.
And another

[2019-02-06 08:20] kdavis-mozilla commented on #232
It will be a general translation engine. So all subjects!

[2019-02-11 21:20] akshithashetty commented on #232
![mozzilla_logo_draft3](https://user-images.githubusercontent.com/31488143/52593977-504dc680-2e70-11e9-89ab-0a1d64654e30.png)
![mozillalogodraft3_1](https://user-images.githubusercontent.com/31488143/52593985-5479e400-2e70-11e9-8cf0-abe2780164eb.png)
Hi,
Thanks for the direction. So these are two possible interpretations I thought of-
A) The equivalent sign with the idea of how translation promote

[2019-02-12 08:46] kdavis-mozilla commented on #232
I really like the arrows!

What also might be interesting, but I doubt if it will scale to smaller sizes, is to insert before and after the arrows characters for other languages, something like

![image](https://user-images.githubusercontent.com/12054740/52622665-b3f4e580-2eaa-11e9-8332-d3a18183ef10.png)

(excuse the lack of alignment) to strengthen the connection with translation.

[2019-02-12 08:47] kdavis-mozilla commented on #232
I'll get feedback from the coalition and also the  internal designer.

[2019-02-12 10:39] akshithashetty commented on #232
Yes adding more details might create an issue with scaling. We can still consider this once we have more feedback with us.

[2019-02-14 16:14] akshithashetty commented on #232
Hi,
Any feedbacks on the latest design ? Would love to know so that I can create a final design after incorporating any suggestions.

[2019-02-14 17:56] kdavis-mozilla commented on #232
Here's what I have so far...

- "I kind of vote for A. To me it resembles more the hamburger menu than the equivalence, but the hamburger menu is OK"
- The two bubble endpoints serve well to indicate the translation
- The leaf serves well to indicate bergamot
- I like the arrows because it's less of a hamburger menu
- The arrows look cleaner and more salient
- But do they (the arrows) suggest dire

[2019-02-18 13:35] akshithashetty commented on #232
Thanks a lot for the update, Surely let me know if there is more coming in so that I can incorporate the finishing details in this week.

[2019-02-19 08:51] kdavis-mozilla commented on #232
I've got some feedback from our internal designer on the "B" logo....

- The arrows do a good job of communicating the back and forth of translation
- The arrows help create a more distinctive symbol
- But generally, it needs to get simpler

They mentioned some things to consider...

- The arrows are rendering the word bubbles redundant
- We can lose that back layer to simplify the logo
- Maybe we

[2019-02-19 11:03] akshithashetty commented on #232
Great ! Will work on this and post back soon.

[2019-02-21 20:25] Ryuno-Ki commented on #232
Speaking of arrows...
The other day I noticed, that Outlook has an icon for translation:

![Translate Message in Microsoft Outlook] (https://support.content.office.net/en-us/media/5f9145cb-127b-4ef9-9de4-80b518278683.png)

Would a curved arrow make sense here as well?

[2019-02-22 17:08] nohorse opened #233 "SiliconShire Global Sprint logo"
## Goal:
we are having a global spring and would like a logo!

## Info:
we will use this for social media posts and maybe teeshirts for the event.

## Style Information:
check out the branding at https://siliconshire.org/promote/ and riff on that.  It's under a CC license and fine fro use in our region.

## Deadline:
I think the next global sprint is in may, so mid-april would be great

## Tag:
[D

[2019-02-25 19:50] akshithashetty commented on #232
Hi,
I have tried to work on the latest rounds of feedbacks and come up with these two designs. Let me know  if this works. I can provide the .ai files once we are satisfied with the design. Thank you.
A)
![artboard 1](https://user-images.githubusercontent.com/31488143/53363620-f9adb580-3962-11e9-82a8-4a420db78d16.png)
B)
![artboard 1](https://user-images.githubusercontent.com/31488143/53363951-b86

[2019-02-26 08:55] kdavis-mozilla commented on #232
Wow, that's minimal! I like both of them.

One question I have is how it would look if the arrow lines follow latitude lines? It would be more-or-less like A but the top arrow would have a slight curve up and the bottom arrow a slight curve downward. (But take this with a grain of salt as this is just my question.)

I'll ask the entire team how they feel about the two options.

PS: I feel like we

[2019-02-27 18:49] akshithashetty commented on #232
Thank you ! It was a great learning experience working and reiterating over the design.
Let me see I can add the latitude tweak. Meanwhile, surely let me know about the latest round of updates.

[2019-02-28 08:30] kindavishal commented on #229
Is it decided or do we still need help on this?

[2019-02-28 08:34] kdavis-mozilla commented on #232
@akshithashetty Thank you! And great work!

As far as early feedback from the EU based coalition....

- The looping arrows are better (even though it looks like a sign for recycling) :)
- (The) "loopy (arrow)" is definitely appropriate
- Loopy arrows would also be my choice
- I like the looping arrows better, happy with either one

Basically looks like option B is by far preferred!

[2019-02-28 08:39] pransh15 commented on #229
@ranjithrajv is it done?

[2019-03-01 04:49] ranjithrajv commented on #229
Done. The community started using https://github.com/mozilla/OpenDesign/issues/229#issuecomment-450506555

[2019-03-01 11:11] pransh15 commented on #229
Alright! Closing this issue.

[2019-03-01 11:11] #229 closed

[2019-03-04 19:57] akshithagrowfitter commented on #232
That is great ! Once we are on consensus with B, I can share the source file.

[2019-03-12 12:49] pransh15 commented on #233
Hello, @nohorse!

I have some trouble understanding what you need. I can see that you have a logo on your website, so do you need a new logo or just t-shirt templates, or both?

[2019-03-13 11:03] kdavis-mozilla commented on #232
@akshithashetty Sorry for the current slow feedback loop.

The designer who was taking a look at this just left Mozilla. So, I'm searching for another Mozilla designer to help.

[2019-03-16 01:41] muhammadridho commented on #213
hhmm ... thats good idea. but how do you label it,  month / or urgent level?

[2019-03-16 06:38] pransh15 commented on #213
I think we can add labels for [Whenever, 3 months, 2 months, 1 month, 3 Weeks, 2 Weeks, 1 Week, ASAP].

[2019-03-16 08:37] elioqoshi commented on #213
Labels are not designed for that honestly. Milestones are designed for deadlines, so if anyone can create a milestone, that would be ideal.

[2019-03-16 11:54] pransh15 commented on #213
I think we can add the "Create a Milestone" in the Readme, under **Deadline:**

Along with the [link](https://help.github.com/en/articles/creating-and-editing-milestones-for-issues-and-pull-requests).

[2019-03-16 18:39] Ryuno-Ki commented on #213
I'd rather use Labels for [Mar 19, Apr 19, May 19] etc.
I couldn't find an indicator, how Milestone would behave if they're overdue.

[2019-03-17 07:08] kdavis-mozilla commented on #232
@akshithashetty @akshithagrowfitter First I want to thank you for your amazing work and your [sticktoitiveness](https://en.wiktionary.org/wiki/sticktoitiveness). You've had so much patience with the many revisions and feedback we've given. Thanks!

Now, I just found out, after talking to the boss of the designer that just left, several people on the designer's team have left too. So, we will not g

[2019-03-17 10:16] muhammadridho commented on #213
thats include "design review" too ?, if we use milestone @elioqoshi  ?

[2019-03-17 11:42] elioqoshi commented on #213
Yes, but personal preference shouldn't be an argument here. Any specific reasons why that would be a better approach? You'd have to clutter the whole label space with specific dates which will never be used again and ideally needed to be removed (which also defeats the purpose of labels if deleting them is part of the process).

I just gave this issue a test milestone. You can see that it says "Pa

[2019-03-17 13:41] Ryuno-Ki commented on #213
Agree. It was my motivation for this ticket (that is, why I suggested label instead of milestone).

They stand more out in the issue overview:

![milestone-vs-label](https://user-images.githubusercontent.com/3097194/54491923-7547b600-48c2-11e9-80e0-ffae61ed1f3b.png)

What about using a label for the year and another one for the month then?
You can actually [filter for both in an issue search](http

[2019-03-17 16:51] elioqoshi commented on #213
How would that be helpful? There are 30 different possibilities inside a month and some projects need to have a specific one.

No, also in the projects view (which is enabled here).

GitHub simply does not support any due dates and anything closest to it is milestones. Using Labels is very very far fetched and comes up with a bigger set of other problems which I mentioned before.

If you want to u

[2019-03-18 12:10] akshithashetty commented on #232
Thanks. It was great going through the iterations, learnt a lot. Thanks for all the rounds of feedback helped me improve over the design. Glad it worked out! Will send the source file here shortly.

[2019-03-18 17:21] elioqoshi commented on #128
Closing this as I don't think the guidelines will provide better guidance for these cases.

[2019-03-18 17:21] #128 closed

[2019-03-29 17:07] Mozilla-GitHub-Standards opened #235 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-03 14:38] omudongo opened #237 "Sokafrica Request: Logo Design - Open Leadership Program Cohort 7"
## Goal:
Create a logo for Sokafrica project

## Info:
Logo is used for a project undertaken under the Open Leadership program (cohort 7) here: [https://github.com/msoka86/Sokafrica](https://github.com/msoka86/Sokafrica)

## Style Information:
Referenced here: [https://github.com/msoka86/Sokafrica/issues/3](https://github.com/msoka86/Sokafrica/issues/3)

## Deadline:
30 April, 2019

## Tag:
#33 #1

[2019-04-03 16:24] #235 closed

[2019-04-03 19:59] agnelnieves commented on #237
Hello, I've come up with a quick concept. Let me know what you think!

![image](https://user-images.githubusercontent.com/5799157/55509109-60d91c80-5629-11e9-8b51-902c52a4c6d6.png)

[2019-04-04 07:07] omudongo commented on #237
Hi @agnelnieves, I like it except the below which I'd suggest you remove. Also, kindly incorporate the 3 colors: (Black, Dark Red, and Mustard Yellow).

We would like to use this logo for (Facebook/Twitter profile and header) with the following specifications:

Twitter: Dimensions for profile images - 400x400 pixels / Dimensions for header images are 1500x500 pixels

Facebook: Profile photo size i

[2019-04-04 13:18] msoka86 commented on #237
First, thank you for your contribution @agnelnieves, it is much appreciated! Like what @omudongo posted above, we are looking for a combination of warm colors touches (mustard yellow and scarlet, a shade close to deep cadmium red) on a mostly black logo. I liked what you did with the red (we just need the change the shade) but I would also like to add the yellow mustard somewhere if possible.

[2019-04-06 04:36] kindavishal commented on #220
Hi @ranjithrajv I guess we don't need this anymore. Would you like me to close this issue?

[2019-04-06 21:03] Chandan-Baba commented on #237
Hello @omudongo, @msoka86, Here is one that I made. Let me know if it fits on your requirement.        ![SOKAFRIKA](https://user-images.githubusercontent.com/47283424/55675228-1a134d00-58dd-11e9-81a6-26e0f7840f6d.png)

[2019-04-06 22:47] msoka86 commented on #237
@Chandan-Baba thank you for your contribution, it is a nice logo but sadly I don't feel Africa in it (plus we decided to keep it simple without the words below). I am attaching a crude version of my previously drawn logo so you can get a feel of it:
![image](https://user-images.githubusercontent.com/46974328/55676063-eb897800-58c4-11e9-9ebb-29364f998ac8.png)
If nobody has a clear idea of what I wr

[2019-04-07 04:18] Chandan-Baba commented on #237
Hi @msoka, please clear few points :
1) You don't want Afrika logo in the image (Yes/Let it as it is)
2) Do you want the same color coding as you did in attached image?

[2019-04-07 05:58] Chandan-Baba commented on #237
Preview 1)
![Sokafrika_1](https://user-images.githubusercontent.com/47283424/55679312-dcd3ad00-5926-11e9-9b93-769138fede61.png)

[2019-04-07 12:46] msoka86 commented on #237
Hello @Chandan-Baba and thank you for all your efforts! To answer your questions, I thought that the logo I draw was a bit heavy so I wanted to know if someone could come up with a simpler design with the same feel, but I think it is not possible. Although I like the last logo you designed, it is still not what I am looking for. Would you be able to come up with a professional rendition of my logo

[2019-04-08 09:26] pransh15 commented on #206
@kindavishal you can add the roll-ups you created for your community. they might find it helpful.

[2019-04-08 11:09] omudongo commented on #237
@Chandan-Baba & @agnelnieves we really appreciate you for your time and help so far. I was wondering if it's possible that you could get an exact copy of the redesigned logo maybe? We should be winding up the Mozilla Open Leadership program soon and mentees should be pitching their project ideas in a few weeks.

I would really appreciate if you could kindly help us get this done perhaps this week

[2019-04-08 18:53] agnelnieves commented on #237
![image](https://user-images.githubusercontent.com/5799157/55749007-ff8cc100-5a0d-11e9-88ac-81d715d640ca.png)

[2019-04-08 19:17] Chandan-Baba commented on #237
Hi @msoka86 / @omudongo ,
Though I am not a professional ui designer, I always love to learn and share about design elements. So I will try to incorporate the suggestions simply by sharing multiple versions before finalizing one. Let me know if below is somewhat on the marks.
![Sokafrika_1](https://user-images.githubusercontent.com/47283424/55750397-cfbad900-5a60-11e9-8bd9-19fe74fb67c8.png)

[2019-04-08 22:01] msoka86 commented on #237
This is a very nice mindset to have. Coming from a family of artists, finding the combination of colors that will best portray what I want to convey is a process I really enjoy. If in the future you need help choosing a color palette for a design you can ask me anytime, I am told that I have quite the eye :)

[2019-04-08 22:04] msoka86 commented on #237
@agnelnieves  Although I like some elements a lot as well as the font and the whole looks much neater (really thank you for that), it still lacks the african feel I am going for. I added those elements to my original design and now it seems right. This will be the final design for Sokafrica logo.

![image](https://user-images.githubusercontent.com/46974328/55758747-8c0ba380-5a4f-11e9-97d8-9a020ec0

[2019-04-09 06:50] omudongo commented on #237
@agnelnieves  I would also go with this one. Please note the following dimensions while you prepare a final output:

Website: Dimensions: 1200 × 630 (approximately)
Twitter: Dimensions for profile images - 400x400 pixels / Dimensions for header images are 1500x500 pixels
Facebook: Profile photo size is 360 x 360 pixels / Facebook cover photo is 828 x 465 pixels

[2019-04-10 02:37] kindavishal commented on #206
![Quantum_RollUpBanner_2880x6912](https://user-images.githubusercontent.com/35860774/55847624-a769d200-5b67-11e9-91a1-5f8a217d67f9.png)

[2019-04-10 02:38] kindavishal commented on #206
Hope this will help

[2019-04-10 02:50] kindavishal commented on #136
Hey everyone! Is the issue resolved or do you need any help with it anymore?

[2019-04-10 02:53] kindavishal commented on #156
Hey @bhavabhuthi!
Thanks for the issue! I see the community has started using the logo in English version of the same logo posted above.
If no other inputs are needed, I'll close this issue, let me know at the earliest!
Thanks :sparkles:

[2019-04-10 08:27] #136 closed

[2019-04-10 15:34] ranjithrajv commented on #220
It happens this year too, so still need it.

[2019-04-10 18:22] pransh15 commented on #220
Can you please file a new one with the same details(more details related to each venues for each city + sponsors), please?

Since anyone who's available can view a newer issue with a more recent deadline.

[2019-04-11 03:10] agnelnieves commented on #237
Hello @omudongo no worries, I actually enjoy contributing to opensource community. Sorry for the delay, I've been pretty busy lately. Here are the requested dimensions with the refined logo. I also added a png version of it so you can use it later on.

I'd love to see what you guys end up doing with this project. I'll be around looking for the project updates.

**Twitter**
Profile:
![image](https:

[2019-04-11 07:37] omudongo commented on #237
@agnelnieves wow! this is really amazing...thank you all so much for your time sharing your ideas and helping out. We really appreciate this and your timely response.

[2019-04-11 14:04] pransh15 commented on #237
Great work, @agnelnieves and @Chandan-Baba ! 👍
We love your constant input here, keep up the great work, community! :heart:

@omudongo thank you for posting this here, let us know if there are any other requirements on this issue.

[2019-04-11 14:22] omudongo commented on #237
@pransh15 I really appreciate this for my mentee. I don't have any other requirements and I will close this task.

[2019-04-11 14:23] #237 closed

[2019-04-14 04:17] kindavishal commented on #206
Is there anymore requirement here? @Thegennok

[2019-04-14 04:20] kindavishal commented on #198
Thanks @kaustubhadhav nice designs, they look great!

[2019-04-14 04:23] kindavishal commented on #232
Thanks for the issue @kdavis-mozilla! Are there anymore requirements here?

[2019-04-14 04:32] kindavishal commented on #42
The "mozilla" font has changed now, should this get an update as well?

[2019-04-14 04:47] kindavishal commented on #66
Hey @selimsumlu thanks for the issue!
I checked https://www.mozilla.org.tr/ it seems there is already a logo for the community, but that doesn't meet the [Branding Guidelines](https://mozilla.design) and it's necessary to update the logo as per the new guidelines.
Comments from https://github.com/mozilla/OpenDesign/issues/66#issuecomment-357566250 contain the logos, which meet the branding guideli

[2019-04-14 12:02] selimsumlu commented on #66
There's actually no logo on www.mozilla.org.tr. I believe you meant the title, but it's just standard typography from the official [Frontierline theme](https://github.com/craigcook/frontierline-theme).

We would like to thank everyone involved for their suggestions and mockups. We appreciate your contributions, however we realised that it's quite hard to come up with a pleasing design while taking

[2019-04-14 12:02] #66 closed

[2019-04-15 07:16] kdavis-mozilla commented on #232
Thanks for the help @kindavishal The last thing is the source files from @akshithashetty

[2019-04-15 13:10] ranjithrajv commented on #220
We need template (a .svg file), so one can download, add details and publish.

[2019-04-15 19:48] #153 closed

[2019-04-16 18:48] akshithashetty commented on #232
Hi, sorry for the delay on this. Due to some backup issue I could not share the source file earlier. Will do that to the earliest.

[2019-04-17 07:28] kdavis-mozilla commented on #232
@akshithashetty Not problem, and thanks again!

[2019-04-20 13:40] kindavishal commented on #224
Is this related to design or just updating the repo with content for Contribution guidelines?

[2019-04-20 13:46] kindavishal commented on #223
Just dropping a reminder here to check the status.
Are there any more inputs required here?

[2019-04-20 13:52] kindavishal commented on #228
Hi @erogol!
Thanks for the issue! Will get back with an idea in sometime. Adding the Good First Issue label for more contributions. Feel free to tag me here incase I get caught up!

[2019-04-20 13:56] kindavishal commented on #209
Thanks for the issue @pauljt! Is this resolved or needs any other additional inputs?

[2019-04-20 14:06] kindavishal commented on #206
Giving a gentle bump on the back, can we close this issue @Thegennok ?

[2019-04-20 14:09] kindavishal commented on #208
Hi, thanks for the issue @kimberlythegeek!
Is this still needed? Looks like we missed the deadline!

[2019-04-20 14:42] asdofindia commented on #224
It is a meta issue, not a request for a design

[2019-04-21 00:15] kimberlythegeek commented on #208
I got in touch with a designer at Mozilla who came up with an awesome design for us :) Thanks @kindavishal

[2019-04-21 00:15] #208 closed

[2019-04-21 01:26] kindavishal commented on #208
Great! Can you share it here as well? I'd love to see the output :sparkles:

[2019-04-21 01:30] kindavishal commented on #192
Drop a check here! @ranjithrajv, the submissions here look great! Which one do you choose?
And we can close this if no more inputs are required

[2019-04-22 05:25] kindavishal commented on #228
Here are some ideas I built from scratch
1.a) ![TTS_1_Text](https://user-images.githubusercontent.com/35860774/56484317-7638bc80-64ec-11e9-9b94-e6e0844024cd.png)
1.b) ![TTS_1_Binary](https://user-images.githubusercontent.com/35860774/56484316-75078f80-64ec-11e9-96d2-640cb8fddcbf.png)
2.a) ![TTS_2_ASCII](https://user-images.githubusercontent.com/35860774/56484320-7933ad00-64ec-11e9-9392-c7e4ea1e035

[2019-04-22 05:30] kindavishal commented on #224
I understand, this is indeed important. We can work on writing a template for this.
Tagging @elioqoshi @yofiesetiawan @barrosgeraldo @pransh15 for suggestions on this.

[2019-04-22 05:31] kindavishal commented on #224
Please tag more people who you think can be helpful in this.

[2019-04-22 16:20] kartik9756 commented on #228
1.a) seems to adequate emblem, as it is showing text to voice conversion. And To add to the feedback, it would be better that Mozilla logo and 'Text to speech' text would be of the same length.

[2019-04-23 03:34] muhammadridho commented on #228
2.b) can you simplify, whether the words there can be abbreviated again. i'd think "a short but straightforward word".

[2019-04-23 03:37] muhammadridho commented on #233
i'm a agreed with @pransh15 , do you need logo for promote siliconshire global sprint event ?

[2019-04-23 04:38] nohorse commented on #233
Something special for global sprint would be amazing!

[2019-04-23 04:39] nohorse commented on #233
Please feel free to remix our logo with some Mozilla elements!

[2019-04-23 07:29] pransh15 commented on #233
@muhammadridho i think we can try something like [this](https://mozilla.design/gallery).

we have the logo, we can simply add a background or make it more interactive like this.

[2019-04-23 10:55] erogol commented on #228
@kindavishal Thanks for your wok. they all look quite good. We tend to like the option b, but maybe less but the bigger text on the left side. We might also use a slightly darker coloring to make it more clear.

[2019-04-23 11:48] muhammadridho commented on #233
ahh i see,

[2019-04-23 12:31] kindavishal commented on #228
Thanks for the review @erogol and @muhammadridho!
Can do the changes, I added the text just for reference from mozilla.org, that can be changed as you wish, what text would you like to suggest?
Also, it will be great if you put a reference to what shade you might like, any shade, may add screenshots or link to that, will help me to understand how you might be seeing it in your mind.

[2019-04-23 13:03] pransh15 commented on #228
@kindavishal shouldn't we be following Mozilla's current design format for all the projects? Like this, I think:

![MozTTS](https://user-images.githubusercontent.com/18158596/56582740-9acc8b80-65f5-11e9-997c-0820f7cbbeca.png)

[2019-04-23 13:06] pransh15 commented on #223
I'll update the design according to this:

[2019-04-23 13:44] kindavishal commented on #228
Well as per mozilla.design,

Since we are using white typed in black shape, it should be fine. And the project specific logo is independent of any such background color or shape as far as the guidelines is concerned.

[2019-04-23 15:28] kindavishal commented on #228
Do you mean to use a shorter phrase or like some short form of the same phrase? Can you make it more clear to me?

[2019-04-24 20:12] Ryuno-Ki commented on #224
We're basically talking about adding a [CONTRIBUTING.md file](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors) here, aren't we?
(Some recommendations by GitHub at the end of the article).

[2019-04-25 02:04] kindavishal commented on #224
Yes, we're talking about that, but more about what goes into the file, the content basically

[2019-04-27 08:13] Thegennok commented on #206
Hi @kindavishal ! Thanks for the roll-up, they are very cool!

Closing, thanks

[2019-04-27 08:13] #206 closed

[2019-05-01 09:21] akshithashetty commented on #232
Hi,
I am really sorry for the delay on this. This is the source file. It was great working on this and would love to see the logo live.
[mozilla_logo.zip](https://github.com/mozilla/OpenDesign/files/3134130/mozilla_logo.zip)

[2019-05-01 15:09] pransh15 commented on #232
@kdavis-mozilla feel free to go ahead an close the issue if the requirement has been fulfilled.

[2019-05-01 21:08] asadotzler opened #238 "Global Accessibility Awareness Day poster"
## Goal:
For Global Accessibility Awareness Day on May 16th, I'd like to share a "digital poster" on all of the Mozilla office "ambient displays" (big flatscreens) that features the text "Global Accessibility Awareness Day" "May 16th, 2019" an illustration if possible, probably the GAAD logo, and a link to a wiki page that will have some relevant content.

## Info:
This is primarily in support of

[2019-05-02 04:33] reinhart1010 commented on #238
Did someone say "Accessibility"?

![image](https://user-images.githubusercontent.com/17312341/57056647-fe2d7c00-6ccd-11e9-9e53-fd0a877f4d32.png)

[2019-05-02 07:25] kdavis-mozilla commented on #232
Thanks!!!

@akshithashetty It was great working with you too, and I'll post links to when/where the logo goes live.

[2019-05-02 07:25] #232 closed

[2019-05-02 12:47] manishkk opened #239 "Poster/Banner for Mozilla Event in University"
## Goal:
Template Banner/Poster for Mozilla events and meetups

## Info:
First I will use for a hackathon and later the same banner for general meetups. So I am looking for a general banner/poster which I can use always

## Style Information:
I am looking for similar banners. **Poster detail will update soon.**

![Sample 1](https://user-images.githubusercontent.com/3470527/57076062-532eb980-6cf1-1

[2019-05-02 13:10] manishkk commented on #239
@kindavishal Can you help in this?

[2019-05-02 14:15] reinhart1010 commented on #238
Here's another one, but in Braille.
![image](https://user-images.githubusercontent.com/17312341/57081633-593b8f00-6d1f-11e9-8d1d-734182020795.png)

[2019-05-02 19:23] elioqoshi commented on #238
@asadotzler What do you think about this?

I thought using the color picker metaphor would resonate with enough Mozillians (based on the color picker in Firefox) :)

![Draft-01](https://user-images.githubusercontent.com/5436686/57100964-80469080-6d20-11e9-9853-0525c2cb76f8.jpg)

[2019-05-02 19:44] elioqoshi commented on #238
Here is another version with the a11y color picker tool:
![a11y tool-01](https://user-images.githubusercontent.com/5436686/57102294-6c505e00-6d23-11e9-8161-a9ea49c017b6.jpg)

[2019-05-03 02:48] kindavishal commented on #239
Hi @manishkk!
Thanks for tagging me, you can find previous banners and roll ups from the repo itself, also you can check out the closed issues for similar requests. Check this https://github.com/mozilla/OpenDesign/issues/206

[2019-05-03 05:05] pransh15 commented on #238
Great work guys, I really like these! 👍

[2019-05-03 05:08] pransh15 commented on #239
I think apart from the generic roll-up, we can build a standard template for events.

[2019-05-03 16:30] manishkk commented on #239
@pransh15 These kinds of banner anyone can use.

I am not good at designing. can someone design?

@kindavishal I checked closed issues also but couldn't find anything useful which I can give directly for print.

[2019-05-06 14:44] kindavishal commented on #239
Sorry for the late reply, unfortunately I won't be able to take this as I am a bit caught up at the moment.
Also, can you please specify what you're looking for exactly? Any rough sketch or idea would do, I'll pitch this up in the group and look if anyone else can take this.

[2019-05-07 21:00] nohorse commented on #233
our kickoff event is tomorrow!  https://www.meetup.com/EugeneTech/events/260713803/

[2019-05-07 21:01] nohorse commented on #233
how can I get this labeled with #mozsprint

[2019-05-08 14:22] kindavishal commented on #239
As I mentioned before, sadly I won't be able to take this, unless you are willing to wait till the next month, but this is not a tough job, I'll add the appropriate labels.
Feel free to mention about this in the TG group, so that someone else can take this up.
At the same time, tagging @pransh15, just in case :slightly_smiling_face:

[2019-05-08 15:37] pransh15 commented on #239
Do you need a banner, or a standee? You commented with a picture of a standee(3x6ft), but if it's a banner, the dimensions change accordingly.
I can look into it. Only after a couple of days though. I hope that's fine? @manishkk

If someone else is available, please take a knack at it!
Adding a ``Good first Task`` label.

[2019-05-08 16:25] kindavishal commented on #239
Thanks for adding the label @pransh15, I was about to!
I'll not be available till next month, due to some work! Good Luck :sparkles:
@manishkk, you're in good hands!

[2019-05-08 18:10] ruchikabgosain commented on #239
Hello I'll be happy to take this up!

[2019-05-08 19:33] ruchikabgosain commented on #239
Sure I will do that @manishkk. Just wanted to know the dimensions?

[2019-05-10 22:13] asadotzler commented on #238
Elio, the one with the color picker is getting there. Do you think you could put together some variations that include the URL https://wiki.mozilla.org/GAAD2019

[2019-05-11 10:26] ruchikabgosain commented on #239
will be posting the banner by tomorrow latest.

[2019-05-11 16:33] manishkk commented on #239
@ruchikabgosain I am not sure about the dimensions but I can confirm and will update here.

[2019-05-11 16:34] ruchikabgosain commented on #239
@manishkk sure please!

[2019-05-14 10:35] manishkk commented on #239
I confirmed with the person who will print. According to them they want roll up size 85*200 in centimeters.

@ruchikabgosain can you design and upload PDF here?

Thanks

[2019-05-14 13:17] ruchikabgosain commented on #239
Surely I will do that by tomorrow, thanks! @manishkk

[2019-05-15 09:14] elioqoshi commented on #238
This is the final design we went with:
![Final GAAD19 (1920x1080)](https://user-images.githubusercontent.com/5436686/57763644-1788ec00-7702-11e9-9811-35739bc6a109.jpg)

Sources are here:
https://github.com/mozilla/OpenDesign/tree/master/2019/Global%20Accessibility%20Awareness%20Day

[2019-05-15 09:14] #238 closed

[2019-05-15 09:20] elioqoshi commented on #224
Sorry for missing this.

The idea was in the beginning that all content here would be licensed under CC-BY 4.0 for external usage and no need for attribution for usage within Mozilla projects.

My suggestion for attribution would be to refer to it as "Mozilla Open Design" instead of individual contributors and list the list of core contributors in the ReadMe and/or Contributors.md

Some house keep

[2019-05-15 09:36] asdofindia commented on #224
Elio, I will add some context. There is very little awareness about the concept of copyright among the people of India. This is certainly applicable to "graphic designers" as well. Many a times, designs created are blatantly violating others' rights. I have seen this happening within Mozilla community. The need for guidelines is here. To avoid content of questionable ownership being contributed to

[2019-05-15 09:46] elioqoshi commented on #224
@asdofindia Right, I didn't touch on this point. Unfortunately we cannot check ourselves if something is violating any copyright but we can definitely create guidelines to ensure people are aware at least. Generally speaking, since we are offering designs here for Mozilla projects without attribution, we would only be able to use CC0 Public Domain resources for the created artwork here. Anything w

[2019-05-15 10:13] ioana-chiorean commented on #238
The mzl.la/GAAD19 links to https://wiki.mozilla.org/GAAD2019 (vs the https://wiki.mozilla.org/GAAD19 in description - maybe worth correcting there as people will land to a non existing page)

[2019-05-15 10:21] elioqoshi commented on #238
@ioana-chiorean where do you see the https://wiki.mozilla.org/GAAD19 link? That should be not in the final version.

[2019-05-15 10:56] ioana-chiorean commented on #238
only here in the description - might be just me who clicked it
"
Style Information:

The style is wide open. It will need to include the text Global Accessibility Awareness Day" and "May 16th" or "May 16, 2019" or similar date. It will also need to contain the text (maybe in link style) to https://wiki.mozilla.org/GAAD19 or similar URL.

"

[2019-05-15 19:25] asadotzler commented on #238
Sorry for the confusion. The final link is https://wiki.mozilla.org/GAAD2019 and the mzl.la URL in the poster should point to that. I'll update the bug description.

[2019-05-15 21:43] asadotzler commented on #238
Thank you Elio and reinhart1010.

[2019-05-16 20:37] ruchikabgosain commented on #239
Hello @manishkk, there you go with 85x200 cm. Let me know if there are any edits. Thanks :)
[Poster Security 85 x 200 cm.pdf](https://github.com/mozilla/OpenDesign/files/3188942/Poster.Security.85.x.200.cm.pdf)
![Poster Security 85 x 200 cm@3x](https://user-images.githubusercontent.com/30324532/57885373-6d67ac00-7848-11e9-8073-6f27db459f45.png)

[2019-05-16 20:41] ruchikabgosain commented on #239
Also, @pransh15 here is a standard 3x6ft banner. Thanks!

![Poster Security 3 x 6 ft@3x](https://user-images.githubusercontent.com/30324532/57885621-faab0080-7848-11e9-8d8e-cbff936d013b.png)

[2019-05-16 20:53] manishkk commented on #239
Thanks, @ruchikabgosain

Now weekend here in Israel, I will let you know next week if any edit required by printing shop.

Thanks

[2019-05-20 07:12] manishkk commented on #239
Printing shop is close for this week, I will inform you next week if any change required.

Thanks

[2019-05-20 10:04] ruchikabgosain commented on #239
Sure thing.

On Mon, 20 May 2019, 12:42 Manish Kumar, <notifications@github.com> wrote:

[2019-05-31 02:18] kindavishal commented on #239
Ping! Got what you needed @manishkk ?

[2019-05-31 02:21] kindavishal commented on #213
I agree with @elioqoshi here. Creating labels for deadlines isn't very convenient and Milestones can work better than a label for such purposes! Closing this issue.

[2019-05-31 02:21] #213 closed

[2019-06-01 11:26] manishkk commented on #239
Printing shop is closed from last week, I can confirm on Monday. Thanks

[2019-06-04 13:11] kindavishal commented on #233
Hi @nohorse I am guessing this issue is solved, if so, please close the issue.
Thanks :sparkles:

[2019-06-04 13:14] kindavishal commented on #191
Hi @vyaspranjal33! Thanks for the issue, we can re-use there flyers in future! Good job @DivuMarcus and @itsJagrati
Closing this.

[2019-06-04 13:14] #191 closed

[2019-06-04 13:15] kindavishal commented on #193
Thank you everyone for the help :sparkling_heart:
Closing this!

[2019-06-04 13:15] #193 closed

[2019-06-04 13:18] kindavishal commented on #182
They look great @barrosgeraldo! Certainly going to be useful in the future! :sparkles:
Thank you for the issue @ranjithrajv :slightly_smiling_face:
Closing this!

[2019-06-04 13:18] #182 closed

[2019-06-04 13:21] kindavishal commented on #61
This issue is greatly outdated, @hossainalikram if you still need it, please open a new issue.
Thanks!

[2019-06-04 13:21] #61 closed

[2019-06-04 13:22] #233 closed

[2019-06-04 14:25] #209 closed

[2019-06-04 14:26] kindavishal commented on #223
How do you plan to use these bookmarks and where?

[2019-06-04 14:31] kindavishal commented on #151
@pransh15 I guess the community has started using a logo as I can see on the social media handles, you'll know that better. We can close this issue if you can verify.

[2019-06-04 14:33] kindavishal commented on #120
What's the status here? @mastizada if the community has accepted a logo, please close this issue. Thanks!

[2019-06-04 14:38] kindavishal commented on #239
Hi @manishkk the sizes @ruchikabgosain has provided are the standard sizes for banners. If your shop prints banners, I am pretty sure there won't be any problem. If you're happy with the design, please close this issue.
Thanks :slightly_smiling_face:

[2019-06-04 14:39] kindavishal commented on #97
Ping @elioqoshi @barrosgeraldo @tripad!

[2019-06-04 14:42] kindavishal commented on #149
@bhavabhuthi still required?

[2019-06-04 14:45] #156 closed

[2019-06-04 14:45] manishkk commented on #239
Thanks for the help @ruchikabgosain @kindavishal

[2019-06-04 14:45] kindavishal commented on #192
Ping @ranjithrajv

[2019-06-04 14:48] ruchikabgosain commented on #220
Hello @ranjithrajv and @kindavishal I'll be happy to take this up. Could you provide a sample poster or a previous one for any details? Or a website for this event? Let me know.

[2019-06-04 16:07] kindavishal commented on #220
Great @ruchikabgosain :blush: I'll be around for this! The 2019 version doesn't have any updates yet. @ranjithrajv what did you have in mind?

[2019-06-04 16:25] pransh15 commented on #151
Oh, yes! It's all settled.
Closing the issue. 🎆

[2019-06-04 16:25] #151 closed

[2019-06-04 16:32] pransh15 commented on #220
Yes, the updated graphics for Hacktoberfest will be released between late-August to September, I think.
Till then, we don't really have the official graphics to move forward with this.

I think we should close this and can open a new issue when Hacktoberfest 2019 is announced.

[2019-06-04 16:35] pransh15 commented on #192
I think they've started using one of these on their social channels.
![image](https://user-images.githubusercontent.com/18158596/58896958-cc686480-8714-11e9-893f-2dbc6789fa1e.png)

[2019-06-04 19:12] kindavishal commented on #220
Well the goal was to create ```Template Poster for Hacktoberfest [City]``` I think he wanted a general template maybe?

[2019-06-04 19:13] kindavishal commented on #192
Well then I think we can close this issue.

[2019-06-05 10:24] mastizada commented on #120
@kindavishal the image above is for favicon, a simple temporary thing created in Gimp for social network accounts and website. But we still don't have a logo and not sure about the quality of this favicon.

[2019-06-05 10:24] mastizada commented on #120
@kindavishal the image above is for favicon, a simple temporary thing created in Gimp for social network accounts and website. But we still don't have a logo and not sure about the quality of this favicon.

[2019-06-05 12:23] pransh15 commented on #220
The General Template will include the Hacktoberfest logo and the new color scheme.
Without that, we don't really have anything to work on - apart from the city and venue.

Which is why:

[2019-06-05 12:27] #192 closed

[2019-06-05 12:28] pransh15 commented on #120
@mastizada so, the logo is still needed.
Well, let's just keep this open and add a couple of relevant labels for better visibility.

[2019-06-06 19:09] Fjoerfoks commented on #223
The idea is to actually print it out as a bookmark. Maybe a 1.000 for a start.
It's an easy gift to put in other handouts or together with other organizations in Open Source or language,

[2019-06-10 04:39] ruchikabgosain commented on #228
Hello @kindavishal @pransh15 @erogol is this issue still open?

[2019-06-10 04:40] ruchikabgosain commented on #226
Hello @davehunt @kindavishal I would like to take this up if it's still available! Let me know. Thanks!

[2019-06-10 14:32] kindavishal commented on #226
Sure @ruchikabgosain! @pransh15 would love to have your help. It's been quite some time for this, if you have any ideas, go ahead and we can solve it together! :sparkles:

[2019-06-10 14:33] kindavishal commented on #228
It is @ruchikabgosain I am actually waiting for the reply to [this](https://github.com/mozilla/OpenDesign/issues/228#issuecomment-485853215) so that I can put in the recommendations.

[2019-06-23 19:47] ruchikabgosain commented on #226
Great! @kindavishal. I was thinking of having something like this:

What do you guys think?

[2019-06-24 17:41] ruchikabgosain commented on #203
Hey @mozfreddyb do you still need this? Let me know, i'll be happy to take this up!

[2019-06-24 18:51] pransh15 commented on #203
Hey @ruchikabgosain, since you're willing to work on this, can you work on something generic - can be used for other teams as well?

Three Levels: Newbie, Master, Sensei? 👀
what do you think?

@kindavishal any inputs?

[2019-06-25 12:49] mozfreddyb commented on #203
Yes @ruchikabgosain, I'd still love to give out stickers as recognition. Would be great if you found something that allows being themed in various levels (bronze / silver / gold). Maybe the tagline "Defender Of The Fox" could be funny / inspirational? You decide :-)

Looking forward to seeing what you come up with!

[2019-06-26 09:52] davehunt commented on #226
I like the idea, but we need to be careful how we use the Mozilla logo and characters owned by Marvel. If the character could be inspired by Marvel, and we avoid using the Mozilla logo, then I think we should be okay.

[2019-06-26 10:01] kindavishal commented on #226
Yes, that's right! Creativity within guidelines is beautiful!
@ruchikabgosain you can make a rough sketch of what you have in mind, without actually investing time in making the illustration, and we will iterate over it until we find the right one, then you or we can go ahead and bring it to life! Sounds good?

[2019-06-26 13:45] ruchikabgosain commented on #226
sure @kindavishal @davehunt, let me get back to you with the rough design!

[2019-06-26 13:45] ruchikabgosain commented on #203
@mozfreddyb surely! let me get back to you with a rough sketch!

[2019-07-09 13:40] kindavishal commented on #226
Hi! Any updates here?

[2019-07-09 13:40] kindavishal commented on #84
Hey @elioqoshi @barrosgeraldo should we close this?

[2019-07-09 13:42] kindavishal commented on #171
I absolutely love the designs! :sparkles:
Are we done here guys?

[2019-07-09 13:44] kindavishal commented on #198
Are we done here guys?
@lauracrick I think we have enough submissions here! Anymore needed?

[2019-07-09 13:51] kindavishal commented on #203
Heyyy! Sorry for the super delayed reply!
Three level sounds good to me! If we are talking about generics, what groups are we considering?

[2019-07-09 13:54] kindavishal commented on #223
Sounds good to me! Which one have you chosen to go with?

[2019-07-09 14:14] kindavishal commented on #224
Adding my 2 cents here, I think if we describe the guidelines as mentioned in [Design Mozilla](https://mozilla.design) since most of the work on this repo mainly revolves around them can be a point.

[2019-07-10 02:06] klhernandez42 opened #240 "New logo for Mozilla Communities"
## Goal:
Approval of a new logo for the [Mozilla communities](https://wiki.mozilla.org/Community_Ops) based on the new image guidelines.

## Info:
The proposal arose from the request of a community partner who wanted to visualize the Mozilla community project and came across the Wiki entry for the time being because it has placed the image of Mozilla Hispano but the main objective was that of the

[2019-07-10 11:29] pransh15 commented on #240
Hello @klhernandez42, I like it!
There is a problem though, the guidelines state that "When pairing the logo in a lockup always use Zilla SemiBold placed flush left above the wordmark. This is the recommended and primary setting for most products, projects, initiatives, partnerships, open standards, teams, internal products, communities, and events.". Can you please check & make the changes?

Mean

[2019-07-10 16:31] klhernandez42 commented on #240
I did not understand the change very well, then, in a single change, the source and in the other, the reconfiguration a little more to the common voice version and that the first one was more with the MDN logo
![Selección_999(084)](https://user-images.githubusercontent.com/2287630/60986885-b6deef80-a2fd-11e9-97b8-a2502e7cd79e.png)
^ only change type font

![Selección_999(083)](https://user-images.

[2019-07-11 10:50] ruchikabgosain commented on #203
@kindavishal great then! i ll be considering 3 levels. Also, @mozfreddyb can you confirm to @kindavishal what levels are we talking about?

[2019-07-11 11:44] ruchikabgosain commented on #226
Hello!
Do you think something like this would work?

![photo_2019-07-11_17-07-17](https://user-images.githubusercontent.com/30324532/61048406-589a3580-a3ff-11e9-9880-880d4841dfe0.jpg)

[2019-07-11 14:51] kindavishal commented on #226
I am not sure if that'll be suitable for stickers...
Also, involving the characters may invoke copyright issues, we would want to avoid that. As @davehunt said, if we can make use of the fox or dino along with the idea of avengers, then it'd more like what we're trying.
Idk if I am able to get the drawing right in your minds, but can we mix the part where iron man gets the infinity gauntlet with t

[2019-07-15 09:33] mozfreddyb commented on #203
So, this badge is supposed to be "awarded" to everyone who contributes to the security of Firefox products. This could be finding a problem, fixing a security bug, etc.

If we (the Firefox security team) had three variants of the award badge, we could hand out stickers with bronze badges to a lot of people and get them interested in helping us more ;-) Silver badges are for great continuous contri

[2019-07-15 10:20] kindavishal commented on #203
That is a nice idea, I really like it. Also, may I suggest to make them pins instead of badges?

[2019-07-15 12:18] mozfreddyb commented on #203
To clarify, they should be stickers but they should *look* like badges. I want them to be stickers, because they have a high level of exposure and visibility (size, laptops are present at every meeting, etc.) and relatively cheap.

[2019-07-15 12:25] kindavishal commented on #203
Okkk! Got it!
@pransh15 @ruchikabgosain I think we now have a clear idea what is needed here! What say?

[2019-07-15 12:47] pransh15 commented on #203
Sure, I think it's pretty clear.
Can you both take this one forward?

[2019-07-16 12:21] holu123gg opened #241 "user data storage independent from service providers"
## Goal:
[more  privacy, more  freedom]

## Info:
[for example:  a user  can  store  his  favorite  music   list  in  dropbox or  his own  server or  any  other  place  he  agrees , then  after  an agreement  the user  made,  any music  player  service provider can  play  the  list for  the user , there  will be  only one copy of the list, but  user can enjoy  different  service  from any  service

[2019-07-16 12:39] pransh15 opened #242 "Backdrop For DevConf'19, BLR."
## Goal:
Backdrop for the booth, of the size: 6ft x 4ft [WxH]

## Info:
We (Mozilla India Community Contributors) are planning to organize a booth at Devconf'19. A 2-day Conference where contributors will be talking to the participants about Bug Hunting, CommonVoice, Internet Health & Mozilla India.

Creating this issue on behalf of the Organizer, @shinadhingra18.

## Style Information:
@tanzeelkh

[2019-07-20 17:42] tanzeelkhan commented on #242
I'm on it! :)

[2019-07-20 17:49] tanzeelkhan commented on #242
![devconf-19-banner](https://user-images.githubusercontent.com/4867861/61582108-2d70be00-ab44-11e9-9d3f-81525b648f10.png)
[printable-devconf 19 banner.pdf](https://github.com/mozilla/OpenDesign/files/3413867/printable-devconf.19.banner.pdf)

[2019-07-20 17:51] tanzeelkhan commented on #242
![devconf-19-banner](https://user-images.githubusercontent.com/4867861/61582182-f2bb5580-ab44-11e9-865c-8d0899d83a43.png)

[2019-07-20 18:02] tanzeelkhan commented on #242
![printable-devconf-19-banner-2](https://user-images.githubusercontent.com/4867861/61582280-8fcabe00-ab46-11e9-98b8-1b6ffbcc19e4.png)
[printable-devconf 19 banner 2.pdf](https://github.com/mozilla/OpenDesign/files/3413876/printable-devconf.19.banner.2.pdf)

[2019-07-22 14:32] pransh15 commented on #242
the colors look really good with the icons.
thank you for doing this at a very quick pace, appreciate it! 💘

[2019-07-22 14:32] #242 closed

[2019-07-22 14:51] shinadhingra18 commented on #242
This is great! @tanzeelkhan
Thank you for your efforts on such short notice.

[2019-07-27 07:04] tanzeelkhan commented on #242
I'm at a loss for words :D
Thank you for the encouragement. :)

[2019-08-18 05:38] kindavishal commented on #241
Hi @holu123gg!
I don't think you're asking it in the right place, we can only help you with design needs and not development needs.
Closing this issue, thank you.

[2019-08-18 05:38] #241 closed

[2019-08-18 05:58] kindavishal commented on #228
Ping @erogol !

[2019-08-18 06:05] kindavishal commented on #42
The logo has been updated by the staff internally (probably) I came to know about it from a [Techspeaker on Twitter](https://twitter.com/imJenal/status/1162611637041291270?s=19)
Closing this issue! :sparkles:

[2019-08-18 06:05] #42 closed

[2019-08-18 07:10] kindavishal commented on #240
Hi! Here are some in my mind!
Kept the some parts of the old logo, essentially the dinosaurs and added the globe to resemble the diversity of communities!

![logo_BW](https://user-images.githubusercontent.com/35860774/63221318-f4fce800-c1b4-11e9-96f9-89ce13a234cb.png)
![image](https://user-images.githubusercontent.com/35860774/63221321-00501380-c1b5-11e9-93dd-93adbd01fd91.png)
![logo_reversed_Blac

[2019-09-10 05:48] AngelFQC opened #243 "New identity for Mozilla Peru"
## Goal:
Update the identity of [Mozilla Perú](https://mozilla.pe/) with a new logo and wordmark according to current Mozilla style.

## Info:
The new identity will be used in the social networks and banner for events.

## Style Information:
Currently we use the old logotype from Mozilla [1]. We have thought about updating it.
We have not had a official brand pet... but recently we are using a pap

[2019-09-11 02:50] klhernandez42 commented on #243
hi @AngelFQC, I could help you but ¿this is a "andean cock-of-the-rock? ¿right?
https://peru.info/Portals/0/Images/Productos/6/167-imagen-1325441372018.jpg

[2019-09-11 05:31] AngelFQC commented on #243
Hi @klhernandez42
Yes, it is a (male) cock-of-the-rock

[2019-09-14 22:09] klhernandez42 commented on #243
![Selección_999(231)](https://user-images.githubusercontent.com/2287630/64914112-aede6a00-d709-11e9-8948-763f8e7faa26.png)
This would be my proposal, You can write me by telegram anything is the same user github in spanish.

[2019-09-19 07:17] AngelFQC commented on #243
Hola @klhernandez42
Gracias por el logo
Puedes adjuntar los editables, porfavor. Para ir cerrando el issue.

[2019-09-29 00:35] klhernandez42 commented on #243
Genial, acá te comparto el enlace del [Logo Perú](https://github.com/mozillahispano/equipoCreativo/tree/master/MozillaPeru_logo) para que lo descargues desde el github.

[2019-09-30 14:38] AngelFQC commented on #243
Muchas gracias @klhernandez42

[2019-09-30 14:38] #243 closed

[2019-10-13 20:07] Ryuno-Ki commented on #241
@holu123gg Sounds pretty much what Sir Tim Berners-Lee tries to achieve with SoLiD at MIT …

[2019-10-20 20:43] IfeanyiEkperi commented on #240
My submission
![20191020_214233](https://user-images.githubusercontent.com/6451526/67165922-a7eaed00-f382-11e9-895a-a9ac6bca73b7.jpg)

[2019-10-20 22:38] Lovo666 opened #244 "Translate"
## Goal:
[What you'd like created]

## Info:
[What it will be used for/where it will go]

## Style Information:
[What you want it to look like, link to references, similar things etc.]

## Deadline:
[When would you like this done by]

## Tag:
[Design Needed, Developer Needed, Question, Staff Support Needed]

[2019-10-21 04:21] kindavishal commented on #240
What'd you think @klhernandez42 ?

[2019-10-21 05:40] kindavishal commented on #244
Hi @Lovo666 :wave:
It seems you've created an empty issue. If you have any requirements from the Open Design Community, you've to specify why you're opening the issues and fill in necessary details! If this was created by mistake, don't worry I shall close this. If you had anything in mind, please open a fresh one with all the details mentioned. You may refer to other open issues for this.
Thanks

[2019-10-21 05:40] #244 closed

[2019-10-21 05:43] kindavishal opened #245 "Re-Structuring the Repo!"
## Goal:
Re-structuring the folders and files in the repo to make designs more accessible and easily discoverable!

## Info:
There are too many awesome designs and graphics in this repo and sadly not everything is easily discoverable for new visitors/designers! Goal is to make things easy by having more relatable folders and graphics!

## Style Information:
NA

## Deadline:
NA

## Tag:
NA

[2019-10-21 05:44] kindavishal commented on #245
Adding the Hacktoberfest Label because, why not :slightly_smiling_face:

[2019-10-21 16:48] Ryuno-Ki commented on #245
I think, it would help, if you could describe what the target structure should look like (if you already have made up your mind).

Another label could be „Good first issue” then :-)

[2019-10-21 17:40] kindavishal commented on #245
Thanks for the suggestion @Ryuno-Ki :smile: but I was already supposed to do this myself sometime ago so didn't open it up for everyone! :grimacing:
However I will make it more clear if more inputs are required! :100:

[2019-10-21 17:53] Ryuno-Ki commented on #245
Ah, so that's done in #246 then?
I somehow would have needed another hint, that this topic is already in the works (e.g. by assigning it to someone - or removing the „feedback needed” label).
I had too many times „snitched” issues on this year's Hacktoberfest, so no worries. By now I have my four PRs together :-)

[2019-10-21 18:22] kindavishal commented on #245
Ah! Sorry for the confusion Ryuno!
Congrats on your 4 PRs! :tada: :smile:

[2019-10-22 10:32] Lovo666 commented on #244
At the moment I have a lot to do on my job.  In addition, I would like to learn old from you.  For example, have no idea how to make the diary app or what to do with the info from the app.  That's why I need help and guidance.  For that I serve with what I am good at, translations about information of a work.  I translate from English into German and Romanian.  Best regards!  Lovo666

[2019-10-22 12:01] Lovo666 commented on #244
Thnx for yours anderstaending.
Lovo666

Vishal Das <notifications@github.com> schrieb am Mo., 21. Okt. 2019, 07:40:

[2019-10-26 11:23] kindavishal commented on #245
The new changes have been merged! Closing this!

[2019-10-26 11:23] #245 closed

[2019-11-09 12:53] pransh15 commented on #239
Hey @ruchikabgosain,

Can you please replace the logo with the new Firefox Desktop logo and send the new one here?
You can find the logo at [mozilla.design](https://mozilla.design/)

[2019-11-09 14:36] bobreyes commented on #239
This new Firefox logo, you mean?

![Fx-Browser-icon-fullColor-128](https://user-images.githubusercontent.com/2232/68530216-64f8b580-0341-11ea-8c96-46293ea7a71f.png)

[2019-11-13 12:45] ranjithrajv opened #247 "'Join Firefox' Campaign Graphic Assets"
## Goal:
Create Graphic assets for  'Join Firefox' campaign

## Info:
[What it will be used for/where it will go]
* Standees 6x3
* Posters
* Flyers

## Style Information:
[What you want it to look like, link to references, similar things etc.]
https://mozilla.design/firefox/
https://blog.mozilla.org/firefox/join-firefox/

## Deadline:
[When would you like this done by]
ASAP :)

## Tag:
[Design Nee

[2019-11-13 12:52] pransh15 commented on #247
Hey @ranjithrajv,

It would be really helpful if you can mention the size of Posters and Flyers.

[2019-11-13 14:35] ranjithrajv commented on #247
@pransh15 updated, please check.

[2019-11-14 13:51] pransh15 commented on #247
Here are the files you requested.
Let me know if there are **any changes** along with **the final file format** before I upload the full files.

# Standee - A4
![Standee](https://user-images.githubusercontent.com/18158596/68862533-a1e2f480-0713-11ea-8fb1-b3229fad4a10.png)

# Flyer - 100mm x 210mm
![Flyer-A4](https://user-images.githubusercontent.com/18158596/68862535-a1e2f480-0713-11ea-9d18-8c9fad

[2019-11-15 03:37] ranjithrajv commented on #247
@pransh15 thansk for the quick help.

Please share .svg files (also, notice standees dimensions are 6x3)

[2019-11-15 03:38] ranjithrajv commented on #247
Please remove Pocket, as it is not completely open source, it's hard to promote it.

[2019-11-16 07:42] pransh15 commented on #247
Hey @ranjithrajv,

I can remove pocket but it seems relevant not in terms of contribution, but it seems relevant from a marketing perspective to eradicate Fake News.

[2019-11-16 08:12] pransh15 commented on #247
The link with Pocket is: https://send.firefox.com/download/8bdf6dbbe24abd47/#iENjimsdZkyBGtqoLczZpA

If anybody would want the files later on, I'll upload the files here in the Repo and update the issue.

[2019-11-26 00:50] IfeanyiEkperi commented on #240
@klhernandez42 any update on this?

[2019-11-27 00:40] emmairwin opened #248 "CPG Course Completion - Design"
## Goal:
I am running a course currently for staff, but in 2020 there will also be a community version that trains people in the skills, knowledge and attitudes required to ensure Mozillians can contribute, work and convene knowing that their safety, and well being are central to how we operate, and communicate.

I would like to have a design that can be applied to stickers for those who successfu

[2019-11-27 00:40] emmairwin commented on #248
![girl_guides_badges_-_Google_Search_-_2019-11-26_16 37 18](https://user-images.githubusercontent.com/60618/69683955-80ff9500-106b-11ea-85b8-719d884a12b2.png)

[2019-11-27 01:53] klhernandez42 commented on #248
I have some ideas I will work and I will put them here, ok @emmairwin

[2019-11-27 10:26] boriya123 commented on #248
i can think about some designs around community program and build some stickers for it . I'm thinking some mural design with tech combination. Hopefully it highlight CPG programs @emmairwin

[2019-11-27 12:14] pransh15 opened #249 "Localize Join Firefox Graphics"
## Goal:
Localize the existing image file to be shared with multiple local groups.

## Info:
Social Media and Groups

## Style Information:
A similar theme would do.

## Deadline:
ASAP. We need to get to 5000 Firefox Accounts before the End of the Year.

## Tag:
[Localization Needed]

[2019-11-27 12:38] pransh15 commented on #249
# Here's the original PSD file:
https://drive.google.com/file/d/1fqcOr2VB9mSgyfP2rkMxFJVH4XNRqezK/view?usp=sharing

# Here's the Graphic:
![fx-16x9](https://user-images.githubusercontent.com/18158596/69723961-d3f74c00-1140-11ea-9936-1dcf21c531be.png)

[2019-11-27 19:56] Ryuno-Ki commented on #249
Which languages do you need?
Some priorities perhaps?
How do I open a PSD without Photoshop?

[2019-11-28 21:21] emmairwin commented on #248
Thank you @klhernandez42 and @boriya123 I am open to suggestions as well, design is not my strength..at all :). Appreciate your time!

[2019-11-29 10:41] elioqoshi commented on #249
Please don't share PSD files when they can be other formats as well :)

Ideally sharing the SVG with non-outlined text would make it possible to localize it with a text editor even.

I think Krita can open PSD's. It's Free and Open Source.

[2019-12-03 12:54] kindavishal commented on #249
Agree with @elioqoshi! SVG would be better.
@pransh15  I have the Punjabi Localisation, but need the SVG to put it in; unless you'd want me to send the text here and you can put it in instead?

[2019-12-03 12:56] kindavishal commented on #247
Thanks for the submissions @pransh15 they look great! Please share the SVG.
Maybe @emmairwin or @elioqoshi can tell us if keeping Pocket is a good idea on not

[2019-12-03 17:21] LucyeoH opened #251 "Mozilla Discourse Sticker Design"
## Goal:
A sticker for Mozilla's Discourse (https://discourse.mozilla.org/)

## Info:
It will be distributed to staff and volunteers at All Hands.

## Style Information:
Something fun that captures Mozilla Discourse

## Deadline:
December 16th

## Tag:
Design Needed

[2019-12-03 18:45] pransh15 commented on #249
Hey all! 👋

Sorry for the slight delay, here's the svg file: https://drive.google.com/open?id=1KureOtRmE13tYHKGwcfggCIRyGeeDydb

@Ryuno-Ki I don't think there is any preference, we would like it any language you're comfortable localizing it so that we can share and reach a larger audience.

@elioqoshi I'll keep that in mind, I'd just created it as a PSD so I just went ahead with it. 😅

@kindavisha

[2019-12-04 19:21] Ryuno-Ki commented on #249
Hm, for some reason, Inkscape is going crazy for me when editing the text.
Sorry, so here the German translations for updating manually:

1)

becomes

2)

becomes

3)

becomes

4)

becomes

If someone else has better words (e.g. because there is a character limit constrain of the design), please chime in.
I picked the informal „Du”, because we're supposed to talk to friends & family here. There's

[2019-12-06 16:09] boriya123 commented on #248
@emmairwin sorry for late reply.  i have started working on design. hopefully by 9th of dec i can do a pull request for initial designs.

[2019-12-08 04:34] ivanha09 commented on #249
I've recreated the file in Figma because I think it would be easier to edit and it's free to use online.

I've created a version in German with the translation supplied by @Ryuno-Ki, but can't read German so I don't know where the sentences should break. The file could be edit by anyone. So people could just copy the artboard and create one for another language. Hope this helps.

https://www.figma

[2019-12-08 14:03] boriya123 commented on #248
![CPG Course Completion_jpg_with_mozilla](https://user-images.githubusercontent.com/24938863/70390454-2eba5e80-19f1-11ea-8abb-e573e82e9f4f.jpg)
![CPG Course Completion_jpg_without_mozilla](https://user-images.githubusercontent.com/24938863/70390455-2f52f500-19f1-11ea-82b4-383a74137b7e.jpg)
![CPG Course Completion_png_with_mozilla](https://user-images.githubusercontent.com/24938863/70390456-2f52f50

[2019-12-08 14:07] boriya123 commented on #248
@emmairwin pull request done for cpg champion stickers. attach designs with this issue kindly have a look. if any changes required we can work together or something else.

those are with yellow background are in jpg and with a white background are in png.

[2019-12-08 16:06] ivanha09 commented on #251
I can create some sample ideas. Is there any specific wording or logos that need to be on it?

[2019-12-09 14:57] LucyeoH-zz commented on #251
@ivanha09 I think it would probably makes sense to include the words: Mozilla + Discourse but otherwise that's it.

The goal is to help raise awareness of the fact that Mozilla's Discourse exists and that is a great tool for people to share public information about their work and start discussions with community.

[2019-12-11 01:58] emmairwin commented on #248
HI there,

Thanks so much for submitting this- and for your time.   I think for a sticker, this is very busy  - and also the Firefox Logo is outdated as well as fonts are not inline with style guide.

Here is the style guide for reference.

https://www.mozilla.org/en-US/styleguide/

Again, thank you very much for effort on this.

[2019-12-11 05:38] ivanha09 commented on #251
@LucyeoH Here are some of my ideas. Please let me know if there is anything that you think is going in the right direction or if you have any other thoughts or suggestions.
![mozilla-discourse-1](https://user-images.githubusercontent.com/42952686/70594203-c49ae880-1bad-11ea-9be3-2f6bce5e7866.png)
![mozilla-discourse-2](https://user-images.githubusercontent.com/42952686/70594204-c49ae880-1bad-11ea-

[2019-12-11 18:23] LucyeoH-zz commented on #251
@ivanha09 these are great! I thought the one with the dino is pretty cool I wondered if we could put the discourse "speech bubble"  coming out of the dinos mouth in idea # 4? We could try a version with or w/o the words and I think it would be very cool sticker!

![image](https://user-images.githubusercontent.com/8070833/70644631-6acc0a00-1c11-11ea-9daf-4c50b4c0c2ce.png)

[2019-12-11 18:33] LucyeoH-zz commented on #251
Maybe something like this?
<img width="382" alt="Screen Shot 2019-12-11 at 1 32 21 PM" src="https://user-images.githubusercontent.com/8070833/70649262-c51d9880-1c1a-11ea-8d0a-515ca9cbe6e0.png">

[2019-12-11 21:27] ivanha09 commented on #251
@LucyeoH I'll try both, but I think the version you did looks good. Adding words might make it too busy.

[2019-12-12 03:22] ivanha09 commented on #251
@LucyeoH I've created the two versions with die-cut(if needed). I also reduced the length of the mouth to fit with the speech bubble. Let me know if you'd like to see any changes or what format you need for the printers.

![mozilla-discourse-no-text-01](https://user-images.githubusercontent.com/42952686/70679592-94ae1c80-1c63-11ea-9d61-2197511033e7.png)

![mozilla-discourse-text-01](https://user-i

[2019-12-12 14:26] boriya123 commented on #248
@emmairwin thanks for having a look into designs and providing suggestions on design. Its really appreciated.

What will be my takeaway, shall I again try for implementing style guide onto those designs and later on the mutual perspective you can take those stickers. or I can work on some new designs according to style guide. Or you are doing on your own.

[2019-12-12 18:35] LucyeoH-zz commented on #251
@ivanha09 these are both great!!

[2019-12-13 03:38] ivanha09 commented on #251
@LucyeoH Great! Here are zip files with the stickers in ai, svg, and pdf format.
[mozilla-discourse-no-text.zip](https://github.com/mozilla/OpenDesign/files/3958921/mozilla-discourse-no-text.zip)
[mozilla-discourse-text.zip](https://github.com/mozilla/OpenDesign/files/3958922/mozilla-discourse-text.zip)

[2019-12-13 16:43] klhernandez42 commented on #248
hello @emmairwin , as I do not understand if the firefox logo goes or not here I leave two proposals:

![cpgChampion_propuesta1](https://user-images.githubusercontent.com/2287630/70816513-4436dc00-1d95-11ea-8591-2648dd10ff15.png)

![cpgChampion_propuesta](https://user-images.githubusercontent.com/2287630/70816662-9677fd00-1d95-11ea-81f2-482fdfbb8ec6.png)

[2019-12-13 17:06] klhernandez42 commented on #251
in case it is useful I leave this one that I did for an event that we had
![Selección_999(420)](https://user-images.githubusercontent.com/2287630/70818108-9a594e80-1d98-11ea-937f-c43f6267e557.png)

[2019-12-13 17:22] LucyeoH-zz commented on #251
Super useful! This is awesome too!

On Fri, Dec 13, 2019 at 12:14 PM Karla Hernandez <notifications@github.com>
wrote:

--
*__*
*Lucy Harris *
*Lead, Community Development*
*Open Innovation *
Mozilla <https://mozilla.org/contribute> Corporation
<https://mozilla.org/contribute>

[2019-12-16 08:32] ranjithrajv opened #253 "Graphics of 'Internet Shutdowns in India' campaign"
## Goal:
Create graphics to address the burning issue 'Internet Shutdowns in India', which are handy to share by individuals/groups who are friends of Mozilla will bring visibility to this issue globally.

## Info:
These will be used for helping Netizens understand the state of 'Internet Shutdowns in India'

## Style Information:
These graphics should be able to localizable to Indian languages, sh

[2019-12-17 11:18] kindavishal commented on #253
Thanks for the issue @ranjithrajv! Can you provide some more info about what should be the contents of the graphics? Or perhaps a reference other than the one you already provided?

[2019-12-18 06:18] Ryuno-Ki commented on #249
Thanks!
The only thing I'd change would be pushing the „Wir“ in the lower section to a new line.
But it's not critical.

[2019-12-18 17:48] kindavishal commented on #249
Here's the Figma version of Firefox Monitor graphics. Anyone can edit the file, but please prefer to make a copy and work on that, leaving the original one undisturbed.
https://www.figma.com/file/rkmCKV0teP9qqrs8llvvD1/Monitor?node-id=0%3A5

[2019-12-18 18:03] kindavishal commented on #247
@pransh15 can you open a PR adding the graphics under [this directory](https://github.com/mozilla/OpenDesign/tree/master/Campaigns/Join%20Firefox)?

[2019-12-18 18:47] kindavishal commented on #239
That's right

[2019-12-19 18:05] emmairwin commented on #248
@klhernandez42 very very much, I'll see if this works for print and let you know!

[2019-12-19 18:25] kindavishal commented on #253
Here are the graphics I cam up with, they're free to edit and I'll push them to the repo if they look good!
https://www.figma.com/file/1XCc5spfgGm89JitpnJOdp/Internet-Shutdowns-General?node-id=8%3A909

![image](https://user-images.githubusercontent.com/35860774/71198676-50052f80-22ba-11ea-937a-de362bd18963.png)

![image](https://user-images.githubusercontent.com/35860774/71198766-8b076300-22ba-11e

[2019-12-24 21:05] Zunaid24 commented on #253
Hi! This is Zunaid from Mozilla Guna Community.
Here's the graphic I made for this campaign.
Also tagging @yofiesetiawan  @ranjithrajv @asdofindia to have a look at this.

![SIS_MPCGUNA](https://user-images.githubusercontent.com/32516951/71425076-ea041800-26be-11ea-85d3-83f3ac95d319.jpg)

[2020-01-10 03:40] Juli777 commented on #251
Here is one more Option
![image](https://user-images.githubusercontent.com/55708253/72123934-d213d180-3317-11ea-80c2-505c4bfb5a55.png)

[2020-01-10 04:00] Juli777 commented on #251
And one more

![image](https://user-images.githubusercontent.com/55708253/72124724-9cbcb300-331a-11ea-89f8-9584308986e3.png)

[2020-02-04 14:33] bobreyes opened #254 "Safer Internet Day Graphic"
## Goal:
Generic graphics material for Safer Internet Day (which is celebrated every 2nd Tuesday of February).

## Info:
For use on social media channels of Mozilla communities.

## Style Information:
Will leave it up to the designers. Samples are here:
https://www.google.com/search?q=Safer+Internet+Day&client=firefox-b-d&sxsrf=ACYBGNT0g51xdWVpwmsgt2Da9EyXgrsTzA:1580826270687&source=lnms&tbm=isch&

[2020-03-11 14:28] Ryuno-Ki commented on #251
Hm … miscourse could be read as „we took the wrong path” (like in mis-course). Not sure, you want to transport this message ;-)

[2020-03-11 18:11] LucyeoH-zz commented on #251
Good point. Thanks everyone for these! I'm sharing them with the team for sticker creation!!

[2020-03-11 18:11] #251 closed

[2020-03-16 13:18] DPX-designer opened #255 "A Multi-App Respond Tool"
![Two people holding mobile phones](https://user-images.githubusercontent.com/42435754/76761399-47bc7380-6787-11ea-9433-c64f0c72288e.jpg)

# A Multi-App Respond Tool

The Respond Tool is a web app designed for phones which allows our amazing volunteers to efficiently respond to low scoring product reviews on the Google Play store.

## How it works

1. A person (let's call them Sharon) gives a 2 st

[2020-03-18 15:53] devanshgajjar commented on #255
A prototype for the Multi-App Respond Tool; below is the link to have a look at the design.
https://xd.adobe.com/view/fc27e511-b4fd-41d0-464d-b9f1c4d2f348-8a16/

[2020-03-19 17:56] DPX-designer commented on #255
Hi @devanshgajjar Thank you so much for this submission along with some super UI work!

I have a few questions regarding your user flow :)
Could you explain to me the "User sends query" step? Is the 'user' the volunteer using the respond tool or the person who has posted the review or comment on the app store/social media?

On the image below I have posed a question, assuming our volunteers can re

[2020-03-19 18:30] devanshgajjar commented on #255
Hi again @mcroud,

By the user sends query I do indeed mean someone posting a review on the app.

For the second part of the query which refers to how to specify the query. We can add filter options like dropdowns to, Moderate or Respond to whatever app or app-store they like to.

I intentionally put visuals to show how this Multi-App Respond tool's model is astonishingly similar to Common Voice's

[2020-03-19 20:46] Ryuno-Ki commented on #255
N.B.: This is an aspect of what is called Gamification:

If you [read about Bartle's Player Types](https://www.interaction-design.org/literature/article/bartle-s-player-types-for-gamification) you might want to consider adding some social aspects as well.

[2020-03-20 08:57] devanshgajjar commented on #255
Hey @Ryuno-Ki , I do know a bit about gamification and thank you for sending me the article, it differentiated my thinking of gamification.

Talking about adding gamification in this tool is a good idea and for the matter of fact, I had thought of putting gamification concepts like streaks, badges, etc for the contributors, to motivate them, but I did not add it to the current version because doin

[2020-03-27 20:16] Ryuno-Ki commented on #255
I suggested on Telegram/Matrix to provide some more engineering-related diagrams and got positive feedback.

So let's start with a [sequence diagram](https://en.wikipedia.org/wiki/Sequence_diagram):

![mermaid-diagram-20200327210550](https://user-images.githubusercontent.com/3097194/77796696-12116780-7070-11ea-8d94-eb7b8984e43c.png)

The image was generated using [mermaid.js](https://mermaid-js.gi

[2020-03-27 20:49] Ryuno-Ki commented on #255
Okay, so let's take a closer look at the response tool:

![mermaid-diagram-20200327214302](https://user-images.githubusercontent.com/3097194/77798883-01fb8700-7074-11ea-95c1-4685c483cdd1.png)

Again, this [flowchart](https://en.wikipedia.org/wiki/Flowchart) was [created with mermaid.js](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgICBpbml0aWFsKFJldmlldyBpbiBS

[2020-03-27 21:17] Ryuno-Ki commented on #255
Okay, this one is likely really technical. It's about a [class diagram](https://en.wikipedia.org/wiki/Class_diagram) to think about what properties and methods different objects have.
That is, what characterises them, what can they do and how do they relate to each other.

![mermaid-diagram-20200327221503](https://user-images.githubusercontent.com/3097194/77801113-7d5f3780-7078-11ea-963e-ce49f0c51

[2020-03-28 17:10] Ryuno-Ki commented on #255
Two more thoughts which came to me last night:

1. What happens with what data if a volunteer/moderator deletes her/his/their account?
2. In which context is the app used by a volunteer/moderator? (Keyword Empathy Map, Micromoments)

Shall I elaborate?

[2020-04-03 09:33] DPX-designer commented on #255
Hello @Ryuno-Ki

Apologies for the delay in feedback. Thank you so much for this volume of exploration! This is top work.

Looking at your Sequence diagram, I really like how it provides an overview of interactions between the key parties of the experience and the type of interactions which occur between them.

I was happy to see your class diagram highlight the factor of language as a key compone

[2020-04-04 22:21] nitin10s commented on #255
I saw the above inputs and I must say they are so detailed and amazing! Although I feel the questions that are still left unanswered are: How will the volunteers interact with a respond tool that supports multiple Mozilla apps and reviews from multiple app stores and other sources.

Firstly, mentioning about the **Moderate option**. It will be the same with just the addition of details of - **App

[2020-04-05 10:11] Ryuno-Ki commented on #255
Hm, perhaps a criterium could be that the volunteer should have prior experience with an app before she/he/they can write a response to a review?

Regarding the Wireframes: What is strictly necessary? I could imagine, that there is one screen which allows to pick App Store, the next one the pending reviews (awaiting reply) for apps in that App Store, the third one showing the review, the name of t

[2020-04-06 08:43] DPX-designer commented on #255
@nitin10s Wonderful! You've addressed the "multi-app" task very well and done so with these lovely wireframes, thank you!
I have an additional question for you 😀   Imagine that the volunteer using the Respond tool is able to access an 'inbox' or message centre to read their feedback messages from other volunteers. How would our volunteer access their messages relating to a particular app?

Would t

[2020-04-06 08:49] DPX-designer commented on #255
@Ryuno-Ki Necessary items for a volunteer responding would likely be:

- An interface to select Responding and Moderating
- An interface(s) to locate/browse and select a review to respond to
- An interface(s) to respond to the selected review

Reviews currently support plain text only.

[2020-04-06 17:21] nitin10s commented on #255
I'll rather name it Feedbacks/Reviews (Inbox sounds confusing unless there are other types of notifications in that inbox). The option should ideally be placed on the home screen rather than the Profile section for volunteers to use.

And yes it's best to have a filter option rather than separate inbox for separate apps. Something like this... [Even tweaked the current design for inbox]

![Inbox](

[2020-04-07 16:09] DPX-designer commented on #255
Thank you @nitin10s these are super wireframes that tell the story very well 👍
I like how your proposed filter menu goes beyond a simple drop down, below was a proposal I had for an earlier prototype and I think they have a similar vibe 😄

<img width="383" alt="Screenshot 2020-04-07 at 17 07 37" src="https://user-images.githubusercontent.com/42435754/78692783-4bf53000-78f2-11ea-94ba-b3cc0e99cddb.p

[2020-04-08 15:38] nitin10s commented on #255
@mcroud Yes, indeed they are quite similar :D

[2020-04-11 18:04] Rupali2412 commented on #255
Hi, I've gone through all previous discussions and found them very useful.

I myself worked on the user flows and wireframes.

Detailed User flow :
![Mozilla response tool (1)](https://user-images.githubusercontent.com/60149380/79052171-3f563c00-7c52-11ea-990b-2d9951a44f36.png)

I've tried to translate the user flow in a way to reduce the number of clicks required to respond to a review.
Proposed

[2020-04-12 11:37] nitin10s commented on #255
As @Rupali2412 also mentioned, the best way is indeed giving users an option to filter the reviews by the app in Respond and Moderate section.

Although, there is a small error in the wireframe "To moderate a response", you've used radio buttons for the three parameters that can be confusing for volunteers. We should either use checkboxes or stick to the current design. Views?

[2020-04-12 11:56] Rupali2412 commented on #255
@nitin10s  Yes, you are right. Use of radio buttons is not proper here. It looks like a predefined set of mutually exclusive options. I guess the current design is better as even beginner volunteers can understand the context easily.  Thanks for identifying.

[2020-04-14 08:55] DPX-designer commented on #255
@Rupali2412 Wonderful! Thank you for such a clear user flow and accompanying wireframes.

I like how you've condensed the amount of steps to begin responding and moderating within your wireframes, good job.

I have a question. Looking at your flow diagram, we're assuming the user would likely select the platform before selecting the mode (respond/moderate).
Imagine that instead of having the app,

[2020-04-14 10:28] Rupali2412 commented on #255
@mcroud Thank you so much for the appreciation.

I would suggest the following flow:
Select app(products) >> select mode ( respond/moderate ) >> Select platform

I propose this flow as the volunteer might not be aware of multiple Mozilla apps(products). So by selecting an app volunteer is setting it as a default for next(future) response and moderations also.

Platform selection is at the end of t

[2020-04-14 14:45] nitin10s commented on #255
This is actually a good debatable topic. Whether to consider app selection or mode selection as the primary function.

1. If a user wants to often switch between apps while moderating/responding
2. The user wants to moderate/respond for a particular app only.

[2020-04-21 15:27] DPX-designer commented on #255
A huge well done and thank you to @devanshgajjar, @Ryuno-Ki, @nitin10s and @Rupali2412 for contributing and sharing such an amazing effort of work.
🎉 🎉 🎉

I have thoroughly enjoyed looking at all of your experience flow diagrams, wireframes and design work.

I have mentioned this thread during a few organisational meetings to enthuse about the power of open design, thank you for making it such a s

[2020-04-29 17:39] sunidhi-kashyap commented on #255
Hi @mcroud ! I know i'm way past the deadline. But i found the idea of a respond tool really cool and the discussion over here was really interesting. May i know if i can still contribute to this issue?
Thanks!

[2020-04-30 10:12] DPX-designer commented on #255
Hi @sunidhi-kashyap
The deadline for this project was fairly arbitrary, as this issue is still open I couldn't find any reason to argue against anyone who wishes to volunteer ideas and suggestions to this topic. So please feel free to submit a contribution to the brief, I look forward to seeing what you come up with!

[2020-04-30 15:26] sunidhi-kashyap commented on #255
Thank you @mcroud for giving me the chance.
After I read the issue, I thought of designing a simple and intuitive interface, which will get our task done with ease.

Below are some low-fi wire-frames I sketched, with explainations:
![IMG_20200430_201752](https://user-images.githubusercontent.com/42182441/80726133-a19faf80-8b21-11ea-9a34-46080d3000ed.jpg)
![IMG_20200430_201818](https://user-images.

[2020-04-30 19:23] Ryuno-Ki commented on #255
I love your handwriting! It's beautiful :-)

[2020-05-01 01:50] sunidhi-kashyap commented on #255
Thank you :)

[2020-05-01 09:31] DPX-designer commented on #255
@sunidhi-kashyap  These sketches, flows and wireframes are wonderful. Thank you so much for taking the time to produce these!

I really like the idea of a global respond and moderate queue, taking volunteers straight to the list and letting the filters do the work is a great take. How would you cater for volunteers who will only ever wish to deal with a particular platform? Perhaps the applied fil

[2020-05-01 10:22] Ryuno-Ki commented on #255
Hi @mcroud,
I noticed, that you added a number of unread notifications as pillar to the footer.
Are you aware that those [badge notifications can cause stress](https://onezero.medium.com/why-apples-notification-bubbles-are-so-stressful-65a544e51f10)? (Picked one among several articles on that matter).

If you deem them necessary, please don't use red. Either a grayscale or the option to disable th

[2020-05-01 11:15] DPX-designer commented on #255
@Ryuno-Ki  Fascinating, no I didn't! What a terrific article, thank you for bringing it to my attention.

I'm always eager to not contribute to any more digital annoyances in people's lives so I'm happy to act on this immediately, below shows a revision of these notification badges for the desktop styling I'm currently working on:
Top button is the previous version, below is the new, neutral versi

[2020-05-01 15:13] sunidhi-kashyap commented on #255
@mcroud Thank you so much for the feedback, it was very encouraging!

_"How would you cater for volunteers who will only ever wish to deal with a particular platform? Perhaps the applied filters can be saved?"_ -- Yeah, I didn't think about it before. I think we should focus on volunteers who would like to stick with a particular platform, and your idea of saving the applied filters is perfect! I

[2020-05-01 16:02] Ryuno-Ki commented on #255
Thanks for the response @sunidhi-kashyap

One remark regarding:

This way, we can prevent unnecessary feedbacks and reviews.

I wonder, whether this can be „gamed with”. Like, I tell some friends that we are going to push each other up to earn the rewards.
Could be, that this will never be attempted, but I feel, it's something which should be at least took into consideration.

[2020-05-02 10:11] sunidhi-kashyap commented on #255
@Ryuno-Ki Yeah I totally get your point. We may need to do a little research on this, I guess, before coming into conclusions.
Thankyou for pointing it out.

[2020-09-22 11:24] erogol commented on #228
we can close this given the new circumstances. Thanks, everyone who helped us here.

[2020-09-22 11:24] #228 closed

[2020-10-11 07:51] Vinit-bisht commented on #254
Try soemthing on figma!
![Artboard 1](https://user-images.githubusercontent.com/54279468/95673209-5f949280-0bc4-11eb-840f-e87607b7d65d.png)
I know it's late, but I am just trying to work formally in Github!

[2020-12-07 12:41] RiyaJ2311 commented on #255
I know I am very late, but since the issue is not yet closed I made a paper-pen flowchart of the application.
![paper pen flowchart](https://user-images.githubusercontent.com/48223671/101350623-44d55600-38b5-11eb-9dd4-74776f475af4.jpeg)

Can you please review this?

[2020-12-07 16:08] Ryuno-Ki commented on #255
@mcroud Given the layoffs earlier this year: is this tool still on the table?
(If you are allowed to say, that is).

[2020-12-08 14:59] DPX-designer commented on #255
Hi @RiyaJ2311, thank you for producing this experience flow.
I like your use of the term "Discover" it feels quite welcoming to new volunteers, I could imagine each app in the app selection screen having a bit of descriptive text or tips in this scenario. It also breaks out of the overuse of the term "Respond".
The idea of an in-app help form for volunteers dealing with a tough online review is al

[2020-12-08 14:59] #255 closed, assigned to nobody

[2020-12-09 07:28] RiyaJ2311 commented on #253
hey, can I work on this?
If yes, can you provide me the link to Mozilla's guidelines on how to use the logo and what fonts are acceptable?

[2020-12-09 07:53] Zunaid24 commented on #253
@RiyaJ2311
https://mozilla.design/mozilla/

[2020-12-09 11:06] RiyaJ2311 commented on #253
Thank you @Zunaid24
![#NoNetBandi](https://user-images.githubusercontent.com/48223671/101621996-85aba700-3a3c-11eb-8a16-1b44216d96dd.png)
I have created one according to the guides available on https://mozilla.design/mozilla/
please review it once and suggest me the changes.

[2021-02-28 20:36] likeanushkaa commented on #239
Is this issue still open?

[2021-02-28 22:53] manishkk commented on #239
No @anushja

Thanks!

[2021-02-28 22:53] #239 closed

[2021-03-01 11:49] likeanushkaa commented on #239
Sure, no problem!😄

On Mon, 1 Mar, 2021, 4:24 am Manish, <notifications@github.com> wrote:

[2021-03-06 10:14] likeanushkaa commented on #198
Is this issue still open?

[2021-03-08 05:21] kindavishal commented on #198
Hey @anushja :wave:
Since we didn't hear back from the author, we shall be closing the issue. However, if you have ideas in mind that you want to share, you can still do so :D

[2021-03-08 05:21] #198 closed

[2021-03-08 05:22] kindavishal commented on #254
Hey @bobreyes :wave:
Still need any help here? Or can we close this?

[2021-03-08 05:42] bobreyes commented on #254
Thank you!

[2021-03-08 05:42] #254 closed, assigned to nobody

[2021-03-08 05:44] likeanushkaa commented on #198
Thank you for your response! Actually I was looking for some UI/UX issues
to work on. But I saw some Graphic Design problems only. Plus, I felt some
issues should be closed, hence pointed them out😊

Anushka Jain
19411009
GPT, 2nd Year

On Mon, 8 Mar, 2021, 10:51 am Vishal Das, <notifications@github.com> wrote:

[2021-03-08 23:04] likeanushkaa commented on #203
Is this issue still open?

[2021-03-09 08:33] mozfreddyb commented on #203
Sure, nobody ever designed a sticker here.
Please read through the full thread and once you have a draft, please create a new pull request with your suggestion for review & design iteration. Feel free to tag me for review, not sure who else in this thread is still actively participating in open design. :)

[2021-05-23 16:20] ozgeoztnr commented on #203
Hello,

I designed 3 badges: Bronze, Silver, Gold. I'm not sure if you need more complex designs.
I would love to hear your opinion @mozfreddyb

![Badges(1)](https://user-images.githubusercontent.com/84623104/119268464-ccace380-bbfb-11eb-93ab-1f5f193d5f2d.png)

<img width="658" alt="Bronze" src="https://user-images.githubusercontent.com/84623104/119268490-f2d28380-bbfb-11eb-8980-b1f5d990c931.png">

[2021-12-08 13:40] Raunaks068619 commented on #226
hi im learning UI/UX design as well as Fullstack dev, and made this concept type of thing like it has:
**CAPTAIN AMERICA'S shield** and **Mozilla firefox** logo too
Let me know what you guys think about it also if there are any changes...

![Frame 1](https://user-images.githubusercontent.com/68766724/145218039-217eff9b-4e1b-4484-9046-e1ac7c267fc5.png)
![Frame 51](https://user-images.githubusercont