[2016-05-22 21:09] albill commented on #68
I don't need you tone policing me. You don't know me and if you don't understand, you could ask better questions to clarify. I have no idea who you are.

It was suggested internally that this might be a good place to get help. Given your attitude, clearly not.

Feel free to close the issue. I'll go outside Mozilla and pay someone to work on this for a fee so we can get what we actually want, not d

[2016-05-22 21:09] elioqoshi commented on #64
@edovio  are you sure that you need a logo of your own here? We would like to try using general community logos before fragmenting

[2016-05-22 21:10] #68 closed

[2016-05-22 21:14] elioqoshi commented on #68
It is very debatable why you want it, and I suppose you haven't talked to the Creative Team before filing this request, which is kind of why I commented here. Feel free to pay for it, but that doesn't change the process to request permission to use a brand in that way like you wish to do it.

Not going into your other points, as they were plainly rude.

[2016-05-22 21:16] elioqoshi commented on #58
Do we have a goal for this? If yes, feel free to reopen it.

[2016-05-22 21:16] #58 closed

[2016-05-22 21:18] elioqoshi commented on #35
@LucyeoH what are the next steps on this?

[2016-05-22 21:19] elioqoshi commented on #61
@Raphseck can you help here?

[2016-05-22 21:33] elioqoshi commented on #63
@gedankenstuecke quite late on this but here we go. I took the liberty to recreate the logo, hope you don't mind. This should fit more now. What do you think?

![1](https://cloud.githubusercontent.com/assets/5436686/15456594/8c715764-2075-11e6-9375-ce90bf3c08fd.jpg)

[2016-05-22 21:33] #59 closed

[2016-05-22 21:36] elioqoshi commented on #44
@Ryuno-Ki I'd be happy to, but I'd need the source files. @parag9d please the source files so we can go on.

[2016-05-22 21:37] elioqoshi commented on #42
@Junaed33 I like that one as well! I will try to wrap the new identity up before the work week.

[2016-05-22 21:38] elioqoshi commented on #3
@Mte90 how is this going?

[2016-05-22 21:40] Mte90 commented on #58
Actual there is https://github.com/mozilla/mozmaker that is official and the demo on https://mozilla.github.io/mozmaker/demo/

[2016-05-22 21:42] Mte90 commented on #3
Actual there is this bootstrap css https://github.com/mozilla/mozmaker that is official and the demo on https://mozilla.github.io/mozmaker/demo/
but the wp project is stopped

[2016-05-22 22:04] edangor commented on #32
Aww, I was working on my proposals 😢.

[2016-05-23 00:20] parag9d commented on #44
The source file was already added in the community design github repo.
On May 23, 2016 3:06 AM, "Elio Qoshi" <notifications@github.com> wrote:

[2016-05-23 06:38] #44 closed

[2016-05-23 06:39] elioqoshi commented on #44
Okay @parag9d but please do a headsup when updating :)

[2016-05-23 08:20] gedankenstuecke commented on #63
@elioqoshi Thanks so much, those are really nice. 🎈 🎉 😍
The general logo re-design is awesome and I like the right sticker variant a lot!

Two minor things:
1. Could you modify the top-right logo variant so that the space between open & SNP is a bit smaller (The "official" name of the project is openSNP)?
2. The text/dots on the right sticker design seems to be a bit off-center to the right to me?

[2016-05-23 11:45] nukeador commented on #67
Hey sorry, I'm in the middle of a lot of stuff.

Video should be no longer than 3 minutes I think, in order for people to actually play it, I don't know what you think.

Questions slides should be the same questions I asked in the videos (we don't need to include everything, just the parts that feel more relevant)

These are the people inside Council and Peers:
* https://reps.mozilla.org/people/#/

[2016-05-23 13:00] armenzg commented on #62
It's a myriad of teams working together to empower development and we want to bring more self-identity and visibility towards the rest of the organization.

In any case I forgot to mention that we started a survey to pick the logo we want to use and we have one now. Thanks for your interest though!

Thank you to each one involved in this thread. I need to check with my manager if we want to keep t

[2016-05-23 13:00] #62 closed

[2016-05-23 17:15] elioqoshi commented on #63
@gedankenstuecke will do tomorrow and you will have the final files! :)

[2016-05-23 17:25] gedankenstuecke commented on #63
@elioqoshi Awesome, thanks so much!

[2016-05-23 18:37] karanverma opened #71 "Community Design Jalandhar"
![jalandhar mozilla](https://cloud.githubusercontent.com/assets/8354175/15480468/5c9f568e-2143-11e6-9bbd-899625590e05.jpg)
## Goal:
[Jalandhar Mozilla Club(DAVIET) community]

## Info:
[Community Wall]

## Tag:
[Developed by Karan Verma]

[2016-05-24 03:22] AymericFaivre commented on #21
Hi, sorry, i've lot of client work.
I make few changes, mostly to make more harmonious shapes and give more movement.
3 versions : with grey dash, with orange dash, and without.
Don't hesitate to provide feedback :)
![kinto_04_01](https://cloud.githubusercontent.com/assets/2395629/15491297/92381fe0-215e-11e6-866a-9f4aea73b9de.jpg)
![kinto_04_02](https://cloud.githubusercontent.com/assets/2395629/1

[2016-05-24 07:52] leplatrem commented on #21
Awesome! \o/ I really like the second one!

[2016-05-24 07:55] n1k0 commented on #21
Yeah, the second version is winner to me as well. Thanks a bunch, @AymericFaivre!

[2016-05-24 08:05] Natim commented on #21
Yes it is really good. However I don't understand the meaning of the brackets in the second and third ones. Is it for the share or self-host? Does it represent people or linked-computers? Or annotations like in the previous [Cliquet logo](http://kinto.readthedocs.io/en/stable/_images/logo.svg)?

[2016-05-24 08:20] tarekziade commented on #21
nit: We should see how a low-res version would look like - e.g. when printing shirts we won't have all those color nuances and details

[2016-05-24 08:36] tarekziade commented on #21
sinon, s/jaune/orange ?  je trouve que la forme et la couleur combinées ne changent rien au logo initial.

J'ai demandé à ma gamine de 5 ans ce que c'était, elle a dit "C'est du pipi ou du caca?"  😨

[2016-05-24 08:37] yofiesetiawan commented on #21
I really like @AymericFaivre version, it just the colors remind me of CloudFlare...

[2016-05-24 09:40] almet commented on #21
Thank you @AymericFaivre ! I really like the idea of having the wave inside the cloud, it's like a small tsunami :-)

I personally like the colors :) Maybe you can of propose other colors ? Howver, the main idea of this iteration was to work on the shape of the cloud, and I think we're in good shape ;)

I like the grey dashes, but like @Natim I miss some meaning for it. Maybe we could add some arr

[2016-05-24 12:10] armenzg commented on #62
The org members voted and the winner is https://camo.githubusercontent.com/63b498032bde18a9a59b901f856f5a42e69af012/68747470733a2f2f636c6475702e636f6d2f514f6c5238474e54576b2d3230303078323030302e706e67

Thank you all for your participation!

[2016-05-24 13:08] AymericFaivre commented on #21
Thanks for your feedbacks :)

Yes, it's just improvement of the last i did, cause it's seems to be a good track, according to the comments. I don't see the  poo/pee shape. Maybe if you can be more explicit i can adjust this but it seems others people don't see this.

Yes, it's the idea :)

I will make size declinations, and if necessary, make adjustements for the lowest size. For printing shirt an

[2016-05-24 13:43] elioqoshi commented on #63
@gedankenstuecke here we go!
https://github.com/mozilla/Community-Design/tree/master/openSNP/RGB

![horizontal](https://cloud.githubusercontent.com/assets/5436686/15506039/38358290-21c6-11e6-8c38-5c16bfc7df45.png)
![sticker](https://cloud.githubusercontent.com/assets/5436686/15506041/3838c608-21c6-11e6-8449-63f043344132.png)
![vertical](https://cloud.githubusercontent.com/assets/5436686/15506040/3

[2016-05-24 13:43] #63 closed

[2016-05-24 13:43] elioqoshi commented on #63
Please note that these are in RGB. If you need to print them, you should convert them into CMYK

[2016-05-24 13:52] elioqoshi commented on #21
Looks good @AymericFaivre ! I'm a fan of the first one, the dashes are quite unneccessary I believe

[2016-05-24 13:52] gedankenstuecke commented on #63
@elioqoshi awesome, thanks so much. Will convert to CMYK and print those stickers. And please: eMail me your address to bgreshake@gmail.com so I can send over some of the resulting stickers! :-)

[2016-05-24 13:54] elioqoshi commented on #63
@gedankenstuecke Thank you! No worries, we might meet at the London All Hands I guess anyway? :)

[2016-05-24 13:56] elioqoshi commented on #62
Great! Please push the files to our repo so they are easily accessible :)

[2016-05-24 13:56] gedankenstuecke commented on #63
@elioqoshi unfortunately we won't, but Mozfest might work out for me! :-)

[2016-05-24 13:57] elioqoshi commented on #63
Perfect, I will grab a sticker at the next occasion then, just keep up the great work :)

[2016-05-24 13:58] elioqoshi commented on #71
@karanverma Can you please explain what this is about?

[2016-05-24 15:07] armenzg commented on #62
Hi Elio,
We have them in here:
https://github.com/eliperelman/platform-logos

Do you want to grab them from there? or put a reference to it?

On 24 May 2016 at 09:56, Elio Qoshi <notifications@github.com> wrote:

--
Zambrano Gasparnian, Armen
Engineering productivy engineer - #ateam
http://armenzg.blogspot.ca

[2016-05-24 16:53] autonome commented on #58
@davidascher thanks for that list!

I want to work with @belen-albeza to develop a framework to evaluate CSS frameworks. Developers are going to use them no matter what, so we should help them make educated choices of framework.

@elioqoshi I think this is worth doing, but I think maybe this isn't the right place to do it, so am reluctant to re-open the issue. So far, the conversation is from non-

[2016-05-24 17:02] Mte90 commented on #64
They started with the promotion so a specific logos for their club will be useful for it

[2016-05-24 17:04] ecwebservices commented on #58
If your looking for a css framework ECKit is a good try. It's my try at one, but I haven't done much on it.

[2016-05-24 17:04] Mte90 commented on #65
Mozilla Italy actually it is not involved in that club, at the same time we don't have a logo template that can maintain the style of Mozilla Italia ones.
A specific logos will be helpful for the promotion.

[2016-05-24 20:05] yofiesetiawan commented on #67
Hi,
It's quite difficult to make it as a short video, since most of the people here speak with tones that are not easy to cut off. I'm trying my best to make it as short as possible, these are 2 versions of the long and short video...

Short (4:06)
https://www.youtube.com/watch?v=Y6eTHftRczI

Long (10:09)
https://www.youtube.com/watch?v=Jd5JhB2Sc4k

[2016-05-24 21:09] MichaelKohler commented on #67
Amazing work, thanks! This will be great, if we can make a few improvements. The length is perfect I think. Here’s my full feedback:

There are some really minor grammatical changes I’d suggest:

Short:
0:18  How will the Reps program CHANGE?
2:59  How is RepsNext helping LOCAL COMMUNITIES?
3:24  (tricky one because of the orange word pattern, I guess we need to break the “always noun”) What EXCIT

[2016-05-24 22:05] nukeador commented on #67
@yofiesetiawan the short version is GREAT, it captures a good summary :D

+1 to @MichaelKohler suggestions.

[2016-05-25 03:38] yofiesetiawan commented on #67
This is the edited version as requested by @MichaelKohler
https://www.youtube.com/watch?v=P0CCtQNwW4o

[2016-05-25 09:40] Mte90 commented on #16
The state that we are waiting a code review of the code from @mhoye

[2016-05-25 09:47] Mte90 commented on #28
So we need a little focus of the missing step to close this site in a way that for a new contributor is easy to join:

* Improve the responsive https://dribbble.com/ParagNandi/projects/364315-MozCoffee
* Get events from the reps portal (we have to check if a mozcoffee is filterable)
* Twitter widget with #mozcoffee hashtag
* Propose a photo slider and remove the static photo in the big header

Now

[2016-05-25 09:49] Mte90 commented on #3
An idea is to switch to the official mozmaker and abandon my version but the design of a site will be not the same of the official Mozilla website.

[2016-05-26 02:23] karanverma commented on #71
Mozilla Club of Jalandhar (DAVIET) .

[2016-05-26 13:46] #71 closed

[2016-05-27 13:12] Timotay opened #72 "Mozilla Brand Identity Research Challenge"
## Goal:
Help us define Internet freedom through photography.

## Info:
Mozilla is fighting for an Internet with greater freedom from corporate control, and for a future where people are truly empowered, safe and independent in their online lives. These important concepts can be hard for the average person to understand. We have a hypothesis that relating messages about Internet freedom with photo

[2016-05-27 13:25] ioana-chiorean commented on #32
@edangor there is not problem, Finish them and share them here! ( I think Elio wanted to get more context here/ inputs)

[2016-05-28 09:56] elioqoshi commented on #72
I'm trying really hard not to be cheesy here, but it's proving to be quite difficult. The best element to express freedom, is space I believe. The more, the better (?). This might be emphasized by a very small element (a person?) in a huge space. Like this:

![plane](https://cloud.githubusercontent.com/assets/5436686/15626667/356a1e42-24cb-11e6-93ed-81aad678f9a9.jpg)
![sea](https://cloud.githubuse

[2016-05-28 10:05] elioqoshi commented on #28
@tomfarrow can we request hosting for this and a domain?

[2016-05-28 10:06] elioqoshi commented on #16
Please update @mhoye

[2016-05-28 10:07] elioqoshi commented on #65
If it's a Mozilla Club, we shouldn't use additional images, just replace the name in the Club template

[2016-05-28 10:09] elioqoshi commented on #58
@autonome this is a bit chinese for me, so feel free to ping me if i need to do any action :D

[2016-05-28 10:15] TomFarrow commented on #28
@elioqoshi I'm not sure whether this falls under MCWS' scope or Pierros' scope. But, file a request to MCWS, and I can pass it to @ppapadeas if it makes sense to do that.

Either way, yes, somebody can host it. I'll help figure out who :)

Thanks

[2016-05-28 13:36] ecwebservices commented on #28
I'd host for free until January 2017 that's when my hosting runs out. Just let me know and I can set it up. All that need to be done by others is pointing it.

[2016-05-28 13:51] ecwebservices commented on #28
Also if I host it I could give @anistuhin FTP access so he can update it whenever.

[2016-05-28 14:11] ecwebservices commented on #28
Feel free to test my speed http://ecwebservices.xyz because I know now-a-days it is a big issue.

[2016-05-28 16:50] karanverma commented on #28
when this web will be available ?

[2016-05-28 18:59] ecwebservices commented on #28
@karanverma Seems like soon to me.

[2016-05-29 18:16] almet commented on #21
Hi,

I believe the next action here is to try a few variations. I believe we all agree that the logo is great in general ;)

Could you do some changes where:

- You use arrows instead of circles.
- You try to use different colors. Some other variations of yellow ? (after all it's a kinto-un!)

Thanks

[2016-05-29 20:02] lauriiii commented on #28
@Mte90 I could help with issues regarding responsiveness. Is there an issue list anywhere? Should I make pull requests to @anistuhin's repo?

[2016-05-29 21:20] Mte90 commented on #28
I read only the previous comments, check on the top @lauriiii

[2016-05-29 21:43] zelitomas commented on #24
@elioqoshi Are there any problems? If there are, would you please at least export the logo in higher resolution (preferably in png) that we could use on social networks until you'll be able to send the sources? It would be really helpful, because Mozilla contacted us asking if we could stop using Firefox logo as profile picture on Facebook and Twitter.

Thank you and sorry for my bad English.

[2016-05-29 21:45] AymericFaivre commented on #21
Hey,
Yes i will do the change in the middle of the week :)
Thanks !

[2016-05-30 08:46] yofiesetiawan commented on #67
Here is the link to short video with better resolution 720p https://www.youtube.com/watch?v=FpQYyAcG8AU

[2016-05-30 15:18] karanverma commented on #28
Any work for Mozcoffee website and other that can I contribute something ?

[2016-05-30 17:30] emmairwin opened #73 "Mozfest Volunteer Role - Sketch Design for Emma's Blog Post"
## Goal:
 I would love to have my rough sketches for Mozfest volunteer role 'want ads' turned into images I can use for a blog post due before EOD May 31 (**tomorrow**)

I know this deadline is tight, but asking anyway!

## Info:
It will be used in my blog post coming up before June 1  (when call for proposals goes out) and will inform the building of the actual want-ad design.

Attributes

**Titl

[2016-05-30 17:31] emmairwin commented on #73
![photo on 5-30-16 at 10 19 am 2](https://cloud.githubusercontent.com/assets/60618/15655395/a031588a-2651-11e6-8a91-ed005e5e783f.jpg)
![photo on 5-30-16 at 10 24 am](https://cloud.githubusercontent.com/assets/60618/15655394/a02f96a8-2651-11e6-9e25-70ef82468ce2.jpg)

If someone does have the time - having both of these turned into images would help me tell the story a little clearer than just one.

[2016-05-30 20:32] elioqoshi commented on #73
@emmairwin here we go :)

https://github.com/mozilla/Community-Design/tree/master/MozFest2016/CfP-Images

![mozfest cfp images-01](https://cloud.githubusercontent.com/assets/5436686/15657939/50fcda86-26b6-11e6-8c0a-72c83bfb4e0b.jpg)
![mozfest cfp images-02](https://cloud.githubusercontent.com/assets/5436686/15657940/50ffb81e-26b6-11e6-997d-b64fbccd4ed8.jpg)

Also, please credit "Freepik" which cre

[2016-05-30 20:32] #73 closed

[2016-05-30 20:37] elioqoshi commented on #73
P;S: I followed up with Emma via PM and she was happy with these results, hence I closed this right off (in case anyone wonders why I didn't wait for feedback)

[2016-05-30 21:03] MichaelKohler commented on #67
Thanks Yofie, this is amazing!

[2016-05-30 21:49] emmairwin commented on #73
Than you thank you!!

[2016-05-31 06:34] elioqoshi commented on #67
Thanks Yofie, much appreciated! Closing this :)

[2016-05-31 06:34] #67 closed

[2016-05-31 20:21] elioqoshi commented on #73
Changed Volunteers to Contributors as requested :)
![mozfest cfp images-01](https://cloud.githubusercontent.com/assets/5436686/15689155/f7ddf52a-277d-11e6-94d0-a7ca69202e77.jpg)
![Uploading MozFest CfP Images-02.jpg…]()

[2016-06-03 19:33] Slayslot commented on #28
Hi, guys. I'm new here and would love to help. Is there any part of implementation left to work on? Also, I saw discussion about hosting being done in the previous comments, I don't know if you guys have already discussed gh-pages, if not you can host this using that. That's what we do for our local community [Mozpacers](http://www.mozpacers.com).

P.S. The final hero image being used was one of t

[2016-06-03 21:37] AymericFaivre commented on #21
Hi !
I make few changes  :
- The first has a double arrow, and the others circle and arrow. Tell me what it make more meaning for you.
- The numbered pictures are déclinsons of colors. Yellow isn't an easy color. My preference goes to the first because of the vivids colors, but the others make sense to, so you have the
![kinto_05-13](https://cloud.githubusercontent.com/assets/2395629/15793420/5984

[2016-06-05 19:27] #20 closed

[2016-06-05 19:27] mhoye commented on #20
Thank you!

[2016-06-06 19:52] almet commented on #21
Thanks! We have a community meeting tomorrow where we will discuss the logo, and we'll get back to you just after it :-)

[2016-06-06 21:17] AymericFaivre commented on #21
Perfect, thanks :)

[2016-06-07 17:18] almet commented on #21
Hi!

After today's discussion, we decided to go for the solution listed here as n°3 for the colors, but without the arrows and small additions you did.

So, I believe we're almost there: could you do these last changes and send us the sources / export ? Thanks again :+1:

[2016-06-08 01:12] AymericFaivre commented on #21
Hello,

Perfect :)
So if i understand, it's this one :
![kinto_05-final](https://cloud.githubusercontent.com/assets/2395629/15879593/27adc63a-2d15-11e6-88c9-52d4879bfca4.jpg)

I'm on vacation (and away from my workstation) until 20th june, but if you need it, i can send you a png with alpha.
I will send you the final vector sources as soon as i'm back to work.

Thanks !

[2016-06-08 07:43] Natim commented on #21
Yes that's it :) Thanks a lot @AymericFaivre The PNG with alpha would be great :+1:

[2016-06-08 08:44] AymericFaivre commented on #21
Hop !
See you soon :)
![kinto_05_final](https://cloud.githubusercontent.com/assets/2395629/15888102/22226dac-2d55-11e6-8c95-e8145b3c3e8d.png)

[2016-06-08 08:44] almet commented on #21
We can start with this for now! Thanks

Le 8 juin 2016 03:12:30 GMT+02:00, Aymeric <notifications@github.com> a écrit :

[2016-06-08 08:56] Natim commented on #21
![capture](https://cloud.githubusercontent.com/assets/229453/15888534/8c61b094-2d67-11e6-957f-8cb187f16995.png)

I guess @leplatrem can now close this issue :)

[2016-06-09 08:15] leplatrem commented on #21
Awesome! Huge thanks to all participants!

[2016-06-12 08:25] elioqoshi commented on #21
Sorry for being a bit late to the party, I thought I'd chime in with some small details before this is set in stone.

I think the cloud is a bit misaligned with the wordmark.I'd suggest aligning it with the base of Kinto and scale it a little bit down afterwards. If you check it out here, there are way too many lines isolating h the objects:

![kinto](https://cloud.githubusercontent.com/assets/543

[2016-06-13 18:44] #54 closed

[2016-06-17 13:59] Mte90 opened #74 "Fira font issues on Google Fonts"
## Goal:

Fira font update on Google Fonts CDn to improve the experience and use of that font in the many apps and websites that use it.
## Info:

Ref: https://github.com/google/fonts/issues/10
## The problem:

Google font use an old version of Fira font family that have rendering problems in many browser and situation meanwhile the Mozilla CDN version of the font don't have that problem.
The prob

[2016-06-19 13:31] elioqoshi commented on #74
@mart3ll what do you suggest?

[2016-06-19 16:34] elioqoshi commented on #24
Sorry, I failed to get this notification here. Here we go:
http://elioqoshi.me/owncloud/index.php/s/ODP9WOy2ZI2Y5yf

[2016-06-19 20:40] MikkCZ commented on #24
Great, downloaded and I will upload it to our repo in a minute, and on website and social media later this weak. Thank you very much, and thanks everyone for their designs too!

[2016-06-19 20:40] #24 closed

[2016-06-19 23:37] svivian commented on #74
I've tried putting the files for Fira Sans through Font Squirrel's webfont generator, and they come out around 28kb which is better. Though there seems to be a problem with ligatures not displaying that I can't figure out.

I think the main thing Google Fonts does is split the font into several character ranges and use the `unicode-range` property. This way most pages will only download a small su

[2016-06-20 18:05] Mte90 opened #75 "Promote MDN plugin for WordPress"
## Goal:
- A new banner of size of 772x250px
- A new logo for that plugin (square)
- [Optional] https://developer.mozilla.org/en-US/promote multilanguage
## Info:

https://github.com/mdn/wp-promote-mdn
## Style Information:

MDN styles
## Deadline:

It is blocking for the next major version

[2016-06-20 18:22] elioqoshi commented on #75
Taking this on.

[2016-06-20 19:04] elioqoshi commented on #75
@Mte90 I'd need the source files. Can you track them down?

[2016-06-20 19:06] Mte90 commented on #75
Of https://developer.mozilla.org/en-US/promote? I have no idea where find it XD

[2016-06-20 19:06] mart3ll commented on #75
They should be on the Mozilla asset repo.

On Monday, 20 June 2016, Elio Qoshi <notifications@github.com> wrote:

--
*Sean Martell   *
 *Lead Creative, Brand*
*__________________________________________*
*+1-416-545-7724   |   blog.seanmartell.com <http://blog.seanmartell.com>
|   @mart3ll*

[2016-06-20 19:07] mart3ll commented on #75
Oh, not those styles. Matt Ternoway has that artwork.

On Monday, 20 June 2016, Sean Martell <smartell@mozilla.com> wrote:

--
*Sean Martell   *
 *Lead Creative, Brand*
*__________________________________________*
*+1-416-545-7724   |   blog.seanmartell.com <http://blog.seanmartell.com>
|   @mart3ll*

[2016-06-20 20:20] elioqoshi commented on #75
@mart3ll thanks, do you have a connection to him or should I drop him an email?

[2016-06-21 22:57] AymericFaivre commented on #21
Hey !
I made some change to align the cloud with the top of the "m" of "mozilla" and the bottom of the "K" of "Kinto". This version is easier to use with and without the baseline.

![kinto_10](https://cloud.githubusercontent.com/assets/2395629/16248965/4441227c-3802-11e6-85cb-830edbf4d217.jpg)

I export the final version in in various format. Where can I upload them?

Thanks !

[2016-06-21 23:20] mart3ll commented on #21
Sorry to chime in on this late stage, but we should not be making a logo for this and the wordmark should at this point be made through the Brand team until the new system is complete.

Please see our new guidelines for branding projects, technologies and products at Mozilla:
https://wiki.mozilla.org/Engagement/Brand/Brand_and_Identity_Guide

[2016-06-22 00:06] AymericFaivre commented on #21
@mart3ll so, i spent time for nothing? If this is the case, it is very annoying...

[2016-06-22 00:12] mart3ll commented on #21
I wouldn't say for nothing - the visual can be used for swag, shirts, and stickers, it just shouldn't be used as the official logo. Lots of opportunity to use it.

The system is put into place so we can strengthen our main brands. We have far too many logos at Mozilla currently (I know, I've designed over 100 of them) and going forward we want the focus to be on our main Mozilla brand and key prod

[2016-06-22 07:58] tarekziade commented on #21
@mart3ll can we just remove the word "Mozilla" and use the logo as it is as our official logo ?

[2016-06-22 14:27] mart3ll commented on #21
Where does this fit into the Mozilla brand architecture within that wiki link? Project, technology or product? If it is not getting full Mozilla product support like Firefox, then it does not get its own logo.

As I said, it can still have visuals associated with it, but more for clothing, stickers, etc.

We can set up a chat to go over the new brand architecture system if you'd like.

[2016-06-22 15:00] almet commented on #21
I think there is a misunderstanding here: Kinto is a project that is used at Mozilla but not a Mozilla "owned" project (just like Rust is).

As such, I do not believe these rules apply, and that it actually make more sense to not have the "Mozilla" brand associated with it.

[2016-06-22 15:35] mart3ll commented on #21
Aha!

Ok, if it is not an official Mozilla project, technology or product then
removing the Mozilla wordmark should be enough, yes.

It might benefit from using another font for the wordmark itself if it
isn't part of our brand system, but that's not a necessary change.

On Wednesday, 22 June 2016, Alexis Metaireau <notifications@github.com>
wrote:

--
*Sean Martell   *
 *Lead Creative, Brand*
*__

[2016-06-23 17:06] AymericFaivre commented on #21
Hi !
So, this version, without the mozilla wordmark, should be the one :)
![kinto_11](https://cloud.githubusercontent.com/assets/2395629/16312559/cbcea648-3964-11e6-9b3e-f79afd98d832.jpg)

If it's ok, I send you the files, juste let me know.
Thanks !

[2016-06-23 18:12] elioqoshi commented on #21
@AymericFaivre I did some suggestions in my prior comment:
https://github.com/mozilla/OpenDesign/issues/21#issuecomment-225416715

I'd suggest applying these, if you agree :)

[2016-06-23 18:15] AymericFaivre commented on #21
@elioqoshi yep, like you suggested I've aligned the cloud with the bottom of kinto, but I let it free on the top, to keep it strong, free and dynamic.

[2016-06-27 11:21] AymericFaivre commented on #21
Hello,
I sent the sources files to kinto(@)mozilla.org. Enjoy !
So, I think you can close the issue.

Thanks :)

[2016-06-28 14:57] elioqoshi commented on #21
Please also the source files here, we want to work in the open, thanks :)

[2016-06-28 15:02] Natim commented on #21
I guess you are talking about this emai: https://mail.mozilla.org/pipermail/kinto/2016-June/000171.html

[2016-06-28 15:04] AymericFaivre commented on #21
Yep :)

[2016-06-28 15:06] elioqoshi commented on #21
Can you push the files to our repo please?
www.miho-stories.com/labs/Kinto/Kinto_Logo_Livrables.zip

[2016-06-28 15:06] Natim commented on #21
@elioqoshi Would you like a PR to OpenDesign?

[2016-06-28 15:08] Natim commented on #21
Btw @AymericFaivre if you want to give a revamp shot at http://www.kinto-storage.org/ design you are more than welcome.

[2016-06-28 15:12] elioqoshi commented on #21
@Natim yes please, I can merge it

[2016-06-28 15:13] Natim commented on #21
@elioqoshi https://github.com/mozilla/OpenDesign/pull/76

[2016-06-28 15:13] Natim commented on #21
By the way thanks a lot @AymericFaivre

[2016-06-28 15:20] AymericFaivre commented on #21
Thanks to you @Natim
I will have some free times at the end of july to take a look at kinto storage :)

[2016-06-29 21:50] Ryuno-Ki commented on #72
@MozJan asked me to share these images with you before the deadline is reached. He has some struggles with his GitHub account right now.

The following images are taken by him and published under [CC BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/):
[![King of the Universe](https://drscdn.500px.org/photo/157838141/q%3D80_m%3D1500/ecfa7699e2b39ad3903e3701497bd2bf)](https://500px.com/phot

[2016-06-30 05:22] fauzanalfi commented on #29
Thanks everyone who've contributed on this issue. Sorry if I'm late on closing this one. Mozilla Community Space Jakarta is now open for public and you guys are invited to come to the Space. More info on the Space: [mozilla.or.id/space](http://mozilla.or.id/space)

[2016-06-30 05:22] #29 closed

[2016-06-30 21:35] Ryuno-Ki opened #77 "Typography of Mozilla L10n Wordmark"
Not a request, but an issue/a question ;-)

Today, @elioqoshi shared some drafts of … name tags for Mozilla L10N Slovenia. Its header looked like this:
![mozl10n](https://cloud.githubusercontent.com/assets/3097194/16505005/272b5372-3f1b-11e6-8052-b853e691ee8f.png)

![mozl10ntypography](https://cloud.githubusercontent.com/assets/3097194/16504899/8c9c5eaa-3f1a-11e6-9c71-593995d9c60f.png)

As you can

[2016-07-01 12:13] praveenbadami opened #78 "Logo and banner"
We need a banner format and  logo for our workshop on   "mozilla web literacy" ...

The workshop is held on 15th July at Vijayapur - Karnataka  State( INDIA)

Logo: Mozilla Vijayapur - Karnataka  State

Banner : A Workshop on
 "web literacy "
15th july, 2016
Please see the attachments...the banner should be as per attachments...only title need to change
![banner of foss projects](https://cloud.git

[2016-07-05 20:57] MarieSchweiz commented on #23
hei @zee-moz maybe i can help you a little from a brefing perspective. Your Illustration is a very geometrical shaped example. Which means paws is a very difficult request and shadows should be sharp not soft. Otherwise the style gets a little lost. example attached. "polished look" is difficult to understand. Can be everything. better outfits? I admit its a very rough fox. Maybe a brefing could l

[2016-07-05 21:39] Raphseck commented on #23
Hey guys.
Sorry about my big delay.
I had some problems in the last months.

@MarieSchweiz  !
LOVE your foxes : )

[2016-07-05 23:59] MarieSchweiz commented on #23
thanks @Raphseck maybe you can develop him in the direction requested? Take this one, might look better vectorized? She is already a cutie but i just sketched her.

![sciencefox](https://cloud.githubusercontent.com/assets/1557392/16603543/17081bbe-431d-11e6-92dc-f6f5196f6cc4.jpg)

[2016-07-10 08:10] hossainalikram commented on #61
Pinging again as the Design is still needed.

[2016-07-12 20:32] MichaelKohler opened #79 "Visual for RepsNext"
## Goal:
We would like to get a nice visual for the drawing in https://docs.google.com/document/d/1Xnf8daDl1OzuTvK14gxQKNxwv9ZFZ0PdG_1vaFVbgqA/edit?usp=sharing (attached below for clarity). Feel free to be creative, it doesn't need to look exactly like that as long as the meaning is still given.

![screen shot 2016-07-12 at 22 31 45](https://cloud.githubusercontent.com/assets/330324/16782560/70e86

[2016-07-15 20:45] wbranton commented on #77
I agree that it does look odd. Part of the reason that it looks so odd is probably because the Mozilla logo and l10n are not vertically aligned properly. It looks like the line in the middle has been vertically aligned with the "a" in Mozilla. The alignment would look strange if you centered it to the entire Mozilla logo though because the logo isn't vertically balanced. I'm not sure what you coul

[2016-07-19 23:32] MichaelKohler commented on #79
Quick bump here, is there anyone interested in creating this visual? /cc @elioqoshi

[2016-07-20 02:37] prathameshchavan opened #80 "Mozilla India Meetup 2016"
## Goal:
The Mozilla India Community has organized a Mozilla India Meetup 2016. Over 100 participants would be joining this gathering. The goal is to create a logo for the meetup which would be a mix of text and graphics and could be used as a design for printing laptop stickers.

## Info:
The design would be used in all the activities under the Mozilla India Meetup 2016. It would be used in onlin

[2016-07-20 21:30] ioana-chiorean commented on #80
a logo or a design for tshirt? Mozilla India already has a logo ( nice one even)

[2016-07-20 21:34] ioana-chiorean commented on #79
Also @yofiesetiawan has a nice input on this type of designs before.
I can also help but with more like a sharp design ( not people, cute animals and flowers :| )

[2016-07-21 15:25] prathameshchavan commented on #80
We are looking for a logo which would be specific to the Mozilla India Meetup 2016.
Tshirt design would be different.

[2016-07-21 18:42] yofiesetiawan commented on #79
![repsnext-diagram](https://cloud.githubusercontent.com/assets/2810823/17034566/6e30c84a-4fad-11e6-9414-2ff7d1e9d442.jpg)
I don't know if it's acceptable or not, just following the illustration...

[2016-07-21 21:32] parag9d commented on #79
Made this based on the visual style of Reps logo: https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/mozillareps/files/2014/04/cropped-Untitled.png

Hope this is satisfactory...
![repsnext](https://cloud.githubusercontent.com/assets/6411097/17039529/92e0b118-4fb8-11e6-8c02-40ab2febfd26.png)

[2016-07-22 10:14] parag9d commented on #79
@MichaelKohler Is the visual okay? Let me know...

High Resolution Image: https://www.dropbox.com/s/y8feksdnk9rr874/RepsNext.png?dl=0

[2016-07-23 20:07] ioana-chiorean commented on #79
@parag9d - till @MichaelKohler  replies can u try sa version with another background color? i feel it is too much red. maybe gray?

[2016-07-24 09:21] parag9d commented on #79
@ioana-chiorean @MichaelKohler Another version with grey background...

![repsnext-02](https://cloud.githubusercontent.com/assets/6411097/17082984/0b8f460a-51ae-11e6-80a1-746a143cfe5b.png)

[2016-07-24 16:30] ioana-chiorean commented on #79
way more easy to read - 👍

[2016-07-24 16:37] yofiesetiawan commented on #79
Now we have more new logos for each tracks :D

[2016-07-25 06:05] elioqoshi commented on #78
I see this has passed. Would be preferred if these requests would go a bit earlier in, now especially in summer as a lot of people are on vacations

[2016-07-25 06:05] #78 closed

[2016-07-25 06:06] elioqoshi commented on #80
Thanks for requesting @prathameshchavan ! We will get back very soon with updates on this.

Can you send us the Mozilla India logo in vector format?

[2016-07-25 06:11] thomasjosephgreco commented on #80
@prathameshchavan wanted to ping you as I just spent some time speaking with @elioqoshi on this task and am happy to work with him on completing it 😄 Will be chatting with Elio more about this shortly... Excited to begin putting this together !

[2016-07-25 06:14] elioqoshi commented on #80
Perfect! Happy to see Tom onboard!

[2016-07-25 06:18] elioqoshi commented on #79
They are not logos, but icons. Should be good to go. Thanks for chiming in!

I refer the one with the red background, but I'd suggest making the title boxes bigger and white (text should be red). Orange is pretty unrecognizable :)

[2016-07-25 06:18] geroter commented on #80
Wanted to chime in here.

A major theme of this meetup is refreshing, rebirth, recommitment,
rebooting...it's aiming to mark the beginning of the next phase of Mozilla
India.

If the graphic could reflect this theme, that would be amazing!

On Jul 25, 2016 08:11, "Tom Greco" <notifications@github.com> wrote:

@prathameshchavan <https://github.com/prathameshchavan> wanted to ping you
as I just spen

[2016-07-25 06:19] elioqoshi commented on #79
@MichaelKohler please try to keep at least 2 weeks buffer for requests, especially now in Summer time as people are on vacations. I hope we are not too late for this though.

[2016-07-25 06:19] elioqoshi commented on #79
@parag9d also please share source files :)

[2016-07-25 06:22] elioqoshi commented on #77
The name of the project will always be smaller than the Mozilla wordmark. Maybe I did a mistake here and it's my fault so let me check if that's the case.

[2016-07-25 06:25] elioqoshi commented on #80
Thanks George, we will keep this in mind

[2016-07-25 07:31] prathameshchavan commented on #80
I thank you so much @ioana-chiorean @elioqoshi @thomasjosephgreco for helping us with the graphics.

As @geroter said, this meetup will mark a new beginning for Mozilla India. Also, since it is happening in Pune, we are very much keen on giving it a Pune touch by adding some graphics which are associated with Pune.

Shaniwar Wada is a historic monument located in the heart of the city and so, if y

[2016-07-25 07:39] MichaelKohler commented on #79
I really like the one with the gray background, thanks!

Maybe @nukeador wants to give his feedback here as well?

[2016-07-25 10:45] nukeador commented on #79
Hello,

Quick feedback: I like the overall design.

Some questions:

* Coach is more a guide than a trainer, is the whistle the best icon?
* The Council icon is not linked with anyone. Maybe linked to the Reps one?
* Who are we referring with the "Leadership team" icon?

Thanks for the good work!

[2016-07-26 00:44] hmitsch commented on #79
What about one of there for the "**Coach**"?
- https://thenounproject.com/term/coaching/66723/
- https://thenounproject.com/term/leadership/544631/
- https://thenounproject.com/term/teamwork/215991/

What about changing the perspective of **Leadership** to something like this?
- https://thenounproject.com/term/helm/163872/

[2016-07-26 12:55] Mte90 opened #81 "MozItalians - Italian Participation Team"
## Goal:
A logo, badge style like FSA, for the Italian Participation Team to use for swag and promotion.

## Info:
In the logo it's important to have an Italian symbol to get easily reconize or references like the flag colors.

## Style Information:
The Mozilla Italia logo is https://www.mozillaitalia.org/home/wp-content/themes/mozillaitalia/immagini/header_logo.png, for us it's not a problem to n

[2016-07-27 07:25] kskarthik opened #82 "B2G OS Logo"
## Goal:
We need a logo for B2G OS

## Info:
I made a transparent bg image from the existing one i found using gimp. Please convert it to vector (.svg) & add detail to it. I tried using Inkscape but i'm not expert in it.

## Deadline:
One month (flexible)

## Tag:
[Design Needed]

![b2gcut](https://cloud.githubusercontent.com/assets/11899221/17167146/1f96c6f8-53f9-11e6-8214-401476ec039f.png)

[2016-07-28 05:59] elioqoshi commented on #82
Sorry, I don't think this is relevant and we should not be focusing our efforts on recreating a logo. @mart3ll also advised not to use it again as it's outdated. Who is leading B2G OS? We just cannot create a logo and afterwards see it rejected on official channels.

[2016-07-28 06:00] elioqoshi commented on #81
Daniele, what will you be using this for? As I said, no logos for smaller projects as that goes against the new branding guidelines. We can make graphics for specific swag or mediums however.

[2016-07-28 06:02] parag9d commented on #82
@elioqoshi Exactly, this is what I was also concerned with. We can probably redesign the logo if the official channel decides so.

[2016-07-28 06:02] elioqoshi commented on #79
I think a Torch icon would be best for Coach.

@MichaelKohler the gray background doesn't feel like Reps that much really :) Red works better here (with some adjustments of the elements of course).

[2016-07-28 06:05] parag9d commented on #79
As I had mentioned earlier the red and yellow colour scheme is based on the visual style of Reps logo: https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/mozillareps/files/2014/04/cropped-Untitled.png & some visual cues from the introductory video

So, even I guess the red one is more in sync with the RepNext Branding. But we can tweak it a little, based on the requirements. I will upload th

[2016-07-28 06:07] elioqoshi commented on #79
@parag9d Thanks! The orange is only part of the gradient I think. I haven't seen it as a solid color at Reps, hence I mentioned that. Do you have write access to the repo?

[2016-07-28 06:12] parag9d commented on #79
I used the yellow/orange shade from the focused text colours used in the introductory video here: https://blog.mozilla.org/mozillareps/2016/06/16/repsnext-introduction-video/.

I don't know if I have the write access, but I had uploaded the Mozilla Hyderabad Logo earlier. How do I check the access status?

[2016-07-28 07:11] elioqoshi commented on #79
You have write access, should be good to go

[2016-07-28 07:49] geroter commented on #82
Quick Context:

B2G OS isn't an official Mozilla project anymore. So moving forward the
"official channel" is the community of people/contributors/volunteers who
are passionate about this project.

You may still decide that it isn't a good use of this group's time to help
out with a logo for the project. @elioqoshi and others can vote with your
feet :)

On Jul 28, 2016 08:02, "Parag Nandi" <notifi

[2016-07-28 07:52] elioqoshi commented on #82
@geroter Makes sense, but even for the community group, there needs to be some kind of consensus. If there will be some coordinated request, and we can be sure that the logo will be put to good use, we can do that, of course.

[2016-07-28 08:44] Mte90 commented on #81
We will use for our participation team that is growing very fastly.
We need a different logos, also similar to the community one, only for
promotion and swag.
For promotion I mean slides, meetup, social and internal things.

[2016-07-28 14:18] MichaelKohler commented on #79
@elioqoshi

Could you elaborate on this? For me a torch would be "follow me, I lead you through the darkness". While the darkness part is nice, I don't think we want to have a followers perspective here, but more like teamwork.

If red works better and you'd recommend this from a design point as well, we could definitely go with red based on a design standpoint :)

[2016-07-28 19:36] umeshagarwal commented on #80
@elioqoshi did you got a chance to work on this? I am pushing this as the event is approaching and  we need to print them as well.

Regards
Umesh Agarwal

[2016-07-29 12:07] parag9d commented on #80
I am almost done with the Shaniwar Wada illustration. Will post the sticker design hopefully by tonight. Using a rising sun in the sky to depict the rebirth/recommitment theme...

[2016-07-29 14:07] tripad commented on #80
@prathameshchavan Where exactly do you plan to use this logo ?
Is this going to be used on any kind of swag - like stickers, tshirt etc ?

[2016-07-29 17:21] thomasjosephgreco commented on #80
@tripad just to be sure, I am still working on this logo correct ? I was about to work on an Shaniwar Wada illustration but I want to make sure that I am all good to go

[2016-07-29 17:23] parag9d commented on #80
@thomasjosephgreco Don't worry about it, I am done with the illustration, will be posting in some time.

[2016-07-29 17:30] thomasjosephgreco commented on #80
@parag9d alright so what will we be using that illustration for? If you can check out the thread you'll see that this is something that @elioqoshi and I spoke about doing so which is why I believe @tripad asked where this logo plans to be used?

[2016-07-29 17:33] prathameshchavan commented on #80
@tripad The logo would be used in printing stickers which could be pasted on the laptop cover. The design would be circular just like any other Mozilla stickers. We dont want any design for the tshirts.

[2016-07-29 17:36] prathameshchavan commented on #80
I am very much clear with the logo plans as in where it would be used. Kindly refer the above threads for specifications.
@parag9d Waiting for your design :)

[2016-07-29 17:37] thomasjosephgreco commented on #80
@prathameshchavan just to be sure, is this still something that I am working to create ? I would definitely like to help out but I think I am getting a bit confused. Will I be incorporating @parag9d's design into the logo ? my apologies for the confusion 😄

[2016-07-29 17:42] parag9d commented on #80
@thomasjosephgreco I will post the entire logo & the sticker design. If there are any changes/improvements needed you can add to it :)

[2016-07-29 17:43] prathameshchavan commented on #80
@thomasjosephgreco Hey! No problem :)
As per my understanding, you and @elioqoshi are working together. That logo idea would be yours and anything that you guys discuss and create together.
Meanwhile, @parag9d is working on his idea. If he is done with his logo design, then you and @elioqoshi can suggest some changes or come with your own new design altogether. :)

[2016-07-29 18:06] parag9d commented on #80
Shaniwar Wada Illustration:
![mozilla india meetup 16-01](https://cloud.githubusercontent.com/assets/6411097/17258544/14da0c28-55e5-11e6-9854-ef57e8b59564.png)

Mozilla India Pune Meetup Sticker:
![mozilla india meetup 16-02](https://cloud.githubusercontent.com/assets/6411097/17258565/2b17ac70-55e5-11e6-955f-9fd5d8efbad0.png)

I will upload the source file and the associated assets soon...

[2016-07-29 18:10] prathameshchavan commented on #80
@parag9d
Some addition:
- Kindly add the text 'Meetup'

[2016-07-29 18:20] parag9d commented on #80
@prathameshchavan Check this, let me know if there is anything else. I will do them tomorrow, signing off for tonight. Good night everyone :)

![mozilla india meetup 16-02](https://cloud.githubusercontent.com/assets/6411097/17258979/08df89d2-55e7-11e6-8940-c34126d9cf33.png)

[2016-07-29 18:45] prathameshchavan commented on #80
@elioqoshi @thomasjosephgreco Do you guys have any suggestions on @parag9d 's design? Or are you creating an altogether new logo?

[2016-07-29 21:12] umeshagarwal commented on #80
Good work!
Can we accommodate event name "Mozilla India Meetup 2016 - Pune" in this ?

[2016-07-30 02:40] prathameshchavan commented on #80
@parag9d Can you create one more image with text 'Meetup 2016 Pune' instead of 'Meetup Pune'16'.
i.e.
2 images:
1) As above
2) With text 'Meetup 2016 Pune' replacing 'Meetup Pune'16'

[2016-07-30 03:03] parag9d commented on #80
![mozilla india meetup 16-02](https://cloud.githubusercontent.com/assets/6411097/17267782/4d0d371e-5630-11e6-87a4-22036fa737c8.png)

[2016-07-30 03:10] prathameshchavan commented on #80
@parag9d Thanks! :)

[2016-07-30 07:10] elioqoshi commented on #80
Looking really solid! Can you please attach the source files here so we can try some tweaking? Thanks!

[2016-07-30 07:20] parag9d commented on #80
@elioqoshi Done. Uploaded here: https://github.com/mozilla/OpenDesign/tree/master/Mozilla%20India%20Meetup%20'16%20-%20Pune

[2016-07-30 07:24] parag9d commented on #79
Source files uploaded here: https://github.com/mozilla/OpenDesign/tree/master/RepsNext%20Blog%20Visuals

[2016-07-30 09:43] elioqoshi commented on #80
![mozilla india meetup 16-02](https://cloud.githubusercontent.com/assets/5436686/17269510/c46994fa-564a-11e6-8668-4e4a2fb55dca.png)

Added some border, tweaked the colors and also fixed the meetup title as requested. What do you think?

[2016-07-30 11:41] umeshagarwal commented on #80
Thanks everyone the final one looks good and perfect for making stickers.

Regards
Umesh Agarwal

[2016-07-30 11:42] umeshagarwal commented on #80
@elioqoshi Can you share the high resolution file which can be send for printing ?

[2016-07-30 11:49] parag9d commented on #80
@elioqoshi Now that there is a border, maybe you can utilise the same and increase the size of the texts. Also, the white outline of the border is visible just below the text, can you do something about it? Thanks.

Convert the RGB file to CMYK and remove the white background from the artboard. Then export the PNG file. Good job everyone 👍

[2016-07-30 12:03] elioqoshi commented on #80
Sure, confirming here, good to go?
![sticker-02](https://cloud.githubusercontent.com/assets/5436686/17270220/53e21536-565e-11e6-9422-53d4ea79c0ab.png)

[2016-07-30 12:05] umeshagarwal commented on #80
Yes this is good!

[2016-07-30 12:08] prathameshchavan commented on #80
Perfect!
Thank you so much everyone! \o/

[2016-07-30 12:42] elioqoshi commented on #80
There we go!
https://github.com/mozilla/OpenDesign/tree/master/Mozilla%20India%20Meetup%20'16%20-%20Pune

Good luck with the event!

[2016-07-30 12:42] #80 closed

[2016-07-30 15:18] elioqoshi commented on #79
@MichaelKohler You are right. Anyway here is the version I suggest (I changed the leadership icon)
![repsnext-01](https://cloud.githubusercontent.com/assets/5436686/17271355/a5a7abea-5679-11e6-83fc-0368d7e62ebf.jpg)

[2016-07-30 15:20] elioqoshi commented on #81
Sorry but we cannot do that. As I said, feel free to use your community logo with a subtitle (Participation) but we are not creating new logos for projects of this scale.

[2016-07-30 18:04] MichaelKohler commented on #79
Thanks! Could we somehow make the Council icon position (or make lines or whatever) to say that Council will focus on the strategy of all these? Currently it's on the top, but seems quite displaced. Any ideas?

[2016-07-31 06:37] elioqoshi commented on #79
@MichaelKohler how about this?
![repsnext-01](https://cloud.githubusercontent.com/assets/5436686/17275028/04b5d8b6-56fa-11e6-9d33-296f82b352a2.jpg)

[2016-08-03 09:41] MichaelKohler commented on #79
Thanks Elio, I like it. @nukeador do you have any other input?

[2016-08-03 09:45] hmitsch commented on #79
@MichaelKohler I also really like it! In my opinions it captures the current state of affairs quite well. What I like best is the big dotted frame created by the Council. Well done @elioqoshi and team!

[2016-08-03 11:24] nukeador commented on #79
For me having a red background with red icons make it extremely difficult to read, I feel it's hard for people with visual problems to read.

* "Leadership team" is not clear what's referring to, maybe "leadership training is more clear".
* "Coach/ing" maybe should be linked to goals too.

[2016-08-03 12:18] MichaelKohler commented on #79
Henrik and I have written text to explain it, that should be fine (see https://docs.google.com/document/d/1Xnf8daDl1OzuTvK14gxQKNxwv9ZFZ0PdG_1vaFVbgqA/edit?usp=sharing)

Fair point, this might actually just be "Leadership" if we want to be consistent in naming (see "Resources" and not "Resources Team"). Or we add "track" to both of them which makes it more complex.

Every coach is a Rep by itself

[2016-08-03 16:23] hmitsch commented on #79
Nice discussion. All of @nukeador's points seem reasonable to me. Not sure if we should take action on all of them.
- Red color: for sake of accessibility, the picture is described in words in the text below the picture. The design experts advised to use red color. I am bad at these things, so I'd go with the designers' suggestions.
- +1 to the consistent naming. Not sure which parts need changing

[2016-08-03 16:27] MichaelKohler commented on #79
Thanks Henrik, since I'd love to get this blog post out of the door as quick as possible, @elioqoshi could you please change "Leadership Team" to just "Leadership"?

Thanks everyone who was involved here, great to have design resources at disposal to make it the best out of it!

[2016-08-04 17:55] gueroJeff opened #83 "Generalize l10n hackathon design resources"
## Goal:

We'd like to use these design resources for future l10n hackathons without needing to request changes for each one. We'd like the resources to be generalized so that we can print them in bulk, once, without needing customization.
## Info:

It will be used for future l10n hackathons organized by the l10n-drivers.
## Style Information:

https://github.com/mozillaslovenija/Design/tree/maste

[2016-08-05 12:38] #82 closed

[2016-08-05 17:23] MichaelKohler commented on #79
After discussing this with a few others, could you please also change the background to something that gives it more contrast so it is easier for people with disabilities to see? After that and the change to "Leadership" we're set! Thank you for your effort, greatly appreciated

[2016-08-07 18:18] Mte90 commented on #81
Ok thanks for the support :-)

[2016-08-07 18:18] #81 closed

[2016-08-08 17:58] thomasjosephgreco commented on #66
@selimsumlu is this still something that you need ? I'm not sure if @elioqoshi was able to get around to it, but if not, i'd be happy to help out 😄

[2016-08-08 18:52] selimsumlu commented on #66
Hi @thomasjosephgreco,
Yes, it wasn't an urgent thing we still need it.

[2016-08-08 19:08] thomasjosephgreco commented on #66
@selimsumlu I can definitely help you out then 😄 Are there any color, or font schemes that you'd like me to follow, or do I kind of have a free-reign ? Nonetheless I am excited to help out with this !

[2016-08-08 19:17] selimsumlu commented on #66
Thanks, Tom!

Please see the original post for suggested colors. Other than that, no rules/requirements to follow.

[2016-08-10 15:34] elioqoshi commented on #79
@MichaelKohler Sorry for the delay, I was outside country for a conference.

Here we go :)
![repsnext-01](https://cloud.githubusercontent.com/assets/5436686/17560005/9e6256a0-5f20-11e6-9ffa-16a57acc03a2.jpg)

[2016-08-10 15:35] MichaelKohler commented on #79
Perfect, thanks a lot!

[2016-08-10 15:35] #79 closed

[2016-08-10 16:09] elioqoshi commented on #66
Sorry about this, ended up in the backburner :(
I will help Tom with this :)

[2016-08-10 16:39] elioqoshi commented on #61
Sorry, we missed this it seems. I am personally also unable to follow up on all design requests by my own. Is this still needed?

[2016-08-10 16:40] elioqoshi commented on #23
ping @Raphseck

[2016-08-10 16:45] hossainalikram commented on #61
Yes, It is still needed and the request is still on.

Regards
Ikram

[2016-08-10 16:46] elioqoshi opened #84 "Meeting 11th August 2016"
We will have our next Open Design Meeting on Vidyo as usual:

Date & Time: Thursday, 11th August 5PM GMT
Duration: 30-45min
Vidyo Room Link: https://v.mozilla.com/flex.html?roomdirect.html&key=NTr7t1TVKnnhKBCVCd74qw8Oo

Agenda/Notes/Questions:
https://public.etherpad-mozilla.org/p/open-design-meeting

Please add your topics or share-outs to the agenda!
The call will be recorded.

[2016-08-10 16:47] elioqoshi commented on #84
Let me know your email if you want to be invited to the calendar invite.

[2016-08-10 16:47] #77 closed

[2016-08-10 16:48] elioqoshi commented on #61
@thomasjosephgreco would you like to take this on?

[2016-08-10 16:49] #65 closed

[2016-08-10 16:56] elioqoshi commented on #28
@Slayslot Hey, I just saw this, sorry. Feel free to jump into our next meetings :)
https://github.com/mozilla/OpenDesign/issues/84

[2016-08-12 09:43] Mte90 commented on #75
any updates?

[2016-08-16 20:23] Mte90 commented on #74
Any update? Who can help us to speed that?

[2016-08-20 17:20] elioqoshi commented on #83
@gueroJeff I'm really really sorry but I had to run for a conference I am speaking at in Germany. I can prepare the files for 23rd August as I don't have the right tools with me here. Really really sorry again, can you deal with a 4 day extension?

[2016-08-22 14:35] gueroJeff commented on #83
@elioqoshi That's no problem. We won't be able to use these for the hackathon happening this weekend, but we would still be able to use them for the final 3 of the year. Thank you

[2016-08-24 07:07] #72 closed

[2016-08-24 07:39] #39 closed

[2016-09-02 18:12] Mte90 commented on #74
There is also https://github.com/google/fonts/issues/155

[2016-09-03 07:21] parag9d commented on #66
Hi, @thomasjosephgreco any update on the logo?

[2016-09-03 19:35] umeshagarwal opened #85 "A Sticker for Activate Mozilla Campaign."
## Goal:

A logo for round Sticker for Activate Mozilla Campaign.
https://activate.mozilla.community
## Info:

It will be used as a swag for events happening in India.
## Style Information:

It should follow the Mozilla Style guide and should reflect (Activate Mozilla Campaign + India). Basically a localised logo for Indian audience to describe Activate Mozilla Campaign.
https://activate.mozilla.c

[2016-09-03 20:18] umeshagarwal opened #86 "An A4 size design for front side of T-Shirt Activate Mozilla Community."
## Goal:

An A4 size design for front side of T-Shirt Activate Mozilla Community.
A work mark logo for backside neck of T-Shirt  "Activate Mozilla Community"
https://activate.mozilla.community
## Info:

It will be used as a swag for events happening in India.
## Style Information:

It should follow the Mozilla Style guide and should reflect (Activate Mozilla Campaign + India). Basically a localise

[2016-09-04 06:13] parag9d commented on #86
@Raphseck Would you like to take this up? Your illustrations are awesome and will look superb on the t-shirt :)

[2016-09-04 17:45] parag9d commented on #85
![activate mozilla sticker-02](https://cloud.githubusercontent.com/assets/6411097/18232809/56514400-72f5-11e6-8b65-c41ee599ae18.png)

[2016-09-04 17:56] umeshagarwal commented on #85
@parag9d  can we use the actual mozilla font ?

[2016-09-04 17:57] parag9d commented on #85
@umeshagarwal other than that anything else?

[2016-09-04 17:58] umeshagarwal commented on #85
For me rest looks cool! but will wait for @brianking @geroter  feedback ...

[2016-09-04 18:08] parag9d commented on #85
![activate mozilla sticker-02](https://cloud.githubusercontent.com/assets/6411097/18232970/b85e3704-72f8-11e6-8555-d77759eb624c.png)

[2016-09-04 18:09] parag9d commented on #85
![activate mozilla sticker-02](https://cloud.githubusercontent.com/assets/6411097/18232973/d9d28b2e-72f8-11e6-8654-8a1d4fdd49f1.png)

[2016-09-04 18:11] parag9d commented on #85
![activate mozilla sticker-03](https://cloud.githubusercontent.com/assets/6411097/18232985/13a89a14-72f9-11e6-8ff1-0c1c47ddd1ee.png)

[2016-09-04 19:16] umeshagarwal commented on #85
@parag9d  this looks perfect to me! I would take that last feedback from @brianking so that we can proceed ahead with sticker production.

Thanks
Umesh Agarwal

[2016-09-05 08:19] brianking commented on #85
I like it a lot, but I need to get feedback from a couple of people before we proceed. Will comment back here when ready. Thank you.

[2016-09-05 08:57] umeshagarwal commented on #85
This is supposed to be used only for India. If you want we can make it the official for whole campaign.

[2016-09-07 18:11] umeshagarwal commented on #86
Any update on this request ? @parag9d @Raphseck

[2016-09-07 18:12] umeshagarwal commented on #85
@brianking as its just for India so can we move ahead as we need to get it printed soon so that we can complete our swag box.

[2016-09-08 04:20] parag9d commented on #86
@umeshagarwal This design would be fine if you are going for digital print for the t-shirts, but if you are planning for screen printing, I'll need to reduce the colours or make a different design. Lemme know...
![activate mozilla tshirt-01](https://cloud.githubusercontent.com/assets/6411097/18336924/73f1273a-75a9-11e6-9164-7b10e1751377.png)
![activate mozilla tshirt-02](https://cloud.githubuserco

[2016-09-08 10:13] umeshagarwal commented on #86
@parag9d we will be doing digital print so this is fine. Overall design looks good to me.

@brianking can you do a review as we need to get this produced soon.

[2016-09-09 01:07] thomasjosephgreco commented on #66
hey @parag9d I have created a few different designs for this. I worked with @elioqoshi a little bit in the beginning - he gave me feedback on the building and I went from there. You might be aware but this is my first logo for mozilla so i'm interested in hearing any feedback you might have and I can re-work anything if necessary :)

![mozilla-turkey-building](https://cloud.githubusercontent.com/a

[2016-09-09 01:48] parag9d commented on #66
@thomasjosephgreco There are issues with alignments of the Mozilla and Türkiye texts, probably making them left-aligned will give a better visual balance. Also, the font size and weight of Türkiye is too less to comprehend when used at a smaller size.

The spacing between the illustration and the text in the logo is a less. And, the height and horizontal alignment of the illustrations (on the left

[2016-09-09 20:12] thomasjosephgreco commented on #66
@parag9d ok so i made some changes. I am curious though, what wordmark do you use when creating graphics? I have used the .eps and .png images but they don't make it easy for me to align text because the box surround the wordmark is quite large.

Anyways, here are some .png files for the re-vamped logos.
* I aligned the text to the left
* increased the font-weight for turkey
* made the space betwe

[2016-09-09 20:49] selimsumlu commented on #66
@thomasjosephgreco, thanks for volunteering on this.

The image below is what we currently use. I've only created it for a temporary use and it's far from perfect but might give you an idea about font sizes.

What I see as a more important issue is that the illustrations you provided don't seem to be representing Turkey. Did you have anything in mind when choosing/creating them? I'd like to know t

[2016-09-10 06:59] thomasjosephgreco commented on #66
@selimsumlu hey Selim, I have a handful of illustrations I put together. I really want to capture turkey as best as possible in this so i'd definitely be down to chat with you about it. Initially, I was going to create a detailed mosque, but wanted to stay away from religion to my illustration ended up being just that building. As for the shapes, I was basing it off of other mozilla logos - some o

[2016-09-11 14:40] parag9d commented on #86
@umeshagarwal The black version of the t-shirt...
![activate_black](https://cloud.githubusercontent.com/assets/6411097/18417990/ab7e5010-785b-11e6-9431-43bde98ea42d.jpg)

[2016-09-11 16:36] Aastha14 commented on #60
@yofiesetiawan I really liked the 1st one, but I'd suggest you to include the Mozilla wordmark!

[2016-09-12 13:30] parag9d commented on #85
@umeshagarwal The source files of the sticker are here: https://github.com/mozilla/OpenDesign/tree/master/Activate%20Mozilla%20Sticker%20Design

[2016-09-12 13:34] parag9d commented on #86
@umeshagarwal The source files of the design are here: https://github.com/mozilla/OpenDesign/tree/master/Activate%20Mozilla%20Tshirt%20Design

[2016-09-18 02:22] hossainalikram commented on #85
Hello @parag9d ,

The design looks awesome, but to be used as a global community resource, can you change this portion, please? This resembles to India's Flag, and it would be great, removing the flag or use something general for the global mozilla community.

![da5e0f62-72fa-11e6-92ae-cfab2a671f71](https://cloud.githubusercontent.com/assets/8605491/18612326/e3173308-7d78-11e6-9d42-2ed0a99402d7.pn

[2016-09-18 02:26] hossainalikram commented on #85
The unassigned was not done intentionally, (Neither, I do have rights to do that in this repostitory, no idea how it happened) Sorry for that @parag9d

[2016-09-18 02:28] parag9d commented on #85
Hi @hossainalikram This is still not finalized for global use. @brianking is looking into it. Currently, it is only aimed at the India campaign. But if in future we decide to go forward with it for the global community, we can do something like this...or maybe use flag colours of different countries for country-specific campaigns.

![activate mozilla sticker-02](https://cloud.githubusercontent.com

[2016-09-18 09:26] elioqoshi commented on #85
![activate mozilla_sticker_print-01](https://cloud.githubusercontent.com/assets/5436686/18614619/230bf6ba-7d92-11e6-8ff9-2b8343e575c3.png)

Thanks for working on this! I suggest a few changes, including:

- A solid colored sky might look better and offer more contrast
- Mozilla shouldn't be written in Fira Sans when the wordmark is needed. The classic wordmark should be used.
- The fox head should

[2016-09-18 09:32] elioqoshi commented on #86
Good one! As I said, we shouldn't rush things out like this, especially on such important campaigns. Let's take our time and review together through it. @brianking let's talk about the incorporation of these assets globally.

[2016-09-18 09:35] elioqoshi commented on #60
@yofiesetiawan Do you want me to give this another look or did you already decide on this?

[2016-09-18 12:36] AlexLakatos commented on #85
As an opinionated heavy sticker user I can't help but ask:
Could we have this as a round sticker as well, pretty please?

[2016-09-18 12:48] parag9d commented on #85
Regarding the points raised by @elioqoshi

1. A solid colored sky might look better and offer more contrast: I personally feel that the different shades bring out more depth in the design and show different stages of the Activate Mozilla Campaign

2. Mozilla shouldn't be written in Fira Sans when the wordmark is needed. The classic wordmark should be used: Didn't understand this point.

3. The fox

[2016-09-18 13:07] Raphseck commented on #86
Hey guys!
SORRY about that..
I'm having problems with git hub... but i created a filter now for it.
SORRY : (
I just saw the email now : /

[2016-09-18 14:13] Raphseck commented on #23
Hey guys, how are you?
Sorry about the late.
But now I ll try to help more.
Sorry : (
what do you thing about this vector?
<img width="884" alt="screenshot 2016-09-18 11 12 51" src="https://cloud.githubusercontent.com/assets/14264676/18616373/e27efa80-7d90-11e6-99cf-bb4b179663a4.png">

[2016-09-18 21:46] elioqoshi commented on #85
1: I don't think it's clear that the sky has a meaning here metaphorically speaking. It is a bit heavier on the eye with many colors. I think a solid color is best (or even slight gradient would be better)

2: You didn't use the Mozilla logo I meant.

3: Ah okay, I thought it was painted on the rocket, not a window. Not sure if that gets across that it is a window? Even when it is like that, it wo

[2016-09-19 17:46] umeshagarwal commented on #85
Hi Guys,

We requested this design for India specific events.. But as i see that its a better idea to go for globally used design. So lets finalise it soon as we are already late.

[2016-09-19 17:49] umeshagarwal commented on #86
I will have to go with the current design for events in India as we need time for production and we are already late. But if there is a need for global level design the you can use this design request for the same purpose..

[2016-09-19 17:51] umeshagarwal commented on #85
I will have to go with this design for events in India.. We have a lot of production work pending.. Please continue to get a globally used design if its needed..
![da5e0f62-72fa-11e6-92ae-cfab2a671f71](https://cloud.githubusercontent.com/assets/3319062/18642775/abead5ae-7ebf-11e6-9076-13fe15ee5bcb.png)

[2016-09-20 10:13] Mte90 commented on #74
I written on IRC in #marketing to ask help, there is someone that we can contact to close this ticket?

[2016-09-20 10:14] Mte90 commented on #75
Any updates?

[2016-09-23 11:24] elioqoshi commented on #83
![name badge-01](https://cloud.githubusercontent.com/assets/5436686/18784192/d286e18e-8190-11e6-80c3-7466dd4d7ee7.jpg)
![name badge-02](https://cloud.githubusercontent.com/assets/5436686/18784193/d2b3d298-8190-11e6-9595-2597118318c9.jpg)

Terribly sorry, that's what happens when you don't do stuff right away. Here are the name badges:
https://github.com/mozilla/OpenDesign/tree/master/l10n-Event-Re

[2016-09-25 10:24] gueroJeff commented on #83
Thanks @elioqoshi ! The photo frame and medallion would be great too.

[2016-09-25 20:03] jvehent opened #87 "Firefox Security (FoxSec) logo"
## Goal:

I'd like a logo for the Firefox Security teams (nicknamed FoxSec) that includes the Security Engineering (crypto, privacy, ...) and Cloud Security (Fxa, Sync, AMO, ...) teams.
## Info:

The logo will be used on the web (wiki, etc...), stickers, and maybe tshirts.
## Style Information:

I really like the [Firefox Robin Hood](https://ulfr.io/f/IMG_20160925_155054.jpg) logo. Something along

[2016-09-29 23:33] jonathanKingston commented on #87
@jvehent is there a way for me to get hold of said robin hood logo files? (being from nottingham this is amazing!)

[2016-09-29 23:59] jonathanKingston commented on #28
Moz.coffee became available. I bought it. Let me know if you need any more help / are ready to launch as it would be cool to get this off the ground.

[2016-09-30 00:00] jonathanKingston commented on #28
Also mozilla.coffee is blocked to being registered however contacting doughnuts the registrar would likely be possible as well.. this is a mozilla property etc.

[2016-09-30 23:44] jvehent commented on #87
I wish I knew who made it. I found the sticker somewhat randomly at mozlando.

[2016-10-02 01:19] elioqoshi commented on #87
Hey @jvehent thanks for requesting this!

I need to let you know that we do not create logos for teams within Mozilla within our new branding strategy. We will be able to create a wordmark for you though (FoxSec probably not due to it not being consistent and having a name as if is a product).

We will be able to create artwork as well for Stickers and other swag (but not stating it as a logo so t

[2016-10-02 01:25] elioqoshi commented on #83
@gueroJeff Hey, just saw this (traveling in the US currently)

I haven't created them but I can ask the Slovenian guys about them

[2016-10-02 02:28] hossainalikram commented on #85
I am also going for production with Round sticker design ( The one which was used for T Shirt).

Thanks @parag9d for providing the assets!

[2016-10-02 16:25] jvehent commented on #87
Thanks @elioqoshi ! I'll be happy with a cool looking sticker, I don't think our team needs an official logo to use in external communication or anything like that. We use the standard Mozilla design in the security blog and on our wiki pages.

[2016-10-04 17:24] ecwebservices commented on #28
Would be good to launch. Looks like it's almost time.

[2016-10-04 18:03] gueroJeff commented on #83
Thanks @elioqoshi !

[2016-10-08 16:17] Mte90 commented on #4
new design https://mte90.github.io/Mozilla-Presentation-Boilerplate/ based on mozilla.org

[2016-10-08 16:17] #4 closed

[2016-10-24 23:37] Delphine opened #88 "Design for l10n Hackathon 2017 tshirts"
## Goal:

Have a new design for 2017 localization hackathon tshirts
## Info:

Tshirts with the design are distributed to the localizers attending our 2017 hackathons - as we did with the current tshirt for 2016. We've had max. 4 people per localization team attend in 2016 - 2017 might be a bit less, but we are still discussing this as of right now
## Style Information:

We'd like a "geeky" design

[2016-10-25 12:34] Jobava commented on #88
So what was wrong with the old design? :)

[2016-10-25 17:44] Delphine commented on #88
Nothing! It's still awesome! But we'd like a different design for each year we do a hackathon - otherwise some will end up with the same tshirt multiple times :)

[2016-10-25 19:17] jvehent commented on #87
Does anyone have time to work on this? I'm not sure what the correct process is here, and I absolutely understand it's best effort, but I thought having something for Hawaii would have been cool.

[2016-10-25 19:23] andrralv commented on #87
I can/will. Hopefully we can get a few design submissions and choose
whatever looks nicer for everyone.

2016-10-25 16:17 GMT-03:00 Julien Vehent [:ulfr] <notifications@github.com>:

[2016-10-28 12:15] elioqoshi commented on #87
I would love to help here, but the next weeks are really booked for me. @parag9d can you help here?

[2016-11-03 10:37] parag9d commented on #87
Hey, @elioqoshi  I am caught up with Testpilot work currently, but @radhika1210 is willing to take up this project. She is a new contributor and this is gonna be her first Mozilla project. Check out her works at https://www.behance.net/RadhikaGemawat. @jvehent, please coordinate with her on this :)

[2016-11-04 12:43] gueroJeff commented on #88
@elioqoshi what is the process here? What is the timeframe for triaging design issues in github?

[2016-11-04 17:22] Aastha14 commented on #87
![final foxsecgradients](https://cloud.githubusercontent.com/assets/20784948/20015335/1700590a-a2e1-11e6-9e77-375652bbdd50.jpg)

This is something I tried, please see if it works. Also, let me know if any changes are required too!

[2016-11-04 17:26] Aastha14 commented on #87
![png with back foxsec](https://cloud.githubusercontent.com/assets/20784948/20015466/a03e47ae-a2e1-11e6-943d-bfd60fa3334c.png)

@jvehent here is something I tried, couldn't come up with the robin hood of course, but I tried to portray our beloved Foxy as the agent of Mozilla who works and supports security. Please, comment and let me know if any changes are required. :)

[2016-11-04 18:30] mijanurrahman commented on #87
Thanks @Aastha14 . You did well (y)
But please try to follow Mozilla Style Guide (https://www.mozilla.org/en-US/styleguide/)

Though I am not a designer, but I am suggesting all of to you make something which represents something secure and unhackable.

[2016-11-04 18:49] Aastha14 commented on #87
@mijanurrahman As far as the sticker is concerned, I guess there is a style guide for official Logos. Whereas, its not the same for stickers (Please correct me if I'm wrong). Also, Thankyou.

[2016-11-04 19:12] dyvik100 commented on #87
@Aastha14 Great job (y) it's looking great. As far as i know there is no style guide for stickers, so need not worry about it.

[2016-11-04 20:16] jvehent commented on #87
@Aastha14 I like it a lot! The fox looks great. I wonder if the green would look better a little darker?
One question about the hat is if we want to be portrayed as police/security officer. Maybe it's alright? Maybe we could try with another type of hat, like a [ranger one](https://arches.files.wordpress.com/2012/08/img_0606.jpg)?

At any rate, this is awesome! Thanks a lot for designing it!

[2016-11-05 06:46] Aastha14 commented on #87
@jvehent Yes, I shall make the required changes and get back in few hours. No issues, as I should deliver what's required. :)

[2016-11-05 08:12] Aastha14 commented on #87
![foxsecjvehent](https://cloud.githubusercontent.com/assets/20784948/20028643/aa4c313a-a35d-11e6-9af9-fa31581b96cc.png)
looks good enough?

[2016-11-05 09:48] Aastha14 commented on #88
![l10n](https://cloud.githubusercontent.com/assets/20784948/20029155/0299cd90-a36b-11e6-9c8a-9f7580b4b080.png)
![l10nfox](https://cloud.githubusercontent.com/assets/20784948/20029156/02a2ec90-a36b-11e6-8b09-9203ebb08030.png)

I'm working on few more modifications.. please check if this theme works? I'll be providing the mock up sample soon.

[2016-11-05 11:39] Aastha14 commented on #88
![circ](https://cloud.githubusercontent.com/assets/20784948/20029721/4f935990-a37a-11e6-8198-e6e22f6ab25f.jpg)
![l10ncirc](https://cloud.githubusercontent.com/assets/20784948/20029722/4f9b163a-a37a-11e6-8cd6-92605d969917.png)
![Uploading T-Shirt MockUp_Front.jpg…]()
![woman t-shirt mockup 2_front](https://cloud.githubusercontent.com/assets/20784948/20029723/4fa7a3dc-a37a-11e6-87b6-32227a808216.jpg

[2016-11-05 16:15] jvehent commented on #87
I think I liked the lighter green one better after all. Maybe others could share their opinion too?
@Aastha14: what do you think of the hats?

[2016-11-05 19:47] ST6Daniel commented on #87
I like the Sheriff hat, what about using blue color somewhere in the shield?

[2016-11-05 21:59] Ryuno-Ki commented on #88
Hm, the fox looking down. Is he sad? Is that a message, the image shall transport?

On https://github.com/mozilla/OpenDesign/issues/88#issuecomment-258601561 the speech bubble should not be 3D as the rest isn't. That is, [suggestion 4](https://cloud.githubusercontent.com/assets/20784948/20029262/9ee80502-a36d-11e6-9898-964b5d8cc7ba.png) would work best IMHO.

[2016-11-05 22:03] Ryuno-Ki commented on #87
Hm, there's something with the eyes … maybe the shadow below it? Is he tired?

The skin looks like as if there was some kind of wind (blowing from the left to the right). Maybe the hat can reflect that, too?

[2016-11-06 04:31] Aastha14 commented on #87
Was just playing around with shadows not trying to make him look tired, ofcourse. Regarding the hat,  maybe I'll try to make some changes.  @jvehent guess I liked the hat, do you have any more ideas?
Regarding the blue color, I'm not sure where shall it fit in,  though I will try it on.

[2016-11-06 04:33] Aastha14 commented on #88
As a geeky design was asked, the fox has been designed with a pair of cool + geeky glasses altogether not trying to portray him SAD but ofcourse, more keen and focussed. :)

[2016-11-06 12:21] Ryuno-Ki commented on #88
How would the fox look like if he raised his head?
Or turn his head to the viewer?

[2016-11-06 16:34] jvehent commented on #87
I really like both, to be honest. @Aastha14: I'm inclined to trust your artistic judgment on which adjustments look best.

[2016-11-06 16:58] Aastha14 commented on #87
@jvehent,  let's go forward with the fox and the ranger hat ? I like both the colours, be it the lighter green or the darker one. I'll share the source files soon. Incase you change your mind during the print, you may get it changed. :) thankyou.

[2016-11-06 17:05] jvehent commented on #87
That works for me. Would the ranger hat look better if it was a tiny bit smaller? How about adding the Firefox Logo to it, like you did on the cop hat? I'm wondering, not sure if that would look good.

[2016-11-06 20:19] gueroJeff commented on #88
I really like this option. Can I request a few modifications to try?

1. I like the sly, glasses, geeky look for the fox. Could we try a square glasses frame (like horn-rimmed glasses)? Also, I agree that with the fox's head lowered, it looks like he's sad or hiding something. Could you raise it to resemble more of a statement of confidence?
2. I like the landmarks and the clouds too. Could we mak

[2016-11-07 18:07] peiying2 commented on #88
I really like the designs. In addition to what Jeff already commented, if we are to create a new t-shirt for each year, given what we have planned for 2017 event locations, can we choose the relevant landmarks (doesn't need to include all of them)?

[2016-11-08 04:55] Aastha14 commented on #87
@jvehent I tried on the Mozilla Logo on the sheriff hat, doesn't look that good. I'll try posting a picture of the same, making the hat little bit smaller doesn't go appropriate for the size of the fox head. If this doesn't work out, why not go with the 1st option?

[2016-11-08 05:03] Aastha14 commented on #88
@peiying2 I'm not aware of the list of hosting countries. Kindly furnish me with the details.
@gueroJeff thanks for the suggestions. I have few statements and queries from my side.
1. I'll definitely try to bring more confidence in the fox. I'm not sure if horn rimmed glasses shall look as geeky as the round ones (though, I'll try them on for sure).
2. Yes, will do.
3. I don't understand exactly.

[2016-11-08 14:00] gueroJeff commented on #88
Right now, the landmarks don't form a skyline because they're large and not very close together. It would be interesting to see them as a skyline.

And rather than a blue background, I'd rather there not be a background color.

We're also very interested in seeing a few designs that we, as a team, can vote on and discuss. If anyone has other ideas to offer, that would be great :-)

[2016-11-09 21:54] hmitsch opened #89 "Upload Innovation Toolkit postcards from MozFest"
## Goal:
Upload the (beautiful!) **Innovation Toolkit postcards** which were handed out at MozFest 2016 to a public repo. This way they can be **remixed in the future**.

## Info:
Let's create a new folder **Open-Innovation-Toolkit/Leaflets/**

## Style Information:
n/a

## Deadline:
Overdue (should have happened before or during MozFest)

## Tag:
Info

## Other information:
Collaborating on this

[2016-11-09 22:01] hmitsch commented on #89
Done: https://github.com/mozilla/OpenDesign/tree/master/Open-Innovation-Toolkit/Leaflets

[2016-11-09 22:01] #89 closed

[2016-11-11 12:46] ioana-chiorean commented on #89
Thanks @hmitsch !

[2016-11-18 10:23] Tess-welhazi commented on #66
I have a suggestion. I wanted something iconic about turkish culture and the hat is the first thing i could think of. I have a turkish friend who suggested drawing a grey wolf but i wasn't happy with the result.
This is my first contribution here and i could use any feedback i can get.

![image](https://cloud.githubusercontent.com/assets/20952652/20426443/6878aef6-ad7f-11e6-8976-e4f627ff88a9.png)

[2016-11-18 16:26] Tess-welhazi commented on #61
I'm interested in taking this

[2016-11-18 19:01] Tess-welhazi commented on #37
Been a while since anyone commented is the logo still needed?

[2016-11-22 00:56] emmairwin opened #90 "Logo for Leadership Toolkit"
## Goal:
A logo for the Leadership Toolkit.
We're forking the Innovation Toolkit website, so something to replace theirs:   https://toolkit.mozilla.org/

## Info:
On a wordpress fork of Innovation Toolkit

## Style Information:
Content is learning resources for  community mobilizers.

## Deadline:
December 3rd

## Tag:
[Design Needed]
I might also need some wordpress theming support but not sure y

[2016-11-22 02:54] parag9d commented on #90
Hi, @emmairwin...this project looks really cool. Is the new website design already done?
If not, I would like to help in that :)

[2016-11-22 13:37] elioqoshi commented on #90
I can take this on

[2016-11-22 19:53] emmairwin commented on #90
@parag9d I need the logo, but I'll also need to make the fork look like...not a fork, so will need to change some design components.
This is to demo our toolkit content in Hawaii, whether or not it persists into 2017 will be another decision, so I don't want to take your time doing a lot of design work, other than I need help to make the fork unique.  Instance will be ready on Friday.

[2016-11-22 19:53] emmairwin commented on #90
Thanks @elioqoshi

[2016-11-24 12:53] selimsumlu commented on #66
I'm sorry people, I somehow lost track of this issue.

I strongly believe that we must stay clear of religious, ideological and political symbols. And this rules at the mosque, the fez (hat) and the gray wolf. I appraciate your hard work but all three of these symbols favor certain communities while leaving out others, and we don't want that.

In fact, this was the reason I didn't mention any symb

[2016-11-26 01:16] Tess-welhazi commented on #66
Alright, how about using the firefox or red panda mascots with the turkish flag? I'll share some sketches as soon as possible.

[2016-11-26 12:20] selimsumlu commented on #66
@Tess-welhazi Those should be fine.

[2016-12-06 14:06] ecwebservices commented on #28
Seeing if something is going on for this still?

[2016-12-08 21:52] jvehent commented on #87
Hello @Aastha14, did you, by any chance, have time to make these little adjustments?

[2016-12-09 09:03] Aastha14 commented on #87
Yes, I did make the changes @jvehent But I'm unable to upload the files, because I don't have the access. Shall I mail you the file until then? @elioqoshi please enlighten me on this.

[2016-12-09 15:32] jvehent commented on #87
You could email them to me at jvehent at mozilla dot com
Thank you!

[2016-12-09 20:01] autonome opened #91 "Logo for @intenttoship Twitter account"
## Goal:

The intenttoship Twitter account will automatically tweet any time Gecko or Blink announces a new feature shipping in their web engines.

I would like a logo and background image for that Twitter account 😀

## Info:

https://twitter.com/intenttoship

## Style Information:

Here are some reference designs related to generally-web-like things, and both of the rendering engines

http://www.

[2016-12-09 23:41] andrenatal opened #92 "T-shirt design + Logo for Mozilla's research speech recognition team"
## Goal:
We'd like to have a logo + design for our team's tshirt

## Info:
For a T-shirt and maybe stickers

## Style Information:
That's up to you!

## Deadline:
Before end of December, please?

## Tag:
[Design Needed]

[2016-12-12 16:12] Aastha14 commented on #87
@jvehent I've mailed it to you, though a little too late I suppose. Apologies.

[2016-12-19 06:24] kdavis-mozilla opened #93 "Logo design for Mozilla machine learning research group"
## Goal:
Logo design for the Mozilla machine learning research group

## Info:
Targeted formats web sites, stickers, shirts, billboards in Times Square

## Style Information:
I like the Google research logo
![rgicontransparent](https://cloud.githubusercontent.com/assets/12054740/21302877/ded0fba0-c5ba-11e6-8f47-60b11d62990f.png)
Also the "double vision" look of
![cc4-logo-design](https://cloud.git

[2016-12-19 22:05] Delphine commented on #88
Hey there,
Just a friendly reminder that we had put beginning of Jan as a deadline, and that's right around the corner. Can we get the ball rolling again for this?
thanks :)

[2016-12-20 13:17] Kiladel commented on #93
Well here's a sketch of what i have in mind
![image](https://cloud.githubusercontent.com/assets/24366853/21351834/fff65e56-c6be-11e6-8c20-3204ca5fd1dc.png)

[2016-12-20 13:23] kdavis-mozilla commented on #93
Wow, @Kiladel thanks!

Let me see what the rest of the team @mozilla/research-machine-learning thinks.

[2016-12-20 14:31] reuben commented on #93
Random idea: [grid of convolution filters](http://cs231n.github.io/assets/cnn/weights.jpeg) that align to make a wordmark or symbol for the logo.

[2016-12-21 11:07] kdavis-mozilla commented on #93
@Kiladel One thought I had on the current sketch is, the colors could be a bit more bold, going more towards orange and blue of Firefox or the red of the original dino logo. Just so it "pops" a bit more.

[2016-12-21 13:06] Tess-welhazi commented on #66
How about this one?

![image](https://cloud.githubusercontent.com/assets/20952652/21390302/97e308be-c786-11e6-81b6-6b416ac2e99d.png)
this one is just a draft at this point i didn't recreate it in inkscape so the crescent and star are hand drawn

[2016-12-21 13:14] Tess-welhazi commented on #93
Recolored. which one do you prefer?

![image](https://cloud.githubusercontent.com/assets/20952652/21390419/3482fa4e-c787-11e6-871d-d3c3ec207272.png)

![image](https://cloud.githubusercontent.com/assets/20952652/21390448/5e4d6206-c787-11e6-9c73-00a62bc1ee9d.png)

[2016-12-21 13:15] kdavis-mozilla commented on #93
@Kiladel The first

[2016-12-21 16:28] Tess-welhazi commented on #92
My suggestion
![image](https://cloud.githubusercontent.com/assets/20952652/21396998/66af3d0a-c7a2-11e6-989e-deff6018fc8b.png)
Sorry for the quality it's just a sketch at this point. Is it too cartoon-ish?

[2016-12-21 16:37] Tess-welhazi commented on #93
@kdavis-mozilla Alright, working it

[2016-12-21 16:38] kdavis-mozilla commented on #92
😄

I'm a graphics novice. But I've a question, would this be able to be reproduced at smaller sizes with all the fox details being preserved?

[2016-12-21 16:41] kdavis-mozilla commented on #93
This is like magic! Thanks!

[2016-12-21 19:54] Tess-welhazi commented on #92
Sure once i recreate it in vector. I just tend to sketch the idea at my usual art software first.

[2016-12-22 13:49] Tess-welhazi commented on #93
@kdavis-mozilla You're welcome ^_^
the svg file link here. (i'm not sure about the font you can change it)
https://drive.google.com/file/d/0B_tjMPSXw78eZTlGX1pJbjVmeHM/view?usp=sharing

[2016-12-22 13:56] kdavis-mozilla commented on #93
Thanks! I'll run them by the team.

[2016-12-23 03:06] jvehent commented on #87
I have received the files. Thanks a lot @Aastha14 !

[2016-12-30 14:41] andrralv commented on #91
Here's a first try for the logo: [image](http://i.imgur.com/I2y1Juu.png)

It's a simple logo, the concept is that colors correspond to an alert or notification.

[2016-12-31 17:23] autonome commented on #91
Hi André, thanks for the design! I specifically want something that conveys
"web" not a specific browser. This idea is that this isn't about Firefox,
this is about web developers knowing what's coming soon to all the browsers.

On Fri, Dec 30, 2016 at 6:41 AM André Rodriguez <notifications@github.com>
wrote:

[2017-01-03 17:21] Delphine commented on #88
Seems like this is past deadline already :( Any updates please?

[2017-01-03 17:40] Aastha14 commented on #88
@Delphine Hello! sorry for the delay . Yes, the updated design shall be up by tomorrow or at max day after.

[2017-01-05 21:54] Tess-welhazi commented on #66
so like this?

![image](https://cloud.githubusercontent.com/assets/20952652/21698958/cc6cc8e4-d399-11e6-8d30-281066b9fcfc.png)

[2017-01-07 18:46] GABBAR1947 commented on #40
something like this...just a rough draft
![15935299_1430189093666051_1755219182_o](https://cloud.githubusercontent.com/assets/9786291/21744231/a792a846-d537-11e6-99d9-981243977a38.jpg)

[2017-01-07 19:13] PattanAsifKhan commented on #85
![img_20170108_003227](https://cloud.githubusercontent.com/assets/22373570/21744418/4f3b0b3a-d53b-11e6-9bdb-5353b4a484fd.jpg)

[2017-01-07 19:17] PattanAsifKhan commented on #85
![img_20170108_003211](https://cloud.githubusercontent.com/assets/22373570/21744452/0c335dd2-d53c-11e6-87b0-aaafb486ae3d.jpg)

[2017-01-07 19:18] biswajeet619 commented on #88
![15909964_1164317133638070_1642919376_n](https://cloud.githubusercontent.com/assets/21312954/21744456/195f25ae-d53c-11e6-8053-6103bc06b9f5.jpg)

[2017-01-07 19:18] biswajeet619 commented on #88
![15934392_1164317136971403_343569543_n](https://cloud.githubusercontent.com/assets/21312954/21744460/2526874c-d53c-11e6-99db-5ba0a5dfe052.jpg)

[2017-01-09 14:40] selimsumlu commented on #66
Yes, it looks better to me.

[2017-01-09 14:44] parag9d commented on #66
I love the version with Red Turkiye. Try to increase the space between the fox illustration and the texts. Also, reduce the size of the fox, like in bottom one.

[2017-01-09 21:24] gueroJeff commented on #88
Thanks @biswajeet619, but I think that the changes to the lettering in the Mozilla brand would violate the Mozilla branding guidelines.

[2017-01-11 07:38] Tess-welhazi commented on #40
I don't understand what's requested here especially since the issue is still open

[2017-01-12 18:56] Tess-welhazi commented on #66
so like this
![image](https://cloud.githubusercontent.com/assets/20952652/21903698/27f86fee-d901-11e6-95d6-5ad90624c934.png)

[2017-01-13 10:53] elioqoshi commented on #92
Seems a bit rough still (the fox is hardly recognizable)

@raphaeck might have some sketches as well?

[2017-01-13 11:00] elioqoshi commented on #66
The spacing in the version before was fine, no need to increase the gap with the wordmark.
Also, please use Fira Sans For Turkiye for consistency purposes.

Other than that, love it!

[2017-01-13 11:04] elioqoshi commented on #74
Any update on this? @Mte90

[2017-01-13 11:07] elioqoshi commented on #93
@kdavis-mozilla Why do we need a logo here? Logos are reserved for products and established proejcts at Mozilla. Maybe you just need a design for swag?

@Tess-welhazi the design seems quite off our Mozilla guidelines, I wouldn't suggest going that way.

@parag9d do you have a suggestion here?

[2017-01-13 11:08] Mte90 commented on #74
I am following the google tickets, they done their fork of the font that fix the problem but not yet uploaded on google fonts.
There is the problem that the font is not maintained anymore and there no use in Mozilla like when there was for firefox.

[2017-01-13 11:09] elioqoshi commented on #87
I would suggest to keep working on the sticker a bit, it's quite off from Mozilla style guidelines :)
If you link to it here I can give it a look.

[2017-01-13 11:12] elioqoshi commented on #74
I see. closing this then.

[2017-01-13 11:12] #74 closed

[2017-01-13 11:14] elioqoshi commented on #40
I just wanted to report back as I did the design for the events. No call for action here (not sure why it's not closed)

@GABBAR1947 no please, butchering logos like this is a no-go.

[2017-01-13 11:15] #40 closed

[2017-01-13 11:16] elioqoshi commented on #88
@gueroJeff should we continue the discussion here or close this?

[2017-01-13 11:16] elioqoshi commented on #85
@PattanAsifKhan ?

[2017-01-13 11:18] PattanAsifKhan commented on #85
Yes this is Asif 😇😇

On Jan 13, 2017 16:46, "Elio Qoshi" <notifications@github.com> wrote:

[2017-01-13 11:24] elioqoshi commented on #85
I mean, what was that for?

[2017-01-13 11:30] biswajeet619 commented on #88
@gueroJeff what about the T-shirt ?

[2017-01-13 11:32] elioqoshi commented on #91
@parag9d you have time for a proposal for this?

[2017-01-13 11:33] elioqoshi commented on #88
@biswajeet619 it's not really related to l10n specifically to be honest.

[2017-01-13 11:34] elioqoshi commented on #28
@nukeador @ppapadeas Do you think there is time and space for this to be used by Participation / Open Innovation whatever?

[2017-01-13 11:35] elioqoshi commented on #75
I have them, but I never had the time...

[2017-01-13 11:35] elioqoshi commented on #37
Closing this, no updates at all here.

[2017-01-13 11:35] #37 closed

[2017-01-13 11:38] PattanAsifKhan commented on #85
It was for Activate Mozilla Campaign. My bad,  I am not good at drawing
but,  I can explain my drawing. The drawing shows the Firefox and Human
shaking hands. That is,  The human has been influenced by the fox and the
human shakes hand with the fox confirming the fox that he is in. Deal is
done.  I hope you get it. Sorry for my bad drawing.

On Jan 13, 2017 16:54, "Elio Qoshi" <notifications@githu

[2017-01-13 11:38] elioqoshi commented on #61
@hossainalikram still needing this?
@raphseck has done some nice badges in the past

[2017-01-13 11:41] hossainalikram commented on #61
Yes @elioqoshi , I still need this :)

[2017-01-13 11:52] Mte90 commented on #75
Ok in any case the development actually it's blocked for missing of new features ideas.

[2017-01-13 12:12] Raphseck commented on #92
Hey guys!
@elioqoshi yes, i can create some sketches. : )))

[2017-01-13 12:26] nukeador commented on #28
@elioqoshi what the specific ask here for Open Innovation team?

[2017-01-13 12:38] kdavis-mozilla commented on #93
@elioqoshi We are an established project at Mozilla. We have a group of 6 full time Engineers working on this.

[2017-01-13 12:43] hmitsch commented on #28
I love moz.coffee

Maybe we could use it on our ParSys initiative?

What's the specific action we need to take? Can you hold on to that URL for
another 6 months and we reevaluate the question then?

On Fri, 13 Jan 2017 at 13:27, Nukeador <notifications@github.com> wrote:

[2017-01-13 16:54] gueroJeff commented on #88
Yeah, let's close this. It's past the deadline anyway. Thanks everyone!

On Fri, Jan 13, 2017 at 3:33 AM, Elio Qoshi <notifications@github.com>
wrote:

--
Thanks,
Jeff

[2017-01-15 10:06] #88 closed

[2017-01-15 10:08] elioqoshi commented on #28
A MozCafe prototype has been created aggregating various MozCafe events. Would there be any interest to host this on infrastructure and integrate it in any way?

[2017-01-15 10:10] elioqoshi commented on #93
@kdavis-mozilla  I do know that, but according to Brand Guidelines that's not the bar.

https://wiki.mozilla.org/Engagement/Brand/Why_Do_We_Have_Brand_Guidelines
https://wiki.mozilla.org/Engagement/Brand/Brand_and_Identity_Guide

And the new brand identity will be rolled out in a few weeks anyway. so you'd need to change anything you have right now soon again.

[2017-01-15 13:16] kdavis-mozilla commented on #93
@elioqoshi If those are the official rules.

[2017-01-15 13:16] #93 closed

[2017-01-15 13:20] kdavis-mozilla commented on #92
@andrenatal according to @elioqoshi we can't have a logo yet as we are not a product yet. So we have to close this.

[2017-01-15 15:26] elioqoshi commented on #92
@kdavis-mozilla again, we are free to do artwork and designs so a T-Shirt Design is fine here (as long as we don't create a new logo per se)

[2017-01-15 15:27] elioqoshi commented on #93
@kdavis-mozilla Yeah. We will have news next month hopefully when the new brand identity rolls out, so please feel free to remind us again at that time

[2017-01-15 15:54] kdavis-mozilla commented on #92
@elioqoshi Thanks, but no thanks.

We'd want a coherent branding across t-shirts, websites, presentations...and without a logo that's not possible.

[2017-01-15 15:55] elioqoshi commented on #92
Better to wait a bit more until the new branding rolls out then :)

[2017-01-16 08:24] hmitsch commented on #28
Yes!
Can we get together on call in the next few days to discuss next steps? Who
should be on this call? Only Elio and Henrik?

Regards,
  Henrik

On Sun, 15 Jan 2017 at 11:08, Elio Qoshi <notifications@github.com> wrote:

[2017-01-16 10:34] elioqoshi commented on #28
@anistuhin @parag9d @yofiesetiawan are probably better suited but I'd be happy to be part of it as well :)

[2017-01-18 06:54] tripad commented on #28
Am i late for the party ?

I am little confused where are we with this. I see a [repo ](http://anistuhin.github.io/mozcoffee/) with a semi finished version and some discussion about hosting it.

I would love to chip in:
- Is the code part done ?
- I had some ideas around the content as well is the above call scheduled ?
- If you guys need someone to host it, i have a US location VPS available for

[2017-01-18 16:35] gueroJeff opened #94 "Re-evaluate the usage of hand gestures in Mozilla branding images"
## Goal:
Currently the branding images within https://blog.mozilla.org/opendesign/arrival/ use had gestures that could be interpreted as culturally vulgar or offensive to people. As hand gesture meanings are not universal but highly subjective based on the audience's culture, I suggest re-evaluating whether to include hand gestures in any branding imagery.

## Info:
Here is a guide to some of the

[2017-01-18 16:40] lkappeler opened #95 "Content overlapps Image on large screens"
I guess it's designed to act as it does but it does look quiet bad in the newest [blogpost](https://blog.mozilla.org/opendesign/arrival/)
(not sure if this is the right place to report...)

![screen shot 2017-01-18 at 17 33 55](https://cloud.githubusercontent.com/assets/3371760/22073244/22635e2e-dda5-11e6-8d9a-9428da32f5b4.png)

[2017-01-18 17:50] gueroJeff opened #96 "Update Mozilla l10n social media profile photos with new branding"
## Goal:
We need to update the mozilla l10n twitter account to have a profile image that matches the new branding released today.

## Info:
Twitter and other social media platforms for Mozilla L10n.

## Style Information:
Perhaps the "m" layed over a tofu character or some other mojibake?

## Deadline:
As quickly as possible please

## Tag:
[Design Needed]

[2017-01-18 19:32] andrralv commented on #96
Here is a first try (it's very minimal):

![i10l-logo1](https://cloud.githubusercontent.com/assets/13668955/22079704/63cf13d0-dd82-11e6-9126-7e068938483d.png)

Well, it's just the mozilla M on top of a ISO 8859-6 rhombus/square. Maybe we can make it a colored version?

[2017-01-18 19:33] tripad commented on #96
Heres my take

![moz-l10n-1](https://cloud.githubusercontent.com/assets/3319460/22079786/08af3794-dde3-11e6-9a4a-25dbcd6d5867.jpg)

![moz-l10n-3](https://cloud.githubusercontent.com/assets/3319460/22079787/08b3d8a8-dde3-11e6-88d6-c3b9e01cc1f6.jpg)

![moz-l10n-2](https://cloud.githubusercontent.com/assets/3319460/22079788/08b9b3b8-dde3-11e6-9767-9c92d8a0ab16.jpg)

[2017-01-18 19:38] gueroJeff commented on #96
@andrralv A colored version would be great. Also, we need to be sure the M is in the Zilla font to match the new branding.

[2017-01-18 19:48] Pike commented on #96
I wonder if we can make use of l1 being close graphically to //, and play with that?

[2017-01-19 06:55] tripad opened #97 "Update/Adapt Mozilla India's social profile as new branding changes"
## Goal:
To update and celebrate the new branding change

## Info:
Required assets :
Facebook profile picture
Facebook cover image
Twitter profile picture
Twitter cover image

## Style Information:
Adapt the new branding in fun and creative way for MozIN

## Deadline:
ASAP

## Tag:
[Design Needed]

[2017-01-19 17:21] stasm commented on #96
FWIW I asked about the availability of the Zilla font and here's what I heard back:

[2017-01-19 17:28] gueroJeff commented on #96
Thank you for asking!

On Thu, Jan 19, 2017 at 10:21 AM, Staś Małolepszy <notifications@github.com>
wrote:

--
Thanks,
Jeff

[2017-01-19 19:09] amadejhp commented on #90
Is logo still needed? Or only that fork thing? Would it be good logo to make it look like tool  box with something more specificly related to this project on it?
(I am a bit new here, so I'm sorry if I'm doing something wrong).

[2017-01-20 09:59] elioqoshi commented on #90
@amadejhp thanks for asking, and no worries :)
I had a go at this but wasn't satisfied. Feel free to suggest alternatives

[2017-01-20 10:00] elioqoshi commented on #94
@timotay Can we look into this?

[2017-01-20 10:04] elioqoshi commented on #95
Hmm I think this has been changed now? It's kind of difficult to get it right on all resolutions though.

[2017-01-20 10:05] elioqoshi commented on #97
Deadline ASAP? Well, patience, because the new guidelines will take some time until they're released. I will let you know when it's ready :)

[2017-01-20 10:22] elioqoshi commented on #96
@gueroJeff Here is my take on it. This will probably be temporary until there are official instructions for all teams to rebrand. I will keep you updated.
![avatar](https://cloud.githubusercontent.com/assets/5436686/22145700/c5e9c872-df02-11e6-90b7-c595677a59d9.jpg)

[2017-01-20 10:32] elioqoshi commented on #96
A bit more abstract (and I might violate some unwritten branding guideline here, but hey, we have time to kill anyway):

![lion](https://cloud.githubusercontent.com/assets/5436686/22146200/1cb5aeea-df04-11e6-9043-093ce98ea9a3.jpg)

[2017-01-20 10:39] lkappeler commented on #95
Still looks the same for me, tested in incognito mode with disabled cache.
There is a negative margin of -10% for the content container, for everything over 600px.
Removing that style would imo fix the problem.
![screen shot 2017-01-20 at 11 32 34](https://cloud.githubusercontent.com/assets/3371760/22146456/00ec0bae-df05-11e6-8485-e64bc4982d0c.png)

[2017-01-20 10:41] elioqoshi commented on #95
Probably not a huge priority, but @Timotay might be able to delegate this

[2017-01-20 10:43] MichaelKohler commented on #95
@elioqoshi @Timotay is the source for the blog design available somewhere? If so, pointing @lkappeler into the right direction on where he could find it would be enough I think ;)

[2017-01-20 10:44] elioqoshi commented on #95
I'm not aware of it, but I hope so.

[2017-01-20 12:15] lkappeler commented on #95
For sure I can make  a PR if someone can tell me where to find the code

[2017-01-20 14:02] stasm commented on #96
@elioqoshi's design from https://github.com/mozilla/OpenDesign/issues/96#issuecomment-274035652 is consistent with the examples of the new visual identity system from https://blog.mozilla.org/opendesign/files/2017/01/Mozilla-12jan-1500px_architecture.jpg. I'd say it's the safest bet right now until we learn more about the official guidelines for creating graphical assets which conform to the new b

[2017-01-20 14:33] Pike commented on #96
I like that one, too. I'm a bit on the "I wish ..." side on the left aligned "l10n" fragment.

I locally tried playing around with right-aligning it, or making the bar full width, or full width and "localization". But my tool foo is too weak to create something that doesn't technically suck and upsets me.

[2017-01-20 14:54] gueroJeff commented on #96
The Branding team (through the social champions) told me that the "m" in
front of another graphic was an acceptable use as well. Like the old
wordmark, there will be t-shirts and gear with graphics that don't
incorporate this new wordmark logo, but placed in distinct places (e.g., on
the sleeve of a t-shirt).

On Fri, Jan 20, 2017 at 7:33 AM, Axel Hecht <notifications@github.com>
wrote:

--
Thanks

[2017-01-20 14:57] tripad commented on #97
@elioqoshi there is no deadline as such. We were having some internal discussions around adapting the branding for MozIN. The deadline is more of a placeholder

[2017-01-20 15:23] elioqoshi commented on #97
Okay cool, I will update you when we have news

[2017-01-20 15:25] gueroJeff commented on #96
Thanks everyone! We've updated the @mozilla_l10n twitter account now. Thanks for your help!

[2017-01-20 15:25] #96 closed

[2017-01-20 15:57] elioqoshi opened #98 "2 New T-Shirt Designs for Mozilla l10n"
I was asked by the Mozilla l10n team to create 2 new T-Shirt Designs focused around localization. There is no additional action needed here, rather than me documenting the process here to keep in line with our open source principles.

## 1. Firefox Word Cloud

The first design will be a word cloud made out of mojibakes in different alphabets and scripts which will make up the Firefox logo. It woul

[2017-01-20 15:59] elioqoshi commented on #98
@raphseck will help with the Lion illustration here as well :)

[2017-01-20 19:51] amadejhp commented on #90
I've put aside that toolbox design and created this: (a bit separated icons, but maybe it could be an inspiration...)

![toolbox2](https://cloud.githubusercontent.com/assets/25230774/22163188/1531c55c-df52-11e6-810c-864efb167873.jpg)

[2017-01-21 14:30] amadejhp commented on #98
Will lion be made in vectors or hand drawn?

[2017-01-23 16:43] elioqoshi commented on #98
Hand drawn and converted into vectors

[2017-01-23 20:44] Tess-welhazi commented on #98
I'd love to help with the lion illustration if possible. I love that art style.

[2017-01-23 22:16] Tess-welhazi commented on #66
changed the font and spacing again
![image](https://cloud.githubusercontent.com/assets/20952652/22225230/f35c49c6-e1c1-11e6-8b46-1848fc7f2f56.png)

[2017-01-23 22:25] Tess-welhazi commented on #92
@kdavis-mozilla Ah, i thought this was only for T-shirts and stickers

[2017-01-24 23:42] Raphseck commented on #98
Hey guys! how are you?
Here the draw
What do you think?
![lions](https://cloud.githubusercontent.com/assets/14264676/22271848/ed0c3538-e27d-11e6-887a-b195f52f8d04.png)

[2017-01-25 06:04] amadejhp commented on #98
I think it looks great :)
I tried doing this also myself but mostly just for practice, and yours is beter ;) realy well made

[2017-01-25 11:23] Raphseck commented on #98
thank you so much @amadejhp
: )))

[2017-01-29 00:30] elioqoshi commented on #98
![lions-01](https://cloud.githubusercontent.com/assets/5436686/22400933/88ee999a-e5c2-11e6-993c-27c82add0e90.png)

Slightly Tweaked :)

Good to go. Will send in mockups soon

[2017-02-09 12:25] elioqoshi commented on #98
Finished. The l10n team was happy with this :)

![preview-01](https://cloud.githubusercontent.com/assets/5436686/22783222/21f7f2c4-eecb-11e6-8ff7-73233e1e2e03.jpg)

![preview-01](https://cloud.githubusercontent.com/assets/5436686/22783231/2eb0be74-eecb-11e6-9958-b8c253dacf45.jpg)

[2017-02-09 12:25] #98 closed

[2017-02-18 09:06] simonrcodrington commented on #98
Loving the logo made from various words. The lion one is pretty awesome also :)

[2017-02-22 18:52] Tess-welhazi commented on #98
The logo with many words looks great, the lions though not so much.

[2017-03-30 15:14] birajkarmakar opened #101 "Logo request"
## Goal:
A new campaign on Firefox Nightly  in India.

## Info:
It would be used on swags during the campaign.

## Style Information:
Very simple logo. It would be round. There would be simple nightly logo, then white round border would be there. On that border "India uses Firefox Nightly" * "https://nightly.mozilla.org" * "#INUsesFxNightly" would be written.

## Deadline:
It's kind of urgent! Nee

[2017-03-31 14:56] birajkarmakar commented on #101
Due to some urgency, I have created the sticker.
![sticker_sample](https://cloud.githubusercontent.com/assets/1511026/24555904/5b8e4568-1650-11e7-820c-81f8d70102ee.png)

[2017-03-31 15:05] pascalchevrel commented on #101
That's fine and as Biraj said, we are short in time 👍

[2017-03-31 15:09] quizzycal commented on #101
The sticker looks awesome!! @birajkarmakar

[2017-04-01 08:30] elioqoshi commented on #101
@birajkarmakar Thanks for that. Usually requests with that kind of urgency are hard but it seems you did it! Can you please upload the source files to the repo?

[2017-04-02 16:06] grahamperrin opened #102 "irc://irc.mozilla.org/#opendesign is empty"
https://github.com/mozilla/OpenDesign directs readers:

I'm the only person there.

[2017-04-02 16:10] elioqoshi commented on #102
Thanks @grahamperrin, that's one of the things we want to address this month. I'm thinking to add a Telegram Bridge to IRC since there are 140 members on Telegram.

[2017-04-02 16:24] grahamperrin commented on #102
Was irc://irc.mozilla.org/#opendesign intended to be specific to the Mozilla community?

Or a broader open design community that just happened to be hosted in the mozilla.org domain?

irc://irc.mozilla.org/#opennews exists with reference to https://opennews.org/ and https://opennews.org/who/ explains:

– so I assumed that #opennews was born from the incubation of #opendesign

Without me using Tele

[2017-04-02 16:57] grahamperrin commented on #102
[Launching an Independent OpenNews Program - The Mozilla Blog](https://blog.mozilla.org/blog/2017/02/09/launching-an-independent-opennews-program/) (2017-02-09) puts OpenNews in context.

My guess about the death (emptiness) of irc://irc.mozilla.org/#opendesign in relation to the birth of irc://irc.mozilla.org/#opennews was probably wrong, sorry; it was a wild guess based on the few rooms at irc.m

[2017-04-02 17:11] elioqoshi commented on #102
Yeah, we never really used the channel at the first place, hence. But for openness reasons, we want to create an IRC <> Telegram bridge at least. Yep, it's Mozilla specific, otherwise we would use the #opensourcedesign room :)

[2017-04-02 18:15] grahamperrin commented on #102
Spun off from private chat in Telegram

The introduction at https://telegram.me/opendesign is not suitably open, there's a requirement for protocol-specific clients (no web interface):

![telegram contact opendesign](https://cloud.githubusercontent.com/assets/192271/24589763/f53e3f14-17d7-11e7-9daf-faab4bf7d1d7.png)

Only **after** finding a way to https://web.telegram.org/#/im?p=@opendesign does

[2017-04-02 18:38] Ryuno-Ki commented on #102
See https://github.com/zhukov/webogram/issues/594 for technical background on Telegram Web.

[2017-04-02 21:47] elioqoshi commented on #102
discussed with @hmitsch to set up a Telegram Bridge

[2017-04-02 21:47] elioqoshi commented on #101
@birajkarmakar reminder for the source files :)

[2017-04-02 21:49] elioqoshi commented on #97
@tripad we will be having some updates this month. Stay tuned.

[2017-04-03 02:38] grahamperrin commented on #102
A point of reference, for discussion in the Telegram interface to `#opendesign`:

- Mozilla has 134 people across _open-leadership-training_ and six other rooms at https://gitter.im/mozilla

[2017-04-03 03:10] grahamperrin commented on #102
## Suggested change of topic for the room

`bridged with https://web.telegram.org/#/im?p=@opendesign for Mozilla OpenDesign – https://blog.mozilla.org/OpenDesign`

[2017-04-03 12:09] birajkarmakar commented on #101
I tried to upload the psd file which I have. But I can't upload it here.

[2017-04-03 12:10] elioqoshi commented on #101
@birajkarmakar push it to the repo/ pull request.

[2017-04-03 13:12] elioqoshi opened #103 "A-Frame Stickers"
Added the A-Frame sticker designs here:
https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/A-Frame%20Icon%20Stickers

I recreated the vector icon as it wasn't available (or even rendered in 3D).}

![sticker preview](https://cloud.githubusercontent.com/assets/5436686/24610695/e274f5a0-187f-11e7-95b1-267b9a1b43ad.jpg)

[2017-04-04 14:18] jonathanKingston commented on #28
This likely would have to be redesigned for the new brand logo if it's going to be an official Mozilla property with the new moz://a protocol design.

However a splash screen with one of the logos and linking to activate.mozilla.community might be a good start.

I will try and find someone who can help.

[2017-04-04 14:20] MichaelKohler commented on #28
Yes, linking to activate.mozilla.community for now would be great!

[2017-04-05 09:37] elioqoshi commented on #28
@yofiesetiawan Want to do the redesign?

[2017-04-05 15:33] elijahcruz12 commented on #28
If there is a redesign, I would love to also help with it. I sent a pr a while back to the [repo](http://anistuhin.github.io/mozcoffee/) that contained the code, but just adding a twitter widget. I would love to contribute more to this project though.

[2017-04-05 16:23] jonathanKingston commented on #28
I briefly spoke to Bradley Cohen from the branding team and he suggested that we wouldn't be able to use the name MozCoffee under the new brand guidelines. He suggested some alternatives but I will follow up with him regarding suggestions.

[2017-04-05 18:05] elioqoshi commented on #28
True. Mozilla Coffee should be fine however.

[2017-04-05 20:55] gueroJeff commented on #83
Hey @elioqoshi , now that there's new Mozilla branding, could we get updated name badges? Even if it was just with the "m" lettermark (can't bring myself to call a letter a wordmark). We have a workshop at the end of this month that we'd like to use them for. Thank you!

[2017-04-05 20:58] jonathanKingston commented on #28
Mozilla.coffee domain should be able to be purchased by Mozilla if that was
really needed too. It's reserved because Mozilla own it.

On Wed, 5 Apr 2017, 19:05 Elio Qoshi, <notifications@github.com> wrote:

[2017-04-05 21:59] TomFarrow commented on #28
We have a DPML block on mozilla.coffee. WebOps can arrange purchasing via MarkMonitor with very little work/cost.

I'd happily provide advice/resources for hosting this on Mozilla properties. Either MCWS or Participation Systems should be able to resource this, but I'd have to think about scope to decide which is more appropriate. Once you have a working website, getting it online should be pretty

[2017-04-06 10:07] elioqoshi commented on #28
@elijahcruz12 would appreciate your help here :)

The font Zilla is released on 17th April so that will help. You can use Arvo in the meantime

[2017-04-06 10:34] elioqoshi commented on #83
@gueroJeff I think that's possible. When do you need to print? Can you wait until Zilla is out on 17th April?

[2017-04-06 15:43] elijahcruz12 commented on #28
I still have a copy of the original repo, if you want to base it to be similar to the design that was originally picked but use the new design protocol.

[2017-04-06 23:16] m-branson opened #104 "MDC Icon/Branding"
## Goal:
An icon/new branding for [Mozilla Data Collective (MDC)](https://www.mozdatacollective.com/home)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this r

[2017-04-07 22:12] m-branson opened #105 "Mana Icon/Branding"
## Goal:
An icon/new branding for [Mana](https://mana.mozilla.org/)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this request and should be kept apprised of

[2017-04-07 22:16] m-branson opened #106 "Phonebook Icon/Branding"
## Goal:
An icon/new branding for [Phonebook](https://phonebook.mozilla.org/)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this request and should be kept ap

[2017-04-07 22:29] m-branson opened #107 "The Hub Icon/Branding"
## Goal:
An icon/new branding for [The Hub](https://mozilla.service-now.com/)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this request and should be kept ap

[2017-04-07 22:33] m-branson opened #108 "Mozillians Icon/Branding"
## Goal:
An icon/new branding for [Mozillians](https://mozillians.org)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this request and should be kept apprised

[2017-04-07 22:41] m-branson opened #109 "Discourse Icon/Branding"
## Goal:
An icon/new branding for [Discourse](https://discourse.mozilla-community.org/)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this request and should

[2017-04-07 23:49] elioqoshi commented on #106
Thanks @m-branson!

Gave this a go based on the latest direction we had. Might be worth giving it some thought next week with the others :)

![phonebook](https://cloud.githubusercontent.com/assets/5436686/24823320/6cec6454-1bfd-11e7-9cef-63b6c3d4148a.jpg)

[2017-04-08 18:45] hossainalikram opened #110 "T Shirt Design + Logo for Mozilla QA Bangladesh Community Meetup"
## Goal:
A T Shirt Design and a logo that can be used as stickers for Firefox Team's Upcoming QA Training Workshop "Mozilla QA Bangladesh Community Meetup"

## Info:
This will be used for creating  T Shirt for Meetup attendees and Logo will be used for creating Stickers or used anywhere digitally ( example https://github.com/mozilla/OpenDesign/issues/80#issuecomment-236361659 ).

## Style Informat

[2017-04-08 20:16] elioqoshi commented on #110
@hossainalikram Sorry, but we will be unable to create the logo as we don't have the community styleguides yet, which will be created in the coming months. Do you have the event set up yet?

We might be able to do a sticker though.

[2017-04-08 20:26] elioqoshi commented on #110
That would be the text illustration. What do you think?

![screenshot from 2017-04-08 22-25-15](https://cloud.githubusercontent.com/assets/5436686/24832187/51513b18-1caa-11e7-853b-5ec322f0b54c.png)

[2017-04-08 20:28] hossainalikram commented on #110
This looks good to me. Yes, The event is set at 11-14 May.

We currently need the Sticker and design for T Shirt, and would be helpful for this two.

The Text Looks good to me :D

[2017-04-08 20:30] elioqoshi commented on #110
Okay, we might be able to do something.

@parag9d can you do an illustration?

[2017-04-08 20:45] elioqoshi commented on #108
Thanks Megan.

Here are some directions I'm suggesting. Depending if we use the moz://a protocol style or not and if we use an icon or not

![screenshot from 2017-04-08 22-44-43](https://cloud.githubusercontent.com/assets/5436686/24832287/fdab8b96-1cac-11e7-982b-6cd39201ec09.png)

[2017-04-08 21:05] elioqoshi commented on #107
Gave this a go with an icon to spark off the conversation

![screenshot from 2017-04-08 23-04-37](https://cloud.githubusercontent.com/assets/5436686/24832406/ca80675c-1caf-11e7-9745-c4c9c4859581.png)

[2017-04-10 17:41] m-branson commented on #108
Thanks Elio, good start here! I'm not 100% sure how the brand team will want to handle use of the protocol and the logo in a unique space like Mozillians. The best way to gather more feedback at this point will be to post these for review in Slack. :)

[2017-04-10 17:45] m-branson commented on #107
Nice Elio, I think the icon is headed in the right direction. What if the coloring for the icon was a darker shade of red? Thinking that if the icon was used on its own, it would still be readily associated with The Hub if the coloring match a bit more.

Also, same note here re: posting this in Slack for wider brand team review. I believe we won't be using the text highlight in a color other than

[2017-04-10 17:52] m-branson commented on #106
Thanks Elio, I think this icon option is strong. Would it be possible to see explorations of the icons without their wordmark(s) too? We will want to use them separately for internal entities like the SSO dashboard, though on the actual sites a lockup most likely be needed.

Similar feedback here re: the text highlight as black rather than in color(s). The icon in yellow with wordmark highlights t

[2017-04-10 19:23] peiying2 commented on #83
@elioqoshi, I need it for our Taipei event coming up later next week.  It will be very tight.  I am leaving on April 19th.

[2017-04-10 23:54] elioqoshi commented on #107
@m-branson, yeah we can try that. I just thought we should use the defined color swatches but that would make sense

[2017-04-10 23:56] elioqoshi commented on #83
I can finish this by this weekend. Just please ping me again in 2 days so I dont forget :)

[2017-04-10 23:58] m-branson commented on #107
@elioqoshi I thought we had a darker, secondary shade of the coral/pink color that could be utilized? Not recommending that we go outside of the color palette.

[2017-04-11 00:00] elijahcruz12 commented on #28
@elioqoshi should I use the old repo as a base, since it is already an excellent design?

[2017-04-11 00:41] peiying2 commented on #83
Thank you.  Will do!

[2017-04-11 07:16] elioqoshi commented on #28
Sure, whatever you prefer!

[2017-04-13 19:18] peiying2 commented on #83
@elioqoshi, could you update me on the status?

[2017-04-13 21:22] elioqoshi commented on #83
![draft](https://cloud.githubusercontent.com/assets/5436686/25024845/fa030f36-209f-11e7-88e0-8234e8558314.jpg)

So you only need name badges right now? We can do these with the new wordmark (without icon yet)

[2017-04-13 21:27] peiying2 commented on #83
What icons are you referring to? The l10n head?  It would fill up the space a bit or the badge looks almost empty for now.

[2017-04-13 21:28] elioqoshi commented on #83
Yeah sorry I cannot do that as it's old branding.

[2017-04-13 21:30] peiying2 commented on #83
Do you know when the replacement is ready?  Next few days or in a few weeks?

[2017-04-13 21:35] gueroJeff commented on #83
I think the wordmark is fine for our purposes.

El 13 abr. 2017 15:22, "Elio Qoshi" <notifications@github.com> escribió:

[2017-04-13 21:38] elioqoshi commented on #83
Pretty sure not within this month :)

I will export you the name badges

[2017-04-13 21:45] peiying2 commented on #83
thanks so much!

[2017-04-13 21:53] gueroJeff commented on #83
Thanks Elio!

El 13 abr. 2017 15:38, "Elio Qoshi" <notifications@github.com> escribió:

[2017-04-13 21:58] elioqoshi commented on #83
![2](https://cloud.githubusercontent.com/assets/5436686/25026075/23764e32-20a5-11e7-9640-8d6f03d90ece.jpg)

Like this? :)

[2017-04-13 22:05] elioqoshi commented on #83
![2](https://cloud.githubusercontent.com/assets/5436686/25026266/07dbba26-20a6-11e7-8668-d06bf1532220.jpg)

Or maybe an alternative version

[2017-04-13 22:32] peiying2 commented on #83
Elio, these look great!  I like the blue one just a tad more, 👍

[2017-04-14 07:47] elioqoshi commented on #83
@peiying2 @gueroJeff there we go:
https://github.com/mozilla/OpenDesign/tree/master/2017/Swag&Printouts/l10n%20nametags

[2017-04-14 07:47] #83 closed

[2017-04-14 13:01] gueroJeff commented on #83
Thank you so much!

El 14 abr. 2017 01:47, "Elio Qoshi" <notifications@github.com> escribió:

[2017-04-14 16:08] prathameshchavan opened #111 "#RainOfRUST Campaign"
## Goal:
A campaign logo which would be used in all the social media posts and other areas.

## Info:
#RainOfRUST would be a campaign in India (primarily) (could be global if possible) in the month of June 2017 whose primary objective is to increase the RUST awareness, form local/regional RUST communities and increase RUST users.

## Style Information:
Design should include the RUST logo and if po

[2017-04-20 17:29] elijahcruz12 commented on #28
On the repo, I am adding stuff slowly, but can use some insight to what is wanted for the look of the site.

So far I have it [Here](http://elijahcruz.me/mozcoffee/). It is on GH pages, but on my domain.

I just would like to get input about how I should design it further as well as get others to edit the design as well.

[2017-04-21 21:10] comzeradd commented on #106
I like it :) One minor comment/suggestion: We could probably skip the mozilla wordmark here. The intended audience of that logo is exclusively paid staff. So it should be clear that the phonebook refers to Mozilla's internal phonebook.

[2017-04-23 08:21] elioqoshi commented on #106
![1](https://cloud.githubusercontent.com/assets/5436686/25312023/7b4bf1a0-280e-11e7-8fd6-323f2f8e9f5b.jpg)

Thanks! I updated this with the updated direction we are taking. One of the more vertical versions should fit here. @m-branson ?

[2017-04-23 13:45] elioqoshi commented on #28
That's a good start! There is a lot of things which doesn't fit with Mozilla's new style guide though, so you might want to check it out:

https://internethealthreport.org/v01/

This is how the logo could look like

![mozilla coffee logo](https://cloud.githubusercontent.com/assets/5436686/25314022/ab09df24-283b-11e7-9a52-59bb543b16f5.jpg)

[2017-04-24 15:14] hossainalikram commented on #110
A gentle reminder on this, We are quite short in time. Any updates?

[2017-04-24 15:18] elijahcruz12 commented on #28
That is a really amazing logo. I will implement that soon.

[2017-04-24 17:51] m-branson commented on #106
Thanks @elioqoshi these are looking great. 😄  We've been talking via slack so I think you'll know already a bit what I will say here...

- icon > phonebook (all on one line).
- a darker yellow so that the icon and phonebook can be transparent (cut out) and allow whatever background color there is to come through.
- whether or not we use the mozilla logo beneath phonebook is honestly up to the bran

[2017-04-24 18:05] m-branson opened #112 "Moderator / Branding Update"
## Goal:
An updated icon that aligns with new branding for [Moderator](https://moderator.mozilla.org/)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this requ

[2017-04-24 18:07] m-branson opened #113 "Reps / Branding Update"
## Goal:
An updated icon that aligns with new branding for [Reps](https://reps.mozilla.org/)

## Info:
This request has come out of the current (work in progress) redesign of the SSO (Okta) Dashboard. See below. Currently all Mozilla sites are represented by the black highlight Zilla treatment. This is a placeholder until icons are available.

Yulia (Brand) is the originator of this request and sh

[2017-04-25 05:45] peiying2 commented on #83
@elioqoshi everyone in Taipei loved the design of the badge, ^-^!  Thank you very much!

[2017-04-25 08:31] elioqoshi commented on #83
Great to hear! My pleasure!

[2017-04-25 10:24] couci commented on #113
Just leaving a comment here to keep the Reps team and council on the loop before we move with anything permanent

[2017-04-25 10:26] elioqoshi commented on #113
@couci Of course. We stopped this for now as we have to work closely with this together. Pushing this for later on.

[2017-04-25 10:32] elioqoshi commented on #110
Hmm I can't help with more than branding here. If anyone else can help with design we can move this forward

[2017-04-28 16:37] yofiesetiawan commented on #110
![laptop](https://cloud.githubusercontent.com/assets/2810823/25538142/a87a2ea6-2c6b-11e7-8be7-9d48859f3f5d.jpg)
![tshirt](https://cloud.githubusercontent.com/assets/2810823/25538141/a87657b8-2c6b-11e7-945b-93d6ba78a952.jpg)

[2017-04-28 16:39] hossainalikram commented on #110
@elioqoshi , Can you help me to have the text this way

[2017-04-28 16:40] hossainalikram commented on #110
@elioqoshi , Can you help me to look the text this way
mozilla
bangladesh
qa community
meetup, 17

[2017-04-28 17:11] elijahcruz12 commented on #28
Updating. I have implemented that logo on the bottom of the page, and I am working on changing the site to fit the style guide. I will also add the logo to the top.

[2017-04-29 05:37] umeshagarwal opened #114 "3x3 inch WebVR logo design"
## Goal:
3x3 inch WebVR logo design

## Info:
I already have a logo but it does not have a border which makes it look weird. So need just the border added to the logo.

## Style Information:
Same as Mozilla Style guide
## Deadline:

[When would you like this done by]
In next two weeks
![mozvr](https://cloud.githubusercontent.com/assets/3319062/25553227/81d393cc-2ccb-11e7-97cb-e1c97ebf95a2.png)

##

[2017-04-29 05:38] umeshagarwal opened #115 "One In A Mozillian T-Shirt Design"
## Goal:
Need to recreate A4 design to print on black T-Shirt

## Info:
I have the design ready but it have gradient/graphics which cannot be printed by screen printing. So need only solid colours.

## Style Information:
https://mozilla.ninja/gallery/
"One in a Mozillian"

## Deadline:
By next 2 weeks

## Tag: @elioqoshi @couci @kelimuttu
[Design Needed, Developer Needed, Question, Staff Support N

[2017-04-29 05:44] umeshagarwal commented on #115
![mozillian-01](https://cloud.githubusercontent.com/assets/3319062/25553260/45b7f1de-2ccc-11e7-9ace-50a1c93f9351.png)

[2017-04-29 10:47] bunnybooboo commented on #102
IRC Bridge now fully implemented as reflected on https://github.com/mozilla/OpenDesign , living/breathing channel in IRC, and fully functioning telegram_bot. To be marked closed?

[2017-04-29 12:40] viswanathamsantosh opened #116 "Hacksheet for Firefox add-ons"
## Goal:
A hacksheet for Mozilla add-ons which could be used for events and conferences.

## Info:
It will be used/distributed at events, technology conferences, workshops with all the required information on it .

## Style Information:
I think you know this better than me. ;-) But use a web-extension logo atleast once.

## Deadline:
May 5th. However it is completely fine if we miss the deadline.

[2017-04-29 12:42] viswanathamsantosh commented on #116
[addons.pdf](https://github.com/mozilla/OpenDesign/files/966128/addons.pdf)
Here goes the content cum sample that is required for the Hacksheet.

[2017-04-29 14:28] Srushtika opened #117 "Illustration for Reps FB Experiment"
## Goal:
An illustration/design that captures the idea of the new feedback system that was introduced for the MozActivate activities (mzl.la/howwasit)

## Info:
This will be posted on the Reps FB page and twitter handle in order to have a greater reach and better spread the news.

## Style Information:
Anything that does the job but should represent Mozilla Reps.

## Deadline:
As soon as possible.

[2017-04-29 19:08] grahamperrin commented on #102
Thanks, at a glance (with Matrix) it looks OK with the exception of the outdated topic:

![a matrix view of the room](https://cloud.githubusercontent.com/assets/192271/25558099/906e6ee2-2d17-11e7-9f46-574871e1b2c7.png)

[2017-04-29 19:16] grahamperrin commented on #102
A notification that I received from Telegram was empty –

![notification from telegram](https://cloud.githubusercontent.com/assets/192271/25558148/4d60b708-2d18-11e7-8330-9a62adb77e2b.png)

 – the subsequent browser view of Telegram was OK. I assume that this bug involves Telegram more than the bridge, I'm happy to treat it as negligible.

(I used Telegram for nothing other than Mozilla Open Desig

[2017-04-30 08:48] bunnybooboo commented on #102
This is perhaps due to the bridge in Matrix? Some are very specific for each service. I have tested Riot myself https://github.com/decentech/tutorials/blob/master/riot.im-beta-setup.md and found my reserved username a bit of an issue. Really freaking awesome platform though, I agree.

Your issue therefore seems to be growing in its scope. The Topic can be arbitrarily changed by an op/mod in IRC. T

[2017-04-30 13:11] grahamperrin commented on #102
Thanks,

I've been using IRC for decades but to be honest, I know next to nothing about the bridging technologies :-) I just wanted to flag those two things (in the two screenshots) in case either one prompted someone who _does_ have the knowledge to perform any additional checks.

Closing now, thanks; I don't foresee a need to reopen (the room is pleasantly populated).

[2017-04-30 13:11] #102 closed

[2017-04-30 15:27] bunnybooboo commented on #102
I know you haven't asked, but I took the opportunity to investigate this myself, as I've seen a lot of attention at Mozilla regarding communication channels. And I ultimately didn't fully understand what a bridge was either.. so here goes:

From my understanding any 'bridge' is simply an integration of APIs. Early adoption can mean some are run a very specific task (like Matrix IRC bridge), with l

[2017-04-30 16:31] elioqoshi commented on #117
@Srushtika a bit of more details would be appreciate, as any designer who isn't involved in Reps right now doesn't have any context. As of now, I have no clue either what is requested here.

I can help with this but I'm not sure if I understand what's asked here.

[2017-04-30 16:32] elioqoshi commented on #110
@yofiesetiawan looks great, thanks!

@hossainalikram will do that as I said :)

[2017-04-30 16:35] elioqoshi commented on #114
@umeshagarwal is this what you are looking for?
https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/A-Frame%20Icon%20Stickers

Also, I don't understand what you are asking here. Is it a sticker or a logo? Please provide details on usage and more info. You mention WebVR but attached is a design from A-Frame

[2017-04-30 16:50] umeshagarwal commented on #114
It's a sticker. I will make 3x3 round stickers. Yes its A Frame and we need that. It doesn't have a border so doesn't look good as a sticker.

[2017-04-30 16:52] Srushtika commented on #117
Hey @elioqoshi !
The design (a poster essentially) I wanted needs to reflect the new feedback system for MozActivate (mzl.la/howwasit). It might be something on the lines of https://thumb7.shutterstock.com/display_pic_with_logo/3295814/371548105/stock-vector-vector-feedback-concept-illustration-can-use-for-web-banner-poster-feedback-or-rating-system-371548105.jpg but this image is only for the con

[2017-04-30 16:54] Srushtika commented on #117
![screen shot 2017-04-28 at 9 34 17 am](https://cloud.githubusercontent.com/assets/5900152/25566296/b94cb5bc-2df3-11e7-9f33-cbd5fcea66b1.png)
Or maybe something like this? I know this design is very wrong. But I'm just using it as a way to share the concept and ideation. @elioqoshi

[2017-04-30 17:09] elioqoshi commented on #115
@umeshagarwal here we go:
https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/One_In_A_Mozillian

Preview:
![preview](https://cloud.githubusercontent.com/assets/5436686/25566417/7cdf3980-2dd8-11e7-903f-3a49b87c548e.jpg)

[2017-04-30 17:09] #115 closed

[2017-04-30 17:11] elioqoshi commented on #117
@Srushtika That was helpful. Let me mull a bit over it and get back here.

[2017-04-30 17:32] elioqoshi commented on #114
Have you seen the link I shared? ^

[2017-04-30 17:42] elioqoshi commented on #110
@hossainalikram here we go:
https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/QA_Bangladesh_2017_Meetup

[2017-04-30 17:42] #110 closed

[2017-04-30 17:42] elioqoshi commented on #114
Okay, seems these design work for this purpose. Closing this :)

[2017-04-30 17:42] #114 closed

[2017-04-30 17:45] elioqoshi commented on #116
@viswanathamsantosh I will do this next week as some other issues have priority. Thanks for the patience :)

[2017-04-30 17:58] elioqoshi commented on #111
![rainofrust_color](https://cloud.githubusercontent.com/assets/5436686/25566712/37310042-2ddf-11e7-8a04-f565fadac30a.png)

There we go:
https://github.com/mozilla/OpenDesign/tree/master/2017/Logos%26Branding/RainOfRust

I think it would be best to not keep this India exclusive so it can be reused :)

Good luck!

[2017-04-30 17:58] #111 closed

[2017-05-01 11:51] Srushtika opened #118 ""WebVR Superstar" t-shirt design needed."
## Goal:
A t-shirt design required with the text "WebVR Superstar"
## Info:
 It will be given to winners of a competition which will be held during May-June in WebVR India community.

## Style Information:
On the lines of these designs https://mozilla.ninja/gallery/ but with solid colour in order to take care of the cost constraints. May reflect the idea of "Virtual Reality" overall with the new b

[2017-05-01 12:21] elioqoshi commented on #118
Hi @Srushtika
One week is pretty impossible here. Unless someone else wants to do that. I'd advise having at least 3 weeks time for design requests.

[2017-05-01 14:06] kelimuttu commented on #115
I love this one. The background color is simpler so it's easier to read the sentence. Thanks for opening the issue @umeshagarwal and @elioqoshi thanks as well for the design.

[2017-05-02 00:42] caitmuenster commented on #116
👍

@elioqoshi, thank you for helping pick this up next week!

@viswanathamsantosh, I had a few more thoughts for this (and I apologize for thinking of them so late):
- on page 1, there should probably be a card title, like "Mozilla Add-ons."
- on page 1, retitle 'Code' to 'Build Your Own Extension'
- move the Community section to the top of the page and put Social Media beneath it
- Under Social M

[2017-05-02 02:42] mukeshpathak345 commented on #118
![mozmicky](https://cloud.githubusercontent.com/assets/11034559/25601950/7256c506-2f0d-11e7-805d-5552ab6d29c5.JPG)
![vr_glasses-512 copy copy](https://cloud.githubusercontent.com/assets/11034559/25601948/71fd30d6-2f0d-11e7-82e9-025496ca8493.PNG)
![webvr india t-shirt design](https://cloud.githubusercontent.com/assets/11034559/25601949/7207dcd4-2f0d-11e7-9ff0-b0f2c9e8591d.jpg)
![back design](https:

[2017-05-02 04:26] Srushtika commented on #116
@viswanathamsantosh @elioqoshi
**This not an actual design**, but I wanted to share the idea of including the required links in a format similar to this. Since all the links are important and they are very long, it would be easier to check these out manually from a printed HackSheet, if broken down in this manner. What do you think?
![screen shot 2017-05-02 at 9 54 02 am](https://cloud.githubuserc

[2017-05-02 07:07] elioqoshi commented on #118
@mukeshpathak345 Hi there! I think you used some stock graphics here where I'm not sure if that would be allowed unless they are openly licensed :) We should aim for something more personalized I think

[2017-05-02 07:10] elioqoshi commented on #116
@caitmuenster Sure! Also no worries, I'm part of the Creative Team and am aware of the Brand Guidelines (at least that much as one can be, we are still experimenting on some directions). The Mozilla.ninja website is not really up to date either, we are working on getting updates done.

P.S: Do you have the AddOn icon in a vector format?

@Srushtika love that direction! Thanks for suggesting it. I

[2017-05-02 14:52] caitmuenster commented on #116
@elioqoshi Awesome! Also, thanks for the heads up about updates being needed for mozilla.ninja. :) I'm still looking for a vector file the icon -- hopefully I'll be able to have more information about it today.

@Srushtika, I love your idea! It fits with the extension theme perfectly and it is a ton of fun.

[2017-05-02 15:11] caitmuenster commented on #116
Sorry, all -- there are another few late updates. :)

On page 2, the Telegram information should read:

**Telegram**
Join @addonschat to chat about add-ons
Join @addons for updates about add-ons

Thank you!

[2017-05-02 16:32] hossainalikram opened #119 "Create Mozilla QA logo with new branding"
## Goal:
Mozilla QA logo

## Info:
This will be used in different QA specific designs ( in Tshirt/ STickers/ square buttons)

## Style Information:

## Deadline:
6 May, 17

## Tag:
[Design Needed, Developer Needed, Question, Staff Support Needed]

[2017-05-03 19:05] SufiAhmedHamim commented on #110
**Mozilla bangladesh qa community meetup, 17- Batch Design:**

![lalbag fort 3](https://cloud.githubusercontent.com/assets/19908532/25676831/5cfbc9be-3065-11e7-8cb8-7cf85db712f5.png)

![shahid minar](https://cloud.githubusercontent.com/assets/19908532/25676836/6725460e-3065-11e7-9ec6-416a17cdadc7.png)

**Main flie link:**[https://drive.google.com/open?id=0BzaFlqta9aHebnRnYkVqblhXWUk](url)

[2017-05-04 11:09] elioqoshi commented on #119
Thanks for the request. 6 May is impossible. We can aim for the end of the month here.

[2017-05-04 20:02] caitmuenster commented on #116
Attached is a vector file for the Foxface.

[addons-foxface.eps.zip](https://github.com/mozilla/OpenDesign/files/977415/addons-foxface.eps.zip)

[2017-05-06 10:09] elioqoshi commented on #110
@hossainalikram source files are here:
https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/QA_Bangladesh_2017_Meetup

[2017-05-06 10:10] elioqoshi commented on #116
@viswanathamsantosh @caitmuenster Here are the source files :)
https://github.com/mozilla/OpenDesign/tree/master/2017/Graphics/WebExtensions_Cheatsheets

[2017-05-06 10:10] #116 closed

[2017-05-06 12:35] mastizada opened #120 "Mozilla Azerbaijan logo"
## Goal:
A logo for Mozilla Azerbaijan community

## Info:
It will be used in www.mozillaz.org (we are currently redesigning website) and in community accounts (twitter, facebook and etc.). Also we will print some stickers with new logo.

## Style Information:
We mostly use "mozillaz" (mozilla azerbaijan) as a name for community.
Azerbaijan is known as "Land of Fire". Some logos: http://imgur.com/

[2017-05-06 13:08] viswanathamsantosh commented on #116
Right on time! These are beautiful and clear. Thank you so much @elioqoshi :)

[2017-05-06 17:48] KipOmaha opened #121 "Logo for Pi Reel due before MozSprint."
## Goal:
A logo/icon for Pi Reel, an animator made for science and engineering.

## Info:
It will be used for web pages.

# Style Information:
A link to the current work is [here](https://pireel.github.io/PiReel-Website/img/pireel.png)
I would like to change it up a little, because it really doesn't explain itself.

## Deadline:
MozSprint: June 1, 2017

## Tag:
Design Needed

[2017-05-06 20:27] Tess-welhazi commented on #118
I see there isn't much time left here so here's what i got
![image](https://cloud.githubusercontent.com/assets/20952652/25775667/b953ae9c-32aa-11e7-9002-4da033577916.png)

![image](https://cloud.githubusercontent.com/assets/20952652/25775683/1bf6e906-32ab-11e7-9f31-aa6413fa3f96.png)

the doge is there due to mozilla's apparent new fascinating with meme culture.

[2017-05-07 09:59] elioqoshi commented on #121
@KipOmaha This is what it would be with Mozilla's branding guidelines :)

![pi reel](https://cloud.githubusercontent.com/assets/5436686/25779583/90aa3728-331c-11e7-92ed-a2173b73962e.jpg)

[2017-05-07 10:01] elioqoshi commented on #118
@Tess-welhazi Thanks for the suggestions! Doge is usually associated with Servo so I'd not use it here. Also, let's not rush because a 1 week deadline is not realistic. @Srushtika please let us know with a feasible deadline, one week is way too little and seems rather like an afterthought rather than planned. When you organize an event, you don't do it for next week either, right?

[2017-05-07 10:05] elioqoshi commented on #120
Thanks @mastizada! We are working on Community Branding Guidelines and are doing some first pilots already. Once we have something in place we can tackle yours as well.

[2017-05-07 10:19] KipOmaha commented on #121
@elioqoshi, thanks for the work.

I like the symbol for pi you used, would you mind if I used it for other stuff?
Also I am going to make the background changing.  Except for the Mozilla logo of course.
I'll send some examples.

[2017-05-07 11:37] elioqoshi commented on #121
@KipOmaha sorry what do you mean? Not sure if I understood right.

[2017-05-07 11:53] KipOmaha commented on #121
@elioqoshi,
 I meant to ask what font you were using for the pi reel lettering. So I can show you an example.

[2017-05-07 12:05] elioqoshi commented on #121
It's Zilla by Mozilla. It's not out yet so we have to wait a bit. If it's a Mozilla project it needs to be in a similar manner like I showed you here, to adhere to guidelines.

[2017-05-07 12:33] KipOmaha commented on #121
Thanks, I thought it looked similar to fira

[2017-05-10 14:57] elioqoshi opened #122 "We want to hear from you"
Hi there fellow Open Design enthusiasts!

You are receiving this email because you have been involved with Mozilla and signed up for Mozilla Open Design news.

We kindly invite you to participate in a research that will shape the future of open source and other collaborative practices at Mozilla.

I am asking for 10 minutes of your valuable time before May 15th to complete the following survey abo

[2017-05-10 21:20] jpswizzle commented on #119
Hi @hossainalikram & @elioqoshi I'm a UX designer and I'm interested in helping out! Would love to chat about this. If interested, please schedule time to talk (30-min video chat preferable): http://calendly.com/jules-monza

[2017-05-11 13:44] elioqoshi commented on #119
@jpswizzle Let's chat some time, I am pretty busy in the next days but will get back!

[2017-05-11 16:16] jpswizzle commented on #119
Okay, sounds good!

[2017-05-12 19:38] Tess-welhazi commented on #118
@elioqoshi will succes kid be a better choice?

[2017-05-15 01:45] barrosgeraldo opened #123 "Name badge design for Mozilla Activate events at Sao Paulo/BR"
## Goal:
Name badge design for Mozilla Activate events.

## Info:
Theses name badge will used in all workshops/events of the campaign (Rust, WebVR, Web Extensions, Web Compatibility, Tech Speakers), they are needed to identify people who are at a Mozilla event , here at Sao Paulo.

We are wanting to produce a large amount and use at all Mozilla community events here in São Paulo, so we want someth

[2017-05-21 11:33] #122 closed

[2017-05-21 11:34] elioqoshi commented on #116
A6 versions here :)
https://github.com/mozilla/OpenDesign/tree/master/2017/Graphics/WebExtensions_Cheatsheets/A6

[2017-05-22 19:49] caitmuenster commented on #116
Hey @elioqoshi, this is awesome. I have a dumb question -- what's the best way to submit edits to these files?

Also, apologies for being late in submitting these changes. @viswanathamsantosh, if you have already printed the current version, that's fine. I just want to get the edits in for the next round. :)

[2017-05-23 04:13] viswanathamsantosh commented on #116
We needed A6 for printing which we got a couple of days before. So we haven't printed them yet.  \o/

[2017-05-23 05:03] elioqoshi commented on #116
@caitmuenster Pull Requests are fine! Otherwise let me know what changes and I can do them

[2017-05-23 19:15] caitmuenster commented on #116
Thanks @elioqoshi! My visual editing skills aren't quite up to the task of submitting a PR. :( This looks like a long list, but I think that we won't have changes for awhile after this. Changes would apply both to the .pdf and to the A6 card.

**Pages one and two**, top right corner:
Change "add-ons" to "addons.mozilla.org"

**Page one:**

All API's should be "APIs"

Capitalize "Your Own" on "Buil

[2017-05-26 13:46] gueroJeff opened #124 "Mozilla localization digital certificate of participation template"
## Goal:
In some regions of the world, certification of participation in an open source project is valuable to contributors. It is used as a means of validating the fact that the individual participated in the project and can be taken to potential employers as evidence of experience. We need a template certificate of participation for localization that we can give to localizers to acknowledge thei

[2017-05-26 15:09] foxt7ot commented on #124
@elioqoshi Can we have your valuable insights on this. Thanks

[2017-05-26 15:10] elioqoshi commented on #124
@foxt7ot what insights do you need here?

@gueroJeff  Perfect, thanks Jeff. Should be able to do within the given timeframe. Others are free to take this on though if anyone likes.

[2017-05-26 15:15] elioqoshi commented on #116
@caitmuenster Thanks! I will have to have a look next week :)

[2017-05-29 08:23] yofiesetiawan opened #125 "Mozilla Indonesia Community Mascot - Vector File"
This is Mozilla Indonesia Community Mascot, called Dimo, vector files...

[mozilla-indonesia-mascot.zip](https://github.com/mozilla/OpenDesign/files/1035237/mozilla-indonesia-mascot.zip)

[2017-05-30 16:34] viswanathamsantosh opened #126 "Poster for Add-on Events"
## Goal:
A poster which we could use for social media publicity.

## Info:
It will be used for all events around Firefox Add-ons development around the communities.

## Style Information:
I think you will know about this better. Basically any person who is going to organize an event around Firefox add-ons should be able to hack the poster with the event location, date, time, event name etc. and be

[2017-05-30 17:50] prasannatm commented on #126
![mozilla](https://cloud.githubusercontent.com/assets/13232678/26597119/82bf6848-458e-11e7-9f54-f7520730a1df.png)

[2017-05-30 20:15] yofiesetiawan opened #127 "Reps Council Nominees 2017"
Reps Council Nominees 2017
[mozilla-vote.psd.zip](https://github.com/mozilla/OpenDesign/files/1039573/mozilla-vote.psd.zip)

[2017-06-06 21:23] mbransn opened #128 "Updated Icon for Participation Systems"
## Goal:
The Mozilla Participation Systems team needs an updated icon that aligns with new Mozilla branding.

## Info:
The icon will be used with and without the Participation Systems wordmark (see below). We'll upload it as the avatar for our internal communication channels, utilize it on our presentations and get it made into stickers/shirts/etc to share with our fellow Mozillians!

## Style Inf

[2017-06-10 17:14] elioqoshi commented on #126
Can we revisit the style please? It looks more like Google right now :)

[2017-06-10 18:28] Ryuno-Ki opened #129 "Add HSL/RGB values next to Hex on https://mozilla.ninja/visualelements/"
Since some designers prefer other representations than Hex, it would be handy to have the RGB or HSL values standing on https://mozilla.ninja/visualelements/, too. Otherwise they would need to compute it on their own time and again.

## Tag:
[Developer Needed, Staff Support Needed]

[2017-06-10 18:28] elioqoshi commented on #128
Thank you @m-branson ! Here are few alternatives:

![1](https://user-images.githubusercontent.com/5436686/27005273-4dbd255a-4e1b-11e7-9273-197ce9db3a20.jpg)

I didn't change the icon as it has been widely used before as well.

What do you think?

[2017-06-10 18:32] Ryuno-Ki opened #130 "Add colour contrast on https://mozilla.ninja/visualelements/"
For the colour swatches on https://mozilla.ninja/visualelements/ it would be handy to have the contrast ratio listed.

This way, the legibility can be taken into account when deciding on a pair. In some countries there are constraints like reaching at least a AA on contrast (with respect to the formula provided by WCAG). You can use [Lea Verou's contrast ratio tool](https://leaverou.github.io/cont

[2017-06-10 18:48] elioqoshi commented on #123
@barrosgeraldo sorry for the delay here, I will try to tackle this next

[2017-06-12 11:35] hmitsch commented on #128
@elioqoshi thank you very much. I really like it.
@m-branson should we print the purple one on a white background on round stickers?

@a-kilroy FYI

[2017-06-12 15:27] m-branson commented on #128
Thanks @elioqoshi, this looks like a good evolution of the current ParSys icon/wordmark. Appreciate you taking the time to work on it. 👍 Can you send through your source file so that I can prep sticker files for @hmitsch today or tomorrow?

@hmitsch once I have Elio's file I'll make a sticker version for you & the team to approve. I think this is a great solution for June All Hands, though I would

[2017-06-15 10:59] elioqoshi commented on #113
Getting back to this. With the new branding guidelines, this could be an option. It doesn't have the new color palette but I'd say that Reps has such a legacy that it can be excused for that.

What do yo think?
![reps](https://user-images.githubusercontent.com/5436686/27178431-72ab369c-51ca-11e7-9617-83236b30d11b.jpg)

[2017-06-15 11:39] decode-dev commented on #113
@elioqoshi
So the logo seems to be good but I think the sharp edges on the reps text and logo can be a bit different.
And thanks for making cool logos 👍👌
Just wanted to ask is the color palete for"Mozilla" logo is fixed or can it be changed? [I think the black color is kind not appealing with red] 🤔

PS : I am not a designer by profession so views may be like a end user 😁

[2017-06-15 11:53] couci commented on #113
I was wondering is there a way we can integrate the crest in there? I am feeling it's a big part of the Reps however I do know we need to follow the guidelines

[2017-06-15 12:03] elioqoshi commented on #113
@decode-dev Thanks for that! Having no margin in the "reps" wordmark is according to the guidelines and all logos will get this treatment so there is not much space to work around it.

Mozilla has a new color palette which you can find here:
https://mozilla.ninja/visualelements/

The Reps color is different and an exception to this.

We could change the red color (but it has years of Reps legacy w

[2017-06-15 20:54] m-branson commented on #113
Thanks @elioqoshi for the hard work and the rest for input! I agree with your approach Elio and believe this is a good case for a break from the color palette. I am curious what Yulia and the Brand Team feel about this color divergence?

One stylistic recommendation, have you tried the 'people' icons with hard/square edges rather than rounded? and/or the pixel effect you're implementing on some of

[2017-06-15 22:26] barrosgeraldo commented on #113
Hi @elioqoshi great see this here!

Just adding comments made before. The words Mozilla, Reps + logo, get too big for a single logo. Only "Mozilla Reps" words are enough, IMHO. I recommend using the icon as a favicon or printed arts such as T-shirts, stickers, etc.

However I feel that this icon is very traditional, maybe an abstract icon like Parsys can bring a "brand" more solid, innovative, fle

[2017-06-15 23:00] m-branson commented on #113
@barrosgeraldo you make great points about the logo size/length and its usability. One thing we should keep in mind is that this current iteration is the full logo lockup. For brand guidelines it's important that we create this version first.

Once this lock up is finalized and agreed upon it can then be used as a full lockup, as an icon only or as a wordmark only. Hope this makes sense. :)

[2017-06-15 23:05] MichaelKohler commented on #113
I think it fits well into the guidelines apart from the discussed exceptions. I think the color needs to be kept, and I think it's not too far off to justify it.

I'm really struggling with the padding on the bottom, but that's what the current state of the art is according to Elio. I guess I'll get used to it. :)

[2017-06-16 06:21] gangit commented on #113
Hi @elioqoshi wish to add my two suggestions:

Suggestion 1
![repslogo propo1](https://user-images.githubusercontent.com/2873625/27214264-8803286c-527c-11e7-8a33-bd8db4fc887b.jpg)

Maybe the two red icons could be resized equally..

Suggestion 2
![repslogo propo2](https://user-images.githubusercontent.com/2873625/27214301-b90997de-527c-11e7-9f9e-275f3ed47b46.jpg)

I an amateur and enthusiast with

[2017-06-20 05:40] prasannavijayan commented on #126
![mozilla](https://user-images.githubusercontent.com/3090884/27318226-f7e99c22-55a8-11e7-9eb4-7cebe6cbf943.png)

[2017-06-20 05:44] viswanathamsantosh commented on #126
May be we can replace the colors from Mozilla palette to make it sound more of Mozilla?

[2017-06-25 04:48] aswinmohanme commented on #129
I would love to take this up, but where it the source of the website ?

[2017-06-26 01:37] cbaba20 commented on #97
Hi Elioqoshi,
Any update on this issue. I think now we can come up with new design changes.

[2017-06-28 11:12] elioqoshi commented on #129
I don't think the source is on GitHub. We plan to add the values once we update the website.

[2017-06-28 11:15] elioqoshi commented on #126
Yeah this is a bit out of line. @prasannavijayan please post the source files so we can revisit

[2017-06-30 21:51] couci opened #132 "New Activate Campaign logo"
## Goal:
We would like to create a new logo for the activate campaign, aligned with the new guidelines

## Info:
This will be used for the Activate Campaign, a campaign that is helping mobilizers building communities around impactful mozilla projects

## Style Information:
You can see the current logo here: https://github.com/mozilla/OpenDesign/issues/85

## Deadline:
Into next month it would be n

[2017-06-30 21:51] couci commented on #132
Request at the [activate Repo](https://github.com/mozilla/activate.mozilla.community/issues/140#issuecomment-312318581)

[2017-06-30 23:01] elioqoshi commented on #132
![draft](https://user-images.githubusercontent.com/5436686/27756540-573ad93c-5dad-11e7-9d2a-fcb332f40641.png)

Proposal here. What do you think?

[2017-07-02 06:52] vtay29 opened #133 "Join us on our research trip to learn more about Conscious Choosers!"
Are you interested in helping us make the Internet more healthy, open and accessible?

The Mozilla Audience Insights team, with the help of our good friend and researcher Roberta Tassi, and the remote support of information designers Giorgio Uboldi and Matteo Azzi, will be visiting your cities to understand more about Conscious Choosers – a group of people whose commitment to clear values and beli

[2017-07-03 07:38] ranjithrajvasam opened #134 "Poster for Mozilla l10n Community Meet-ups"
## Goal:
Common template for Mozilla l10n Community Meet-ups

## Info:
This will be used by regional l10n communities to adopt the template and localize it to their requirement. [Community meet-ups generally goes with the agenda like preparing roadmap, inviting new contributors, l10n sprints, quality checks etc]

## Style Information:
Follow the new branding guidelines of Mozilla
Suggested to watc

[2017-07-03 07:44] ranjithrajvasam commented on #124
@gueroJeff Thanks for coming up with this great idea. (Our localization team recently discussed about the same, and I was about to open a issue on this.)

I request the design team to take this as a priority issue as few other l10n teams in India(could be in other countries too) are also looking for this.

[2017-07-03 09:35] mozfreddyb opened #135 "mozilla security logo under new mozilla brand"
## Goal:
Mozilla Security logo, with the new brand

## Info:
There are various security teams within Mozilla. I assume most of them are interested.

## Style Information:
Given that the new mozilla brand is stylized as a URL, I suppose a lock icon would make sense.
Not sure if this is OK with the brand team, but as an anology to https, moz**s**://a would be ... interesting?

## Deadline:
no deadli

[2017-07-03 15:19] garbas opened #136 "mozilla release engineering team logo with new mozilla brand"
## Goal:

Mozilla Release Engineering logo with new brand.

## Info:

We would use it all accross our internal tools under https://mozilla-releng.net

## Style Information:

How to style team logos is described at https://mozilla.ninja/logosystem.

## Deadline:

no real deadline, but it would be nice to switch to new mozilla brand.

## Tag:

Design Needed

[2017-07-06 09:20] couci commented on #132
I like it! other thoughts? @MichaelKohler @AlexLakatos

[2017-07-06 09:30] MichaelKohler commented on #132
I like it too!

[2017-07-06 12:42] hmitsch commented on #128
Files are stored here: https://drive.google.com/drive/folders/0B0vmiicLLrGuVjlCMGt4WHdCcG8

[2017-07-06 13:26] elioqoshi commented on #135
@mozfreddyb Thanks for the request! mozs://a would be a no go so sorry :P

Would this be fine with you?
![1](https://user-images.githubusercontent.com/5436686/27913153-782c9598-625f-11e7-8d06-0378d874d4cf.jpg)

Otherwise there are other directions like these:
![2](https://user-images.githubusercontent.com/5436686/27913154-7a178cdc-625f-11e7-9ce9-c22de73399b6.jpg)

[2017-07-06 13:28] elioqoshi commented on #128
I'd keep this open as the current logo is only a temporary solution and we should update it within our guidelines fully as soon as we know how to proceed

[2017-07-06 13:34] elioqoshi commented on #135
![3-01](https://user-images.githubusercontent.com/5436686/27913507-a6190e22-6260-11e7-99f9-b9ba66ad6ef1.jpg)

[2017-07-06 13:38] elioqoshi commented on #136
Thanks @garbas I will have a look at this within this month :)

[2017-07-06 13:42] mozfreddyb commented on #135
I'm German my feedback will be terse and direct. brace for impact.

OK, here we go.

1) my favorite. could we also try a lock? ;D
2) sort of looks like an emoticon to me. an unhappy emoticon
3) I don't understand the blocks around the `m`, really.

[2017-07-06 14:09] elioqoshi commented on #135
![4-01](https://user-images.githubusercontent.com/5436686/27915040-5cc547ae-6265-11e7-8541-f59c6bdb15ef.jpg)

Locks and shields are so cheesy but hey, there aren't many other alternatives. This one might make it a little more special though (this is also my favourite)

[2017-07-06 15:45] jvehent commented on #135
Lock is the international symbol for security, so it makes sense to me.
Would there be a clever way to put the lock inside `moz://a`?

[2017-07-06 16:23] jonathanKingston commented on #135
The padlock on it's own would likely make a cool sticker too. (The feedback I get from stickers is it's always too big)

[2017-07-06 21:49] elioqoshi commented on #135
@jvehen That would be against guidelines, sorry.

[2017-07-11 18:42] groovecoder commented on #135
FWIW I like the shield or lock icon best.

[2017-07-12 16:07] Srushtika commented on #118
Hey @elioqoshi ! The webvr-india community has had a little reorganisation. We wouldn't need this t shirt for now :) I'll re-open the issue when relevant, closing for now !

Thanks !

[2017-07-12 16:07] #118 closed

[2017-07-12 16:08] #117 closed

[2017-07-14 18:52] irvin commented on #124
https://www.dropbox.com/s/ynz5t17haofdht5/Student%20Contributor%20Letter.pdf?dl=0

This is the contribution recognition letter I'd used for many years.

It came from a really old team (CBT or CDT?) and I'd made it into a PDF form that you can directly filled and signed with your own title. (I singed this for students as rep, for example.)

[2017-07-15 00:47] barrosgeraldo commented on #124
Hi @gueroJeff!
I created a draft template here, very basic, I do not know if that was your expectation because I had no recourse on the functional team background/history.

In general the text is just an example, I need you to write the correct text to be added, I created this short text based on your comments, but I am Brazilian and I am not fluent in English, so not sure about the text, hahaha.

[2017-07-15 02:52] barrosgeraldo commented on #124
Per Jeff's recommendations, I'm adding two options with Firefox logo, color and black in the background.
![l10n_certificate_template_firefox_colors](https://user-images.githubusercontent.com/14970832/28235925-4913a1f2-68ef-11e7-8b03-6aa319e5a96f.png)
![l10n_certificate_template_firefox_dark](https://user-images.githubusercontent.com/14970832/28235926-4914c1f4-68ef-11e7-8cc5-cb0213f810ce.png)

[2017-07-15 03:55] barrosgeraldo commented on #124
And here, a dark option based on Mozilla's website.
[l10n_certificate_template_dark.pdf](https://github.com/mozilla/OpenDesign/files/1150058/l10n_certificate_template_dark.pdf)
![l10n_certificate_template_dark](https://user-images.githubusercontent.com/14970832/28236266-1a8ba556-68f8-11e7-9ef0-1433348bbc21.png)

[2017-07-15 04:13] barrosgeraldo commented on #124
[l10n_certificate_template_dark.pdf](https://github.com/mozilla/OpenDesign/files/1150071/l10n_certificate_template_dark.pdf)
![Uploading l10n_certificate_template_dark.png…]()

[2017-07-15 13:39] zilmarr commented on #124
I'd like to add that it would be of great value if we could send a localized certificate also. Many employers or educational institutions doesn't accept or recognize english certificates.

[2017-07-15 14:58] petercpg commented on #124
Thanks for the nice design.

One cent to add: I know it's a bit longer, but would it be informal/jargonized if we use 'L10n' instead of full 'Localization' in the headline?

[2017-07-15 15:11] drashti4 commented on #124
It would be better if we can add role of contributor in team or some more specific detail regarding performance.

[2017-07-15 15:21] bobreyes commented on #124
I agree. People reading the certificate might not understand what "L10n" mean (they may even read is as Lion).

[2017-07-15 16:22] barrosgeraldo commented on #124
Hi everyone!
I added the suggestions here:
[l10n_certificate_template_dark.pdf](https://github.com/mozilla/OpenDesign/files/1150463/l10n_certificate_template_dark.pdf)
![l10n_certificate_template_dark](https://user-images.githubusercontent.com/14970832/28240934-8873af24-6960-11e7-976d-da72f18e5160.png)

[2017-07-16 16:53] elioqoshi commented on #134
Sorry, what do you mean with "Template" ? Template for what?

Please be specific when you file issues and post related examples which could help understand the context. As it looks right now it's impossible to understand what your needs are.

[2017-07-16 16:56] elioqoshi commented on #124
Love this one, very great job @barrosgeraldo! I have nothing to nitpick, it looks very aligned to our guidelines! One thing which I might suggest would be making the name of the receiver in Zilla Highlight and a bit bigger. What do you think?

[2017-07-16 17:08] barrosgeraldo commented on #124
It's a great idea because that might highlight the volunteer's name. I'll add now.

Merci,

[2017-07-16 17:21] barrosgeraldo commented on #103
Great, I used this to print my buttons for workshops at Brazil, thank you.

[2017-07-16 17:52] barrosgeraldo commented on #124
The art has been pushed.

[2017-07-16 17:57] #127 closed

[2017-07-16 17:58] #123 closed

[2017-07-16 18:00] barrosgeraldo commented on #125
Hi @yofiesetiawan,
This mascot is awesome! You could push this to the repository?

[2017-07-16 18:03] #103 closed

[2017-07-16 18:07] barrosgeraldo commented on #132
@elioqoshi, is necessary push the source file. :)

[2017-07-16 18:15] barrosgeraldo commented on #101
Hello @birajkarmakar, let me know if you need any help to push and feel free to contact us on the [Telegram group](https://t.me/opendesign).

[2017-07-16 18:21] #87 closed

[2017-07-16 18:22] #86 closed

[2017-07-16 18:23] #85 closed

[2017-07-16 18:29] barrosgeraldo commented on #28
@elijahcruz12, the Mozilla branding is here: https://mozilla.ninja.

[2017-07-16 18:33] #3 closed

[2017-07-16 18:43] #16 closed

[2017-07-16 18:50] #21 closed

[2017-07-16 18:57] barrosgeraldo commented on #95
Hi @lkappeler, the code is here: https://github.com/craigcook/frontierline-theme

[2017-07-16 18:57] #95 closed

[2017-07-16 19:03] #30 closed

[2017-07-16 19:16] #45 closed

[2017-07-16 19:16] #46 closed

[2017-07-16 19:17] #51 closed

[2017-07-16 19:17] #52 closed

[2017-07-16 19:17] #57 closed

[2017-07-16 19:18] #60 closed

[2017-07-16 19:26] barrosgeraldo commented on #75
Ciao @Mte90, do you still need this banner and logo? I see that MDN is being redesigned, and maybe we can work together to create banners to promote the MDN and plugin. Let me know if the project is up, I would like to contribute since I use it on my blog too.

Grazie,

[2017-07-16 21:10] elioqoshi commented on #75
Let's close this and open a new issues when something specific is needed :)

[2017-07-16 21:10] #75 closed

[2017-07-16 21:11] #101 closed

[2017-07-16 21:13] elioqoshi commented on #132
Yep, will push once I'm on my laptop.

[2017-07-16 21:21] #124 closed

[2017-07-17 01:00] barrosgeraldo commented on #130
Hi @Ryuno-Ki! The guidelines have been updated recently, see the colors here: https://mozilla.ninja/visualelements/.

[2017-07-17 01:08] barrosgeraldo commented on #126
Hey @viswanathamsantosh, do you still need the poster for social media? If it's the date I see on the poster, it's already expired.

[2017-07-17 02:59] barrosgeraldo commented on #120
Hi @mastizada, I was reading the [Azerbaijan country profil BBC](http://www.bbc.com/news/world-europe-17043424), really beautiful. I understood some things and I have questions:
- "Fire land". Is it something that makes sense to the country? Is it something that makes sense today?
- Can you tell me something that represents your country? Anything beyond the fire?
- You have more ideas of logos to

[2017-07-17 05:58] viswanathamsantosh commented on #126
Hey @barrosgeraldo , My event is done but we need a generic Event poster which could be hacked and use for all the add-ons events around the globe. Would be glad if you got something. :)

[2017-07-17 06:06] barrosgeraldo commented on #126
Hey, thank you for reply. I've recently made banners for Facebook and Twitter to promote Rust and WebVR activities at Brazil, I'll try to take some time this week to create a generic for add-ons, I'll update here when I have it ready for feedback.

Thank you again, have a nice day.

[2017-07-17 08:26] viswanathamsantosh commented on #126
Awesome! Thanks for taking this up geraldo. \o/

On Mon, Jul 17, 2017 at 11:36 AM, Geraldo Barros <notifications@github.com>
wrote:

[2017-07-17 09:00] Mte90 commented on #75
I have done a meeting the last week with the MDN people and there is a plan for the new version to release new banners with the new graphics but I will keep updated about it.

[2017-07-17 15:52] mastizada commented on #120
Hi @barrosgeraldo, thanks for helping)

* "Fire Land" or "Land of Fire" is one of the interpretations of the word "Azerbaijan" and Zoroastrianism was major religion in country (warship of fire). As Azerbaijan has rich oil and gas resources there were places with not-ending fire and such places became temples (current active temple is Ateshgah - https://en.wikipedia.org/wiki/Ateshgah_of_Baku). Also

[2017-07-19 00:29] peiying2 opened #137 "Need card templates recreated: Frightful Five, Firefox Five"
## Goal:
The card I got at the marketing closing meeting at SF all hands

## Info:
The l10n communities would like to see this as a template so they create the localized versions.  Chances are they will print the card locally or post the images on various social media channels.

## Style Information:
If the original template(s) can't be located, then please create something close to this, postcard

[2017-07-19 01:32] barrosgeraldo commented on #137
Hi @peiying2, do you have a picture of this card?

[2017-07-19 02:39] peiying2 commented on #137
Here you go:
[Firefox5.pdf](https://github.com/mozilla/OpenDesign/files/1157849/Firefox5.pdf)
[Frightful5.pdf](https://github.com/mozilla/OpenDesign/files/1157850/Frightful5.pdf)

[2017-07-19 02:49] barrosgeraldo commented on #137
Hi @peiying2, thank you.

These are simply easy to recreate in Illustrator, I'll just ping @elioqoshi to see if it's the branding or marketing team that has the source file. However, if it does not, I can recreate it next week.

[2017-07-19 02:59] peiying2 commented on #137
@barrosgeraldo Thanks to YOU!

[2017-07-19 23:29] barrosgeraldo commented on #91
@autonome do you still need this logo?

[2017-07-19 23:32] barrosgeraldo commented on #92
@andrenatal, Olá! Do you still need this artwork?

[2017-07-20 02:37] barrosgeraldo commented on #126
Hi @viswanathamsantosh, thanks for your request.

I've created a banner that you can remix and use to promote your workshops, since they are Add-ons for Firefox, I created using similar arts with the Firefox profile on Facebook.

This banner uses Firefox logo, but you can replace it with your community logo (I recommend), all text is editable, so you can add place name, address and ticket link. Yo

[2017-07-20 03:08] barrosgeraldo commented on #126
@elioqoshi, I am not sure if the use of the Add-ons logo are correct, you could check?

[2017-07-20 04:23] barrosgeraldo commented on #137
Hi @peiying2, We did not find this art anywhere, but I've recreated it now and it's already available here in our repository.

Thank you for your request and have a nice day. :D

![card_frightful_five_firefox_five_1](https://user-images.githubusercontent.com/14970832/28400472-b4007e88-6ce9-11e7-89bd-4c378480f07e.png)
![card_frightful_five_firefox_five_2](https://user-images.githubusercontent.com/1

[2017-07-20 04:45] peiying2 commented on #137
@barrosgeraldo The l10n communities thank you!!

[2017-07-20 04:51] barrosgeraldo commented on #137
Heey, you're welcome.

I found 2 typos, in the word "Firefox" and "That's", I'll fix tomorrow, I'm sorry.

[2017-07-20 05:04] #137 closed

[2017-07-20 05:05] barrosgeraldo commented on #137
Heey, you're welcome. :)

Fixed for now.
![card_frightful_five_firefox_five_1](https://user-images.githubusercontent.com/14970832/28401354-cc7a7008-6cef-11e7-8c08-8f1ccd8f9825.png)
![card_frightful_five_firefox_five_2](https://user-images.githubusercontent.com/14970832/28401355-ccd27686-6cef-11e7-87eb-5b3fff572b07.png)

[2017-07-20 07:17] kdavis-mozilla commented on #92
@barrosgeraldo Andre is no longer on the speech recognition team.

I'm currently unclear as to what is and is not allowed with respect to designs. From the above it seems like a shirt design is fine but a logo design is not allowed. Is this still the case?

If this is still the case what does one have to do officially have a logo designed?

[2017-07-20 15:40] barrosgeraldo commented on #92
@elioqoshi, please, do you have the information he's asking for?

[2017-07-20 17:48] andrenatal commented on #92
@barrosgeraldo  yes we need!

[2017-07-23 19:29] Ryuno-Ki commented on #130
@barrosgeraldo I couldn't find any information concerning concrete contrast ratio there. It only states, that one should ensure, that is high enough …

So I'd like to ask you to re-open this issue.

[2017-07-23 19:36] barrosgeraldo commented on #120
I will wait for more information about branding for communities and I will back to this since we have a good background but no clear guidelines for communities.

[2017-07-24 10:29] autonome commented on #91
I'd love a better logo, yes :D

On Thu, Jul 20, 2017 at 7:29 AM Geraldo Barros <notifications@github.com>
wrote:

[2017-07-26 23:02] barrosgeraldo commented on #125
ops, I saw on repository.

[2017-07-26 23:02] #125 closed

[2017-07-27 02:06] barrosgeraldo commented on #90
Closing, since I talked to Emma today and the project is stopped for now.

[2017-07-27 02:06] #90 closed

[2017-07-27 18:02] barrosgeraldo commented on #113
Discourse topic: https://discourse.mozilla-community.org/t/reps-rebranding-next-steps/17444

[2017-07-29 17:57] #64 closed

[2017-07-29 18:07] barrosgeraldo commented on #134
@ranjithrajvasam ping

[2017-08-04 16:34] hossainalikram commented on #119
Pinging as this request is still valid

[2017-08-05 20:08] cbaba20 opened #141 "Need Graphics for Independence Day [India]"
## Goal:
Need two graphics for Independence day celebration in India.
## Info:
It will showcased on 15-August (which is our country Independence day) on different social media channel . Such as Mozilla India Fb and Twitter. See Ref: https://en.wikipedia.org/wiki/Independence_Day_(India)
## Style Information:
It should reflect our rich culture along with diversity and bond with rest of world via Mo

[2017-08-05 20:21] cbaba20 opened #142 "Need a graphics for Ed-al-Adha"
## Goal:
Need a graphics for Ed-al-Adha 2017

## Info:
It will be used on Mozilla India Social Media Channels on the respective day.

## Style Information:
Second Last year we have [This](http://bit.ly/2vstFcQ) graphics ,so more or less it will be similar (portrait the objective ) Ref : [Wiki](http://bit.ly/1KUn9fC)

## Deadline:
28-August-2017

## Tag:

#DesignNeeded #DeveloperNeeded

[2017-08-10 22:57] elijahcruz12 commented on #28
Sorry I was gone forever. I will be starting doing this when I can. For the past long while I have not had wifi at home, thus have not been able to work on this. The thing is, I want to do this, so I will.

[2017-08-11 14:16] barrosgeraldo opened #143 "Firefox Nightly Champions marketing design for Mozilla Brazil community"
## Goal:
We're need 5-8 images for Facebook and Twitter to promote Firefox Nightly and having more people using Nightly in Brazilian lands.

## Info:
We need 5-8 images about Firefox Nightly, simple and objective, ready to post to our Brazilian accounts. We do not need covers or profile images.

## Style Information:
Inside the Firefox Nightly branding

## Deadline:
31/Aug

[2017-08-11 14:17] barrosgeraldo commented on #143
I'm opening this one to add the artwork and get feedback when they are ready.

[2017-08-11 14:22] barrosgeraldo opened #144 "Presentation slides for Internet Health Report aligned with Mozilla branding"
## Goal:
We need slide decks for [The Internet Health Report](https://internethealthreport.org/v01/) aligned with the Mozilla branding.

## Info:
This will be used in online and offline presentations about the report in countries around the world.

## Style Information:
https://docs.google.com/document/d/1iQ3eLc8Q9yoUoHa9cDlvtzZYwb-dbR8iTAuEtIGw51I/edit#heading=h.jocmb9ty4f8h

https://docs.google.

[2017-08-11 21:36] barrosgeraldo commented on #141
Over this to @elioqoshi :-)

The simple draft is here. Thank you @cbaba20 for your guidance today.

[india_independence_day.pdf](https://github.com/mozilla/OpenDesign/files/1219143/india_independence_day.pdf)
![india_independence_day](https://user-images.githubusercontent.com/14970832/29232776-d8ece74a-7ec3-11e7-9488-a17c60ce727f.png)

[2017-08-12 00:18] barrosgeraldo commented on #143
![prancheta 7firefox_nightly_champions](https://user-images.githubusercontent.com/14970832/29235957-916a23d0-7eda-11e7-81f6-a42e3b9518c6.png)
![prancheta 8firefox_nightly_champions](https://user-images.githubusercontent.com/14970832/29235956-91691f76-7eda-11e7-9721-57279051fddc.png)

[2017-08-12 13:27] cbaba20 commented on #141
Thank you @barrosgeraldo and @elioqoshi for your unmatched energetic support (y) . Here is one updated version :
![photo5798686564270844518](https://user-images.githubusercontent.com/8758288/29241087-2af97220-7f27-11e7-9179-e9ae84131cf7.jpg)
which looks fine  and most probably with few more tweaks it will be perfect fit for the objective.

[2017-08-13 14:06] barrosgeraldo commented on #141
Thank you for your request. You're welcome. Pushing and closing this one.

[2017-08-13 14:06] #141 closed

[2017-08-13 21:20] barrosgeraldo commented on #144
working on it into week.

[2017-08-14 14:57] barrosgeraldo opened #145 "Update Mozilla logo on Firefox Test Pilot Banner"
## Goal:
Update Mozilla logo on Firefox Test Pilot Banner

[2017-08-14 14:59] barrosgeraldo commented on #145
Pushed the artwork. I'll do it tomorrow.

[2017-08-14 15:01] barrosgeraldo opened #146 "Add the Codemoji flyer"
## Goal:
Add the Codemoji flyer

[2017-08-14 16:03] #146 closed

[2017-08-14 17:07] barrosgeraldo opened #147 "Add Cyber Violence Against Women and Girls poster"
## Goal:
Add Cyber Violence Against Women and Girls poster

[2017-08-14 17:08] barrosgeraldo commented on #147
TBDT

[2017-08-14 17:12] barrosgeraldo commented on #147
closing

[2017-08-14 17:12] #147 closed

[2017-08-14 17:13] barrosgeraldo commented on #145
done, closing.

[2017-08-14 17:13] #145 closed

[2017-08-14 17:14] elioqoshi commented on #144
@barrosgeraldo you good to take this on?

[2017-08-14 17:17] elioqoshi commented on #141
@barrosgeraldo please don't push this to the Repo. The design used here required attribution and is incompatible with the license. Delete it again if required. It should be fine for the usage here but not for reusing it.

[2017-08-14 17:21] elioqoshi commented on #143
Love this @barrosgeraldo! Great job!

[2017-08-14 17:25] elioqoshi commented on #119
This needs to go through the QA team. Do we have any employee there?

[2017-08-14 17:28] elioqoshi commented on #134
Closing this. Please file an issue with more specific description in the future.

[2017-08-14 17:28] #134 closed

[2017-08-14 17:29] barrosgeraldo commented on #144
Hi @elioqoshi, you can see the [work progress](https://github.com/mozilla/OpenDesign/blob/master/2017/Slide%20Decks/Internet%20Health%20Report/mozilla_internet_health_report_speaker_decks.pdf) here, the slide decks is provide by Solana, the report editor, the guidelines is on [mozilla.ninja](https://mozilla.ninja) and the [newest report is here](https://internethealthreport.org/).

My work will be

[2017-08-14 17:46] barrosgeraldo commented on #141
Okiedokie. Removed. :)

[2017-08-14 18:33] MichaelKohler opened #148 "Feedback needed for MozActivate Website design"
## Goal:
We have gathered quality feedback to launch the new branding of activate.mozilla.community.

## Info:
Please give feedback on https://github.com/mozilla/activate.mozilla.community/issues/283 . All necessary screenshots are there as well as a quick explanation.

## Deadline:
August 22nd

## Tag:
[Feedback needed]

[2017-08-15 00:16] barrosgeraldo commented on #148
Hi @MichaelKohler,

I really appreciate your coming on our team for feedback.

And as Elio said earlier, I believe working on a website similar to Mozilla Festival can be interesting and aligned, it's a simple and clean website.

Anyway, I would like to work this week on a **simple draft drawing** based on MozFest website that's open and then can be easy to create a remix, **maybe**.

[2017-08-15 01:57] barrosgeraldo commented on #148
![mozactivate_2017_ui_draft](https://user-images.githubusercontent.com/14970832/29299231-92ed5bbc-8143-11e7-8a13-d55fe94ace23.png)

[2017-08-15 08:35] bhavabhuthi opened #149 "A logo for Mozilla MPCG (Madhya Pradesh & Chattisgarh)."
## Goal:
A logo for Mozilla MPCG (Madhya Pradesh & Chattisgarh).

## Info:
The logo will be used to represent Mozilla Madhya Pradesh & Chattisgarh community.

## Style Information:
The logo should be following the latest [Mozilla guidelines](https://mozilla.ninja).

## Deadline:
25th August

## Tag:
Mozilla MPCG, Design Needed, Logo

[2017-08-15 19:12] #143 closed

[2017-08-15 23:49] barrosgeraldo commented on #119
Hi @elioqoshi, what do you think about an icon using a "check", "double check" or a "check" around a circle?

When we are developing a product, developers coding and make simple tests until the product is good and acceptable (MVP), after the quality team **double-checks in several ways** to ensure that the product is good to start going to the Beta version or release. This is a bit of the context

[2017-08-16 00:19] barrosgeraldo commented on #119
Something like this:
![qa-logo](https://user-images.githubusercontent.com/14970832/29342115-58cf21f6-81ff-11e7-9340-16b754b29f2d.png)

[2017-08-17 13:54] barrosgeraldo opened #150 "Firefox Nightly Sticker design"
## Goal:
Create Firefox Nightly sticker design

## Info:
Will be used at [Software Freedom Day 2017 São Carlos](https://reps.mozilla.org/e/software-freedom-day-2017-sao-carlos/).

## Style Information:
Newest Nightly logo + blue background.

## Deadline:
25-Aug

[2017-08-17 17:42] moingshaikh opened #151 "Design a logo for MozGuj - Mozilla Gujarat community."
## Goal:
Design a logo for MozGuj - the Mozilla Gujarat community. The logo will be used as a representational identity for the community.

## Info:
We have already designed the logo that you can refer
and would like some improvement in it especially in the "Gujarat" part.

## Style Information:

We have already designed the initial version of the logo which you can see below:

![final-high-resol-

[2017-08-17 17:44] moinshaikh commented on #151
@rowdymehul

[2017-08-18 16:18] MikkCZ opened #152 "Create a design for hexbin stickers (Firefox and Nightly)"
## Goal:
We would like to have a design for hexbin hexagonal stickers (https://github.com/maxogden/hexbin) to be able to print them for a conference before the beginning of October. It would be great if the designs are for both release Firefox and Nightly, maybe even with the new logos.

## Info:
The stickers should be usable as a regular Firefox stickers on laptop lid. From our experience, a lot

[2017-08-19 17:22] tanzeelkhan commented on #142
I will work on it :)

[2017-08-19 17:37] barrosgeraldo commented on #151
Hi @ moinshaikh, thank you for your request. Mozilla branding team is working on guidelines for community logos, so when it's available we'll return back here with updates.

[2017-08-19 18:18] barrosgeraldo commented on #152
Hi @MikkCZ, thank you for your request! These cool stickers are very small, but maybe I'm wrong because I like big and crazy things hahaha, they're ready and [available for download in our repository](https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/hexbin_stickers).
![prancheta 1firefox](https://user-images.githubusercontent.com/14970832/29489191-819f7d70-84f1-11e7-80ba-88b

[2017-08-19 18:18] #152 closed

[2017-08-19 18:31] barrosgeraldo commented on #150
Has been made. Closing.

[2017-08-19 18:31] #150 closed

[2017-08-19 19:03] barrosgeraldo commented on #149
Hi @bhavabhuthi, thank you for your request. Mozilla branding team is working on guidelines for community logos, so when it's available we'll return back here with updates.

[2017-08-22 00:57] #126 closed

[2017-08-22 00:58] barrosgeraldo commented on #126
I added a newest banner using Zilla. Closed for now.

[2017-08-22 01:00] #133 closed

[2017-08-22 17:18] MikkCZ commented on #152
Wow, cool. @barrosgeraldo can you also add these to the haxbin GitHub repo, so everyone looking there can find it?

[2017-08-23 13:12] Skatox opened #153 "Update Mozilla Hispano's logo with new branding"
## Goal:
Hello, I'm writing you to get an updated version of Mozilla Hispano's logo with the new Mozilla font/branding.

## Info:
We use 2 logos, a font only version and a version with the gecko. We would like to have both versions with the new branding.

## Style Information:
Here you can get all information about the logo in spanish: https://www.mozilla-hispano.org/marca/
You can download logos

[2017-08-23 13:49] barrosgeraldo commented on #153
Hi @Skatox, thank you for your request. Mozilla branding team is working on guidelines for community logos, so when it's available we'll return back here with updates.

[2017-08-23 17:08] moinshaikh commented on #151
Thank you @barrosgeraldo for the update! Looking forward to see the community logo guidelines soon :)
+1:

[2017-08-23 17:50] rosanardila opened #154 "Stickers for the Accessibility Design Drive"
## Goal:
Format: Stickers

The team is looking to have a visual point of cohesion around the experiment. Stickers are valuable for participants and so can be used both for getting people together around something, word of mouth and prizes.

## Info:
The open innovation team is running a decentralized ideation experiment with Stanford University: https://mzl.la/a11ydesign

We would like to have exc

[2017-08-23 21:10] barrosgeraldo commented on #154
Hi @rosanardila, great see you here!

The link for ideas is broken. :(

[2017-08-26 11:23] elioqoshi commented on #154
@rosanardila Seems there is some time for this. Thanks for requesting this early. Can you fix the link so we can brainstorm more?

[2017-08-26 11:46] elioqoshi commented on #152
@barrosgeraldo let me know if you can push them also to the haxbin repo :)

[2017-08-26 14:05] barrosgeraldo commented on #152
Hi @elioqoshi , yes, I can, however it is interesting that tasks outside the repository are made by those who requested, it is not always just to push a file, but to open issue and generate other complementary files, are tasks that go beyond ours here.

[2017-08-26 14:26] barrosgeraldo commented on #152
https://github.com/maxogden/hexbin/pull/161

[2017-08-26 16:10] elioqoshi commented on #152
@barrosgeraldo True. But the lines are blurry anyway. We did it because we think it would be good to do, not because someone requested it here, right?

[2017-08-26 16:49] barrosgeraldo commented on #152
Yep.

[2017-08-29 13:19] gueroJeff opened #155 "Infographic of Mozilla localization processes"
## Goal:
We would like to have an infographic/diagram of the various localization processes as Mozilla. Ideally, this graphic would be translatable, accurate, and comprehensive. It could be shared online and available for print.

## Info:
This graphic will be used within Mozilla documentation for localization and as training materials for anyone recruiting new localizers.

## Style Information:
Lo

[2017-09-03 04:34] the207life commented on #154
Out of curiosity, is this still happening? Took part and would love one.

[2017-09-03 04:36] newenglandfall commented on #154
Out of curiosity, is this still happening? Took part, and would love one.

[2017-09-03 19:17] bhavabhuthi opened #156 "Mozilla Andhra Pradesh and Telangana Logo"
## Intro:
Andhra Pradesh and Telangana are two states in India with a combined population of around 85 million with Telugu as common language.

## Goal:
Mozilla Andhra Pradesh and Telangana is an emerging community with active volunteers in different cities/towns. Branding would help promote and increase the outreach of this community.

## Info:
For any Mozilla activities in the states.

## Style

[2017-09-05 07:09] kshithijiyer commented on #156
There are not many similarities why not make a logo which gives equal importance to both the states?

[2017-09-08 03:04] barrosgeraldo commented on #156
Hi @kshithijiyer, thank you for your request. Mozilla branding team is working on guidelines for community logos, so when it's available we'll return back here with updates.

[2017-09-08 04:28] barrosgeraldo commented on #144
All ready, unfortunately I can not add here because Github does not accept files larger than 100mb, if anyone is interested, you can [download from my Dropbox account](https://www.dropbox.com/s/1t8h8ffoqloigas/mozilla_internet_health_report_speaker_decks.pdf?dl=0).

[2017-09-08 04:28] #144 closed

[2017-09-08 14:39] barrosgeraldo opened #157 "Upload Internet Health Report sticker design"
## Goal:
Upload Internet Health Report sticker design created previously

[2017-09-08 14:41] barrosgeraldo opened #158 "Upload Internet Health Report social media banner design"
## Goal:
Upload Internet Health Report social media banner design

[2017-09-08 15:14] barrosgeraldo commented on #144
Backup: https://mega.nz/#!054jnKoZ!1ITun5_rT0QUctVOXNyvrO7xdz-jqNHqdWOoQXNCEm4

[2017-09-08 15:27] #158 closed

[2017-09-08 15:29] #157 closed

[2017-09-09 20:36] cbaba20 opened #159 "Alignment with Mozilla Branding team to start designing community logos"
## Goal:
Alignment with Mozilla Branding team to start designing community logos

## Info:
Community logos are now outdated and required to adapt new according to new brand guidelines.

## Style Information:
Not Required

## Deadline:

## Tag:
[Design Needed, Developer Needed, Question, Staff Support Needed]

[2017-09-12 20:01] pari0770 commented on #154
Here's a concept!
![mozilla_sticker](https://user-images.githubusercontent.com/12581562/30345497-e53c94f0-9822-11e7-918a-dfdafd3b2827.jpg)

[2017-09-12 21:43] barrosgeraldo commented on #154
Hi @pari0770,
Awesome work! I've two suggestions to align this to Mozilla Branding:

- Use Zilla Highlight Regular on project name.
- Try and show some exemples using [Mozilla colors on Visual elements](https://mozilla.ninja/visualelements/).

Cheers,

[2017-09-13 13:56] kelimuttu opened #161 "T-shirt for Firefox 57 Sprint campaign"
## Goal:
A t-shirt design

## Info:
Firefox 57 Sprint campaign (http://firefoxsprint.mozilla.community/)

## Style Information:
I don't have specific things in mind. Talked with Elio and he agree to help here. So I'll leave it to him.

## Deadline:
18 September 2017

## Tag:
Design Needed

[2017-09-13 16:32] pari0770 commented on #154
Hey @barrosgeraldo thanks for the feedback
Here's an iteration with the changes you've suggested, and I have used Mozilla's brand colors to create some different variants.
![artboard copy 2](https://user-images.githubusercontent.com/12581562/30388997-34a8ff22-98cf-11e7-82c5-e67635d0ff30.jpg)
![artboard copy 3](https://user-images.githubusercontent.com/12581562/30388998-34da6fa8-98cf-11e7-8d63-5c21

[2017-09-13 16:39] barrosgeraldo commented on #154
Aweeesome! Great work! Could you add (send a pull request) the source file (svg, AI, EPS ...) and png to the repository? Let me know if you need any help.

[2017-09-14 00:27] barrosgeraldo commented on #159
Hey @cbaba20, thanks here. I mailed to Branding updates mailing list (brand-updates@mozilla.org) and Yuliya. This issue will only be updated when I receive a reply.

[2017-09-14 12:36] cbaba20 commented on #159
Thanks @barrosgeraldo for the update. I will keep a watch on this bug.

[2017-09-14 12:40] cbaba20 commented on #156
@kshithijiyer you can watch updates from here #159

[2017-09-15 13:03] elioqoshi commented on #161
![draft-01](https://user-images.githubusercontent.com/5436686/30483351-f1fc977a-9a26-11e7-9bbd-6b7c3fdf1918.jpg)

Here are a few variations. What do you think @kelimuttu ?

[2017-09-15 13:29] kelimuttu commented on #161
Looks nice. I like both the blue and the black one. I agree we should keep the design simple and not particular to the campaign.

@couci what do you think?

[2017-09-15 13:34] couci commented on #161
I like blue and black as well (maybe blue a little bit more). Yes let's keep it simple so we can reuse it.

thanks @elioqoshi

[2017-09-15 13:45] kelimuttu commented on #161
Alright. I think we're good here.

Thankssss @elioqoshi

[2017-09-15 13:45] #161 closed

[2017-09-15 16:31] elioqoshi commented on #161
@kelimuttu Do you need any thing for the printer? The designs are separate, but you have them I guess. They just need to be arranged on the T-Shirt. I guess the mockup should be enough for the printer.

[2017-09-15 18:37] barrosgeraldo commented on #154
Hi @rosanardila, [the stickers are ready on repository](https://github.com/mozilla/OpenDesign/tree/master/2017/Swag%26Printouts/Accessibility%20Design%20Drive), do you approve or need any review/change?

[2017-09-16 07:27] kelimuttu commented on #161
@elioqoshi Yep. I send them to the vendor already. I hope that will be enough. I'll let you know in case it's not.

[2017-09-18 07:37] cbaba20 commented on #142
Thanks @tanzeelkhan . You owe a cookie 💯

[2017-09-18 07:37] #142 closed

[2017-09-18 10:03] Aastha14 commented on #113
@gangit I was thinking on similar lines with your 2nd suggestion.

[2017-09-19 15:51] rosanardila commented on #154
Wow, these look great, thank you so much @pari0770!
Apologies for not getting back to you earlier, the notifications got lost in my inbox.
Also thank you so much @elioqoshi and @barrosgeraldo!
I think we will go on and print the green ones :) Thank you sooo much!!

[2017-09-19 15:51] #154 closed

[2017-09-19 16:14] newenglandfall commented on #154
That green design looks awesome.

On Sep 19, 2017 8:53 AM, "Rosana Ardila" <notifications@github.com> wrote:

[2017-09-19 16:53] pari0770 commented on #154
@rosanardila @newenglandfall Thank you!

[2017-09-27 14:17] jonathanKingston commented on #135
I know everyone is super busy however it would be super cool if we could get this signed off for swag/staff stuff at MozFest.

[2017-10-02 05:26] vtay29 opened #167 "Share with us what it means to be a German Conscious Choosers!"
Hamburg! Leipzig! Munich! Are you interested in helping us make the Internet more healthy, open and accessible?

This October, the Mozilla Audience Insights team, supported by Roberta Tassi and Calib.ro will be in Germany to understand the German Conscious Choosers — a group of people whose commitment to clear values and beliefs are driving their behavior and choices in terms of brands, companies

[2017-10-09 11:32] sainithin95 commented on #156
![ap tslogo](https://user-images.githubusercontent.com/12968789/31336241-9776dc5c-ad13-11e7-8e38-0c999375fdb7.png)

[2017-10-09 12:15] sainithin95 commented on #156
i have written in Telugu because
Telugu is the language used in both the states which can help every one in the state to reach easily

[2017-10-09 18:21] sainithin95 commented on #156
[ap&tslogo.pdf](https://github.com/mozilla/OpenDesign/files/1369470/ap.tslogo.pdf)

with Multiple Telugu fonts

[2017-10-18 22:55] kitode opened #171 "Need a sticker for Mozilla Analyst & Research Community (ARC)"
## Goal:
An image at a resolution that can be printed as a sticker

## Info:
Used as a sticker, on laptops and children's foreheads, primarily.

## Style Information:
See uploaded img. It's supposed to be a firefox, with arcs of new ideas sprouting from its mind like fireworks.

## Deadline:
Including printing, NLT Dec 1. So... probably 11/15-ish?

## Tag:
Design Needed
<img width="675" alt="scree

[2017-10-26 00:35] karlalhdz commented on #153
Here I leave a proposal that took some time, I design it based on what's in https://mozilla.ninja/, adapt a little to the gecko to fit better and what's the rectangle a little easier the stroke but without losing the essence of what they already had. In case it is useful.

![seleccion_134](https://user-images.githubusercontent.com/2287630/32029582-cfa19e4a-b9b2-11e7-938a-73d9c5236648.png)

[2017-10-26 12:00] Skatox commented on #153
Awesome! I love them :D

[2017-11-04 22:34] Tess-welhazi commented on #171
I tried to come up with a some sketches and this is what I got so far.

In all honesty it's hard following your description with a cartoon style and not ending up with the fox looking high or just got hit in the head

![image](https://user-images.githubusercontent.com/20952652/32410062-a9f8c4d0-c1b8-11e7-8302-b9803be77a33.png)