[2016-01-07 15:19] LucyeoH opened #1 "Infographic Design for Strategic Narrative"
Looking for someone to create an infographic for the strategic narrative.

Project Brief - [here](https://docs.google.com/document/d/1Lx5XtZwxKBW_Gred2dhr2R0MN5jlmuj76BOwtqpNdjk/edit?usp=sharing)

Due Date: January 21st
Resource: [here](https://blog.mozilla.org/community/2016/01/06/mozillas-strategic-narrative-for-2016-and-beyond/)

[2016-01-07 19:41] LucyeoH commented on #1
More info coming!

[2016-01-08 11:35] elioqoshi commented on #1
Assigning to myself, thanks Lucy. @yofiesetiawan do you want to help here?

[2016-01-08 11:42] yofiesetiawan commented on #1
@elioqoshi i don't think i'm good at this, i need to learn more... maybe next time.. Thanks Elio.. But i would love to keep follow the updates regarding this..

[2016-01-08 18:55] acabunoc opened #2 "Mozilla Science Lab's Working Open Workshop Banner"
The Mozilla Science Lab is hosting our first Working Open Workshop in Berlin this February.

We didn't have time to make a banner graphic for the event, so we just used a MozFest photo as a placeholder here: https://mozillascience.org/working-open-workshop-february-2016

**Goal**: Banner image for our Working Open Workshop

**Users**: Our community of researchers, developers, librarians and more.

[2016-01-08 19:05] elioqoshi commented on #2
Thank you @acabunoc ! We will be taking a look at this as soon as possible.
I also added the link to the Mozilla Science lab in your original post:
https://assets.mozilla.org/portal/assets/#category/23

[2016-01-08 19:05] acabunoc commented on #2
amazing, thank you!

[2016-01-08 19:06] elioqoshi commented on #2
@acabunoc Also, what dimensions should the image be?

[2016-01-08 19:16] elioqoshi commented on #1
@yofiesetiawan no worries!

@LucyeoH I am thinking to take such an approach to it:
http://elioqoshi.me/en/2015/06/oscal15-in-numbers/

[2016-01-08 20:27] acabunoc commented on #2
No hard requirements, but our banners are usually roughly 2000 x 1000 px.

Let me know if you need any other details! Thanks again :)

[2016-01-09 17:14] Mte90 opened #3 "WordPress/Bootstrap Theme with Mozilla Design Style"
I have started to work to a Bootstrap theme in SASS with the Mozilla style based on Mozilla.org and Mozilla Indonesia site.

The stuff to do:
- Complete design
- Improve the PHP code for bootstrap compatibility in wordpress
- Improve the Bootstrap code about the design
- Other stuff are for developer but there are tickets opened in every repo

Repo: https://github.com/Mte90/WP-Mozilla
Demo site: h

[2016-01-09 17:18] Mte90 opened #4 "Mozilla Presentation Boilerplate"
Improve the design style following the Mozilla design rules of that boilerplate for presentation in HTML.

Repo: https://github.com/Mte90/Mozilla-Presentation-Boilerplate
Demo: https://mte90.github.io/Mozilla-Presentation-Boilerplate

[2016-01-09 17:23] Mte90 opened #5 "Standard rollup banner asset"
On http://assets.mozilla.org/ there are rollup banner for specific capaign but no standard banner to customize for the various community.
As an example a banner with Firefox logo that we can add the local community logos.

[2016-01-10 00:10] elioqoshi commented on #4
@Mte90 If we design this, can you convert it back into code?

[2016-01-10 11:49] Mte90 commented on #4
Sure!
The actual design is mine based on Mozilla stuff.
As you can see is easy to change the color of background with a simple css class that change the style of all the slide.

[2016-01-11 10:24] elioqoshi commented on #4
Thanks! @yofiesetiawan want to take this over?

[2016-01-11 12:53] yofiesetiawan commented on #4
@elioqoshi to be honest, i'm not clear with the brief.. So there are 12 slides, we need to design 12 different slides?

[2016-01-11 13:26] Mte90 commented on #4
The idea is a Mozilla design to use for presentation/talks.
In that demo of boilerplate I show the various colour scheme versions.
That design can be used also for powerpoint presentation.

[2016-01-11 14:10] Mte90 opened #6 "Firefox Club Milan Logo"
The first italian Firefox Club need a logo.

Site WIP: http://firefoxmilano.it/
FB: https://www.facebook.com/firefoxmilano

One of the proposal that they have received form members was the Milan skyline (ex: http://www.giaxtower.com/img/skyline.gif) in background and firefox logo over it.

Firefox Club Founders for other info: @nicokant94 @aroblu94

[2016-01-11 14:15] nicokant94 commented on #6
Another proposal was based on our University logo: bit.ly/1N2Tq0w

Thanks for your help!

[2016-01-11 15:24] nicokant94 commented on #6
I found the proposal of a guy from the club, we loved the idea he had about mixing the firefox logo and the skyline. The only problem was that the colors were too opaque.. I hope you'll consider starting from this idea ;) ![logo_full_light](https://cloud.githubusercontent.com/assets/6927678/12237129/7925c0ba-b87d-11e5-82bc-083f5b068403.png)

For further reference look for @Dasher7 on Telegram.
Tha

[2016-01-11 18:07] LucyeoH commented on #6
@Mte90 did this work for you? Is this issue good to be closed?

[2016-01-11 18:09] Mte90 commented on #6
I've opened the ticket for @nicokant94, we need a logo for that club and that are the draft of the members but we need something cool.

[2016-01-11 18:11] LucyeoH commented on #6
@Mte90 Cool! I've added you as a collaborator for this repo so you can add labels indicating if you need design, development, whatever! Thanks for all your posts so far!!

[2016-01-11 18:12] Mte90 commented on #3
The developer need to know SASS/CSS for the frontend part or WordPress to help me on that part.
More developers less time to work on :-)

[2016-01-11 18:18] LucyeoH commented on #6
@Mte90 I would re

[2016-01-12 02:24] yofiesetiawan commented on #4
I thought this issue is just sharing what @Mte90 has done with html slides design... And we can add new slide design, which also means this issue might never close...

[2016-01-12 02:32] yofiesetiawan commented on #5
Basically we can adjust the design from mozilla assets to have some space for local community logo. If someone need that, they can specify specific the size they need. So we can execute... Not sure, but maybe different places have different standard sizes for banner...

I share an example here..
![banner-sample](https://cloud.githubusercontent.com/assets/2810823/12253012/0ea5f6b4-b90f-11e5-9795-83

[2016-01-12 10:40] Mte90 commented on #5
Something like that is not bad, maybe adding a text area ready with the Fira font for custom text and the mozilla logo can be perfect for every use.

[2016-01-14 09:48] elioqoshi commented on #5
I think this is easy enough to do on a case by cases basis. So people can request it directly here.

[2016-01-14 09:49] elioqoshi commented on #6
Assigning this to myself, but probably won't get to it before February

[2016-01-14 09:50] elioqoshi commented on #4
@yofiesetiawan no, it's pretty simple, just design the most common slide templates used in Mozilla presentations and then @Mte90 can convert them into HTML

[2016-01-14 09:55] elioqoshi commented on #3
I'm unable to commit on this, but I hope someone else is able to join

[2016-01-14 11:32] Mte90 commented on #5
Maybe have a portfolio will be not bad to choose the base.

[2016-01-14 11:33] Mte90 commented on #3
Well actually I need to have a designer, the development part I can do it without problem.
I have added that info for the Developer needed labels

[2016-01-14 14:05] elioqoshi commented on #5
We can do that as we go with concrete requests.

[2016-01-14 17:46] cassiemc opened #7 "Mozilla's Open Sauce Artwork"
While at a Mozilla work week in Orlando in December, @xmatthewx and I overhead @vazquez misread a handwritten note on a planning calendar wall – someone had written 'open source' but it looked like 'open sauce.' Happy accident?

If we had some kind of graphic, emblem or illustration, this could make a nice swag bag addition for future events (e.g. [Mozfest](https://2015.mozillafestival.org)). It c

[2016-01-14 22:46] elioqoshi commented on #7
@cassiemc Am I doing this right? :D
![open sauce](https://cloud.githubusercontent.com/assets/5436686/12340074/fa77dd54-bb18-11e5-9d6d-fa6521ee1a24.jpg)
![sriracha](https://cloud.githubusercontent.com/assets/5436686/12340075/fa9351ba-bb18-11e5-97d7-af5b37a1776a.jpg)

[2016-01-15 04:04] parag9d commented on #3
I wish to work on the design part of the website. Please provide me with some details about what this site is going to be about. Thank you.

[2016-01-15 07:59] parag9d commented on #3
Could you please share more about the purpose of this WordPress/Bootstrap theme?

[2016-01-15 08:53] Mte90 commented on #3
You have seen the demo site?
The purpose is create a Bootstrap and WordPress theme with the Mozilla design style. In this way the local community can download and use it without problem and customize.

[2016-01-15 08:59] parag9d commented on #3
Okay, so you want to create a template so that for every new page people don't have to rewrite the code and re-use the theme. Right? What help do you need in design for this?

[2016-01-15 09:07] Mte90 commented on #3
Check if the actual design that I've made is ok, evaluate the sidebar design and check bootstrap for the design of new components http://getbootstrap.com/css/
ASAP I hope to share a demo only of bootstrap that contain the actual design.

[2016-01-15 14:40] cassiemc commented on #7
@elioqoshi This is great!! Would love to see some of the text adapted around the graphic, so we might have to do some copywriting as well. Would be good to see how the final emblem could look in –
- [ ] bottle label form
- [ ] on a t-shirt
- [ ] on a sticker

[2016-01-15 21:00] ezoehunt opened #8 "Connected devices research activity"
Since Orlando, the Connected Devices design team has been researching the Internet of Things. It's a huge space with lots of possibilities for Mozilla impact!

Right now we're doing an activity to identify more focused areas of exploration. We thought this might be a fun exercise for other people to do with us - contributors and staff from other areas of Mozilla. So this issue is an experiment in

[2016-01-15 21:29] Jobava commented on #8
Hello, I would like to add an important and growing demographic: "security-conscious people".

Internet of Things is practically today "internet of other people's things", and also proprietary and badly secured. Mozilla has a reputation as a trustworthy community which promotes freedom and openness. Mozilla could promote a "**radically open**" IoT concept where people get devices they can trust an

[2016-01-15 22:16] elioqoshi commented on #7
Srizilla Open Sauce? hehe

[2016-01-15 22:18] ezoehunt commented on #8
@Jobava: thanks for adding that. We're not quite at the solution phase yet - we're still exploring the space. Security is definitely on our radar. If you'd like to write up a scenario that focuses on "security-conscious people," that would be great.

[2016-01-16 08:15] ariestiyansyah opened #9 "Firefox Student Ambassador rollup banner"
Rollup banner design for FSA Program (PNG, PSD, SVG)

Dimension: 76.2cm x 152.4cm

[2016-01-16 08:20] elioqoshi commented on #9
Hey @ariestinyansyah , do you need any text on this, or just general FSA?

[2016-01-17 05:52] parag9d commented on #8
I have been going through CES 2016 and IoT was the at the heart of it. I would love to dig deeper into this project and I am keen to contribute to the UX Design for Connected Devices. I am going through the doc and will try to find a combination to explore. Will try to come up with some ideas soon.

[2016-01-17 10:49] elioqoshi commented on #1
@LucyeoH Not sure if the doc you created helps much here. I'd need concrete numbers and sections to implement, otherwise I'd be spending time also on copywriting (to say the least) which isn't the focus here. If you could tell me in a more specific manner what to include, it would make it easier for me to avoid running in circles :)

[2016-01-17 10:50] elioqoshi commented on #1
I might have interpreted it though. Is this the part I should focus on?

![infographic](https://cloud.githubusercontent.com/assets/5436686/12377086/895e25a2-bd10-11e5-982b-05abab5eb305.jpg)

[2016-01-17 16:40] ariestiyansyah commented on #9
Just general FSA

[2016-01-17 23:08] pauljt opened #10 "Mozilla Melbourne Sticker Design"
I'm setting up a monthly meetup here in Melbourne to get people involved in Mozilla projects. Since there's actually a significant number of Mozillians in Melbourne now I'd like to get a sticker created so we are a 'real' Mozilla community!

See bugs like: https://bugzilla.mozilla.org/show_bug.cgi?id=677850 & https://bugzilla.mozilla.org/show_bug.cgi?id=929143 for background.

Design ideas:
* Pref

[2016-01-17 23:13] pauljt commented on #10
PS I didn't mention it, but to be clear, this Melbourne, Australia I'm talking about here. I've a lot of love for *la belle province*, but we are not talking about [Melbourne, Quebec](https://en.wikipedia.org/wiki/Melbourne,_Quebec) or any other Melbournes outside Australia :)

[2016-01-17 23:29] pauljt commented on #10
More design input (I'm only half joking here ;)

<kamidphish>	pauljt: Logo needs more kangaroos with laser death rays
[10:27:54]  <pauljt>	kamidphish i agree. I was thinking a Mozilla Mechazilla riding a tram with laser/explosions/chaos/marsupials in the background
[10:28:10]  <kamidphish>	pauljt: Ship it!

[2016-01-17 23:40] pauljt opened #11 "Mozilla Security Logo & T-Shirt"
This isn't a high priority, but I've been talking with a few folks about getting new "securing mozilla" t-shirts for security contributors (e.g. security teams, bounty recipients, gear for security confs etc). The existing logo was https://wiki.mozilla.org/File:OpSec.png which I actually like since its mostly not a security cliche (no padlocks, shields, chains, keys etc). But its a little tired an

[2016-01-18 09:23] elioqoshi commented on #10
Thanks for the detailled request @pauljt !
I gave this a go, what do you think?

![sticker-01](https://cloud.githubusercontent.com/assets/5436686/12387526/773d7d06-bdcd-11e5-9f91-d72d1814a1ac.png)

Also, would appreciate your thoughts @mart3ll for this

[2016-01-18 09:28] elioqoshi commented on #10
Here is one with a bit of stroke around the edge.
![sticker-01](https://cloud.githubusercontent.com/assets/5436686/12387620/1899e9e6-bdce-11e5-83ca-c048dfcb66d4.png)

[2016-01-18 10:05] elioqoshi commented on #10
A preview to digest it a bit better
![dribbble](https://cloud.githubusercontent.com/assets/5436686/12388483/70bb5f38-bdd3-11e5-973b-c6cdd847d55c.jpg)

[2016-01-18 11:21] elioqoshi commented on #10
I did another variant with some grainy texture (taken from the Toronto sticker)
I quite like this one, what do you think?
![dirt-01](https://cloud.githubusercontent.com/assets/5436686/12390180/0bf34060-bdde-11e5-9127-6ae814b368d1.png)

[2016-01-18 11:39] davehunt opened #12 "Mozilla Running Club Logo"
It would be great to have a logo for Mozillians that love to run. We have a [Strava club](https://www.strava.com/clubs/mozilla) and a [mailing list](https://groups.google.com/a/mozilla.com/forum/#!members/running), and we run together whenever we can. This logo would be used for stickers and would also hopefully be printed on high quality running shirts.

[2016-01-18 11:51] elioqoshi commented on #9
Hey @ariestiyansyah here we go:
http://elioqoshi.me/owncloud/index.php/s/Om05cZHdIN61wxx

![76 2x152 4cm-01](https://cloud.githubusercontent.com/assets/5436686/12390641/2271c010-bde2-11e5-9eac-18ee09db20b1.jpg)

[2016-01-18 11:52] #9 closed

[2016-01-18 11:53] elioqoshi commented on #12
Hey @davehunt Thanks for filing this issue! Will give this some attention today

[2016-01-18 12:05] yofiesetiawan opened #13 "Mozilla Indonesia Community - Mascot Launch Event Design Materials"
Design Materials:
1. Poster - A3
2. Backdrop - 500x220cm

Detail information please check
http://mozilla.or.id/en/events/jakarta/108-mozilla-indonesia-mascot-launch.html
https://reps.mozilla.org/e/mozilla-indonesia-community-mascot-launch/

[2016-01-18 12:05] yofiesetiawan commented on #13
Assigning to my self, collaborating with Petshopbox Studio...

[2016-01-18 12:07] elioqoshi commented on #12
First proposal, let me know what you think :)

![draft-01](https://cloud.githubusercontent.com/assets/5436686/12390924/68d2a432-bde4-11e5-8e7d-60ba2dbdf5c6.jpg)

[2016-01-18 12:23] yofiesetiawan commented on #13
Drafted the layout..

![mozilla-mascot-launch-poster](https://cloud.githubusercontent.com/assets/2810823/12391247/edb8b9a0-be18-11e5-8055-a77e0b61b2af.jpg)

[2016-01-18 12:25] Raphseck commented on #12
Great. :)
love the blue.

[2016-01-18 12:34] elioqoshi commented on #13
Love it! Apart the fact you used Comic Sans :P

[2016-01-18 12:49] elioqoshi commented on #11
First proposal ready. Let me know what you think of the direction :)

![draft-01](https://cloud.githubusercontent.com/assets/5436686/12391762/5262b254-bdea-11e5-8fa0-1f8ad8e2e708.jpg)

[2016-01-18 13:00] mozfreddyb commented on #11
I like the direction where this is going!
Personally not a big fan of the badge (right version).

[2016-01-18 15:29] brianking commented on #10
Looks great. However I recommend not saying Spaces until there actually is a space there.

[2016-01-18 16:26] LucyeoH commented on #13
This is adorable! Is it done? Could this possible be.... our first closed (accomplished) community design project?!?!! :open_mouth:

[2016-01-18 16:26] LucyeoH commented on #9
BEAUTIFUL!

[2016-01-18 16:29] davehunt commented on #12
Wow @elioqoshi that was fast! I've love to see if there are any other ideas from the community. Is it okay for us to leave this open for a while and see if we get any other designs? :smile:

[2016-01-18 16:47] tarekziade commented on #12
Neat!   Would it be hard to have a fox tail hanging behind the shoe ? ;)

[2016-01-18 18:16] elioqoshi commented on #12
Sure! Will do another revision and we can keep this open for another designer to chime in :)

[2016-01-18 18:18] elioqoshi commented on #10
thanks @briabking ! There seems to be, but it's not an official office space afaik. I can remove the space in case of doubt.

[2016-01-18 18:21] elioqoshi commented on #13
@yofiesetiawan please update with the latest preview and file sources and close if done :)

[2016-01-18 18:27] elioqoshi commented on #11
Not fond of the badge variants either @mozfreddyb
I will explore the left variant further

[2016-01-18 18:42] seeam commented on #12
I am not good at logo design but still tried some different version. What do you think?
![mozilla-running-club-logo](https://cloud.githubusercontent.com/assets/7550283/12399629/63383ada-be45-11e5-8d29-111269c924e7.jpg)

[2016-01-18 18:54] elioqoshi commented on #12
thank you @seeam ! These look good! Usually we use Meta or Fira Sans (Regular Italic here) just so you know :)

[2016-01-18 19:00] ariestiyansyah commented on #9
Awesome @elioqoshi all FSA around the world can use it

[2016-01-18 19:01] seeam commented on #12
Hi @elioqoshi thanks for your appreciation. And I have used Fira Sans OT (Regular Italic). Is there any difference between OT and TTF?

[2016-01-18 19:06] ariestiyansyah commented on #13
@elioqoshi @LucyeoH  @yofiesetiawan  better we have folder or branch to specific design created, for example in Community-Design repo create new folder called mozilla-indonesia to store all Mozilla Indonesia asset.

[2016-01-18 19:14] elioqoshi commented on #13
Please feel free to push, I'm not a good pusher :D

[2016-01-18 19:19] elioqoshi commented on #12
Ah I see, I used Meta.
You can try reducing the distance between the letters for better results in this case :)

[2016-01-18 19:22] ariestiyansyah commented on #13
Please merge this pull https://github.com/mozilla/Community-Design/pull/14

[2016-01-18 19:27] seeam commented on #12
So here is another version with little tracking change, also increased the font size. What do you think now @elioqoshi ?
![mozilla-running-club-logo-v2](https://cloud.githubusercontent.com/assets/7550283/12400675/afa311e6-be4b-11e5-8821-6d449494a6fb.jpg)

[2016-01-18 19:41] elioqoshi commented on #12
Better! Thanks for chiming in!

[2016-01-18 22:03] elioqoshi commented on #12
The same proposal with a Firefox Tail

![draft-01](https://cloud.githubusercontent.com/assets/5436686/12403918/b09114fe-be37-11e5-94ff-21bd87b9a371.jpg)

[2016-01-18 22:16] elioqoshi commented on #11
Another variant

![draft2](https://cloud.githubusercontent.com/assets/5436686/12404176/7f0e5228-be39-11e5-962d-8ec60d5c18f1.jpg)

[2016-01-18 22:50] pauljt commented on #10
For text lets go with "Mozilla" and Melbourne" since I guess technically this is a community sticker not a "mozilla space" sticker. (though we do have a space! Its just not very big or official ;)  I'll run it past the group and get some feedback.

Personally I think the design is on the right track* ;) I'm no designer so take all of this with a grain of salt. Just the first things that come to mi

[2016-01-18 23:28] elioqoshi commented on #10
@pauljt Removed "Spaces" from the wordmark.

![grainynew-01](https://cloud.githubusercontent.com/assets/5436686/12405344/8ab52674-be43-11e5-95af-3a22a2118e4e.jpg)

- Let's keep it simple here. Adding too much details makes it noisy. The grain effect balances the minimalism style pretty well I'd say. Toronto uses the same effect in their stickers. In any case, I added a small detail to the windows.

[2016-01-19 00:06] yofiesetiawan commented on #13
Latest Preview, replaced comic sans with comic neue...
![mozilla---mascot-launch-poster](https://cloud.githubusercontent.com/assets/2810823/12405938/1856325c-be7b-11e5-981b-13d3858f1938.jpg)

[2016-01-19 10:53] mozfreddyb commented on #7
If you write "Mozilla's open source" it could be read as "Mozilla is open source" and "open source from Mozilla"
:stuck_out_tongue_winking_eye:

[2016-01-19 16:39] LucyeoH commented on #1
Hey @elioqoshi okay so I think it would be awesome if we could somehow make this an interactive graphic maybe rather than a typical "infographic". I made a mock-up to try and convey what I mean (please excuse it's hideous ugliness). Also it might be hard to read. I think we probably need to find an interactive designer for this too.
![img_0450](https://cloud.githubusercontent.com/assets/8070833/12

[2016-01-19 19:54] gitbiz opened #15 "Mozilla Monthly Speaker Series Branding"
**Goal:** Visual digital assets promoting Mozilla monthly speaker series

**Info:**
* Posters
* Postcards
* Email headers
* Flyers
* Corsica digital display screens

**Style Information:** Layout should include images and be along the lines of these:
* Images - photos of our various speakers at [this link](https://www.flickr.com/photos/bisgeier/albums/72157653096551079)
* Other images e.g. bios an

[2016-01-19 19:55] gitbiz commented on #15
Project Brief originally submitted to Creative  in late '15 here: https://docs.google.com/document/d/1CCdLuCfe8KJ_CR83OY-B8mDFxmJQ879WkMybaO_H5J4/edit#heading=h.z6mzzyb9khi1

[2016-01-19 20:00] mhoye opened #16 "Firefox Onramp Site Improvements"
I've ginned up this site:

http://areweeveryoneyet.org/onramp/

... as a choose-your-own-adventure to help get people involved in developing for the core Mozilla products.

It could use a lot of love.

The code lives here:
https://github.com/mhoye/onramp

and the community's assistance in making it work and flow well would be greatly appreciated.

[2016-01-19 20:13] LucyeoH commented on #16
Hey @mhoye what kind of design do you need here?

[2016-01-19 20:17] mhoye commented on #16
I'd like to keep the general choose-your-own-adventure and step-by-step formats intact, so what I'm really looking for here is:

- Dramatic improvements to the appearance
- The addition of this community to the other-options section, and
- any additional exit points we can add to that page added as well.

[2016-01-19 21:39] gitbiz commented on #15
also reference to other design work we've had for Internal Coms posters here: https://mozilla.netx.net/public/6hrGHMsH/Mozlando_Followup_Artwork.zip

[2016-01-19 23:26] elioqoshi commented on #15
I can take this on by Feb 2nd, but I'd appreciate if someone else might chime in in the meanwhile

[2016-01-19 23:47] elioqoshi commented on #16
Thanks @mhoye !
I think Jan Dittrich should be interested in this (can't find his username)

[2016-01-20 00:12] elioqoshi commented on #1
uhm that would change things drastically @LucyeoH
You'd want to go with an infographic first and then build from there. Wouldn't make sense to build a car from scratch when we can build a bike and steadily upgrade to a car when we are able to. Let's start with something more approachable (the OP request)

[2016-01-20 00:36] elioqoshi commented on #2
@acabunoc taking on this as we speak

[2016-01-20 02:10] acabunoc commented on #2
Thanks so much, Elio! Looking forward to seeing your work :)

On Tue, Jan 19, 2016 at 7:36 PM, Elio Qoshi <notifications@github.com>
wrote:

[2016-01-20 02:42] jeffbryner commented on #11
+1 for the dotted M  (without arrows). Looks good with black or white background

[2016-01-20 02:48] gdestuynder commented on #11
+1 for dotted M as well.

I wonder if the font for Security could be a little closer to the Mozilla font (i dont know the technical terms, but I would think a little less rounded). Feel free to disregard my suggestion though, it's not a strong opinion ;-)

Another thing I liked in the old logo are the 0's and 1's, always wanted to keep but change them to have a hidden message in them, since, secur

[2016-01-20 03:07] jvehent commented on #11
I was just going to write the same thing, so definitely :+1:
For example:
[code]
Which is Mozilla Manifesto principle #4, "encrypted" with ROT13 (a recurrent security joke), and converted from ascii to binary. That ought to do it :)

[2016-01-20 08:03] Timmaks opened #17 "Mozilla Netherlands Logo"
Can you propose a new logo for the dutch community, http://www.mozilla-nl.org ?

Goal: replacement of the current community logo
Info: Website, twitter, facebook
Style Information: Please suggest something
Deadline: yesterday ;-)
Tag: Design Needed

[2016-01-20 08:25] elioqoshi commented on #11
Thanks for the feedback guys!
@gdestuynder I've used the Meta font, which is the same font used for the mozilla wordmark, so they're the same. Firefox uses the exact same font weight also for this, so this is standard and not something I've invented.

Regarding the binary code: Let's keep it simple, adding 0's and 1's to a logo hardly works. If you want an artwork for a TShirt though, that's a dif

[2016-01-20 08:27] elioqoshi commented on #17
Hey @Timmaks , can you please edit your issue according to issue guidelines please?

- Goal: [What you'd like created]
- Info: [What it will be used for/where it will go]
- Style Information: [What you want it to look like, link to references, similar things etc.]
- Deadline: [When would you like this done by]
- Tag: [Design Needed, Developer Needed, Question, Staff Support Needed]

[2016-01-20 08:34] elioqoshi commented on #5
@yofiesetiawan can you take this over? I was thinking of general Firefox banners with different background colors.

2 dimensions preferably:

- 200x80cm
- 76.2cm x 152.4cm

Kind of like this:

![firefox](https://cloud.githubusercontent.com/assets/5436686/12443555/e8a1c3e4-bf58-11e5-80db-11f8a873a1e7.jpg)

[2016-01-20 09:56] elioqoshi commented on #2
@acabunoc does this work?
![banner-01](https://cloud.githubusercontent.com/assets/5436686/12445423/72d3eb5e-bf64-11e5-94ae-a8558eaa3e76.jpg)

[2016-01-20 10:01] elioqoshi commented on #12
@davehunt run the proposals through your fellow runners so we can go ahead with this :)

[2016-01-20 10:10] mpurzynski commented on #11
The dotten M, first variant (thinner) is spectacular! Let's go with it.

Badges and coded hidden messages are to be avoided, like every other cliche Paul described. Let's have something no one does :-)

[2016-01-20 10:15] elioqoshi commented on #11
I agree with @mpurzynski
Let me know if I should export the final files for you guys

[2016-01-20 10:16] elioqoshi commented on #10
@pauljt could you run this through some feedback so we can wrap this up?

[2016-01-20 10:16] elioqoshi commented on #10
@pauljt could you run this through some feedback so we can wrap this up?

[2016-01-20 11:16] mozfreddyb commented on #11
This seems like a great logo for our own security peeps!

How can we make it fit better for outside contributors, like folks who've won a bug bounty by finding security issues in Mozilla products?
I think the wording on the previous t-shirts ("*Securing Mozilla*") supported that case much better.

[2016-01-20 11:36] elioqoshi commented on #11
@mozfreddyb Well, that would go under artwork. As I said, once we finalize the logo, we can easily make derivatives for artwork.

In that case, I'd go with something like this:
![securing mozilla](https://cloud.githubusercontent.com/assets/5436686/12447824/5b661a74-bf72-11e5-8644-7ecf16691756.jpg)

[2016-01-20 11:36] Timmaks commented on #17
Goal: replacement of the current community logo
    Info: Website, twitter, facebook
    Style Information: Please suggest something
    Deadline: yesterday ;-)
    Tag: Design Needed

[2016-01-20 11:36] mozfreddyb commented on #11
:+1:

[2016-01-20 12:18] elioqoshi commented on #17
What do you think about this Tim?

![preview](https://cloud.githubusercontent.com/assets/5436686/12448725/56e102c4-bf78-11e5-8040-4d83ddfa4a0d.jpg)

[2016-01-20 12:22] Timmaks commented on #17
Thanks!
will post a link to the mailing list so other members can give there opinion

[2016-01-20 12:23] elioqoshi commented on #11
I will export these here so we can wrap it up. Anyone from you able to push the final files to our repo? Not a great git user! :blush:

[2016-01-20 12:26] elioqoshi commented on #17
Great @Timmaks !
P.S: Will you be at FOSDEM?

[2016-01-20 12:48] mozfreddyb commented on #11
I can make a pull request.
I suggest you send me a ZIP of a folder that I can place placed alongside the `FSA` directory in this repo.

[2016-01-20 12:53] Fjoerfoks commented on #17
Well proposed idea!
Some remarks:
- I would like to see the text "mozilla" as large as "Netherlands" is right now
- I would like to see the text "Netherlands" as large as "mozilla" is right now
- "Netherlands" should be all lower case, "netherlands" or all uppercase "NETHERLANDS" which ever looks best
- I like the "Rocketmill". Adding a firestarter at the bottom would make it even more powerfull.

[2016-01-20 13:14] elioqoshi commented on #17
Hey @Fjoerfoks

I don't think Rocketmill is a good idea. This is not a startup to depict it that way. Kind of loses the cultural touch.

Also, most Mozilla community logos have the wordmark in lowercase or first letter upper case. Check Mozilla Slovenia for example:
http://www.mozilla.si/

Generally, the first letter is always upper case, we haven't used lower case in the past years a lot, so it i

[2016-01-20 13:14] seeam commented on #16
Hi, I am interested to help with the visual improvements of appearance. But as I am not a coder I can only provide an image mockup/preview. May be in PSD/ JPG format. Will it help, @mhoye?

[2016-01-20 13:21] elioqoshi commented on #16
@seeam I believe that would be highly helpful :)

[2016-01-20 13:21] Fjoerfoks commented on #17
Can you also create one with the Dutch word "Nederland"?

[2016-01-20 13:31] elioqoshi commented on #11
@mozfreddyb

Here we go:
http://elioqoshi.me/owncloud/index.php/s/rl0zn7pqQ4XiwQw

I'd love to! I will be travelling to Singapore tomorrow but I will ping you, thanks!

[2016-01-20 13:33] elioqoshi commented on #17
Of course @Fjoerfoks , it's a small thing

[2016-01-20 14:15] anistuhin commented on #16
Great @seam go on. I will be helping as developer, hopefully.

[2016-01-20 14:25] acabunoc commented on #2
Hey @elioqoshi -- thanks so much, this is great. Nice and simple! I'll run it by the other Science Lab staff and see what they think :)

[2016-01-20 14:27] acabunoc commented on #2
^ @zee-moz @auremoser @kaythaney @arlissc @stephwright

[2016-01-20 14:37] kaythaney commented on #2
great work, @elioqoshi - thank you!

[2016-01-20 14:43] elioqoshi commented on #2
My pleasure! :)

[2016-01-20 14:44] #11 closed

[2016-01-20 15:03] LucyeoH opened #19 "Design a Logo for Ketchup"
Goal: A logo that looks like a ketchup bottle but with Mozilla in it.
    Info: [What it will be used for/where it will go]
    Style Information: [What you want it to look like, link to references, similar things etc.]
    Deadline: [When would you like this done by]
    Tag: [Design Needed, Developer Needed, Question, Staff Support Needed]

[2016-01-20 15:03] #19 closed

[2016-01-20 15:20] auremoser commented on #2
Very nice! Thanks!

[2016-01-20 15:20] arlissc commented on #2
this looks amazing ...

[2016-01-20 15:23] stephwright commented on #2
Nicely done @elioqoshi !!!

[2016-01-20 16:34] zee-moz commented on #2
hi @elioqoshi thanks for doing this! love how you've integrated our existing design element, the leaf-blob thing, into this cool patterned matrix!
a couple comments:
 on the banner is that there's a line of those leaf/blob things on the right edge that get cut off, but it's just a tiny edge and it looks awkward. can we center the graphics so both edges of the leaf-blobs cut off, which will make it

[2016-01-20 16:37] zee-moz commented on #2
pale yellow tones like the ones in the center of the logo might also work-- i can see these need to be light/pale somewhat neutral so as no to compete with the logo, but it might be nice to get some color in there!

[2016-01-20 16:44] yofiesetiawan commented on #13
Design of the backdrop...
![mozid-mascot-launch-backdrop](https://cloud.githubusercontent.com/assets/2810823/12455837/c84a7042-bfcf-11e5-908c-0da09ffe2cbb.jpg)

[2016-01-20 16:46] acabunoc commented on #2
@elioqoshi if it helps with @zee-moz's cut off edge request, we don't need a strict 2:1 ratio for the banner :)

Thanks again!

[2016-01-20 17:07] yofiesetiawan commented on #5
I finally abble to get rid of the annoying shadow.. I hope that's okay? No shadow in flat design? Haha..

![firefox-banner-landscape](https://cloud.githubusercontent.com/assets/2810823/12456521/d22d2f3e-bfd2-11e5-90ba-fc6c8263a1e5.jpg)
![firefox-banner-portrait](https://cloud.githubusercontent.com/assets/2810823/12456522/d2812ba2-bfd2-11e5-8144-56811a7175f2.jpg)

Download Source Files:
https://dl.

[2016-01-20 17:35] jdittrich commented on #16
Hi, I am the mentioned @jdittrich

[2016-01-20 18:48] gdestuynder commented on #11
thanks for your work on this :)

[2016-01-20 19:32] elioqoshi commented on #5
@yofiesetiawan thanks! In fact I meant 80x200cm vertically as some banners use that dimension. Also please put in the shadow under the Firefox logo again as it's part of the logo.

Further please export in EPS CMYK as AI is no open format.

[2016-01-20 22:12] elioqoshi commented on #2
Thanks!
@zee-moz Thanks for the valuable feedback, you are right indeed :)
Here we go:

![blue-01](https://cloud.githubusercontent.com/assets/5436686/12464816/34994dd6-bfcb-11e5-95b9-c85a68c3dc0d.jpg)
![yellow-01](https://cloud.githubusercontent.com/assets/5436686/12464817/34a114da-bfcb-11e5-9448-9d4054a7f5c1.jpg)

[2016-01-20 22:38] elioqoshi commented on #2
In true open source fashion, here is also the pattern design in SVG.
Feel free to (un)license it under CC0 (Public Domain)

http://elioqoshi.me/owncloud/index.php/s/gv7anbpjTCpvz8k

[2016-01-20 22:49] elioqoshi commented on #17
Here we go:

![preview](https://cloud.githubusercontent.com/assets/5436686/12465811/57fbe7f2-bfd0-11e5-999a-702b85b54c7c.jpg)

[2016-01-21 00:53] flukeout commented on #1
Hey, here's a link to an infographics (of sorts) I did for Appmaker a while ago... maybe there are elements or something there someone can re-use...
https://dl.dropboxusercontent.com/u/109902/appmaker_inforgraphic.jpg

As far as the interactivity, I agree it changes the scope of the work significantly. It basically becomes a little website, and the specific type of interactions that you want reall

[2016-01-21 02:27] yofiesetiawan commented on #5
Here are the EPS files:
https://dl.dropboxusercontent.com/u/4450713/mozilla/GitHub/firefox-banner-80x200cm.eps
https://dl.dropboxusercontent.com/u/4450713/mozilla/GitHub/firefox-banner-200x80cm.eps
https://dl.dropboxusercontent.com/u/4450713/mozilla/GitHub/firefox-banner-762x152mm.eps

[2016-01-21 02:57] jenpez commented on #12
Hope it's not too late to submit a logo idea...
![mozillarunningclub](https://cloud.githubusercontent.com/assets/16767717/12470214/6ab63efc-bfc0-11e5-8bf0-4b4df278358e.jpg)

[2016-01-21 07:49] elioqoshi commented on #5
Updated JPG previews too please @yofiesetiawan :)

[2016-01-21 08:06] jdittrich commented on #16
I'm not sure if I am the right person to help here (mainly do usability & target group needs, but less UI) and the tasks asked for seem to be more geared towards UI/Graphic Design (?)

[2016-01-21 16:36] jmaher commented on #12
I like the blue!  The shoe is slick (not a fan of the version with a tail), I like the runner as well.  It is really cool to see great ideas.

[2016-01-21 17:32] acabunoc commented on #2
@zee-moz what do you think? Is this good to close?

@elioqoshi we're using this on two of our event pages now -- thank you so much!

[2016-01-21 17:34] zee-moz commented on #2
I think this looks fantastic! Love them both! Thanks for your help! :)

[2016-01-21 17:37] #2 closed

[2016-01-21 18:34] cstipkovic commented on #12
:+1:

[2016-01-21 19:05] whimboo commented on #12
My favorite is definitely the runner! IMHO it's an eye catcher people would remember, especially on a printed shirt. The only thing is that we as runners would also have to appear that athletic! :)

[2016-01-21 20:23] cassiemc commented on #12
Not sure if your running club is just men but could potentially be an issue with @jenpez's design.

[2016-01-21 20:34] kmoir commented on #12
I agree, the running group is not all men

[2016-01-21 21:23] joshua-s commented on #3
Nice work!

Just one note: Tabzilla should be updated. It recently changed to not include the expanding menu anymore.

[2016-01-21 21:26] Mte90 commented on #3
I a really work in progress so open a ticket in the repo for that!

[2016-01-22 00:44] yofiesetiawan commented on #5
Preview

80x200cm
![80x200cm](https://cloud.githubusercontent.com/assets/2810823/12499288/d9d76416-c0db-11e5-9d5a-5d64e292892d.jpg)

200x80cm
![200x80cm](https://cloud.githubusercontent.com/assets/2810823/12499289/db9d303c-c0db-11e5-98b8-52f74b71620a.jpg)

7620x1524mm
![7620x1524mm](https://cloud.githubusercontent.com/assets/2810823/12499290/dbed1e8a-c0db-11e5-9d6b-1e39be2879f9.jpg)

[2016-01-22 01:10] jenpez commented on #12
Added a woman runner to balance it out.
![mozillarunningclub](https://cloud.githubusercontent.com/assets/16767717/12499699/d493d540-c07a-11e5-9679-4651833796a9.jpg)

[2016-01-22 01:12] yofiesetiawan commented on #12
@jenpez That's quite badass! But instead of becoming logo, this one looks far better for huge print ad...

[2016-01-22 02:11] pauljt commented on #10
Sorry - I swear I replied to this, but I guess I didn't hit submit or something. This is great Elio, I'm going to have a play on the weekend, but I think we'll just go with this as is. Thanks again for the quick turnaround.

[2016-01-22 10:55] Mte90 commented on #5
maybe add that on assets.mozilla.org will be helpful for others

[2016-01-22 10:57] yofiesetiawan commented on #5
@Mte90 not sure how to do that? Someone here can help to add this to assets? @elioqoshi

[2016-01-22 11:25] Mte90 commented on #3
I have created a repo only for the bootstrap style with a demo page, that page show all the missing part of that design

Repo of BootStrap style: https://github.com/Mte90/MozStrap/
Demo site: https://mte90.github.io/MozStrap/

[2016-01-22 13:33] 3r1ccc commented on #12
Like the the badge with sneaker, would it look good in orange design?

[2016-01-22 16:10] LucyeoH commented on #1
Thanks @flukeout for your thoughts! @elioqoshi would be awesome if you could start with just the static version and we can look into interactivity after.

[2016-01-22 17:34] rwood-moz commented on #12
All really cool designs! My personal favourite is the top-left one in the latest set by @seeam Simple but attractive and love the Firefox orange

[2016-01-23 20:10] MedMack commented on #6
I'm sketching a couple of ideas for this logo. @nicokant94 can you please share the source file of the first proposal logo ? This will be a big help, thanks.

[2016-01-25 14:15] pelmers commented on #12
For a shirt, I like @seeam revised designs most.

[2016-01-25 20:19] mart3ll commented on #10
Hey all, please let me check with Tim and Mary Ellen around this one before it goes any further. I wouldn't want this to start being used before they've had a chance to have input on this. We'll need to discuss which of these community design projects need Marketing approval before they're finalized. Thanks!

[2016-01-26 02:10] brianking commented on #10
@mart3ll if we could define some lightweight process for approval, such as copying someone here in github, that would be ideal. The current BZ process seems kind of heavy.

[2016-01-26 08:51] nicokant94 commented on #6
I'm asking @Dasher7 to provide me the sources, I'll publish here as soon as I can.
Thank you very much for your help!

[2016-01-26 10:07] pauljt commented on #10
Sure thing - please get back to me asap though as I have a speaking engagement on the 11th of Feb, and I was hoping to get some stickers made up before then.

[2016-01-26 13:26] jenpez commented on #12
Reworked the logo, more graphic, a little less complicated.
![mozillarunningclub2](https://cloud.githubusercontent.com/assets/16767717/12581726/7c937a64-c406-11e5-9313-5f880be75b4d.jpg)

[2016-01-26 13:31] tarekziade commented on #12
oh wow I really like that last one <3

[2016-01-26 14:58] mhoye commented on #16
I think so, yes - graphics design would be much appreciated. Even a nominal amount of good taste would help!

[2016-01-26 14:59] mhoye opened #20 "Triagebot"
We're rolling out some new functionality for Triagebot shortly, and I'd like some feedback/guidance about how to make it look better, starting with a new logo!

https://triagebot.mozilla.org/

The goal of TriageBot is to make it super easy for people to help us triage incoming issues, so something roboty and helpful would be nice to have. I'd like to turf out that all-the-things bit ASAP.

[2016-01-26 16:38] jdittrich commented on #16
From my experience, it could be really helpful to show some video snippets with the tasks to do. (It would be great btw. if one could get early feedback from people who use the page. E.g. one could make the "deal" to observe first and help if they can't do it themselves. Could be a win-win situation)

[2016-01-26 16:42] mhoye commented on #16
We have some of those here, I think:

http://www.codefirefox.com/

Maybe we can use them?

[2016-01-26 16:42] mhoye commented on #16
ARGH MISCLICKED.

NOBODY LEAVE.

[2016-01-26 18:47] cstipkovic commented on #12
@jenpez, really cool :+1:

[2016-01-26 18:58] jdittrich commented on #16
The videos you linked would be totally right.

Maybe you could collaborate or mirror each other's content? It would be a great match.

[2016-01-27 00:22] flukeout commented on #20
Here are some quick sketches of some friendly bots serving up bugs...

![image](https://cloud.githubusercontent.com/assets/25212/12599688/fdf31974-c448-11e5-8dcc-72341bf45bd3.png)

[2016-01-27 10:52] leplatrem opened #21 "Logo Needed for Kinto"
- **Goal:** design a vectorial logo
- **Info:** Mozilla product / branding
- **Style Information:** _See below_
- **Deadline:** Ideally before our Kinto workweek on 15th february
- **Tag:** Design Needed

[Kinto is an open source project](http://kinto.readthedocs.org/en/latest/) developed by Mozilla Services, to store data in a «personal cloud». It is also used by Firefox to synchronize internal d

[2016-01-27 16:05] mart3ll commented on #10
Yes, Tim is looking into having a meeting to see what we can set up.

We'll sort out a meeting time and go over what can be set up for some brand guidelines and approvals.

Thanks!

[2016-01-27 16:14] nicokant94 commented on #6
Here they are!
![skyline](https://cloud.githubusercontent.com/assets/6927678/12619580/f1502baa-c518-11e5-849f-929ccdd1766c.jpg)
![firefox_logo-only_rgb](https://cloud.githubusercontent.com/assets/6927678/12619617/149e4ae2-c519-11e5-9a2c-ac9167be74dc.png)

[2016-01-27 19:40] jenpez commented on #21
First proposal, let me know what you think
![kinto](https://cloud.githubusercontent.com/assets/16767717/12625899/d73a10ba-c503-11e5-83df-b2d38ba4468f.jpg)

[2016-01-28 04:51] ariestiyansyah commented on #17
@elioqoshi can you provide the vector/psd/png file? thanks

[2016-01-28 09:26] leplatrem commented on #21
Wao thanks @jenpez for proposing something at the speed of light!

Globally we like it! The lightning on the cloud is great.
It should probably be oriented to the right though (as @my-le suggested right=forward=future). What do you think?

We're not convinced by the text though. Not sure the cloud should be used as the dot on «i». Could you please try to put it on a side or below, maybe with anoth

[2016-01-28 10:02] elioqoshi commented on #10
Thanks @mart3ll for the headsup! As @brianking said, this is something we might need to look into for the future to lower friction of contributions.

[2016-01-28 10:06] elioqoshi commented on #12
Thanks @jenpez for the proposals :)
The artwork looks really great! However they are quite heavy on the eye for a logo. It would be great to have these runners for artwork, but a logo should be simple and conceptual in our case, I'd suggest.

My 5 cents :)

[2016-01-28 10:09] elioqoshi commented on #12
Further, there is a certain guideline of how symbols should be placed in a logo (in our case, the icon is always in the left of the wordmark). For consistency reasons, we should respect that.

@davehunt what's your input?

[2016-01-28 10:10] elioqoshi commented on #17
I will, after @Timmaks and @Fjoerfoks are happy with it :)
Can we close this guys?

[2016-01-28 10:14] elioqoshi commented on #5
We need staff approval to add these to assets. We can discuss that in the next meeting. Thanks @yofiesetiawan !
@ariestiyansyah can you push the 3 design eps and jpg into the repo?

[2016-01-28 10:15] elioqoshi commented on #16
@yofiesetiawan can you chime in here?

[2016-01-28 10:16] elioqoshi commented on #3
@Mte90 that looks amazing! Can't wait to see this finished :)

[2016-01-28 10:17] elioqoshi commented on #1
@LucyeoH Okay, I can finish this by next week only then (travelling these days) will ping you next week

[2016-01-28 10:19] elioqoshi commented on #20
Thanks @mhoye ! Count me in for the logo here :)
I will be able to give this some time only later next week, so everyone else: feel free to chime in in the meantime.

[2016-01-28 10:20] Fjoerfoks commented on #17
Fine by me.

[2016-01-28 10:22] elioqoshi commented on #21
@leplatrem thanks for opening this issue! @jenpez we use Fira Sans / Meta for logos at Mozilla, so it would be good to stick with that for consistency reasons :)

I will fire up some proposals of mine next week too!

[2016-01-28 12:23] davehunt commented on #12
All of the designs are great, but I do particularly like @jenpez latest version and can see if being used on a running shirt. I think the other designs would perhaps work better as a team avatar or as stickers. I wasn't aware of the wordmark guidelines, but that makes sense.

I also think @jenpez design could be tweaked for different purposes - for example we could have the two runners together, o

[2016-01-28 12:55] whimboo commented on #12
I can second all what Dave said. I feel the same.

[2016-01-28 12:59] tarekziade commented on #12
I second Dave comments as well. I also think that @seeam design would fit great on the right shirtsleeve, where we usually put "mozilla" in some of our t-shirts

[2016-01-28 17:04] ariestiyansyah commented on #5
Done push image to master branch
https://github.com/mozilla/Community-Design/commit/12363d653ea8faa432f1204e795cedd56790577f

[2016-01-28 17:38] n1k0 commented on #21
my humble take (don't laugh, first hour spent using Inkscape ever)

![](http://i.imgur.com/TQ94tSf.png)

[2016-01-28 18:16] Timmaks commented on #17
Thanks @elioqoshi , in our next community meeting i will present this as a proposal for the new logo.

[2016-01-28 18:48] zee-moz opened #23 "Design needed on Spot Illustrations of Contributor Foxes for Science Lab"
At MSL we're creating a series of presentations for an upcoming workshop and need some spot illustrations of groups of contributors working openly. I remixed/riffed on the MSL science fox/dapper fox to make some working contributor foxes. The design is quite rough-- needs paws, better outfits, shading, and different/better body positions so the group looks more varied. Here's an example.

![quickf

[2016-01-28 21:30] MikkCZ opened #24 "Mozilla.cz logo"
## Goal:
We would like to have our own logo for regional http://www.mozilla.cz/.

## Info:
We want to use the loge on the website itself and as social media (FB, Twitter) avatar and/or in header image to be better recognized on Czech Internet.

## Style Information:
No big requirements, but will be nice to have some Czech theme (flag pattern, ...), may also include text _Mozilla.cz_, but does not

[2016-01-28 21:36] mhoye commented on #20
YAAAAASSSS

These are GREAT

[2016-01-28 21:40] flukeout commented on #21
Here are a couple of ideas!

![image](https://cloud.githubusercontent.com/assets/25212/12659622/a275722c-c5c4-11e5-85a3-82ad78f7d17c.png)

[2016-01-29 08:47] nlhkabu commented on #21
@flukeout I love the top design!  What about if you tried it in blue?

[2016-01-29 15:23] TomFarrow opened #25 "Community Servicedesk Logo"
So, I'd love to have a logo for the community hardware team, to start building a bigger, branded presence, to enable some more growth.

We provide laptops and other IT hardware to contributors across Mozilla from older stock that Mozilla has.

Would be really excited for some help here!

[2016-01-29 16:34] yra99ary commented on #21
I am a big fan of Dragon ball.
It's a first proposal, hope you like it : )

![kinto_logo](https://cloud.githubusercontent.com/assets/8791195/12681138/0da2ca8a-c6e8-11e5-9b24-5e2db5b4abad.png)

[2016-01-29 17:15] leplatrem commented on #21
Thanks all for your propositions! This is amazing (and a bit embarassing too.) to be able to pick and opinionate :)

*Disclaimer: I have absolutely no experience in giving my opinion about logos :)*

@flukeout I like the top one too. Maybe use more orange-ish color for the shadows to avoid confusion with a flatulence :) flashy colors like @jenpez's were great!
I think the cloud should also be slig

[2016-01-29 18:30] yra99ary commented on #21
I change orientation and update some detail.

![kinto_logo2](https://cloud.githubusercontent.com/assets/8791195/12684319/425c0096-c6f9-11e5-8241-f270d81b7250.png)

[2016-01-29 23:11] MedMack commented on #6
Hey again, thanks @nicokant94 for the first stock photo. Here is my proposal(s) for the Firefox Club Milan with small changes.
![firefoxclub_milan](https://cloud.githubusercontent.com/assets/2369504/12690728/ee284cd6-c6e5-11e5-9702-6019608d38e2.png)

[2016-01-29 23:28] MedMack commented on #6
An other proposal where I tried the integration of the colors of the Italian flag.
![firefoxclub_milan_5](https://cloud.githubusercontent.com/assets/2369504/12690995/457165b6-c6e8-11e5-9a81-22a96753b21d.png)

[2016-01-30 00:11] natalieworth commented on #7
+1 to Mozracha Some cool inspiration too: https://www.flickr.com/photos/infomatique/6945895316/sizes/l/in/photostream/

[2016-01-30 04:26] jenpez commented on #21
Revisions to my original design. Liked the idea of putting it to the right to represent the future. Also tried the cloud on the bottom.
![kinto](https://cloud.githubusercontent.com/assets/16767717/12693692/94268410-c6df-11e5-968c-6156b28ea3d9.jpg)

[2016-01-30 05:33] xmatthewx commented on #7
that's a great reference @natalieworth !!

[2016-01-30 10:24] n1k0 commented on #21
Heavily inspired by @jenpez proposition

![](http://i.imgur.com/jpblcBv.png)

I'm too bad at inkscape so I couldn't intertwine the trails properly but you get the idea

[2016-01-30 12:20] aroblu94 commented on #6
Hi @MedMack, thank you very much for your work, they are beautiful!!! I have to speak with @nicokant94 and the others club members but.. could you please try using MILANO instead of MILAN please? Just curious :)
Anyway for me it's much better with MILAN (or MILANO) in capital case (3 and 5 of your sketches).

Thank you!!

[2016-01-31 14:06] MedMack commented on #6
Hey, sorry for the late. Here is the two final logos.
![firefoxclub_milan_final](https://cloud.githubusercontent.com/assets/2369504/12702522/03ef7ebc-c82c-11e5-9e22-eb7a373fb308.png)

[2016-02-01 04:57] Ken-Saunders commented on #24
Hey,
It's been a long time since I've worked on graphics but I've been trying to get back into it and, contributing more to Mozilla.
See if there's anything <a href="http://www.accessfirefox.org//mozilla-cz/mozilla-cz-logos.html">here</a> that you like or find useful.
I take criticism/critiques very well especially when this will be your community's logo, not mine, so feel free to make suggestions

[2016-02-01 06:26] AntoineCezar commented on #21
Draft Idea. If any real designer want to iterate on it…
![kinto-draft](http://antoine.cezar.fr/kinto-draft.png)

[2016-02-01 06:46] marcoscaceres commented on #10
Design looks great BTW :+1:

[2016-02-01 15:37] aroblu94 commented on #6
@MedMack don't know if it's me but I can't see them

[2016-02-01 15:40] MedMack commented on #6
Sorry it was a problem while uploading. ![firefoxclub_milan_final](https://cloud.githubusercontent.com/assets/2369504/12721890/5111af7c-c902-11e5-9726-9c764645b6f2.png)

[2016-02-01 15:44] MedMack commented on #6
Sorry there was a problem with the file, here is it. ![fxclub_milan_finalpreview](https://cloud.githubusercontent.com/assets/2369504/12722021/04f09ab2-c903-11e5-8630-15bd256a4d42.png)

[2016-02-01 15:48] aroblu94 commented on #6
Simply beautiful. For me those are the best, we'll wait for @nicokant94 and @Mte90 that are coming back from FOSDEM :) thank you very much

[2016-02-01 16:04] MikkCZ commented on #24
Hi Ken.

I will discuss with others and let you know, if we would like to make any updates. Personally, I like the "blue coin". Maybe would it be possible to use the font from Mozilla wordmark, if it's available?

[2016-02-01 21:39] Mte90 commented on #6
they are not beautiful, but really really beautiful!
is possible to get the logo with without the shadow in the flag colors?

[2016-02-01 21:55] leplatrem commented on #21
When I saw [this page of «logo dust»](http://www.logodust.com/?ope) I felt inspired... but the output looks more or less like a car :)

![g4831](https://cloud.githubusercontent.com/assets/546692/12714048/b63b59e6-c8d2-11e5-8a68-f3b0d87a678a.png)

[2016-02-01 22:56] MedMack commented on #6
Here is the logo with all the source files. For some reason I can't attach the .zip file here so here is the link for dropbox : https://www.dropbox.com/s/g21b4y15dd151an/Milano%20Firefox%20Club%20Logo.zip?dl=0

[2016-02-02 07:00] AntoineCezar commented on #21
Wrong anime ^_^
![slump](http://vignette2.wikia.nocookie.net/drslump/images/3/34/1983YellowCar.jpg/revision/latest?cb=20120712120608)

[2016-02-02 07:57] chrisglasier opened #26 "Working party report - automated mainstream work"
## Goal:
The same kind of initial research banks required prior to considering the introduction of eBanking. In this case it is an initiative in pursuit of the goals of Mozilla’s Strategic Narrative for 2016 and Beyond.

## Info:
To be used for:

1. Accountability to donors particularly those from the general public.
2. If positive, basis to proceed to detailed feasibility studies.

## Style Infor

[2016-02-02 16:15] davehunt commented on #12
This is what I was thinking:
![img_8718](https://cloud.githubusercontent.com/assets/122800/12755521/bc0370c0-c9c7-11e5-9533-f3f1ae282263.jpg)

@tarekziade do you think you could get back in touch with the running shirt company you were previously talking to about printing this design? I think it would look best printed on a blue shirt to match the orange/blue from the Firefox logo, but it would pr

[2016-02-02 22:06] Ken-Saunders commented on #24
<blockquote>"Maybe would it be possible to use the font from Mozilla wordmark"</blockquote>

That shouldn't be a problem.
The one that I used is Open Sans. It's based on Mozilla's <a href="https://www.mozilla.org/styleguide/websites/community/overview">Community sites</a> style guide.

<blockquote>"Personally, I like the "blue coin""</blockquote>
I do too, and the one below that (with the drop sha

[2016-02-02 22:42] Ken-Saunders commented on #25
Is the <a href="https://wiki.mozilla.org/Community_Hardware">MozillaWiki page</a> currently the only place with information about the program? I'm wondering if you already have a theme somewhere to go by.
If not, are there any plans to create a mozilla community type site or blog?
Any specific requests for colors, logo, identity, etc?

<blockquote>We provide laptops and other IT hardware to contri

[2016-02-02 23:29] marco-c opened #27 "Notification bell icons for the WordPress Web Push plugin"
We're building a WordPress plugin that allows people using WordPress to send push notifications to their readers.

There's a more detailed description here: https://wordpress.org/plugins/web-push/
Here's a test blog where the plugin is deployed: https://wadi-pwa.sloppy.zone/

As you can see in the bottom right corner, the button that allows you to subscribe/unsubscribe from notifications isn't rea

[2016-02-03 05:50] seeam commented on #16
Hello @mhoye, I was busy with personal projects. Here is my try to improve the visual look of homepage. I have tried to follow the community sandstone guideline and grid. What do you think about it?
![homepage](https://cloud.githubusercontent.com/assets/7550283/12774130/004a9516-ca6c-11e5-9305-6b57d420f2b5.jpg)

[2016-02-03 07:02] yofiesetiawan commented on #16
Hi, i'm interested to pitch here...

![firefox-onramp](https://cloud.githubusercontent.com/assets/2810823/12775206/c0df0fc0-ca7e-11e5-851a-451fbb8a2d51.png)

[2016-02-03 07:08] yofiesetiawan opened #28 "MozCoffee Website Design"
There was an idea to create a website regarding our popular event around the world, the MozCoffee. The idea is to put information about what is mozcoffee and how if you want to run one in your places. And this site can also give some preview of pictures embeded from Flickr.

Anyone have an idea about the moz.coffee domain status right now?

[2016-02-03 08:10] tarekziade commented on #12
@davehunt I sent an e-mail and pointed them that issue.

to get a price from them, we need to decide how many shirts we want and the various sizes. Maybe a pad is easier for this

[2016-02-03 08:17] tarekziade commented on #12
For reference this is the shirt we're thinking about https://www.owayo.com/running-custom-short-sleeve-shirts.htm

One thing I should mentioned is that IIRC they raised their prices on that shirt. So that could be a bit expensive.  That said, I was able to try samples and they are good fabric.

here are a few pics of me wearing the shirt 2 years ago:

- wearing an american apparel Small so you can

[2016-02-03 08:25] tarekziade commented on #12
mm.. looking again at their models, it looks like the one I tried does not exists anymore, it was a v-neck. So I am not sure about the fitting but I suspect it will be roughly the same. We can always ask for new samples if we want I guess

[2016-02-03 10:23] yofiesetiawan commented on #12
Just to give an idea...

![tshirt-template](https://cloud.githubusercontent.com/assets/2810823/12779490/d284bab0-ca9a-11e5-8a0f-b3d4e0c388bf.png)

[2016-02-03 13:28] davehunt commented on #12
Thanks @yofiesetiawan, I do like the wordmark with the runners. What do others think about this design?

[2016-02-03 13:28] davehunt commented on #12
If you're interested in a Mozilla Running Club shirt, add your details here: https://public.etherpad-mozilla.org/p/running-shirts

[2016-02-03 18:52] seeam commented on #20
Hi, I have created a simple sand-stone design. I am not good with illustration and logo. So, I've temporary used a stock robot from here: http://pixaroma.com/little-robot-character/
I think @elioqoshi will come up with a better robot or logo and we can replace that with this robot. But what do you think about the interface, @mhoye?
![homepage_triagebot](https://cloud.githubusercontent.com/assets/7

[2016-02-04 15:33] #5 closed

[2016-02-04 23:14] zelitomas commented on #24
Hi,

I've also tried to make something up, and here some drafts I came up with:

![web](http://down.zelitomas.cf/firstWebCutted.png)

![logo_resized](http://down.zelitomas.cf/rsz_1first.png)

As the logo is intended to be used as a social media avatar, I've tried to make it as simple as possible, so it's basically just a Mozilla m with Czech tricolora added.

![community](http://down.zelitomas.cf/

[2016-02-04 23:30] zelitomas commented on #24
Ooops, I've accidentally changed the order of colors and made a Russian tricolora :)

Here's the correct version:

![Correct version](http://down.zelitomas.cf/rsz_firstCorrect.png)

[2016-02-06 12:31] MikkCZ commented on #24
@Ken-Saunders According to the feedback I received, it's a draw between #5 and #6. Could you please make a variation of them - with the CZ below and inside the state, and with/without the shadow below, and possibly a set without any text?

@zelitomas Does not look bad at all. May I ask you to create a variant with all three tricolora paint stripes in the background and the "m" in one color for com

[2016-02-07 03:15] chrisglasier commented on #26
Separating and expanding propositions for related comments/disagreement/agreement

1. Automated mainstream work is a major development in the use of the Web/Internet pertinent to Mozilla's mission.

Definitions

Automated - change to mechanised as more suitable; introduce machines or automatic devices into (a process or place).
(https://www.google.com.hk/webhp?sourceid=chrome-instant&ion=1&espv=2&

[2016-02-08 21:19] ecwebservices commented on #28
moz.coffee is currently not available.

[2016-02-08 22:31] AymericFaivre commented on #21
A quick one, hope it could help.
![kinto_01](https://cloud.githubusercontent.com/assets/2395629/12901434/ff8da862-cebb-11e5-82c7-9f9b2626b77d.jpg)

[2016-02-09 02:10] yofiesetiawan commented on #28
Thank you @ecwebservices

[2016-02-09 08:19] chrisglasier commented on #26
_Separating and expanding propositions for related comments/disagreement/agreement_

2. Key design characteristics of personal eBanking web pages and websites that use analysis of multiple web sources are relevant.

A personal eBanking page is actually a machine interface very similar to the physical screen display on an ATM. Many people use both to work on their own information made available fro

[2016-02-09 10:44] Natim commented on #21
I received new ideas by email if this can help:

![clx-3180_20160209_11405101](https://cloud.githubusercontent.com/assets/229453/12914032/6e12f1dc-cf22-11e5-8007-95cd40c4be5d.jpg)

![image](https://cloud.githubusercontent.com/assets/229453/12914042/7a12ffe0-cf22-11e5-81b9-55e88c914ad3.png)

[2016-02-09 10:47] Natim commented on #21
Ideas that came with the email:

 - Italic might be use to give the speed and time saving in application development
 - Letter can be linked together to give the idea of connection through the cloud
 - The Kinto text could stay on top of the cloud (pure heart) it doesn't go through

[2016-02-09 11:41] leplatrem commented on #21
Thanks @AymericFaivre for your proposition! I really like the colors! I'm not convinced by the shape though (the low trail and the two «half-spheres»), I think it could look a bit more lively/vivacious!

@Natim I like this one (although it's very far from what was proposed here)
![capture d ecran de 2016-02-09 12-38-53](https://cloud.githubusercontent.com/assets/546692/12915231/190173d2-cf2a-11e5-

[2016-02-09 13:25] ioana-chiorean commented on #28
Kensie - Majken Connors had website close to this name. Let me ask her.

[2016-02-09 15:27] ioana-chiorean commented on #28
Here is the thread: https://discourse.mozilla-community.org/t/moz-coffee-domain/1733

[2016-02-09 22:56] fauzanalfi opened #29 "Mozilla Indonesia Community – Jakarta Space Interior Design"
**Goal:** interior design for upcoming Mozilla Space in Jakarta

**Floor Plan:**
The space is going to be on office-labeled room on the left side
https://dl.dropboxusercontent.com/u/4450713/mozilla/community-space/WorkRoom%20-%20Denah.jpg

[2016-02-09 22:57] fauzanalfi commented on #29
Assigning to myself.

[2016-02-10 16:03] yofiesetiawan commented on #13
![mozilla-mascot-launch-poster](https://cloud.githubusercontent.com/assets/2810823/12952817/7738ba48-d04a-11e5-96f4-82b0c9628c01.jpg)
Squared design for social media promotions...

[2016-02-10 16:49] mhoye commented on #20
Holy crap.

That is amazing.

[2016-02-10 16:49] mhoye commented on #20
I think we should use our own robot, for sure, but that mockup is _fantastic_.

[2016-02-10 17:50] mmhyamin commented on #20
Should we start coding?
On Feb 10, 2016 22:49, "Michael Hoye" <notifications@github.com> wrote:

[2016-02-10 18:21] marco-c commented on #27
There are some suggestions here: https://github.com/marco-c/wp-web-push/issues/98

I'm going to close this since we have a few options. Thank you anyway!

[2016-02-10 18:21] #27 closed

[2016-02-11 03:16] chrisglasier commented on #26
_Separating and expanding propositions for related comments/disagreement/agreement_

3 Working practice suitable for automation is based on digital objects rather than digital versions of paperwork.

Here the term digital object means a named dataset that can acquire different information from different sources to support different objectives. For example, a joinery manufacturer uses a table objec

[2016-02-11 14:39] elioqoshi commented on #29
Fantastic use cast @fauzanalfi ! Please share the process and source files with us within your possibilities :)

[2016-02-11 14:41] elioqoshi commented on #28
@yofiesetiawan would you be up to design the website for this?

[2016-02-11 14:49] elioqoshi commented on #26
Let me reconfirm, is volunteer contribution needed here? In any case, thanks for posting the issue!

[2016-02-11 15:00] elioqoshi commented on #24
@zelitomas really like your proposal! maybe put the flag colors a bit upwards? there is a small part empty between the 'm' and the red.

No need for the wordmark also, you can put it seperately

[2016-02-11 15:17] elioqoshi commented on #25
As discussed with @mart3ll we try to refrain from logos which separate the project's identity from Mozilla as a whole. Artwork would make more sense here.

Is this related to MozOpenhard @TomFarrow ?

[2016-02-11 15:20] elioqoshi commented on #23
Sorry for the lack of communication here @zee-moz !
I will try to delegate this as I currently have no buffer to take this on. By when would you need it?

[2016-02-11 15:22] elioqoshi commented on #21
@AymericFaivre please share source files so we can remix ;)

[2016-02-11 15:25] elioqoshi commented on #20
Looking great @seeam
We discussed with @mart3ll that we should refrain from using logos for separate projects when we can avoid it, as we are One Mozilla.
Let me get his thoughts on that

[2016-02-11 15:26] elioqoshi commented on #20
@seeam can you share PSD?

[2016-02-11 15:26] elioqoshi commented on #17
@Timmaks what decision did you take?

[2016-02-11 15:27] elioqoshi commented on #15
Seems no one chimed in yet. Sorry I'm late on this but I can get this done if it's still needed.

[2016-02-11 15:28] mhoye commented on #20
I think there's an acceptable distinction between "a Mozilla logo" and this non-Mozbranded robot cartoon idea, and I'm willing to make that distinction mostly because I like the robots a lot.

[2016-02-11 15:31] Timmaks commented on #17
@elioqoshi the meeting of last week was canceled, we are now planning a new meeting before the end of February

[2016-02-11 15:38] seeam commented on #20
@elioqoshi not as a logo but don't you think we can use a mascot or just an illustration of a bot serving bug? However the robot I have used is shared with a CC license so we can use it by giving credit to it's author.
I have attached the PSD.
[TriageBot_Homepage.zip](https://github.com/mozilla/Community-Design/files/126614/TriageBot_Homepage.zip)

[2016-02-11 15:50] TomFarrow commented on #25
Mozwhat? ;)
I'm going to assume no, because I've never heard of that.

[2016-02-11 15:52] elioqoshi commented on #20
Feel free to join the community design call today at 5:15pm UTC to discuss this among other things :)

[2016-02-11 15:55] elioqoshi commented on #25
http://mozopenhard.mozillafactory.org/

[2016-02-11 15:56] elioqoshi commented on #17
Please let me know, so we can wrap this up

[2016-02-11 15:58] TomFarrow commented on #25
no, not related at all.

[2016-02-11 16:38] yofiesetiawan commented on #28
@elioqoshi i'm thinking of welcoming anyone who wants to pitch their designs?

[2016-02-11 17:13] LucyeoH commented on #16
@mhoye looks like you have two awesome pitches! What do you think?

[2016-02-11 17:34] cassiemc opened #30 "Start a 'Design buddies' (Dbuds) program"
At the Foundation we started a 'Dbuds' program last year so that when we hire someone new on staff, we pair them with someone already on staff so that have a bit of a buddy – someone to check in with regularly and to ask questions – as they're learning to integrate with Mozilla projects and processes. This could work really well between staff and community members.

The idea is super simple: once

[2016-02-11 17:42] elioqoshi commented on #13
@yofiesetiawan can we get the source files of these files here?

[2016-02-11 18:03] yofiesetiawan commented on #13
Source Files:
[mascot-launch-backdrop.eps.zip](https://github.com/mozilla/Community-Design/files/126845/mascot-launch-backdrop.eps.zip)
[mozilla mascot launch poster square.psd.zip](https://github.com/mozilla/Community-Design/files/126847/mozilla.mascot.launch.poster.square.psd.zip)
[mozilla mascot launch poster.psd.zip](https://github.com/mozilla/Community-Design/files/126846/mozilla.mascot.launc

[2016-02-11 18:17] bwinton opened #31 "Update the style of the Firefox Style Guide to match Firefox’s In-Content Preferences."
## Goal:
Update the style of the [Firefox Style Guide](http://firefoxux.github.io/StyleGuide/) to match Firefox’s In-Content Preferences.

## Info:
The Firefox UX team is creating a style guide, focused on Firefox, partially to help Add-on authors create extensions that look “Firefox-y”.  We have a first pass at the style guide live at the link above, but it would be nice if the left-hand section

[2016-02-11 18:56] LucyeoH commented on #1
@elioqoshi I think we're going to turn this into a mini-site so will take this off here for now as I agree that's more of a developer project. Thanks as always!

[2016-02-11 18:56] #1 closed

[2016-02-11 19:13] elioqoshi commented on #31
Thank you @bwinton ! Does this need staff guidance?
@Mte90 might be interested?

[2016-02-11 19:13] elioqoshi commented on #13
@ariestiyansyah can you push these to the repo?

[2016-02-11 19:14] #13 closed

[2016-02-11 19:15] elioqoshi commented on #30
I'd be interested! I'm pretty familiar with our processes though, so always willing to mentor someone else (I'm kind of doing it already unofficially).

[2016-02-11 19:17] elioqoshi commented on #28
Okay, @all feel free to pitch with designs!

[2016-02-11 19:19] elioqoshi commented on #24
@zelitomas can you please share the source files?

Also, have a look at the Netherlands logo proposal to see how you can implement the wordmark

https://github.com/mozilla/Community-Design/issues/17

[2016-02-11 19:22] elioqoshi commented on #24
@Ken-Saunders thanks for the proposals! However the current style you used is quite disaligned with the Mozilla style direction. Maybe have a look at some other community logos to get an idea?
Try avoiding shadows and gradients if you can

[2016-02-11 19:27] Mte90 commented on #16
What is the developer help required?

[2016-02-11 19:27] elioqoshi commented on #16
@Mte90 We probably need help to turn the design into code

[2016-02-11 19:28] Mte90 commented on #15
What is the developer help needed?

[2016-02-11 19:29] elioqoshi commented on #16
P.S: Love the suggestions guys! I prefer the one by @yofiesetiawan slightly, it looks really solid

[2016-02-11 19:29] Mte90 commented on #31
So what is the help as a developer?
to transform the style of that page with the internal design of firefox?

[2016-02-11 19:31] elioqoshi commented on #31
As far as I could understand, yes!

[2016-02-11 19:47] elioqoshi commented on #15
Not sure to be honest. @gitbiz ?

[2016-02-11 19:49] anistuhin commented on #16
Btw guys, we have several pages to design for this, right?? So, are we just choosing the homepage first and will go up based on that or having mocks for all at once will look better or get it understood clearly?? And I second @elioqoshi on the one done by @yofiesetiawan

[2016-02-11 20:18] bwinton commented on #31
@elioqoshi: I'm staff, so any staff guidance should be readily available.  :wink:
@Mte90: Yep, to make the style of that page (particularly the part on the left) look more like the style of about:preferences!

[2016-02-11 20:31] elioqoshi commented on #16
@anistuhin we can design only 2 or 3 pages which will work like a template I guess?

[2016-02-11 20:58] gitbiz commented on #15
hey guys-
Apologies for the confusion -- we thought we'd need developer help and
realize the scope was less (and timeline faster) than expected.

Elio, maybe we should close this one out?

d

On Thu, Feb 11, 2016 at 11:47 AM, Elio Qoshi <notifications@github.com>
wrote:

--
Diane (Bisgeier) Tate
415 250 1724
http://about.me/dbiz

[2016-02-11 21:00] elioqoshi commented on #15
@gitbiz is this not needed anymore or are we too late?

[2016-02-11 21:01] gitbiz commented on #15
correct Elio - we can close this out. thank you!

On Thu, Feb 11, 2016 at 1:00 PM, Elio Qoshi <notifications@github.com>
wrote:

--
Diane (Bisgeier) Tate
415 250 1724
http://about.me/dbiz

[2016-02-11 21:09] Mte90 commented on #31
I have started working on that https://github.com/FirefoxUX/StyleGuide/pull/31

[2016-02-11 21:10] bwinton commented on #31
Awesome, thank you!  :grinning:

[2016-02-11 21:29] mhoye commented on #16
I'm pretty sure that if you click around the site, you'll find that you need three at most, and more likely just two - one for the introductory page, and one for all the choices further down the tree.

[2016-02-11 21:33] ioana-chiorean commented on #23
@zee-moz was this the workshop from Berlin the last weekend?  How can we use this going further? Any already requested?

[2016-02-11 21:35] elioqoshi commented on #16
@mhoye which mockup do you prefer?

[2016-02-11 21:36] #15 closed

[2016-02-11 21:38] gitbiz commented on #15
thank you!

On Thu, Feb 11, 2016 at 1:36 PM, Elio Qoshi <notifications@github.com>
wrote:

--
Diane (Bisgeier) Tate
415 250 1724
http://about.me/dbiz

[2016-02-11 21:39] zee-moz commented on #23
Hey there @ioana-chiorean and @elioqoshi, we used our rough draft foxes in the materials for the Berlin Workshop that happened last weekend. But we'll continue to use foxes in lots of our materials going forward. While there's not an immediate need for them, it would be great to have some new foxes to use when we update our materials in early March.

We'd also love to have additional illustrations

[2016-02-11 22:17] elioqoshi commented on #23
@yofiesetiawan do you have an illustrator friend who can help on this?

@Raphseck or maybe you?

[2016-02-11 22:17] zelitomas commented on #24
@elioqoshi Ok, but please keep in mind that I'm really not a designer and I don't know how to work with graphics (that's why I used GIMP, which is unsuitable for this kind of work), so I've made a few things I'm not really proud of...

https://goo.gl/jpQ5Lw

[2016-02-11 22:18] elioqoshi commented on #15
@gitbiz please feel free to file again if needed :)

[2016-02-11 22:21] gitbiz commented on #15
thank you - I just might :-)

On Thu, Feb 11, 2016 at 2:18 PM, Elio Qoshi <notifications@github.com>
wrote:

--
Diane (Bisgeier) Tate
415 250 1724
http://about.me/dbiz

[2016-02-11 23:17] elioqoshi commented on #24
Thank you @zelitomas !

here are 2 variants of mine:

![preview](https://cloud.githubusercontent.com/assets/5436686/12993757/79d70516-d11c-11e5-9bf4-613f2c313915.jpg)

[2016-02-12 01:35] seeam commented on #28
Hey, I may give it a try but after a few days. But @yofiesetiawan can you give me some brief that what type of content you want to present in the site?

[2016-02-12 01:50] seeam commented on #30
Hi, I'm interested too. Though I'm producing design for Mozilla Bangladesh community for almost two years accordingly style guide, still I have never worked with global community before.  I have produced lots of print design and event promotion material and worked with the Firefox OS social promo team.
But as a designer, I mostly create visual design for various interfaces (and I love it). So I wo

[2016-02-12 03:47] yofiesetiawan commented on #28
@seeam the idea is to share short information about MozCoffee activity, and how people can create their own MozCoffee in their country. Then showcasing pictures of MozCoffee activities... This could be 1 page site...

[2016-02-12 06:59] elioqoshi commented on #28
Maybe we can start with wireframes first?

[2016-02-12 07:00] elioqoshi commented on #30
@seeam so humble :D
Are you on Telegram?

[2016-02-12 08:03] seeam commented on #30
Yes, the nick is @seeam too on telegram.

Sashoto Seeam
Visual Designer,
https://dribbble.com/seeam

[2016-02-12 09:51] anistuhin commented on #16
Yeah, my bad. I didn't go through the contents but only the GitHub repo :P There really are only two to work on.

[2016-02-12 10:21] chrisglasier commented on #26
What I am asking for is for an assessment whether Mozilla should accept or decline my contribution. If it is accepted then it will really benefit from participation from both volunteers and staff. Please also see my note to Lucy [here](https://discourse.mozilla-community.org/t/time-limit-for-github-issues/6904/2).

[2016-02-12 11:45] seeam commented on #30
Mistakenly my previous comment copied my long email signature. Anyway my nick on telegram is @seeam too.

[2016-02-12 13:41] elioqoshi commented on #26
@chrisglasier I understand, but how is that related to community design?

[2016-02-12 15:23] LucyeoH commented on #31
@bwinton I added you as the "Mentor" and turned this into a "Mentored Issue" since it seems like it will use regular check-ins and support from staff to make sure it's on course. Is that cool?

[2016-02-12 15:32] seeam commented on #28
@yofiesetiawan can you give some link/context about how can people arrange their own MozCoffe? Cause I'm not a reps and not aware of the event approving / proposing procedure.

[2016-02-12 16:03] yofiesetiawan commented on #28
@seeam i'm not sure if i make a right definition about mozcoffee. But usually mozcoffee events can be sponsored by Mozilla because you have a mozilla rep helping for budget and swag request. But i think anyone who want to just create a meetup event and talking about mozilla, we can call that as mozcoffee already? How do you think? @elioqoshi

[2016-02-12 16:27] bwinton commented on #31
Sure, although I think it's already mostly done!  :smiley:

[2016-02-12 17:00] lime124 commented on #30
sign me up! :)

[2016-02-12 17:07] seeam commented on #28
I tried to create a wireframe and ended up with this, usually I don't pitch my wireframe (cause it's difficult for others to understand). Anyway, basically the site will have following segments:

- Tabzilla.
- The MozCoffee logo at the top.
- **A hero image**, we may chose it from past events. Also an attractive title like _Discuss the **Moz**illa Mission over a cup of **Coffe**._ Then we may put

[2016-02-12 17:49] cassiemc commented on #30
Thanks @lime124!

[2016-02-12 18:07] bslassey opened #32 "Electrolisys project logo design"
## Goal:

Assets for e10s swag
## Info:

zip up fleece
## Style Information:

I'm looking for a logo design. The project name lends itself to a few graphical themes. Electrolysis is the separation of elements (atoms) using direct current electricity, which is analogous to what the project did in separating the chrome of the browser from the web content into two separate processes. That leads to se

[2016-02-12 18:27] Mte90 commented on #31
![screenshot3](https://cloud.githubusercontent.com/assets/403283/13015477/9e165b6e-d1b9-11e5-850b-4a8bc3bc280b.png)
Finished!

[2016-02-12 19:00] yofiesetiawan commented on #28
Really nice job @seeam i think we can go with that...

[2016-02-12 22:40] elioqoshi commented on #31
@Mte90 Can you make the icons a tiny little bit bigger? It should be perfect then!

[2016-02-12 22:41] elioqoshi commented on #32
I would love to take it on, (especially if I have a chance for a zip up fleece :D )
WIll work on a proposal in the next days

[2016-02-12 23:35] Mte90 commented on #31
Uhm I have tried but with css is not possible, the only way is change the size of every svg.

[2016-02-13 04:56] chrisglasier commented on #26
I saw it as a prerequisite to the start of community design. But I am new here and would be happy to take  your advice. Please also see my latest note to Lucy [here](https://discourse.mozilla-community.org/t/time-limit-for-github-issues/6904/4).

[2016-02-13 05:50] natalieworth commented on #30
Yes! I'd be up for this!

[2016-02-13 09:23] elioqoshi commented on #31
Let's do it then. Can you do it yourself or do you need help?

[2016-02-13 09:48] elioqoshi commented on #26
Sorry, I am unable to comprehend the request and fail to see how it is related with Community Design (groundwork at least). In this meaning, this discussion should be held on Discourse, not on GitHub where design requests are sent in

[2016-02-13 10:54] Mte90 commented on #31
I can do it, actually the size is 16x16 but before to change all the dimensions I await @bwinton because I chosen the icons and I am not sure about these.

[2016-02-13 17:17] ecwebservices opened #33 "Logo Design"
I'm looking for a design for a logo. I already have one (that's used as my profile picture zoomed in), but I'm looking to get a better, higher resolution logo.

## My logo:
![ecws-badge-square](https://cloud.githubusercontent.com/assets/14031707/13028921/4bbf26fe-d243-11e5-8a37-c98cd0fdb3d9.png)

If someone can supply this I'll be much appreciated.

[2016-02-13 19:28] MedMack commented on #6
Can someone check if this issue can be close ? Logo with source files included in the last comment. cc @Mte90 @nicokant94 - thanks.

[2016-02-13 20:00] MedMack commented on #33
Hey, does this have any relation to Mozilla (products, communities, other,..) ? if so, what improvements you are seeking exactly ?

[2016-02-13 20:55] #33 closed

[2016-02-13 22:40] elioqoshi commented on #6
Thank you @MedMack!

[2016-02-13 22:40] #6 closed

[2016-02-14 12:59] MikkCZ commented on #24
I like those proposals. If you wouldn't mind, I have created a repository https://github.com/MozillaCZ/logo. @Ken-Saunders , @zelitomas , @elioqoshi - you should be able to commit there. Once all you final proposals are there, I will start my work on the vote and getting feedback from the community. Thank you all very much.

[2016-02-14 22:57] elioqoshi commented on #24
@MikkCZ not really familiar with pushing in GitHub, feel free to do it :)

[2016-02-16 05:20] seeam commented on #28
I have changed the wireframe a bit, here is a high fidelity wireframe created in Photoshop. What do you think?
![bootstrap3-1170px](https://cloud.githubusercontent.com/assets/7550283/13067849/229fdf58-d49f-11e5-9265-99ab56982728.jpg)

[2016-02-16 05:35] yofiesetiawan commented on #28
Hi @seeam it looks great. However, what about we change the blue bg color to coffee image as background, but adding some dark shade on the image?

And maybe separate those 3 icons from the blue background?
How do others think? @elioqoshi

Anyway @ioana-chiorean how is the news about the domain?

[2016-02-16 05:44] seeam commented on #28
Adding the 3 icons inside blue background was intentional. If you think about visual hierarchy, the page is divided into 4 sections.
1. Summary: Which is inside blue background and at the top. Invitation for creating someone's own event and what to do in a nutshell.
2. Instructions.
3. Past Experience
4. Footer.
That's why I keep those three tabs inside blue background.

And I am little confused a

[2016-02-16 05:46] yofiesetiawan commented on #28
Well nice explaination.. Can you share the psd file? So i can try to modify the layout? @seeam

[2016-02-16 05:50] seeam commented on #28
Sure, here is the PSD.
[MozCoffee Landing Page.zip](https://github.com/mozilla/Community-Design/files/131951/MozCoffee.Landing.Page.zip)

[2016-02-16 06:04] yofiesetiawan commented on #28
I mean something like this.. @seeam anyway we need someone to help to code...
![bootstrap3-1170px](https://cloud.githubusercontent.com/assets/2810823/13068413/c03eedf4-d4ad-11e5-8c81-e3b154d91fbb.jpg)

[2016-02-16 06:12] seeam commented on #28
Oh, but this image looks like we are opening a coffee business! :smile:
How about this, which symbolize community and coffee both?
![pitch-2](https://cloud.githubusercontent.com/assets/7550283/13068514/445f97da-d4a6-11e5-9426-f4a8c97ce282.jpg)

[2016-02-16 06:13] yofiesetiawan commented on #28
i like your idea @seeam

[2016-02-16 06:15] seeam commented on #28
By the I have forgot to mention that these icons I have used is from http://www.flaticon.com under CC 3.0 license.

[2016-02-16 12:06] anistuhin commented on #28
great things coming up, I see :) I can help coding it as soon you guys are done with selecting the final one @yofiesetiawan

[2016-02-16 15:25] bwinton commented on #31
And I think we're good to close this.  (I don't want to change the sizes of the source SVGs, so if we want to make them bigger, we'll need to figure out a different way, but in either case, I think what we have now is good enough to close this bug.  :wink:)

[2016-02-16 15:25] #31 closed

[2016-02-16 15:42] designakt commented on #30
Yes, sound great. Sign me up.
_(preferably for everything to do with Firefox Desktop and/or Add-ons.)_

[2016-02-16 17:20] MikkCZ commented on #24
@elioqoshi Added them there. Do you also have sources of them?

[2016-02-16 18:34] parag9d commented on #30
Hi,

I would really love to be a part of this. I am new to the Mozilla community
and would like to have a mentor to help me with the
Mozilla way of doing things :)

Here is my portfolio: https://dribbble.com/ParagNandi

Thanks.

Regards,
Parag Nandi

On Tue, Feb 16, 2016 at 9:13 PM, Markus Jaritz <notifications@github.com>
wrote:

[2016-02-16 22:57] Ken-Saunders commented on #25
https://github.com/Ken-Saunders/Mozilla-Community-Hardware-Logos

[2016-02-18 12:02] elioqoshi commented on #24
@MikkCZ Sure! Will send them in if it gets approved

[2016-02-18 12:04] elioqoshi commented on #25
@Ken-Saunders Sorry, but your proposals are very far from the Mozilla Brand Guidelines. Please take a look at them so you get a feel of it:

https://www.mozilla.org/en-US/styleguide/

@TomFarrow I will send in a proposal next week

[2016-02-18 13:06] Timmaks commented on #17
Theo community has choosen your design. Thanks. Can you provide a format we can use for the website, Facebook etc.

[2016-02-19 01:51] yofiesetiawan commented on #28
@ioana-chiorean do you already get the status of the domain?
@elioqoshi have any comments regarding last design draft?

[2016-02-19 08:20] pascalchevrel opened #34 "Create a logo for the Transvision project"
## Goal:
We would like a logo for the Transvision project
https://transvision.mozfr.org/

Transvision is the translation memory web application created by the French Mozilla community and now maintained by both staff from Mozilla l10n-drivers team and volunteers (mostly French). If you don't know what a translation memory is, it is a tool that indexes all the translations for all languages in Mozi

[2016-02-20 00:14] elioqoshi commented on #28
I have, but currently preparing for my last exam so need to comment later.
Let's put the proper logo on the header (fully in white) and the 3 icons in the middle to look more like the Mozilla ones on www.mozilla.org

The boxes should have different background colors, instead of white maybe?
Looking great so far!
@seeam can you share the PSD?

[2016-02-20 14:46] seeam commented on #28
Here it is.
[MozCoffee Landing Page (2).zip](https://github.com/mozilla/Community-Design/files/139162/MozCoffee.Landing.Page.2.zip)

[2016-02-22 03:48] pauljt commented on #10
@mart3ll ping?? Any update to share here?

[2016-02-22 04:59] ariestiyansyah commented on #6
Source of Firefox Milan Logo: https://github.com/mozilla/Community-Design/commit/aa53ff82c14c1b866791fbf3f7a1de5bfca18088

[2016-02-22 09:18] Timmaks commented on #17
@elioqoshi can you push it to https://github.com/Mozilla-Nederland/Resources/tree/master/logo?

[2016-02-24 12:11] davehunt commented on #12
I've had a sample of the running shirt, and it's a really lightweight and breathable fabric - perfect for running in. Depending on the temperatures you're running in, you may want to use a base layer though. Here's a photo of me wearing the men's size 6. Based on this I'm changing my order to a size 7 for a little extra room.

![img_8881](https://cloud.githubusercontent.com/assets/122800/13284903/

[2016-02-24 13:18] Mte90 commented on #16
I can help for the code. I will wait for the confirm of the design.

[2016-02-24 15:39] LucyeoH opened #35 "Design the Campus Campaign Website"
## Goal:
We need a design for the Campus Campaign website!

## Info:
The site needs to have descriptions of the three tracks or "impact areas" and then have two areas that push people to register either as a Campus Team or as a Campus Mentor.

We'd like a fun character for each track!

Here's a (bad) sketch!
![screen shot 2016-02-19 at 2 35 41 pm](https://cloud.githubusercontent.com/assets/8070833

[2016-02-24 15:40] LucyeoH commented on #35
Related to this issue [#1](https://github.com/mozilla/Campus-Campaign/issues/1)

[2016-02-24 15:41] #26 closed

[2016-02-24 16:20] LucyeoH commented on #8
Hey @ezoehunt this is cool idea but I think I'm missing the design component? Is this a community-design project or just research for IoT? If so, it might be a better fit in the [Participation Leaders Repo here](https://github.com/mozilla/participation-leaders-accountability/).

[2016-02-24 16:29] LucyeoH commented on #16
@mhoye can you confirm the design??

[2016-02-24 16:36] mhoye commented on #16
Man, how did I miss these? They both look great, but I'm leaning towards @yofiesetiawan's proposal.

[2016-02-24 16:45] yofiesetiawan commented on #16
@mhoye hi, here is the psd file, can someone help to slice and code? i'm just a psd guy...
sorry i've tried to drag and drop the file here, but it says it doesn't support, not sure why, it's a zip file. Please download from this dropbox link https://dl.dropboxusercontent.com/u/4450713/mozilla/firefox-onramp.zip

[2016-02-24 16:48] yofiesetiawan commented on #35
I would love to help on the layout part, but i believe we need professional illustrator to support here...

[2016-02-24 16:55] mmhyamin commented on #16
@mhoye and @yofiesetiawan so, this is final? @Mte90 how about a helping hand?

[2016-02-24 16:58] yofiesetiawan commented on #28
![mozcoffee-seeam-modified-yofie](https://cloud.githubusercontent.com/assets/2810823/13293432/3feb8012-db52-11e5-9aa6-0406e476d76b.jpg)
proposing revision.. anyway... who should be the one to decide which design is chosen? @elioqoshi

https://dl.dropboxusercontent.com/u/4450713/mozilla/mozcoffee-seeam-modified-yofie.zip

[2016-02-24 17:00] yofiesetiawan commented on #16
@mmhyamin usually after slicing and make it online, we need some adjustment.. i would love to help to do revisions needed if there's any...

[2016-02-24 17:02] seeam commented on #28
@yofiesetiawan if you are planning to do this change the shadow color of mug and tabzilla.

[2016-02-24 17:19] LucyeoH commented on #35
@yofiesetiawan if you can make the layout that would be awesome!! We can always add the illustrations later. Do you think it would be possible to get them by Friday? I know that's a crazy-short time line but though I would ask. ;)

[2016-02-24 18:05] LucyeoH commented on #12
@davehunt looks like you got some awesome designs here. Is this issue ready to close?

[2016-02-24 18:07] LucyeoH commented on #20
@mhoye looks like you got an awesome robot here! Is this done and ready to close?

[2016-02-24 18:13] mhoye commented on #20
This is pretty great, let me leave this open until I've implemented it though.

[2016-02-24 18:43] davehunt commented on #12
@LucyeoH yeah, I think the design part is over, thanks! If anyone is interested in following along from here, let's use the [running club mailing list](https://groups.google.com/a/mozilla.com/forum/#!members/running).

[2016-02-24 18:43] #12 closed

[2016-02-24 19:30] mmhyamin commented on #16
@Mte90 I will be able to start coding from 28th February. I will use

1. Package Management System: Bower
2. CSS Preprocessor: SCSS
3. CSS Framework: Bootstrap 3.

If you have any suggestion let me know.

[2016-02-25 03:57] yofiesetiawan commented on #35
Let's start discussion with this?
Characters still just dummy...
![01-home](https://cloud.githubusercontent.com/assets/2810823/13309359/8ad325f6-dbae-11e5-9fde-097d8947e51e.jpg)

[2016-02-25 04:37] jkachhadia commented on #34
![moz](https://cloud.githubusercontent.com/assets/12187577/13309942/7e80e9de-dba7-11e5-8fc6-f78b161b386e.png)

[2016-02-25 05:02] jkachhadia commented on #25
![moz2](https://cloud.githubusercontent.com/assets/12187577/13310316/f44ff77e-dbaa-11e5-94b5-5086dec8e879.png)

[2016-02-25 05:10] jkachhadia commented on #34
@pascalchevrel check the above logo for transvision!

[2016-02-25 05:11] jkachhadia commented on #25
how's this ? @TomFarrow

[2016-02-25 05:15] flodolo commented on #34
Thanks for the proposal. There are a few issues the way I see it:
* Transvision is not just about Firefox, it's a about several Mozilla projects (Firefox, Thunderbird, SeaMonkey, mozilla.org, Firefox for iOS, Fennec). If it has graphic references, it should be to Mozilla.
* I don't think it can scale down gracefully to small sizes with this amount of details.

[2016-02-25 06:35] jkachhadia commented on #34
![moz11](https://cloud.githubusercontent.com/assets/12187577/13311858/fc30e77a-dbb7-11e5-8183-af20faf74c45.png)
![moz12](https://cloud.githubusercontent.com/assets/12187577/13311859/fdae18ac-dbb7-11e5-9051-b3f3decb75ca.png)

[2016-02-25 08:44] davehunt commented on #12
@seeam could you provide your orange runner shield with motion lines as a high quality image with transparent background? It would be great to have one version without the wordmark, and one version with it. Thanks!

@jenpez could you provide a high quaility version of your runners both with and without the wordmark, with a transparent background? Thanks!

[2016-02-25 08:53] TomFarrow commented on #25
Could we make the text a solid colour?

I really like the graphics, the text is just a little unclear and doesn't
quite conform with Mozilla's standard branding.

On Thu, 25 Feb 2016 at 05:11, Jay Kachhadia <notifications@github.com>
wrote:

--
Tom Farrow
Community Web Services
Mozilla

[2016-02-25 09:11] seeam commented on #12
Here it is!
[Mozilla Running Club Logo.zip](https://github.com/mozilla/Community-Design/files/146229/Mozilla.Running.Club.Logo.zip)

[2016-02-25 09:21] TomFarrow commented on #25
(Another thing, can we go ahead and change from "community hardware" to
"community Servicedesk"? Scope of the project has expanded but the branding
still most definitely works!)
On Thu, 25 Feb 2016 at 08:53, Tom Farrow <tom@mozilla.org.uk> wrote:

--
Tom Farrow
Community Web Services
Mozilla

[2016-02-25 10:57] davehunt commented on #12
Thanks @seeam. Could you also provide a version with the wordmark in white or light grey? I'm hoping to have the shirt color to be blue, and the dark grey doesn't provide enough contrast to make it readable.

[2016-02-25 11:08] Mte90 commented on #16
For me is ok do you will use grunt or gulp?
I can help you in that ticket when you start to work on that.
I keep in touch with you by email in case if there are problems.

[2016-02-25 11:25] jkachhadia commented on #25
@TomFarrow made the text color solid and and now it's clear!
![moz22](https://cloud.githubusercontent.com/assets/12187577/13318390/7acf4d7e-dbe0-11e5-9005-812636e54631.png)
![moz23](https://cloud.githubusercontent.com/assets/12187577/13318389/799fa32c-dbe0-11e5-99eb-88e480f0a95e.png)

[2016-02-25 11:45] jkachhadia commented on #34
@flodolo this solves the problem and is relating as well :)

[2016-02-25 12:01] TomFarrow commented on #25
Almost there :)

How does it look if we lower case the 's' and make the 'community
Servicedesk' a colour that isn't red
On Thu, 25 Feb 2016 at 11:25, Jay Kachhadia <notifications@github.com>
wrote:

--
Tom Farrow
Community Web Services
Mozilla

[2016-02-25 12:08] jkachhadia commented on #25
there you go @TomFarrow  :)
![moz223](https://cloud.githubusercontent.com/assets/12187577/13319251/8f8f218e-dbe6-11e5-9592-5df7e30b0dce.png)

[2016-02-25 14:50] seeam commented on #12
Here you go.
[Mozilla-Running-Club-Logo-white.zip](https://github.com/mozilla/Community-Design/files/146722/Mozilla-Running-Club-Logo-white.zip)

[2016-02-25 16:27] jkachhadia commented on #30
hey,
I am a designer/animator/Frontend web developer and would like to be a part of this program.I would love to work with the mozilla's global community.I would love to have awesome mentors like you guys.
Resume with portfolio links : https://drive.google.com/file/d/0B8QJe4owuNjMeXlOWEd5a0ZMZXM/view?usp=sharing
Regards
Jay Kachhadia

[2016-02-25 21:42] LucyeoH commented on #35
Hey @yofiesetiawan,
This is great!! Thanks so much! A few initial thoughts.

* I don't think "choose yours" needs to be a button. Just a big call to action for people to choose from the ones below.

* Can we change the top banner color to something more inviting maybe another colour or even a graphic?

* Can we stack "become a campus team" above "become a local coach". We want to highlight the cam

[2016-02-26 03:44] jenpez commented on #12
@davehunt <https://github.com/davehunt> Here are the logos, let me know if
you have any issues with them.

On Thu, Feb 25, 2016 at 9:50 AM, Sashoto Seeam <notifications@github.com>
wrote:

[2016-02-26 16:04] LucyeoH commented on #35
@flukeout I know you're probably busy but I have heard legend of your drawing abilities and wonder if you would have any time to help us draw our three little characters for this project? No worries if you don't!

[2016-02-26 16:06] LucyeoH commented on #30
@cassiemc let me know if you want me to also send an email to the contributor mailing list about this!

[2016-02-26 16:54] cassiemc commented on #30
That would be awesome @LucyeoH! Only I'm just not sure what the next step is. Maybe you and I could put our heads together?

[2016-02-26 17:01] LucyeoH commented on #35
@seeam I saw your awesome illustration work on issue #20 and was wondering if you could help out with creating illustrations for the design above.

We're envisioning three characters:
1.  Representing the Education & Awareness track - (maybe holding chalk and wearing glasses or something?)
2. Representing Policy and Advocacy (maybe carrying a megaphone?)
3. Representing Technology & Innovation (ma

[2016-02-26 17:10] seeam commented on #35
@LucyeoH firstly that was not my illustration, I used them under CC license (and it was mentioned there). I'm not that much good with illustration but hopefully I can produce some flat illustration. I will try to create some but it will take one or two day.

[2016-02-26 17:32] LucyeoH commented on #35
@seeam ah gotcha! I'll see if @elioqoshi or @flukeout have any ideas either!

[2016-02-26 18:50] mijanurrahman commented on #28
Great thing (y) and Great design @seeam :D Love it

[2016-02-26 19:33] davehunt commented on #12
Here's the designs so far. Comments and feedback welcome!

![front](https://cloud.githubusercontent.com/assets/122800/13363094/b31bb458-dcbf-11e5-8fda-84345655e5cc.png)
![side](https://cloud.githubusercontent.com/assets/122800/13363098/b6300d88-dcbf-11e5-8160-c4fb99514c41.png)
![back](https://cloud.githubusercontent.com/assets/122800/13363102/b8732bc0-dcbf-11e5-979d-e6edff325c8d.png)

[2016-02-27 04:39] yofiesetiawan commented on #35
@LucyeoH revised..

![02-home](https://cloud.githubusercontent.com/assets/2810823/13370818/b3372364-dd46-11e5-9b0f-738a59b5571f.jpg)

[2016-02-27 10:46] paarttipaabhalaji commented on #35
hi all, I'm paarttipaabhalaji

I'm very interesting to join with us. please guide me.

On Fri, Feb 26, 2016 at 3:12 AM, LucyeoH <notifications@github.com> wrote:

[2016-02-27 10:52] yofiesetiawan commented on #35
hi @paarttipaabhalaji what are your background?

[2016-02-27 13:13] fauzanalfi commented on #29
First update on the design. It's still on progress and needs more refinement.

<img width="1252" alt="screen shot 2016-02-27 at 8 04 24 pm" src="https://cloud.githubusercontent.com/assets/1860909/13373027/774d461a-dd8e-11e5-97ce-91221a7d434a.png">

[2016-02-28 03:08] paarttipaabhalaji commented on #35
Web designing using html 5,css 3 and js

On 2/27/16, yofiesetiawan <notifications@github.com> wrote:

[2016-02-28 06:00] seeam commented on #35
What do you think about this @LucyeoH ? Changed the layout's idea of yofiesetiawan for better placing of the icons and increasing readability of header.
This characters are ripped-off form https://goggles.mozilla.org/, I'm not sure is it OK to use! But I think these characters serves the purpose quite well.
![cc-micro-site](https://cloud.githubusercontent.com/assets/7550283/13377745/83a1f530-de12-

[2016-02-29 18:19] yofiesetiawan commented on #29
Good job @fauzanalfi :)

[2016-02-29 21:24] LucyeoH commented on #35
@yofiesetiawan @seeam thank you both for these wonderful designs.

@yofiesetiawan I shared the one you made around a bit and everyone loved it! Would you mind sharing the source files for it so we can share with our developers?

@seeam thanks so much for putting this together! We were a little worried about using assets from other campaigns but loved the layout and colours!

[2016-02-29 21:29] LucyeoH opened #36 "Need Characters Created for Campus Campaign Website"
## Goal:
We need three characters (cartoons? people? foxes?) created who can represent the three tracks of the campus campaign:
* education & awareness
* policy & advocacy
* technology & innovation

They will go in the three circles here, but will (hopefully) appear in assets throughout the campaign:
![02-home](https://cloud.githubusercontent.com/assets/2810823/13370818/b3372364-dd46-11e5-9b0f-738

[2016-03-01 05:25] yofiesetiawan commented on #35
@LucyeoH actually i like @seeam approach on footer, so i try to apply to mine.. i hope that's okay.. but here i attached 2 versions i made...

Not sure why i can't attached zip files here..
https://dl.dropboxusercontent.com/u/4450713/mozilla/GitHub/campus-campaign/02-home.psd.zip
https://dl.dropboxusercontent.com/u/4450713/mozilla/GitHub/campus-campaign/03-home.psd.zip

![03-home](https://cloud.gi

[2016-03-01 15:11] pascalchevrel commented on #34
I like the simplicity of the logo, but it is a bit high in vertiality I think. I am thinking of how we can integrate it on the website or as a favicon while keeping its readability.
@TheoChevalier  what do you think?

[2016-03-01 15:29] TheoChevalier commented on #34
I really like the shadow-less version :)

Yeah, I think it's too high as well, but I like the idea behind it.
The "T" should be easy to turn into a favicon, maybe with a wider white strip to render as 1px-wide on a favicon.

[2016-03-01 16:13] fauzanalfi commented on #29
Here's some design update on floor plan and elevations of the Space.

![jakarta space - layout](https://cloud.githubusercontent.com/assets/1860909/13433139/24cec63a-e003-11e5-8a59-06c9ea3370ad.jpg)

[2016-03-01 16:55] brutalcrozt commented on #35
Hi i am Adi,
Interesting :smile: , i join #UX on irc and just pointed here.

[2016-03-01 16:58] jkachhadia commented on #34
@pascalchevrel   @TheoChevalier
I was thinking that we could use only T or the graphic above T as the favicon and this one as the the entire logo for transvision? Or do we need some changes?

[2016-03-01 17:07] flodolo commented on #34
A couple of thoughts:
* I'd really like the idea of a favicon that could be more recognizable that the single letter. The first part of the icon is the "international standard icon" for localization, so we might generate confusion there.
* I would also try an alternative palette of colors.

[2016-03-01 18:43] yofiesetiawan commented on #35
hi @brutalcrozt welcome! are you a coder?

[2016-03-01 18:53] anistuhin commented on #35
Hey, guys, I can help with the front end, I am a coder.

[2016-03-01 19:56] brutalcrozt commented on #35
@yofiesetiawan yeah, web stuff. But i like more code than design

[2016-03-01 22:05] phinity commented on #35
@brutalcrozt @anistuhin I'm going to be able to start the development of this tomorrow, if you want to collaborate that would be great. Nice design @yofiesetiawan I like it with @seeam 's bottom.

[2016-03-01 22:34] brutalcrozt commented on #35
@phinity create, maybe i can help. vanilla html5, css3 and js?

[2016-03-01 22:59] phinity commented on #35
@brutalcrozt I'm going to go a bit more complex and use Wordpress with some tools like Grunt and Bower. Css will be Less.

[2016-03-01 23:27] brutalcrozt commented on #35
@phinity I am not yet familiar with Wordpress but i use codeigniter, it should not create trouble.
i use grunt a bit, and angularjs lately. Maybe it's good to move the discussion and creating some to-do?

[2016-03-01 23:37] phinity commented on #35
@brutalcrozt I'll ping you at the email on your Github account to discuss. FYI the project will live at: https://github.com/mozilla/takebacktheweb.mozilla.org

[2016-03-02 03:58] yofiesetiawan commented on #36
This issue relate to https://github.com/mozilla/Community-Design/issues/35
I was proposing new design for bottom, adapting @seeam design...

![a08c9c44-dfa8-11e5-8b70-100ea96c3b85](https://cloud.githubusercontent.com/assets/2810823/13450217/9d73ae68-e065-11e5-8318-0207138d847b.jpg)

[2016-03-03 15:28] almet commented on #21
Hi, and thanks to everyone involved so far in this foray to find the best logo for Kinto!

I've asked @AymericFaivre to do some changes on his proposition, but he seems very busy (and I don't blame him for that!), but I think we should try to move this forward.

@jenpez proposal seems a good step in the right direction, so maybe we can iterate on this, and mix it with the proposal @AymericFaivre d

[2016-03-03 20:03] mmhyamin commented on #16
Here is the demo site link: [http://mmhyamin.github.io/onramp-test/](http://mmhyamin.github.io/onramp-test/)
Source: [https://github.com/mmhyamin/onramp](https://github.com/mmhyamin/onramp)

[2016-03-03 20:45] ioana-chiorean commented on #29
I added another space to get the best of the room:
![screenshot 2016-03-03 22 15 13](https://cloud.githubusercontent.com/assets/1391451/13508788/2323b572-e191-11e5-9282-5d2125751f4d.png)
![screenshot 2016-03-03 22 16 08](https://cloud.githubusercontent.com/assets/1391451/13508786/232212c6-e191-11e5-9759-8752e577a1e3.png)
![screenshot 2016-03-03 22 17 01](https://cloud.githubusercontent.com/assets/

[2016-03-04 02:21] yofiesetiawan commented on #16
@mhoye do you need inside pages?

[2016-03-04 02:22] mhoye commented on #16
I don't think so, but let me get this stood up on the site tomorrow and I'll tell you for sure.

[2016-03-04 02:27] fauzanalfi commented on #29
@ioana-chiorean love it! :heart_eyes: Overall, I really like your inputs. We will discuss it with Jakarta Comspace Crew and see if it's fit with our budget. /cc @yofiesetiawan

[2016-03-04 11:25] flaki commented on #29
Not sure why was I summoned into the thread, but I sure do love the pigfoxes! :relaxed:

[2016-03-04 17:57] MozStacy opened #37 "Logo needed for Mozilla Policy Events"
## Goal:

Mozilla policy volunteers are in need of a logo with our name incorporated.
## Info:

The logo will be used for on our events wikis and events materials (similarly to how we use our Privacy Lab logo now).
## Style Information:

We think we'd like the design to be a fox (like the plushie fox) with Raegan MacDonald's glasses on.  I have attached a photo.  The logo should also incorporate t

[2016-03-05 13:17] ioana-chiorean commented on #29
Just for the fox pillows. sorry for the fox-spam.

[2016-03-06 11:40] elioqoshi commented on #17
@Timmaks sorry for the delay! Here is it:
https://github.com/mozilla/Community-Design/tree/master/Mozilla-Netherlands

Feel free to clone/fork it

[2016-03-06 11:41] #17 closed

[2016-03-06 11:45] elioqoshi commented on #29
Holy! Great job guys! A good example how Community Design goes far beyond than graphic design only :)

@LucyeoH this is a really amazing case study

[2016-03-06 11:48] elioqoshi commented on #37
@MozStacy Thanks for submitting the issue!

I'm not sure how a glass wearing fox would be related to Policies, could you please clarify that?
Also, is "Mozilla Policy" the final name?

Thanks!

[2016-03-06 11:49] elioqoshi commented on #16
Amazing teamwork guys! @mhoye let me know if you need anything else here :)

[2016-03-06 11:49] elioqoshi commented on #16
Oh, also don't forget to push the source files to our repo and/or link on here after finished

[2016-03-06 11:51] elioqoshi commented on #21
I've lost quite track of the issue, let me know what you need and I will help out :)

[2016-03-06 11:57] elioqoshi commented on #36
Is the campaign website layout finished with only the characters remaining?
I will reach out to some friends of mine to help out here. @Raphseck is this something for you?

[2016-03-06 12:01] elioqoshi commented on #12
@davehunt looking good! the runners and the Mozilla logo should be white though, would be the best. :)

@seeam could you push final source files to our repo via a new folder? @ariestiyansyah can help if you need to

[2016-03-06 12:59] elioqoshi commented on #34
@pascalchevrel @flodolo Here is my proposal.

I added the eye icon and arrows to indicate "Trans - Vision" symbolically.
I personally prefer the bottom one. What do you think?

![draft-01](https://cloud.githubusercontent.com/assets/5436686/13554256/826cc92e-e3a3-11e5-9b93-e79811bb5626.jpg)

[2016-03-06 13:03] elioqoshi commented on #28
@yofiesetiawan can we make the 3 circles in different colors? Also, you can find the logo here:
https://wiki.mozilla.org/ReMo/SOPs/MozCoffee

Furthermore, maybe a very transparent background image behind the brown background?

@yofiesetiawan @seeam please post it on Discourse and/or Reps General after it's finished so we can get people's thoughts to choose the most popular choice.

[2016-03-06 13:04] elioqoshi commented on #28
P.S: I personally prefer Yofie's variant (with the changes I suggested also)

[2016-03-06 13:08] elioqoshi commented on #25
@jkachhadia Thanks for the submissions! Unfortunately they are out of our branding guidelines. Please check our style guide and other official Mozilla logos to get a better understanding of the branding:
https://www.mozilla.org/en-US/styleguide/

@TomFarrow I can give this a try next week if you like.

[2016-03-06 13:09] elioqoshi commented on #20
@mhoye implemented and ready to close? ;)

[2016-03-06 13:11] elioqoshi commented on #8
@LucyeoH Can we imigrate this to the other repo and close this or how should we proceed?

[2016-03-06 13:36] elioqoshi commented on #25
![1](https://cloud.githubusercontent.com/assets/5436686/13554467/c3731dba-e3a8-11e5-9011-1603f258c664.jpg)

My proposal here.

[2016-03-06 13:39] TomFarrow commented on #25
Thanks Elio.

That's awesome.

Can you send me the typical web+print exports? :)

[2016-03-06 13:44] elioqoshi commented on #10
@pauljt @mart3ll let me know how to proceed with this :)

[2016-03-06 13:58] elioqoshi commented on #25
@TomFarrow here we go:
http://elioqoshi.me/owncloud/index.php/s/GFDGBvZkjKJrh9f

@ariestiyansyah can you push this into our repo? :)

[2016-03-06 14:46] Timmaks commented on #17
Thanks!

[2016-03-06 14:50] seeam commented on #12
@elioqoshi done!

[2016-03-06 14:56] Raphseck commented on #35
Hi guys, can i help with characters? : ))))

[2016-03-06 14:57] elioqoshi commented on #35
@Raphseck Yes! Here :)
https://github.com/mozilla/Community-Design/issues/36

[2016-03-06 16:25] yofiesetiawan commented on #35
@Raphseck can't wait! :D

[2016-03-06 16:26] yofiesetiawan commented on #36
I would love to get rid the 'hero image' and highlight the characters, later..

[2016-03-06 16:54] Raphseck commented on #36
great layout
Loved

[2016-03-06 16:55] elioqoshi commented on #36
@Raphseck can you come up with 3 characters like you did for your other projects?

[2016-03-06 16:57] Raphseck commented on #36
yes i can! : )
lets do this

[2016-03-06 16:57] elioqoshi commented on #36
Awesome! Let us know if you need help

[2016-03-06 20:25] jenpez commented on #12
@davehunt Here's the logo with the runners and Mozilla logo in white.
![mozillarunningclub](https://cloud.githubusercontent.com/assets/16767717/13556754/a830000c-e3af-11e5-92fc-ab89addd0f31.png)

[2016-03-07 01:07] ezoehunt commented on #8
@LucyeoH I've closed this issue, as our team has what we need to move forward.

When the Mozilla design teams were introduced to this repo, we talked about using it for design-related tasks like user research and other design-related activities. As Mozilla moves towards a more holistic UCD process, there will be more activities like this, and we'd like to include community designers in them.

In m

[2016-03-07 01:08] #8 closed

[2016-03-07 10:22] elioqoshi commented on #12
@jenpez do you have it in vector format or higher resolution? The resolution you provided is quite not suitable for print.

[2016-03-07 18:44] Raphseck commented on #36
Hey guys!
Here some sketches of BASIC characters without big characteristics!
What do you thing about this path?
(and sorry about my english) : /

![sketches](https://cloud.githubusercontent.com/assets/14264676/13579272/59d37de0-e47b-11e5-8b64-39d8a9bc97b2.png)

[2016-03-07 19:20] LucyeoH commented on #36
Thank you so much! These are adorable and I think there are a number of places we can use them!! Could you send me the files for the foxes?

For the front page we found some old graphics that  we adapted to represent the three impact areas!

Thanks again!!

![screen shot 2016-03-03 at 12 13 32 pm](https://cloud.githubusercontent.com/assets/8070833/13580286/8603e082-e46f-11e5-979c-495a693350d8.png)

[2016-03-07 19:21] #36 closed

[2016-03-07 19:22] LucyeoH commented on #35
Thanks so much for everyone who helped on this! Very excited to see this website going live this week!!

[2016-03-07 19:22] #35 closed

[2016-03-07 19:37] Raphseck commented on #36
@LucyeoH great graphics! :)
loved!

Ok!!
what foxes?
My badges or those sketches?

[2016-03-07 21:14] jenpez commented on #12
@elioqoshi I tried to send the vector file as a zipped file but github wouldn't accept it. I made the png larger and saved it at 300dpi.
![mozillarunningclub](https://cloud.githubusercontent.com/assets/16767717/13583454/6dafa54c-e47f-11e5-89bc-9858689a57e1.png)

[2016-03-07 23:05] elioqoshi commented on #12
Then upload the vector file somewhere and link here @jenpez :)
Thanks!

[2016-03-07 23:08] elioqoshi commented on #36
@LucyeoH They look great! However, them having the same pose and expression make them look a bit repetetive. It would be great if they could have some slight differences.

@Raphseck We need a characterpack by you, these are amazing!

[2016-03-07 23:58] jenpez commented on #12
@elioqoshi Done!
https://www.dropbox.com/s/txe35b1doraub0q/MozillaRunningClub.eps?dl=0

[2016-03-08 09:12] davehunt commented on #12
Thanks everyone. Here's the shirt updated with the latest graphics:
![front](https://cloud.githubusercontent.com/assets/122800/13596952/a7141d48-e50d-11e5-8e96-e418ef9c2cf9.png)
![back](https://cloud.githubusercontent.com/assets/122800/13596963/b50095c6-e50d-11e5-9893-1900f462e385.png)

[2016-03-08 10:58] elioqoshi commented on #12
Looking great! Thanks guys!
@ariestiyansyah could you push to repo please? :D

[2016-03-08 11:25] elioqoshi commented on #34
@pascalchevrel @flodolo Looking forward to your feedback :)

[2016-03-08 12:34] pascalchevrel commented on #34
I really like the last iterations :+1:
I don't know if we can use the mozilla wordmark because although this is a software largely developed by Mozilla employees, it is not an "official" mozilla project on a mozilla.org domain, it's a community project on which Mozilla puts resources.

The third logo is more sophisticated but I don't know how it would fit as a favicon, maybe we should take one of

[2016-03-08 14:20] ariestiyansyah opened #38 "FOSSASIA Name Card Design"
## Goal:
[What you'd like created]

Ask Me Anything about Mozilla Design

## Info:
[What it will be used for/where it will go]

Please help us design name card used for FOSSASIA 2016 event with text "I am Mozillians! Ask Me Anything about Mozilla"

## Style Information:
[What you want it to look like, link to references, similar things etc.]

Name Card

## Deadline:
[When would you like this done

[2016-03-08 14:24] ariestiyansyah commented on #38
@elioqoshi can you help us?

[2016-03-08 16:35] flodolo commented on #34
Same here. I like the colors and the icon in the third version, we should probably try to resize it down to 16px to check what's understandable if we use it as favicon.

[2016-03-08 19:57] elioqoshi commented on #38
Yep, leave this to me :)

[2016-03-08 19:58] elioqoshi commented on #38
I need more details: dimensions and the fossasia vector logo

[2016-03-08 20:20] francjp commented on #38
Hi @elioqoshi,

I don't think that we need the fossasia logo for this, since the plan is to use it on other events. The dimensions would be a business card.

The plan is to give to people at events, as a way to contact, or icebreaker.

Thanks

[2016-03-09 09:16] elioqoshi commented on #38
Aha, I thought that would be a lanyard badge. Why don't we go with our original Mozillians Business card design?

[2016-03-09 09:55] francjp commented on #38
Could it be an option... where do we have that?
But in any case, I want to add the "Ask me anything about Mozilla..." in the Reps business card, that will be lost... I can make something, but I need to know the font.

[2016-03-09 20:25] LucyeoH opened #39 "Join the Mozilla Re-Brand Challenge!"
## Background:
For the past 10 years the dino has been the symbol of Mozilla. Today we are thinking of ways to breath new life into the Mozilla symbol based on the [strategic narrative](https://air.mozilla.org/friday-plenary-wrap-up/) Chris Beard shared in Mozlando.

Mozilla's [creative team](https://blog.mozilla.org/creative/2016/03/04/mozilla-is-getting-a-new-brand-look/) is challenging you to d

[2016-03-10 18:08] elioqoshi opened #40 "Fedora & Mozilla Activity Days Designs"
In joint efforts with Fedora, we have organized Fedora & Mozilla Activity Days where the community gets involved with both projects. I created the design here for the banners, including the cubes patterns. The dimensions are optimized for facebook cover images. I will add the source files soon.

![blue background-01](https://cloud.githubusercontent.com/assets/5436686/13679330/81550026-e6f3-11e5-9a

[2016-03-10 18:10] elioqoshi opened #41 "Mozilla NDA Graphic"
![colors](https://cloud.githubusercontent.com/assets/5436686/13679369/afdaab80-e6f3-11e5-9ad3-6a6d82140062.png)
![white](https://cloud.githubusercontent.com/assets/5436686/13679370/afdd5d6c-e6f3-11e5-8af6-821ebf1d7426.png)

[2016-03-10 18:28] jdittrich commented on #39
Gutsy= brave, bold, courageous (Since we are an international community and »Gutsy« not a very common word)

[2016-03-10 18:40] MichaelKohler commented on #36
Really like the one with the header image. I'm not sure if we need a clean
design here.
On 10 Mar 2016 18:35, "yofiesetiawan" <notifications@github.com> wrote:

[2016-03-10 18:44] elioqoshi commented on #36
I like the 1st alternative too, it has more human touch. Further, the faces of Mozillians might be too obscured in the image, maybe the very first try was better? But maybe I'm biased as I am in that photo :P

[2016-03-10 18:51] yofiesetiawan commented on #36
Little adjustment...
![04-home](https://cloud.githubusercontent.com/assets/2810823/13680566/ad7537d8-e72b-11e5-96b6-8178a19ff4fd.jpg)

[2016-03-10 19:00] elioqoshi commented on #36
My face is back in, approved!

lol jk, but this looks better imo :)

[2016-03-10 19:01] elioqoshi commented on #36
The menu items should be on the right, near Tabzilla, or not?

[2016-03-10 19:06] MichaelKohler commented on #36
It should be to have consistency.
On 10 Mar 2016 20:01, "Elio Qoshi" <notifications@github.com> wrote:

[2016-03-10 23:27] elioqoshi commented on #41
This is requested via email to me personally. Opening this up here and attaching source files:
https://github.com/mozilla/Community-Design/tree/master/NDA-Graphic

[2016-03-10 23:33] #41 closed

[2016-03-11 00:00] elioqoshi commented on #34
Using the Mozilla wordmark should be no problem here. I have created dozens of internal logos until now and this goes under the category where it should be okay :)

Looks good to me as a favicon. If in doubt, we can choose just the 2 cards in plain colors for a favicon. Preview here:

![transvision](https://cloud.githubusercontent.com/assets/5436686/13688818/97483ad4-e724-11e5-8f07-0f5029e81cd9.jp

[2016-03-11 05:56] flodolo commented on #34
The empty cards look a bit anonymous, while the first version (even if 32px) looks still recognizable. Personally I really like it.

[2016-03-11 08:42] elioqoshi commented on #34
@flodolo I'd suggest using the empty cards for 16x16 if needed. for 32x32 we can use the original one like usual. :)

[2016-03-11 08:43] elioqoshi commented on #34
btw, the empty cards is just to show the scale down, it would be used only for the smallest resolution.

[2016-03-11 09:21] pascalchevrel commented on #34
I am convinced :+1:  Thanks Elio, that looks very nice, Can you upload an archive with all the files to this issue and I'll work today on integrating the logo to our site :)

[2016-03-11 10:00] elioqoshi commented on #34
@pascalchevrel My pleasure! Will push soon to the repo with all needed files :)

[2016-03-11 11:00] elioqoshi commented on #34
@pascalchevrel here we go!
https://github.com/mozilla/Community-Design/tree/master/Transvision

[2016-03-11 11:00] #34 closed

[2016-03-11 16:07] pascalchevrel commented on #34
Here is the logo integrated on our dev site https://transvision-beta.mozfr.org/ (we also added you to our credits page).

[2016-03-12 10:11] elioqoshi opened #42 "Tech Speakers logo potential update & style discussion"
Our current Tech Speakers logo has a wide orange gradient spectrum, limiting the choice of background colors to use with it. We have found ourselves use the blue heart as a background to avoid this. To give this a small update, I tweaked the colors of the gradient-like shapes to more saturated and darker colors, in order for it to look good also on white backgrounds. The third logo is the original

[2016-03-14 12:29] francjp commented on #38
Closing this one, since there wasn't any feedback, or reply, and we are running out of time with this. We will sort it out without a design.

Cheers,

[2016-03-14 12:29] #38 closed

[2016-03-14 15:39] viswanathamsantosh opened #44 "Mozilla Hyderabad Logo design"
## Goal:
Mozilla hyderabad has been one of the most active community with active volunteers in many diversified projects and having a logo will help us for more for more branding and reachout at various Non-mozilla community events around Hyderabad.

## Info:
Designing posters, Club launch programs, To put the logo up at other Technical meetups and conferenences around hyderabad.

## Style Informa

[2016-03-14 21:59] elioqoshi commented on #44
Thanks Santosh! Taking this on :)

[2016-03-14 22:00] elioqoshi commented on #38
argh sorry, forgot to followup here, maybe a bit more buffer next time

[2016-03-14 22:06] havi commented on #42
@elioqoshi Thanks for doing this work - I agree w/you on #2 - I think it reads best on a white background. I strongly prefer to keep the blue background for as many use cases as possible - I think the blue really makes it all sing...  Question: Is the lettering you're using a Moz standard shade of charcoal gray? HTH...

[2016-03-14 22:52] fahrulrazy opened #45 "Mozilla Community Makassar"
## Goal:

We would like to create every Firefox Club Logo and Mozilla Club Logo in East Indonesia as one of our promotion strategy campaign. We have created two logos (PNUP Firefox Club and Mozilla Club Makassar)
## Info:

The logo will be used for event's publication (poster, pamphlet, etc) and also we would like to create sticker. We also need FSA logo in vector
## Style Information:

Simple, th

[2016-03-15 06:23] viswanathamsantosh commented on #42
Hey elio, Amazing work as always. I like the 2nd logo on blue background. Even the black and white logo looks good.may be we can use it when needed. :)

[2016-03-15 07:16] anefzaoui commented on #42
Hey Elio,
Text on white is indeed good looking. I like it and I feel like it rhymes with the visual identity of other text-based Mozilla brands. But I feel like the Orange-white-ish grandient doesn't look good on white, maybe a little bit of contour aka borders would help?

I still like the text on blue background the most tho, I feel like the blue is what gives "TechSpeakers" as an identity its u

[2016-03-15 10:38] elioqoshi commented on #45
Hi @fahrulrazy !
I'm not sure what your request is here. Also, I do not think it's wise to create a logo for every Club in such a big quantity, it would be rather smart to have a general Firefox Club logo template, and you add the name of the Club behind it

[2016-03-15 11:20] fahrulrazy commented on #45
Hello @elioqoshi
Thanks for your advise, I think that's good idea. Is there any general Firefox Club logo template? or we can create by ourselves?

[2016-03-15 11:55] MikkCZ commented on #24
I've created a form as part of https://github.com/MozillaCZ/logo/issues/1 and shared today via Twitter and Facebook. There are already few tenths of responses - I will let the form open till the next week and share the summarized feedback here.

[2016-03-16 05:03] brutalcrozt commented on #39
:ear:

[2016-03-16 05:10] brutalcrozt commented on #28
may i ask why developer needed here?

[2016-03-16 08:45] elioqoshi commented on #42
Thanks guys!

@havi Yep, standard MozGray

@anefzaoui borders wouldn't help really. White background should be a rare usecase (I hope not more than 10%) so we should try to keep it consistent. It's like the Facebook logo. You usually see it white on blue, but they also have a version blue on white for specific cases. Blue stroke looks really bad on white also :/

SVG also of course, it's more like

[2016-03-16 09:06] elioqoshi commented on #28
Someone needs to code it ;)
@yofiesetiawan where are we with this?

[2016-03-16 09:39] elioqoshi commented on #39
I gave this a try, and I am a fan of design choices which will emphasize the diversity and inclusiveness at Mozilla. For this, I am a big supporter of texture design language, where we use different textures for various situations. This could be grunge, watercolours, sand, grain, cloth etc. We could differentiate ourselves from more sterile design languages, like Material Design, yet have enough f

[2016-03-16 10:01] #25 closed

[2016-03-16 10:02] yofiesetiawan commented on #28
@elioqoshi i have difficulty to find the status of the domain name... if anyone can help to execute to code the latest psd file from @seeam that would be great..

[2016-03-16 10:05] elioqoshi commented on #37
@MozStacy  ping again :)

[2016-03-16 10:06] elioqoshi commented on #28
Which is the domain name, what needs to be done yet? Do we have any employees who can help out here? @LucyeoH

[2016-03-16 10:09] elioqoshi commented on #32
Sorry, was really caught up, will need some more time on this

[2016-03-16 10:09] elioqoshi commented on #23
ping @Raphseck

[2016-03-16 10:21] elioqoshi commented on #45
Yep, here we go
![firefoxclubmakassar-01](https://cloud.githubusercontent.com/assets/5436686/13809031/21f43d20-eb69-11e5-9e3b-ac080644d503.jpg)

[2016-03-16 10:50] elioqoshi opened #46 "Firefox Club Logo Template"
To help Firefox Student Ambassadors who need logos for their Clubs, I think to keep it simple and in line with the FSA Logo, which can be used as a template by other Clubs. What do you think?

![v2-01](https://cloud.githubusercontent.com/assets/5436686/13809832/f62592b2-eb6c-11e5-81d6-f40f8f846f04.jpg)
I have also created a template based on the logo by @medmack but it might be better to not add a

[2016-03-16 10:53] elioqoshi commented on #6
@Mte90 can you check this please?
https://github.com/mozilla/Community-Design/issues/46

[2016-03-16 10:53] elioqoshi commented on #45
Then again, this could be a better solution:
https://github.com/mozilla/Community-Design/issues/46

[2016-03-16 10:55] Mte90 commented on #46
A FSA based template is not bad, create a brand identity.
I think that the second option is better because the logo is small and maybe can customized with the flag of the country like the milan logo.

[2016-03-16 10:59] elioqoshi commented on #39
Another example of using textures to compliment the brand. Stained glass inspired, while still a texture, it borders on abstractionism.

![stained glass-01](https://cloud.githubusercontent.com/assets/5436686/13810122/7b024d94-eb6e-11e5-9dc9-00973d2967df.jpg)

[2016-03-16 11:07] elioqoshi commented on #46
We do not need so much customization, think that hundreds of Club worldwide will have it

[2016-03-16 11:22] parag9d commented on #28
Is the design final? I like the hero image of Seeam's work, it shows community discussions.
But some work needs to be done on the icons and the footer. I would like to help with that and also with the responsive versions for tablet and mobile, if needed.

[2016-03-16 12:38] elioqoshi commented on #39
I am quite growing fond of the water color concept, as it's quite flexible, allows for customization for different communities/subbrands, is heavily inspired by the initial rebrand in 2014 with the living logo idea and can be of various shapes if we want to represent them something (like the contributor graph in the living logo idea).

Some sketches here.
![test watercolors-01](https://cloud.githu

[2016-03-16 12:42] Raphseck commented on #23
lets do this! : )))

[2016-03-16 13:09] seeam commented on #46
I personally liked the first version (fsa based) as it is aligned with current logos. Also the second version won't be fit as a template in my opinion. Because smaller or larger text may not look good on that.

[2016-03-16 15:21] elioqoshi commented on #39
Thinking of it in hindsight, it might be a smarter decision to have a Fox symbol/mascot for Mozilla itself too, it will close the gap between the dino & fox confusion for the public, avoid potential alienating of contributors with a new symbol (which needs a more thorough stragey behind it) and will make sense for a lot of people who use Firefox.

[2016-03-16 20:00] LucyeoH opened #47 "Poster for Mozilla Re-brand Challenge"
## Goal:
We want to create a poster for this challenge (#39 ) that will get designers from around the world excited to help re-shape the Mozilla brand, and join the Mozilla design community.

## Info:
We'll share the poster on blogs, design forums, and from our social media accounts to try and attract more people to get involved.

## Style Information:
Mozilla colours + maybe reference our current

[2016-03-17 07:35] yofiesetiawan commented on #28
Hi @seeam, can you work together with @parag9d to finish this?

[2016-03-17 14:38] parag9d commented on #28
@elioqoshi @yofiesetiawan I had one doubt, I had been going through the Sandstone page(https://www.mozilla.org/en-US/styleguide/websites/sandstone/grids/) for the styleguide, it says that the width for desktop is 990px.
This is followed for all the event pages like https://reps.mozilla.org/e/fossasia-2016/ but in the Mozilla homepage, only the top nav including the tabzilla falls under 990 px, but

[2016-03-17 14:38] LucyeoH commented on #47
Re-working the ask with Tim. Will re-post shortly!

[2016-03-17 14:38] #47 closed

[2016-03-17 14:58] seeam commented on #28
@yofiesetiawan I have final exam's ahead may be I can't give much time here. @parag9d I haven't followed sandstone grids, in my opinion it's a bit dated as most people uses bigger screen these days. So I have used bootstrap 1170px grids.

[2016-03-17 18:17] seeam commented on #46
So what is the decision @elioqoshi? I got same request from a local Firefox Club and followed the first example.
![diu](https://cloud.githubusercontent.com/assets/7550283/13856288/b22ac9c8-ec9e-11e5-98f6-7786db18462a.png)

[2016-03-17 22:06] elioqoshi commented on #46
I think that is fine, let's wait a few more days before taking this further

[2016-03-18 17:44] parag9d commented on #28
![mozcoffee landing page-1](https://cloud.githubusercontent.com/assets/6411097/13886861/0d33f1bc-ed5f-11e5-8c6a-04b508853da9.png)

[2016-03-19 08:50] elioqoshi commented on #28
Love this! @yofiesetiawan what do you think?

[2016-03-19 13:48] jancborchardt commented on #39
The watercolors reminded me a bit too much of the Aol rebranding:
![](http://cdn.wolffolins.com/api-images/34a40e0e5eca92b31169fc84ea39f68e/AOL_logos_9_cat_2.jpg)
And they are too generic. Similar for the varying backgrounds I feel.

Having the Fox more integrated, as you say in your last comment @elioqoshi seems a lot better.

I’m sorry I don’t have better proposals at the moment. :/

[2016-03-19 14:04] jdittrich commented on #39
@elioqoshi: What I particularly like about the watercolors is that may refer to creativity, expression and personality. It is sort of the more abstract idea to the we-are-not sterile/technocratic whatever. Maybe this idea could be something we want to pursue further.

[2016-03-19 17:02] yofiesetiawan commented on #28
@elioqoshi @seeam i like this, can someone please help to start to code with this?

[2016-03-20 04:28] brutalcrozt commented on #28
i wouldn't able to give full time due to some school test, who lead the development?

[2016-03-20 05:02] yofiesetiawan commented on #28
@brutalcrozt its okay you can help during your free time... i will help to lead this project.. please note i'm not good with github :P

[2016-03-20 06:53] anistuhin commented on #28
I can help with coding. @yofiesetiawan So we are all set to go on coding??

[2016-03-20 09:27] brutalcrozt commented on #28
@yofiesetiawan okay sir, what are our tools?

[2016-03-20 10:47] yofiesetiawan commented on #28
@anistuhin @brutalcrozt actually usually i work with start create a new account with cpanel. but that won't be right for our open source community, right? usually we start development on github? how do you guys do that as developers? i think you guys know better? then after we finished with the development, we can start to move it to proper server to make it online?

[2016-03-20 15:09] anistuhin commented on #28
Yes, we should go with GitHub first. I have done few Mozilla projects that way as well. After we are done with development, we will then transfer it to live server and the repo can still be used for tracking and solving issues and bugs :) I am starting it from tomorrow :) Will post the GitHub repo link here then.

[2016-03-20 17:38] yofiesetiawan commented on #28
Thanks @anistuhin for assigning as developer for this project. @brutalcrozt please help to keep an eye on this...

[2016-03-21 08:21] viswanathamsantosh commented on #44
Thank you elio! :)

[2016-03-21 14:08] parag9d commented on #44
I would love to pitch in some ideas too :)

[2016-03-22 20:15] elioqoshi commented on #39
@jancborchardt I think that there is enough difference to tell it apart. Aol's rebranding also looks a bit random. As @jdittrich said, I had the idea to refer to inclusion, diversity and freedom with watercolors, which can be further customized to certain graphs, symbols or community colors to have a more specific meaning. I'd find it great if we can explore the fox further.

[2016-03-23 00:31] fayetandog commented on #46
Hi! Faye here from the FSA team. Commenting to participate on the discussion so we can communicate this to Firefox Club leads and implement in the future. We have a process for establishing Firefox Clubs so it would be crucial to communicate a logo guideline if it will be implemented. Thanks for initiating this!

[2016-03-23 01:59] fayetandog opened #49 "FSA Promotional Video"
## Goal:
Create a 2-min or less promotional video about the FSA program, what we do and why should students join.

## Info:
It will be used online and offline, especially for offline events so it will be easier to explain the FSA program and can be played on booths. Taking the opportunity as there is also a campus campaign going on.

## Style Information:
https://youtu.be/I6MbOtWyaKE
This was done

[2016-03-23 03:26] constantine599 commented on #46
Hi shubham here from RAL, United States. I think the first logo looks really sharp and professional keeping the primary logo of the organisation stable by having the fox face followed by the name on the side. Moreover it shouts authentic and original when I see the first logo.  The second logo on the other hand is good job done but its too big and doesn't have the fox face(which has been the logo

[2016-03-23 08:49] kaichih opened #50 "Icon for Mozilla Eir Program"
## Goal:
We would like to create an icon for Mozilla Eir project:
https://wiki.mozilla.org/Eir

## Info:
It would be used for the github in Eir project:
https://github.com/mozeir

## Style Information:
No preference, as long as the icon can reflect what we are doing in this project.

## Deadline:
As soon as possible.

## Tag:
[Design Needed]

[2016-03-23 09:33] mmhyamin commented on #20
@mhoye where is the current repo of TriageBot?

[2016-03-23 11:06] parag9d commented on #50
Do you want a logo or icon for this project? Although branding is not my forte, I would be more than happy to help out in this :)

Is there anything I can do to help in the UI or UX front?

[2016-03-23 14:08] LucyeoH commented on #49
@fayetandog can we hold up on this project for now. I think it would be great if we could integrate Campus Campaign into this messaging.

[2016-03-24 15:06] LucyeoH commented on #49
Closing temporarily! :)

[2016-03-24 15:06] #49 closed

[2016-03-24 16:33] Timotay commented on #39
I love the idea that the Mozilla brand identity would include handcrafted elements such as your watercolor idea, @elioqoshi. I agree with @dittrich that this represents the humanity of our brand vis-a-vis tech competitors who's almost-identical flat design feels like it could be machine-made.

Are these companies really our competitors though? We are more than a tech company and our emphasis on fr

[2016-03-24 17:11] mhoye commented on #20
https://github.com/mhoye/Canutist/

Sorry for the delay.

[2016-03-25 11:18] seeam commented on #39
Here is my idea. But before I discuss the idea, I must confess that I am not a illustrator so the symbols may not look professional. But I have a few knowledge about branding and with that confidence giving it a shot!
While I was thinking about what could be the possible icon of Mozilla, I asked one of my fellow designer (named Subinoy Mustofi Eron) how he think about it. Then he created a basic o

[2016-03-25 13:04] anistuhin commented on #28
@parag9d could you please share the PSD here and also update with the small screens when you are done :)

[2016-03-25 14:04] umeshagarwal opened #51 "Need a logo for Mozilla QA to make sticker"
## Goal:

Mozilla QA logo
## Info:

For making stickers for local community in India
## Style Information:

According to Mozilla Style guide
## Deadline:

As soon as possible
## Tag:

Design Needed

[2016-03-25 15:04] ioana-chiorean commented on #51
@umeshagarwal is this for a local QA community or the Mozilla QA big one? I am asking as there is already a sticker design for Mozilla QA.

U can check it out here: https://wiki.mozilla.org/QA

@mozillamarcia has probably the sources for it.

[2016-03-25 15:07] ioana-chiorean commented on #39
Quick feedback - I like the concept but for me it is a bit so similar to Airbnb's logo and I saw the shaking hands + heart in several other logos. Just my personal feeling.

[2016-03-25 15:17] umeshagarwal commented on #51
@ioana-chiorean  Thanks for the update! Actually i saw them and found that there are different logo for different QA projects. Also the logo on the wiki page is more like badge.

I was looking for something like the participation logo : https://wiki.mozilla.org/images/thumb/0/04/Mozilla_Participation.svg/253px-Mozilla_Participation.svg.png

I will wait for @mozillamarcia to provide more informatio

[2016-03-25 16:06] seeam commented on #39
@ioana-chiorean yes it may have some similarities with airbnb logo, I haven't noticed before. But hands + heart approach may be seen in several place, but in all those logo they have prominently showed hand with fingers. But this one is subtle.
Most importantly it's just a conecpt or exploration that how we can express bonding, community, rigidity. And it may need some expert touch to be a complet

[2016-03-26 04:29] parag9d commented on #28
Hi @anistuhin You can access the files here: https://drive.google.com/file/d/0B6Mo2oHOR0f0UUVhNnpPLWg2aGs/view?usp=sharing

Please switch-on the grid layer (the topmost layer). You will get the idea how the components are arranged. Thanks.

[2016-03-26 04:55] brutalcrozt commented on #28
what is our next step?

[2016-03-28 08:13] kaichih commented on #50
Hello, sorry to reply it late.

Actually, we need both a logo and an icon for this project. A logo we can use on the program Wiki or other places. An icon that we can also use in Github.

Are you talking about the UI or UX front in this project? If that's what you talking about, YES!!! We REALLY need help!! :)

[2016-03-28 08:21] parag9d commented on #50
Hi @kaichih! Yes, I would like to help in the UI and UX for this project. Also, I will also try to help with the logo and the icon :)

[2016-03-28 12:17] parag9d commented on #44
Tried 2 versions of the logo. Combining Charminar (Popular monument of Hyderabad) and the fox for Mozilla. The second version has the world map in the background (like the Mozilla logo) with the focus on India.

What do you guys say?

![mozilla hyderabad logo-01](https://cloud.githubusercontent.com/assets/6411097/14077767/bf4e6f4e-f50c-11e5-942b-4fad14ca2630.png)
![mozilla hyderabad logo-02](https

[2016-03-28 12:37] parag9d commented on #44
Another version with some modifications...
![mozilla hyderabad logo v2-02](https://cloud.githubusercontent.com/assets/6411097/14078041/ea306a5c-f50f-11e5-8d47-a56597573aaa.png)

[2016-03-28 13:12] parag9d commented on #44
Tried one more version with the India map. In my opinion this is the most balanced one...what do you say?
![mozilla hyderabad logo-02](https://cloud.githubusercontent.com/assets/6411097/14078605/bf55f6d0-f514-11e5-8449-8c61a53868a7.png)

[2016-03-28 14:39] cassiemc commented on #30
@xmatthewx @lovegushwa maybe you guys want to put heads together with @LucyeoH, given my imminent mat leave?

[2016-03-28 15:12] parag9d commented on #44
@viswanathamsantosh Let me know what you think about this. Also see this for better understanding:
http://giphy.com/gifs/fox-mozilla-hyderabad-xThuWgTKatVpNE0gQ8

[2016-03-28 15:23] viswanathamsantosh commented on #44
@parag9d Perfect! Thank you so much. I think we can finalize the one with india map. :)

[2016-03-28 15:27] parag9d commented on #44
Cool, here is the high-resolution version of the logo:
https://www.dropbox.com/s/6fhtwjewo6k6kjy/Mozilla%20Hyderabad.png?dl=0

[2016-03-29 07:28] parag9d commented on #28
![responsive](https://cloud.githubusercontent.com/assets/6411097/14100830/ea3cbab6-f5ad-11e5-947d-21280344abf5.png)
 See the full project on https://dribbble.com/ParagNandi/projects/364315-MozCoffee

[2016-03-29 10:03] elioqoshi commented on #39
Thanks for the feedback @Timotay ! It's good to hear we are heading in the right direction. I feel like Mozilla needs to keep the handcrafted visual style very subtly without making it look very skeuomorphistic. I wrote about this in the mobile OS space over a year ago:
http://www.sitepoint.com/road-google-material-design/

The symbol for freedom would definitely be a pigeon, which could suit well

[2016-03-29 10:04] elioqoshi commented on #39
@LucyeoH Can we look into extending the deadline?

[2016-03-29 10:37] jdittrich commented on #39
I like the pidgeon-idea, too.

[2016-03-29 11:53] elioqoshi commented on #16
What's the state of this @mhoye ?

[2016-03-30 02:04] parag9d commented on #44
@viswanathamsantosh You got the high-resolution image, right?

[2016-03-30 10:32] viswanathamsantosh commented on #44
Yes! Got the high resolution image as well as the gif. thanks :D

[2016-03-30 10:53] parag9d commented on #44
@viswanathamsantosh cool, there were some minor modifications after the last update. So, be sure you have the latest one from that Dropbox link :)

[2016-03-30 16:29] sarupbanskota commented on #39
The waters.

Two thirds of the world is water. Water represents vastness, majesty, power, quantity.

There's a crazy amount of water life. Pleasant fishes, colourful corals, scary sharks, sea weed, dancing eels - there's something for every colour, every shape, every mood you can think of.

The waters are full of adventure, moving and changing form full time. There's even a bossy, dangerous, heavy

[2016-03-31 04:11] Raphseck commented on #23
Hey guys
Sorry about the late.
What do you think about these sketches?
What type of fox do you prefer?
![sketches_fox_alch](https://cloud.githubusercontent.com/assets/14264676/14165256/671a374a-f6dd-11e5-9b63-1e4e5fd9de62.png)

[2016-03-31 18:27] charissalaisy opened #52 "Take Back the Web/Campus Campaign Logo Needed"
## Goal:

We need a logo for the campus campaign! Our website has already been designed but we need a small logo in our color scheme.
## Info:

The logo will be used in our resources--PowerPoints, documents, etc. It should be a relatively small image that's able to be used in lots of different contexts.
## Style Information:

Our color scheme is on the website: https://takebacktheweb.mozilla.commu

[2016-03-31 18:38] charissalaisy opened #53 "Take Back the Web/Campus Campaign Google Doc Template Needed"
## Goal:
As part of the campus campaign we're giving students resources/activities to run at their university. We'd like these to be hackable and easy to use, which is best on Google docs.

So, we need a template for Google docs that we can drop text into easily, with our logo ( #52 ) and some design features to make our resources look good!

## Info:
This will turn into a Word doc and PDF, but we

[2016-03-31 18:49] Subway19 commented on #28
I like this and interested in contribution here; i can help with coding, Can someone tell me where is the code hosted and open for contribution if the webpage is still being developed? Thanks.

[2016-03-31 21:21] #7 closed

[2016-03-31 21:21] LucyeoH commented on #7
Awesome work all! @cassiemc let us know if there's more here!

[2016-03-31 21:25] MikkCZ commented on #24
Soooo, sorry for such delay. The results from the form are these:
- we've got over 800 responses!
- 71% of them marked the "m" variant from @elioqoshi as liked, other options were under 41% as liked
- 56% of responds said they like the "m" variant the most, other variants were under 30%

Also I would say the "m" logo from @elioqoshi is the winner, but there were also some negative reactions on it:

[2016-04-01 19:48] Ryuno-Ki commented on #3
@Mte90 Could you add some Lorem Ipsum in the main part of the demo? Maybe even explaining the purpose of the site.

Oh, and I noted that switching themes yield 404s (probably because they're links which didn't get intercepted by jQuery).

[code]
is missing (on *indicators* section).
Gray text on disabled pager button is [hard to read](https://leaverou.github.io/contrast-ratio/#%23777-on-%23c4372d)

[2016-04-01 19:58] Ryuno-Ki commented on #28
@anistuhin wanted to provide a GitHub link.

I prefer https://github.com/mozilla/Community-Design/issues/28#issuecomment-198467226 the most albeit the white text may be hard to read on the blue background of the hero image (there are people with cognitive disablities out there). On the other hand a plain background like https://github.com/mozilla/Community-Design/issues/28#issuecomment-188352617 l

[2016-04-01 21:37] zee-moz commented on #23
Hey there, let me run these by the team and get back to you!
Thanks!
Zannah

On Thu, Mar 31, 2016 at 12:11 AM, Raphael Chilingue Eckhardt <
notifications@github.com> wrote:

[2016-04-03 20:26] barrosgeraldo opened #54 "Mozilla São Paulo Workday"
## Goal:
I need a logo for a regular meeting Mozillians in my region, the regular meeting is "Mozilla São Paulo Workday".

## Info:
We do regularly organize full days of work, we will develop various actions as: to welcome new  volunteers, present the activities that are being developed in the region, present new Mozilla programs and how volunteers can get involved, perform use training of Mozilla

[2016-04-04 15:20] emmairwin opened #55 "Review Curriculum Slide Design"
## Goal:
Consult on slide creation/design for Mozilla Curriculum Workshop

## Info:
https://github.com/mozilla/community-teaching-training/issues/1

## Style Information:

## Deadline:
april 8th

## Tag:
Question

[2016-04-04 15:21] anistuhin commented on #55
What kind of developer support do you expect, @emmairwin ?? I might be available :)

[2016-04-04 15:22] emmairwin commented on #55
sorry, no developer support - consultation and maybe design support.

[2016-04-04 15:27] anistuhin commented on #28
Sorry, sorry, guys. Was really very busy with some stuffs. But you guys gonna get the first look tonight. Btw @Subway19 you could start working on the Twitter API part on your local machine if you want. Except that part everything else are pretty much done. Will share within an or two hours after I reach home. On my way :P

[2016-04-04 16:12] LucyeoH commented on #52
@yofiesetiawan any interest/time to take this?

[2016-04-04 17:27] LucyeoH opened #56 "Take Back The Web/Campus Campaign Page Template for Content"
## Goal:
To have a template for static content on the takebacktheweb.mozilla.community site!

## Info:

## Style Information:
Please use the design from the rest of the website #35

## Deadline:
April 8th at the latest

## Tag:
[Design Needed, Developer Needed, Question, Staff Support Needed]

[2016-04-04 17:32] LucyeoH commented on #56
One potential idea for the template!! (Excuse my lack of design and/or drawing skills)

![image1 1](https://cloud.githubusercontent.com/assets/8070833/14257017/8f700424-fa69-11e5-969d-52f997c025d8.JPG)

[2016-04-04 17:42] anistuhin commented on #56
Commenting for updates, will be working as developer when the graphics are done. @yofiesetiawan  and @elioqoshi a quick look on this will do I think, as they already got a the landing page, and @seeam might not be available for some days as he's having exams.

[2016-04-04 17:46] tripad commented on #56
I am +1ing myself here for helping on the front-end code part of it.

[2016-04-04 18:07] yofiesetiawan commented on #56
hi.. this is what i'm proposing...

![05-cc-inside](https://cloud.githubusercontent.com/assets/2810823/14258015/b07f03b6-faca-11e5-8419-bcb5ac31628c.jpg)

[2016-04-04 18:13] yofiesetiawan commented on #52
@LucyeoH i'm no good with logo.. maybe @elioqoshi ?

[2016-04-04 18:19] LucyeoH commented on #56
Hey @yofiesetiawan this is awesome and SO fast!!

Two initial thoughts:
*  All the colours are cheerful but a bit distracting. I wonder if we could have the main background colour for the content be white, and then use one of the blues as a highlight box?
*  What if the top two boxes are merged into one with overarching descriptor area and then the two bottom boxes stay separate so the screen wasn

[2016-04-04 18:37] yofiesetiawan commented on #56
hi, please check..
![06-cc-inside](https://cloud.githubusercontent.com/assets/2810823/14258943/e39fd122-face-11e5-8636-f42e11887331.jpg)

[2016-04-04 19:53] Ryuno-Ki commented on #56
Commenting on https://github.com/mozilla/Community-Design/issues/56#issuecomment-205412526 - there's a "Subscribe"-Button in the right pane (above the participants) if you just comment to get notified on further comments, @tripad ;-)

[2016-04-04 19:55] Ryuno-Ki commented on #28
@anistuhin commented 4 hours ago:

*scnr*

[2016-04-04 22:16] anistuhin commented on #28
Here is the repo: https://github.com/anistuhin/mozcoffee

[2016-04-05 02:21] Subway19 commented on #52
Hows this ?
![capture](https://cloud.githubusercontent.com/assets/14835320/14269525/21a39e5c-fb03-11e5-8928-970e10a7713c.jpg)

[2016-04-05 06:59] yofiesetiawan commented on #52
@Subway19 can you upload the transparent png? so i can try to put it on the web layout?

[2016-04-05 13:14] Timotay commented on #39
Sorry for my recent silence due to time away from work. Here are some comments in chronological order.
@seeam for a person who categorizes himself as a non-designer, you've done great creative thinking and designing here!  The soft curves of the symbol you developed have a warmth and welcome that speak to the community aspect of Mozilla's brand. It's an invitation to participate. There does seem t

[2016-04-05 13:23] Timotay commented on #39
@elioqoshi your blog post on the evolution away from skeumorphic design should be required reading for anyone who wants to know the history of how today's spare, flat look developed in reaction to skeumorphism. Your point about changes in view ports driving design decisions is particularly insightful. I learned a lot. Thanks for sharing this.

A word of caution regarding exploring the pigeon as a

[2016-04-05 13:29] Timotay commented on #39
@sarupbanskota your analogy of Mozilla being like the ocean ecosystem hits a chord. The creative team has played around with the idea of comparing open systems with closed ones as a reference point for the Internet we believe in and the one that big companies are building in an effort to carve up their own markets. Here's an example:
<img width="663" alt="screen shot 2016-04-04 at 9 44 10 pm" src=

[2016-04-05 13:58] seeam commented on #39
@Timotay thanks for the appreciation. As I have already mentioned that I'm not much of illustrator or logo designer. Normally I deal with pproducts (interface and little bit of research). So I have created this from that point of view. If you ask me to name some of the best symbolic logo, I will put Nike on the top of that list and I believe many designer/non-designer will do the same.
But swhoosh

[2016-04-05 14:01] Subway19 commented on #52
Here

![logo - copy](https://cloud.githubusercontent.com/assets/14835320/14284346/cbeb9e9e-fb64-11e5-836d-c77a752138d5.png)

[2016-04-05 16:43] LucyeoH commented on #56
Hey Yofie! That's definitely closer!

What if we kept the "hero" at the top small, like you had in your first one.

 And then put all three boxes against a white background. With a thing blue line dividing them?

Trying to think of a way of making it a bit cleaner so the content can stand out and it can work for pages where we have a lot of writing ;)

Lucy

[2016-04-05 16:47] yofiesetiawan commented on #56
Hi Lucy, if you can share the text content you want to put there, i can better imagine how it should look...

[2016-04-05 16:57] LucyeoH commented on #56
Hey Yofie! So this template needs to be useable for 6 pages (so we need to have lots of space for writing and pretty plain).

1 page - for more info about the Campus Team Role
1 page - for more info about the Local Coach Role
3 pages - 1 page each for the impact areas (x3)
1 page - FAQ about Campus Campaign

[2016-04-05 17:04] yofiesetiawan commented on #56
Can you also send the text content for example, page for Campus Team Role? You can write it and draw it on paper...

[2016-04-05 18:23] LucyeoH commented on #56
Hey! [Here](https://wiki.mozilla.org/Participation/Campus-Campaign/Roles-and-Responsibilities) is some of the written content we'll be including in the page.

![image1 2](https://cloud.githubusercontent.com/assets/8070833/14293291/f6296932-fb39-11e5-92c0-4df56f7bf807.JPG)

[2016-04-05 18:24] LucyeoH commented on #56
My thought is that the top bit is the hero with the page title like you already have. And then the rest is white background with clean blue lines that don't go all the way across but just divide the space kind of minimally.

Does that make sense? Sorry for being complicated!!

[2016-04-05 20:36] charissalaisy commented on #52
Hi @Subway19! Thank you for creating this logo. A few notes:

- I don't think we need any text
- We'd like the colors to be be the same as the ones on the website [https://takebacktheweb.mozilla.community/], especially the blue, yellow, and green of the hero image
- It's probably best if it's a bit more round in shape and a bit simpler

[2016-04-05 20:36] charissalaisy commented on #52
@elioqoshi any thoughts on this option?

[2016-04-05 20:41] Ryuno-Ki commented on #39
@elioqoshi Water can be emulated on the Web using SVG filters. For example like so: http://codepen.io/Ryuno-Ki/pen/aNVKNj/

[2016-04-05 21:27] Ryuno-Ki commented on #39
And here's a rough draft about shaking hands:
http://codepen.io/Ryuno-Ki/pen/VardMo (I have no idea how I got this hash …)

[2016-04-06 01:26] barrostecnologia commented on #40
@elioqoshi you have the source files? I liked this background, it would be interesting this art banner for [Mozilla São Paulo Workday](https://github.com/mozilla/Community-Design/issues/54).
Thanks...

[2016-04-06 06:40] elioqoshi commented on #40
I will try to get it done within the week @barrostecnologia  :)

[2016-04-06 08:47] anistuhin commented on #28
Guys, who's coordinating this one?? I mean, I need to know the source of those events in the events slider. From where we are going to collect them?? Will them be automated or just static images and title with links??

[2016-04-06 10:26] yofiesetiawan commented on #56
Hi,

Please check..
![07-cc-inside](https://cloud.githubusercontent.com/assets/2810823/14313410/b642486a-fc1b-11e5-8c9b-e8b05e190d99.jpg)

or
![08-cc-inside](https://cloud.githubusercontent.com/assets/2810823/14313608/ad523d72-fc1c-11e5-8e55-35a6ba0daa50.jpg)

[2016-04-08 17:52] LucyeoH commented on #56
@yofiesetiawan these are BEAUTIFUL! I like the second one best. Can you send the files we need? Thank you! Thank you! Thank you!

[2016-04-08 19:02] Ryuno-Ki commented on #39
Oh, and concerning the hands:

Keep in mind, that the colour could be a stumbling block for some community members.
After all, that's why Ubuntu changed their [original Circle of friends logo](https://commons.wikimedia.org/wiki/Ubuntu#/media/File:Ubuntu_Login.png) …

[2016-04-08 20:19] phinity commented on #56
Yofie, This is awesome! I have time next week to set this up on [the community site](https://takebacktheweb.mozilla.community). Here are some suggestions I think can improve on this general direction. It would be great to see some or all of this in photoshop design, if possible.

General:
• The paragraph body copy font-size is set to 16px and line-height 24px for readability. This is what we ended

[2016-04-08 20:28] phinity commented on #56
@yofiesetiawan The one thing would be helpful to see in the design, if I had to pick one, is the updates to the Content area 2: “Commitment” / "How to apply"

[2016-04-09 05:41] birajkarmakar commented on #52
We need some graphics for social media post regarding Take Back the Web/Campus Campaign.
Here are some ideas for graphics:
1. Student is amplifying this campaign in his college Campus with other students.
2. Local coach is giving training to campus campaigners.
3. Why student thinks that secure internet is important?
4. Some graphics with some key points of Campus Campaign.
etc.

[2016-04-09 06:58] anistuhin opened #57 "Take Back the Web/Campus Campaign Graphics Needed"
## Goal:

Having some important graphics created for Take Back The Web/Campus Campaign
## Info:

We need some graphics for social media post regarding Take Back the Web/Campus Campaign.
Here are some ideas for graphics:
1. Student is amplifying this campaign in his college Campus with other students.
2. Local coach is giving training to campus campaigners.
3. Why student thinks that secure interne

[2016-04-09 06:59] anistuhin commented on #52
Hi, @birajkarmakar lets not populate this single issue with too many different graphics. I'm opening a new issue: #57 with those and you should edit the comment referring the new issue for those graphics :)

[2016-04-09 07:04] birajkarmakar commented on #52
Hi @anistuhin
I was not aware of that.  I did that because @LucyeoH pointed out this issue.
BTW no problem. I am re-writing again in #57.

[2016-04-09 07:04] birajkarmakar commented on #57
We need some graphics for social media post regarding Take Back the Web/Campus Campaign.
Here are some ideas for graphics:
1. Student is amplifying this campaign in his college Campus with other students.
2. Local coach is giving training to campus campaigners.
3. Why student thinks that secure internet is important?
4. Some graphics with some key points of Campus Campaign.
etc.

[2016-04-09 07:05] anistuhin commented on #52
It's complete fine :)

[2016-04-09 10:16] Mte90 commented on #3
Hi @Ryuno-Ki,
thanks for that feedback can you open a tickets in the specific repos to help me to track that, but when I have time I work on that.

[2016-04-09 13:23] elioqoshi commented on #28
@yofiesetiawan ping

[2016-04-09 13:30] anistuhin commented on #50
@elioqoshi and @yofiesetiawan we need someone here :)

[2016-04-09 13:39] yofiesetiawan commented on #28
Hi,

It would be great if we can get the data of events from https://reps.mozilla.org/events/#/period/future/

And pictures from flickr with #mozcoffee hashtag..

[2016-04-09 15:18] anistuhin commented on #28
Well, the event slider shows a picture with the title of that particular event name of that photo, so how are we gonna match that?? If it was just a photo slider then it would be fine.

[2016-04-09 15:27] yofiesetiawan commented on #28
@anistuhin i think we can use that for photo gallery instead of event name, agree @seeam ?

[2016-04-09 15:31] anistuhin commented on #28
Yes, we definitely can. On the other hand, we can choose some great events and refer them there so that other who will visit the site can have an idea may be, something like featuring MozCoffee events there with static contents.

[2016-04-09 15:44] seeam commented on #28
@anistuhin the idea was to feature previous event's blog post. You'll find many blog posts if you simply search on google. I think we cab link to those blog.

[2016-04-09 15:46] anistuhin commented on #28
yeah, fine. That means we are entering static contents, no need to write any scrapper :) Thanks @seeam

[2016-04-09 17:39] yofiesetiawan commented on #56
Hi,

Thanks @phinity for the clear guidelines. I managed to maintain the consistency. Please check.

![09-cc-inside](https://cloud.githubusercontent.com/assets/2810823/14405239/867fab18-feb4-11e5-9048-2aaebe0a1066.jpg)
Download PSD https://dl.dropboxusercontent.com/u/4450713/mozilla/GitHub/09-cc-inside.psd.zip

[2016-04-09 20:23] Ryuno-Ki commented on #3
Done. Sorry for the many references, but I prefer to keep the context where possible.

[2016-04-10 09:38] josuaflores commented on #57
We'll do it :)

[2016-04-11 06:46] analynarcilla commented on #57
Count me in! :)

[2016-04-11 09:24] anistuhin commented on #57
Guys, those who are showing interest, you should start working on those graphics. And you can ask @LucyeoH or @birajkarmakar for any kind of inquiry about these :)

[2016-04-12 06:17] MikkCZ commented on #24
@elioqoshi ?

[2016-04-12 16:31] autonome opened #58 "The web needs a replacement for Bootstrap/Foundation"
## Goal:
I'd like a replacement for Bootstrap that makes my content look good with zero work, but without all the downsides of requiring terrible markup, redundant classes and huge downloads.

Developers are going to continue to use Bootstrap and similar frameworks for as long as there's no better alternative to make their content look "good enough".

So instead of fighting them, let's *help* them

[2016-04-12 18:45] Ryuno-Ki commented on #58
I would like to see Demos included as well (Copy&Pastable snippets).

Bootstrap has the advantage of some feedback from the accessibility community whereas Foundation is more fancy (IMHO) :-)

@autonome What about JavaScript dependencies? Bootstrap relies heavily on jQuery …

[2016-04-12 18:57] autonome commented on #58
@Ryuno-Ki Great idea for demos/snippets. We cannot fight copy+paste coding... instead we must embrace it by improving the quality of what is copied and pasted :)

Re JS dependencies. Ideally there would be none. However, some functionality might require it. I'd love to see a gracefully-degrading framework. For example, if you only include the main css file, you get a basic set of features. If you

[2016-04-12 19:09] anistuhin commented on #58
Great thing to play with, but do you have anything in mind for this: out of the box (eg no added CSS classes), I mean without JS and all. Btw what do you mean by "Design needed" in Tag, Graphics for different components or developers as well to work on the CSS??

[2016-04-12 19:10] Ryuno-Ki commented on #58
Are you sure, that this is [graceful degradation](https://en.wikipedia.org/wiki/Fault_tolerance)? It sounds more like [progressive enhancement](https://en.wikipedia.org/wiki/Progressive_enhancement) to me (which I favour more).

Also choosing a JavaScript framework could be tricky as there are [so many of them](http://www.planningforaliens.com/blog/2016/04/11/why-js-development-is-crazy/). Maybe w

[2016-04-12 19:19] autonome commented on #58
I think a guide is a very useful, but separate idea.

I do not think including a JS framework solves the problem I'm talking about, and is headed off in the wrong direction.

What I'm looking for should be entirely design. If someone here is interested in doing the visual design and UX, perhaps that's a start. We could continue by building out the CSS using modern patterns and web technology appro

[2016-04-12 19:21] autonome commented on #58
@anistuhin Hi! See the previous comment. There are a few components to the project, probably. The primary component is the visual design, and secondarily is implementation in CSS.

[2016-04-12 19:21] Ryuno-Ki commented on #58
[![Standards](https://imgs.xkcd.com/comics/standards.png)](https://xkcd.com/927/)

[2016-04-12 19:26] davidascher commented on #58
FYI, there's related work we're doing in MoFo to harmonize all of our sites.  The CSS templates live at https://github.com/mozilla/mozmaker, but follows a complicated and ambitious branding & IA audit.

[2016-04-12 19:27] davidascher commented on #58
Oh, rereading comment #0, I think I misunderstood the purpose.  And I think I disagree w/ it.  I would agree w/ a proposal to submit a PR to bootstrap that leverages flexbox however ;-).

[2016-04-12 19:44] autonome commented on #58
@Ryuno-Ki Luckily, design isn't like standards!

@davidascher Unfortunately Bootstrap has more downsides than just flexboxlessness. And it's the fastpath to "good enough" web UI for a whole lot of developers.

I'm interested in creating a lighter-weight and lower-overhead fastpath for "good enough" default visual style.

[2016-04-12 20:48] remcokaptein opened #59 "Logo design for Mozilla's Best of Web"
## Goal:
I'm looking for a logo for a program at Mozilla we call "Best of Web". The logo will be used for promotion purposes when we start kicking off the survey for "Best of Web". The current efforts are focused on Germany.

## Info:
Still determining. It will likely be used in "Snippets" which are located below the search box on the homepage and looks like [this](https://drive.google.com/file/d/

[2016-04-12 22:32] davidascher commented on #58
@autonome: how would you rate/describe any of the ones on e.g. https://github.com/neiesc/ListOfMinimalistFrameworks#framework-for-css ?

This seems like a place where lots of people are trying to do "lightweight", but it seems that "users" are picking larger frameworks in practice (I don't have actual data, this is just heuristics), which makes me think that the 'user need' isn't yet clearly artic

[2016-04-13 09:10] elioqoshi commented on #58
@Mte90 might be interested in this

[2016-04-13 09:32] Mte90 commented on #58
I love bootstrap for me is not bloated or redundant, the markup now is very simple and the same as amount for all the complete frameworks to support all the platform/devices/etc and have a big amount of plugin and extensions.
Maybe the first step is analyze what you don't like to find something that have not problem and next define something.
I think that today the more simple and powerful that ha

[2016-04-13 10:01] elioqoshi commented on #59
@remcokaptein what do you think of this? It's quite cheesy, but the request itself is cheesy too :)

No german flag please, that would look bad.
![icon-01](https://cloud.githubusercontent.com/assets/5436686/14489749/37788c66-016f-11e6-8ad7-87ef6b8cc1b8.png)

.

[2016-04-13 10:09] elioqoshi commented on #24
@MikkCZ well, I sent in my proposals and feedback like "looks like a supermarket logo or
looks like mBank logo" is not really helpful. So if you like the current version, feel free to go ahead with it.

[2016-04-13 10:14] elioqoshi commented on #51
@umeshagarwal can you ping @mozillamarcia via PM for this?

[2016-04-13 10:15] elioqoshi commented on #50
helping out here as soon as I can

[2016-04-13 10:16] MikkCZ commented on #24
Yes, I know. That's not my feedback nor my attitude, only what I have found in responses.

I like the proposals you have created and most of the responders too. If you have no update about the color positions in the logo or any next iteration, can you please push the sources or better resolution to https://github.com/MozillaCZ/logo or into this repo, if you have access?

[2016-04-13 10:25] elioqoshi commented on #50
![eir](https://cloud.githubusercontent.com/assets/5436686/14490377/c9ed8e40-0172-11e6-868a-b7e95deb85c6.jpg)

What do you think of this?

[2016-04-13 12:49] kaichih commented on #50
Looks good for me! Thanks!!!

[2016-04-13 12:49] #50 closed

[2016-04-13 16:44] acabunoc commented on #2
Hey @elioqoshi would you happen to have the source files for the banners you made here? I'm hoping to remix this for our Global Sprint :) If not, I can work off the svg you shared!

Thanks!

[2016-04-13 19:22] zee-moz commented on #23
Hey @elioqoshi and @Raphseck-- Sorry for the delayed response-- we had a week-long team meeting last week in Toronto, so I was running around like crazy. Now that I'm back home, I had some time to review this. Thanks for the work on these foxes. I ran them by our team and everyone agrees, they are very very cute-- so much personality! We will use them for stickers and for some swag for upcoming ev

[2016-04-14 06:21] elioqoshi commented on #2
@acabunoc the SVG is in fact the source file :D

[2016-04-14 06:22] elioqoshi commented on #24
Yes sure, will export them

[2016-04-14 08:55] elioqoshi commented on #55
I see deadline is over. Do you still need this @emmairwin ?

[2016-04-14 17:27] yofiesetiawan commented on #39
Just a rough idea from me, mozilla as the heartbeat of the internet...

![mozilla-logo](https://cloud.githubusercontent.com/assets/2810823/14537362/e31b4306-02a0-11e6-8c4b-2ddccd65c29c.png)

[2016-04-14 17:52] yofiesetiawan opened #60 "Logo for Upcoming Mozilla Community Space Jakarta"
## Goal:

Creating logo for upcoming Mozilla Community Space Jakarta
## Info:

I want to share updates about our upcoming Mozilla Community Space Jakarta logo. We are open for ideas, and suggestions.
## Style Information:

Use illustration and unique elements of Jakarta or Indonesia.
## Deadline:

End of April 2016

[2016-04-14 17:55] yofiesetiawan commented on #60
I post 2 of my ideas.

1. Working together with Petshopbox Studio, who contribute to design our new local mascot. So we try to make our local mascot become part of the logo.
![img_2016-04-15 00 44 49](https://cloud.githubusercontent.com/assets/2810823/14538156/81b29e6c-02a4-11e6-99d8-32a532bdcebd.jpg)

2. Use the unique element of Jakarta, which is National Monument (Monas)
![mozilla-space-jakarta

[2016-04-14 23:54] remcokaptein commented on #59
Thanks.

If you think it's cheesy feel free to be creative. We are aiming for best of web services which make using Firefox more relevant for each market we're addressing.

[2016-04-15 13:29] elioqoshi commented on #44
@parag9d awesome work! There is some inconsistency with the wordmark which needs fixed. Also please always upload the source files here, so all of our work is collected here.

Can you link to it here and I can give it a look?

[2016-04-15 13:30] elioqoshi commented on #44
Also, there is no need for the map of India in the background, it's too much to include I'd say

[2016-04-15 14:16] acabunoc commented on #2
Ah, thanks @elioqoshi! For some reason I thought it was just the background :)

[2016-04-17 13:23] elioqoshi commented on #2
@acabunoc Sorry, you were right, I just included the pattern! Here is the proper one:
http://elioqoshi.me/owncloud/index.php/s/FNdgrFFZAkXCrfP

[2016-04-17 14:05] acabunoc commented on #2
Oh man, I thought there was some special designer magic I couldn't figure out! Thanks Elio :)

[2016-04-17 16:08] Raphseck commented on #59
Hey guys, how are you?
Elio asked for the following sketch of an fox
what do you think?

![fox_c](https://cloud.githubusercontent.com/assets/14264676/14588339/81f5ccaa-049d-11e6-8a15-e6b350192b95.jpg)

[2016-04-17 18:26] parag9d commented on #50
@kaichih I want to contribute to the UI and UX design of the project. Can you please connect me with the right person for that. Thank you.

[2016-04-18 12:36] remcokaptein commented on #59
I like it!

2016-04-17 18:09 GMT+02:00 Raphael Chilingue Eckhardt <
notifications@github.com>:

[2016-04-18 20:28] Junaed33 commented on #42
Hi Elioqoshi,
The second version of the gradient is much better than other two. It's actually much user friendly, easily visible and it's better to look.

[2016-04-18 20:38] Junaed33 commented on #55
I'm available to share my ideas and knowledge with you. Please let me know if you still needs help.

[2016-04-19 20:15] Ryuno-Ki commented on #44
@elioqoshi Just out of curiosity:

Can you elaborate on that? I want to understand what you noticed.

[2016-04-20 04:10] hossainalikram opened #61 "Badges logo/ Graphics needed for Mozilla QA Bangladesh Community"
## Goal:

I am looking for logo or graphics design for the role of contributors of Mozilla QA Bangladesh Community. The Logo or graphic design will be used as an Symbol for different contributors role. I am looking for designs for this specific role of contributor - "Casual Contributor", "Active Contributor", "Core Contributor", "Community Mentor". This roles are created for our local community, i

[2016-04-20 05:31] anistuhin commented on #61
@elioqoshi and @yofiesetiawan another great one to work on :)

[2016-04-20 18:32] kellymj commented on #59
Hey @Raphseck, that's pretty cute! I work on content for snippet and Firefox + You, and I'd like to include this in our next newsletter and on the snippet to promote the survey. May I suggest making the line weight of the crown match the outline on the fox?

After that would you be willing to share the native vector file with me so we can resize it to meet the different graphic specs required by e

[2016-04-21 11:19] kaichih commented on #50
Awesome! @parag9d, please feel free to join our Google Group: https://groups.google.com/forum/#!forum/open-iomet. Also, it would be great if you could input your name, skill sets and other information in the following spreadsheet:
https://docs.google.com/spreadsheets/d/1kWzx8lcZcOLkVB2Ie79zzVNHWEIt9mUL7jgWOkeD3i4/edit#gid=0

[2016-04-24 15:02] Junaed33 commented on #28
@elioqoshi i'm interested to design mozcoffe website if @seeam's design is not selected finally. Let me know about mozcoffee website update please.

[2016-04-24 17:41] yofiesetiawan commented on #28
@Junaed33 hi, @seeam design is already final and coded by @anistuhin https://github.com/anistuhin/mozcoffee

[2016-04-24 17:54] parag9d commented on #28
@yofiesetiawan @anistuhin There are still refinements to be done on the website. It is not loading properly for responsive devices as designed in https://dribbble.com/ParagNandi/projects/364315-MozCoffee. Also, the height of the hero image is to be changed to match the design.

[2016-04-24 18:16] anistuhin commented on #28
Feel free to change and do a PR :) Having my semester final, I will be quite busy for a week more from now, thanks btw for suggesting :)

[2016-04-24 18:19] parag9d commented on #28
Same here. End-sem exams starting from tomorrow :(
Let's take it up and complete it after a week maybe...

[2016-04-25 13:22] armenzg opened #62 "Platform Operations identity art"
## Goal:
We would like to have a logo for Mozilla's Platform Operations division.
Platform ops takes care of most services and tooling that enables engineers from the main Firefox products to have an effective development process plus provide the release pipeline.
Platform ops is composed of various teams:
https://wiki.mozilla.org/Platform_Operations
and here's the mission of one of the teams that

[2016-04-25 14:27] Junaed33 commented on #35
Recently i visited " https://takebacktheweb.mozilla.community/ " website and found some typography problem which is really bad for user experience. On that design some sections are strated with left align and some sections are started with centre align which is looks bad for user experience. Blog sections doesn't match the theme of the site. Overall the website doesn't looks better i think, Is it

[2016-04-25 19:19] LucyeoH commented on #57
@anistuhin yes!! I'd love to see your ideas @analynarcilla

[2016-04-25 19:19] #56 closed

[2016-04-28 12:22] gedankenstuecke opened #63 "Sticker Design for openSNP"
## Goal:
I'm looking for a sticker design for hexagonal stickers for [openSNP](https://github.com/openSNP/snpr), a [Mozilla Science Project](https://www.mozillascience.org/) working on openly sharing genetics data. We already have a general logo, [see here](https://www.dropbox.com/s/gvhcuoy893w2yyr/logo.svg?dl=0), but this isn't really suitable for stickers. Stickers we'd love to have for the upco

[2016-04-28 13:44] Raphseck commented on #59
hey @kellymj i would love this!
Sorry about the delay, i don't know what happened but for some reason i didn't receive the email with your answer.
Here the fox. : )

![fox_c](https://cloud.githubusercontent.com/assets/14264676/14887877/1b277804-0d2e-11e6-99ae-f26809155f59.jpg)

(sorry about my english)

[2016-04-28 14:03] Raphseck commented on #59
and here the link for AI file! : )

https://www.dropbox.com/s/apa3kl42u3zzdd4/fox_crown.ai?dl=0

[2016-04-28 15:05] phinity commented on #35
@Junaed33 Thanks for the good input here and concern about UX.

I mentioned the alignment to the content admin and she made updates so the centered text is shorter; and I mentioned that if the text is long in the future it should be left aligned for readability. Does this address your concern?

Regarding the blog I hope to make updates to the listing page so that categories are listed in a right c

[2016-04-28 17:40] kellymj commented on #59
Awesome! Thank you so much.

On Thu, Apr 28, 2016 at 7:03 AM, Raphael Chilingue Eckhardt <
notifications@github.com> wrote:

--

*M.J. Kelly* | Sr. Digital Content Strategist, Lifecycle Marketing |
mjkelly@mozilla.com | IRC: mjkelly

[2016-04-28 19:39] Ryuno-Ki commented on #35
@phinity wrote:

[Aligning text smartly](http://nocode.in/aligning-text-smartly-in-css/) may come in handy then. Found on CSS-Tricks.

[2016-04-28 20:23] Junaed33 commented on #35
@phinity Actually on the design there is focus everywhere, like how a heading opacity is 100%, again paragraph opacity is 100%, if we use 80% to 60% opacity on paragraph,the headings will be more visible. Again on header section there is One heading and another subheading is centre align with 'follow the campaign' button but paragraph is left align, i think it's not a good practice. This button is

[2016-04-28 20:41] acabunoc commented on #63
Yes, this project is part of @MozillaScience collaborate: https://mozillascience.org/projects/gedankenstuecke-snpr

[2016-04-28 21:04] ioana-chiorean commented on #61
Adding @mozillamarcia as there were some badges made and she is also coordinating Community efforts for Firefox Desktop QA

[2016-04-28 22:01] mozillamarcia commented on #61
The last time we did a Mozilla QA badge, it was designed by a Community Member. You can see it here: https://badges.mozilla.org/en-US/badges/badge/General-QA-Participation-Badge. There are also some other QA badges here: https://badges.mozilla.org/en-US/badges/?q=QA

[2016-04-29 01:10] #10 closed

[2016-04-29 03:05] hossainalikram commented on #61
The Badges I am requesting/ planning to use for a local QA community not for the bigger QA Community ( Obviously, both can be used)

And the badges will be implemented for this roles, whom we will be working on in this quarter to better support our contributors and recognize them in a more proper way - https://wiki.mozilla.org/QA/Community/Bangladesh/Contributor_Level

This was implemented in Web

[2016-04-29 04:10] yofiesetiawan commented on #35
Hi, who help to works on front end? If possible, i would love to explore for better design... Since we don't get clear content when first starting the design, it's kinda wondering at first. But now we already clear with the content, i think we can create better design... Thanks @Junaed33 for inputs..

[2016-04-30 10:00] brutalcrozt commented on #35
@yofiesetiawan
which one is the final decision? about your PSD, can it be exported to svg?
i don't have legal Photoshop app

[2016-05-02 19:57] armenzg commented on #62
Hi @parag9d thanks for being willing to help! I've also opened this up to the rest of the community if they're willing to make proposals:
http://armenzg.blogspot.ca/2016/05/open-platform-operations-logo-design.html

Let's see who else will apply for it.

Good luck!
Armen

[2016-05-03 14:34] eliperelman commented on #62
I had some ideas around this space so I thought I would contribute a little.

My ideas circle around "Platform Operations" being the core building blocks of Mozilla, the foundation on which things are built. So my theme revolves around these blocks.

---

##### Isometric and colorful blocks, using Fira Sans as the typeface for consistent branding.

![1](https://cldup.com/6LRHODmmmV-2000x2000.png)

[2016-05-03 17:20] zelitomas commented on #24
@elioqoshi So how does it look with the exported version?

[2016-05-04 19:20] Ryuno-Ki commented on #58
A framework which [implements meaningful CSS](http://alistapart.com/article/meaningful-css-style-like-you-mean-it) could be interesting.

[2016-05-06 03:28] #55 closed

[2016-05-06 12:08] edovio opened #64 "Logo for Unica Firefox Club (Cagliari - Italy)"
## Goal:

I want to create a Logo for the UNICA Firefox Club located at Cagliari in Italy
## Info:

I want to use it on Social Pages, Web site and presentations
## Style Information:

I like the Style of Logo for the Milano Firefox Club and I want if possible to use the color of Cagliari (Red and Blue)
## Deadline:

asap
## Tag:

Design Need @Mte90
![10688387_10202935185157447_5649550829679832495_

[2016-05-06 12:10] Mte90 commented on #64
Maybe we can use https://github.com/mozilla/Community-Design/issues/46 and change the text.
I think that like https://github.com/mozilla/Community-Design/issues/6 is better to reconize the logo also with the monuments

[2016-05-06 12:14] edovio opened #65 "Logo for the Mozilla Cagliari Club"
## Goal:
a Logo for the Cagliari Mozilla Club

## Info:
We want to use this logo in Web Pages, Social and Presentation

## Style Information:
We don't have a specific style requirement, only if is possible to use the color of Cagliari (Red & Blu) for example we can insert a flamingo bird in the logo (example attached)

## Deadline:
ASAP
![fenicotteri-001](https://cloud.githubusercontent.com/assets

[2016-05-06 12:15] Mte90 commented on #65
I don't know if we have something for mozilla club but can be an interesting first case!

[2016-05-09 19:48] armenzg commented on #62
@parag9d hi Parag, are you going to have time to submit some ideas before the deadline?

@eliperelman thanks for the multiple possiblities!
I like the idea of the "building blocks", what do you think of trying other objects than the cubes for experimenting? Maybe gears? Any other objects that can convey the idea of building units? or core units?
Could you also try a colour that draws from the Mozi

[2016-05-09 20:13] parag9d commented on #62
Hi @armenzg, I am currently having a lot of work at Samsung R&D India, so couldn't give time to this. I will try to ideate something by tomorrow.

Meanwhile, I like the idea proposed by @eliperelman, I guess this draws some inspiration from Uber's redesign concept where bit were the building blocks of it and combining them new identities could be created.

I guess we can use the combination of dif

[2016-05-09 20:23] armenzg commented on #62
Looking forward to it :)

[2016-05-10 13:41] eliperelman commented on #62
@armenzg I unfortunately don't have time to play with other logo icons, but I was able to shift around the color scheme to match the [Mozilla color swatches](https://www.mozilla.org/en-US/styleguide/identity/mozilla/color/):

![4](https://cldup.com/0SYwVkdKzd-2000x2000.png)

[2016-05-10 13:46] armenzg commented on #62
:+1:
No worries, I understand!

[2016-05-10 13:58] djmitche commented on #62
I really like the blocks, actually - they have the right level of visual complexity.  And I like the inverted-V orientation.  And the mozillian color scheme.  Basically I really like the most recent proposal :)

I'm not especially keen on rebranding taskcluster to match :)

[2016-05-10 14:15] Natim commented on #21
So basically the aim is to find a logo for Kinto.

Kinto is a storage solution for web and mobile application that need to sync and share user data.
Kinto is a service that you can deploy but you can also pay a company to host it for you.

We are trying to find a nice logo that tells that it is a database for the web for anyone to use.

[2016-05-10 14:23] klibby commented on #62
Pretty much everything @djmitche said, except that the font used for "Operations" throws me off a little bit.

[2016-05-10 14:28] eliperelman commented on #62
@klibby it's the same font, just not bold.

[2016-05-10 14:30] eliperelman commented on #62
Maybe if the word "Operations" was also bold, but not black, that may help.

[2016-05-10 14:45] eliperelman commented on #62
Bolded "Operations", with _Mozilla Red_ and _Mozilla Charcoal_:

![5](https://cldup.com/QOlR8GNTWk-2000x2000.png)

---

![6](https://cldup.com/OMp3iSdkit.thumb.jpg)

[2016-05-10 18:56] Ryuno-Ki commented on #21
What I'm missing on the clouds above: The tail looks disharmonious. As it weren't be part of the cloud. Kinto-un hit that better. It took the momentum, whereas the proposed ones were straight most the time (except the [one](https://github.com/mozilla/Community-Design/issues/21#issuecomment-176433140) by @flukeout and the [one](https://github.com/mozilla/Community-Design/issues/21#issuecomment-1768

[2016-05-11 03:15] parag9d commented on #62
I had been brainstorming on some ideas for Platform Operations based on what it does and how it works. I have used some basic mind mapping technique. I have a few ideas based on the outcomes.

I particularly like the seed > watering > fencing idea. It doesn't focus on code but shows the work process very well. What do you think? :)

![img_20160511_081323 2](https://cloud.githubusercontent.com/asse

[2016-05-11 08:25] Natim commented on #21
It make me think of a washing powder brand or electronic cigarette brand logo for the two first and of a steam cleaner brand for the latter.

The more I think about it the more I like @AymericFaivre proposal, there is the idea of a wave, the idea of a cloud.

@AymericFaivre could you please send us the vectorial file?

[2016-05-11 08:33] Natim commented on #21
In @AymericFaivre proposition there is also the idea of steam after a fast Tex Avery character when through so we also have the idea of speed.

[2016-05-11 12:32] selimsumlu opened #66 "Mozilla Turkey logo"
Hi,

We're in the process of renaming our social media accounts and we might benefit from a new logo for Turkish community. Any help is appreciated. Thanks!
## Goal:

A new logo for "Mozilla Türkiye", the Turkish Mozilla community.
## Info:

It will be used on www.mozilla.org.tr and and our social media accounts (currently Facebook and Twitter).
## Style Information:

Text on logo will be **Mozill

[2016-05-11 12:55] catlee commented on #62
I like the blocks. To be honest, I'm not a fan of the red/black/gray colour scheme though.

[2016-05-11 13:27] armenzg commented on #62
@parag9d I like the way you think about it. I'm mainly interested on seeing alternative options and even one without the name of the team on the logo (or small or to be used on the back of a t-shirt rather than inside the logo).

If I was to organize a meeting either tomorrow at 10am Pacific or Friday for people to brainstorm would that work for you? No more than 15-30minutes.

[2016-05-12 20:07] lmandel commented on #62
Like @djmitche, I like the blocks as well. Other thoughts on that are using blocks for all the letters (don't think this is going to work out) or using blocks for the first P, and OP. (i.e. merge the letters with the blocks.)

@catlee Can you provide any more detail about why you don't like the colour scheme? Any suggestions for what you'd like to see with the colours?

[2016-05-12 20:15] djmitche commented on #62
Three colors, three blocks seems sort of arbitrary.  Some other combination might look better -- two charcoal and a red? etc.

@parag9d I like the seed proposal too.  In a way, "platform" is the ground upon which engineering builds.  I don't have any idea how to make that analogy visually, though..

[2016-05-12 21:06] lundjordan commented on #62
++ to both the blocks and seed ideas

with regards to the blocks idea:

If I were to strip down what 'platform operations' means to literally those two words, stacked or connected blocks, at least for me, highlight the 'platform' support really well. To emphasis the 'operations' side of things, I think it be cool to integrate a sort of 'puzzle' or 'gears' element that highlights how we connect and

[2016-05-12 21:23] AymericFaivre commented on #21
Hello,
Sorry, i had a lot of things to do -_-"

@Natim Yes, the "steam" after the cloud give a sensation of speed. I could accentuate this sensation if it's needed. I use transparent shape for the open side of the project, and the classic Mozilla font to stay in the whole branding.

I'm not toaly satsfied, so i can make modifications, just tell me and i will take the time.

Idealy, it could be fun

[2016-05-12 21:27] eliperelman commented on #62
It's funny, I was just thinking about inter-connected blocks, but what came to mind was inner stackable, almost like Russian nesting dolls. Anyway, just messing around with that on the same blocks:

![7](https://cldup.com/TQ2sy5yg-P-2000x2000.png)

[2016-05-12 21:41] almet commented on #21
Please, go ahead and do the proposal, we completely trust you on this!

[2016-05-12 22:09] almet commented on #21
Any chance you can provide us with the sources so we can play with it?

[2016-05-12 22:15] AymericFaivre commented on #21
Ok, i will do this !

No sorry, my experience proved that is a really bad idea ;) (but of course I will give you the files when it's finish)

[2016-05-13 07:36] Natim commented on #21
Are things ever finished? What we usually do is to iterate on versions.

I already used the current logo once in a presentation and I wish we could have a vectorial version so that we can adapt it on different support (tee-shirt, presentation, website design and stuff)

Please take the time to give us a first version you are satisfied about so that we can start using it.

That would be great. Do n

[2016-05-13 08:07] whimboo commented on #62
Platform operations as a whole consists of several individual teams which are working hand in hand together. Which means we all are building a single large block out of smaller ones. Personally I like some soft optical illusions, so maybe something like the following combined with the text and colors as uploaded by @eliperelman 3 days ago, might look kinda interesting:

![stock-vector-classic-opti

[2016-05-13 12:15] ioana-chiorean commented on #66
Hey @selimsumlu - glad to hear from you! I hope we will be able to create a cool logo! :tada:

[2016-05-13 13:53] nukeador opened #67 "Video about RepsNext"
## Goal:
A video summarizing the interviews to Reps Council and Peers about the evolution of the program.

## Info:
The raw interviews are [uploaded here](https://cloud.nukeador.com/index.php/s/8ZSGQyzsOsPVeWk).

## Style Information:
The idea is to merge the videos including the most interesting portions of the interviews and put together answers to a similar question and replace mi voice asking

[2016-05-13 21:35] Ryuno-Ki commented on #62
Concerning the puzzle suggestions: Aren'ty they to feature rich to work out as a logo?

From [what I've read](https://www.smashingmagazine.com/2016/04/logo-design-responsive-websites/#a-simple-fact) logos should strive to be simple. Otherwise you cannot scale them (think drop flags down to tea cups).

[2016-05-14 00:29] catcarbonell commented on #62
Hi. I saw you wanted gears.

![platformops](https://cloud.githubusercontent.com/assets/6016111/15265030/3f00c4ca-1930-11e6-8af1-8662dc97bfa4.png)

[2016-05-14 05:45] yofiesetiawan commented on #67
Hi,
What is Question 1 slide, Question 2 slide? How many minutes you like the video to be? Can you help to put the names of the people and their position (Reps Council, Reps, etc) that you like to be in the video?

[2016-05-18 16:49] edangor commented on #32
Hi, is this still going?

[2016-05-18 17:52] bslassey commented on #32
Yes, I'm still looking for a design

[2016-05-18 17:54] edangor commented on #32
oh ok

[2016-05-19 00:21] edangor commented on #30
Hi, I'm new (and late to this issue but...), could I be part of this?

[2016-05-19 03:12] edangor commented on #21
Hi, I love @AymericFaivre 's one because it has the Mozilla feel, but in general I feel like we need more flat design.

[2016-05-19 16:45] #53 closed

[2016-05-19 22:10] albill opened #68 "Logo design for Mozilla Security Bug Bounty Program and its challenge coin"
## Goal:
Logo for Mozilla Security Bug Bounty Program

## Info:
May be used on web site and business cards eventually
First use is on a "challenge coin" that will be handed out to people that report security bug bounties. See [this](http://www.coinsforanything.com/samples) for examples of what a "challenge coin" is.

## Style Information:
Would like to reference earlier Mozilla designs of Dino hea

[2016-05-20 00:24] albill commented on #68
One idea is a dino head silhouette on a shield, sort of similar to things in [this issue](https://github.com/mozilla/Community-Design/issues/46)

[sf club](https://cloud.githubusercontent.com/assets/5436686/13809832/f62592b2-eb6c-11e5-81d6-f40f8f846f04.jpg)

[firefox club diu](https://cloud.githubusercontent.com/assets/7550283/13856288/b22ac9c8-ec9e-11e5-98f6-7786db18462a.png)

[2016-05-20 19:52] Ryuno-Ki commented on #68
Reminds me on the logo of [snyk](https://snyk.io/):

![Snyk logo](https://snyk.io/style/asset/logo/snyk-dog.svg)

[2016-05-22 02:12] edangor commented on #39
It reminds me of the Midway logo:
![1515](https://cloud.githubusercontent.com/assets/17484952/15451728/83303572-1f98-11e6-9107-df64227e4af0.jpg)
By the way, I know it's just a sketch.

[2016-05-22 20:49] elioqoshi commented on #39
Thanks guys, this went great!

@Timotay @LucyeoH will soon update on the next steps :)

[2016-05-22 20:51] elioqoshi commented on #68
@albill why do we need a logo for this? We already have a Mozilla Security artwork/symbol. Wouldn't that fit?
![securing mozilla_lightbackground](https://cloud.githubusercontent.com/assets/5436686/15456421/c6c6c74c-206f-11e6-8648-6009afebf15a.png)

[2016-05-22 20:52] elioqoshi commented on #68
@mart3ll might know more also

[2016-05-22 20:53] elioqoshi commented on #53
Sorry for failing to deliver on this, feel free to ping if this is still needed.

[2016-05-22 20:55] elioqoshi commented on #21
@AymericFaivre please provide us with the files so we can proceed with this. It has been already quite some time since this was opened. Thank you!

[2016-05-22 20:56] elioqoshi commented on #32
@mart3ll need your opinion here. Probably more of an artwork than a logo needed here?

[2016-05-22 20:56] albill commented on #68
No, that's a generic Mozilla security logo (which doesn't even apply to my org) and this is specifically for the Mozilla bug bounty program started back in 2004. If that logo was acceptable, I would not have opened this issue. I'm making something (a coin) to give to people who find bounties in our program as a gift instead of a t-shirt and I want it to have an identifiable logo for the program on

[2016-05-22 20:57] elioqoshi commented on #67
@nukeador can you provide the details @yofiesetiawan asked about?

[2016-05-22 21:00] elioqoshi commented on #68
@albill well, it doesn't help saying how much you hate something, so that's the wrong approach :)
Also please adjust your tone, a logo being acceptable is "subjective"

I personally don't think a logo per se is needed for such a specific sub project. This would be more of an artwork. Not sure why you requested a logo, which would irritate our brand identity for such a specific case.

[2016-05-22 21:03] elioqoshi commented on #62
@armenzg Sorry for the late reply, but why do we need a logo for a such specific team within Mozilla?
@mart3ll input is appreciated here regarding his

[2016-05-22 21:03] elioqoshi commented on #66
I can take this on! Might need some time but please ping me here again if I get caught up :)

[2016-05-22 21:05] elioqoshi commented on #24
@zelitomas wow, I have totally lost this issue! Will catch up soon

[2016-05-22 21:07] elioqoshi commented on #65
This has too few informations. Please provide the use case and the reason for using the logo and not a general Mozilla one or Mozilla Italy one. We want to keep the different Logos to a minimum.